{% extends "base.html" %}
{% block heading %}

{% include "curriculum/menu_curriculo.html" %}
{% endblock %}
{% block content %}
{% load staticfiles %}

    <br>
    
   <div class="table-responsive">

    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Heroe o Heroína</th>
            <th>Ex-combatiente</th>
            <th>Migrante ecuatoriano</th>
            <th>Acciones</th>
            
        </tr>
    </thead>
    <tbody>
    {% for affirmative_action in object_list %}
        <tr>
            <td>{% if affirmative_action.hero %} Si {% else %} No {% endif %} </td>
            <td>{% if affirmative_action.former_fighter %} Si {% else %} No {% endif %} </td>
            <td>{% if affirmative_action.ecuadorian_migrant %} Si {% else %} No {% endif %} </td>
            <td>
            <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "curriculum:affirmativeaction_update" affirmative_action.id %}">Editar</a> </li>
                        
                    </ul>
                </div>
            </td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

 
         
{% endblock %}