{% extends "base.html" %}
{% block heading %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Currículo - Oficios o Subactividades
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
            </li>
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{% url "curriculum:curriculumvitae_list" %}">Currículos</a>
            </li>
            <li>
                <i class="fa fa-dashboard"></i>  Oficios o Subactividades
            </li>                
       </ol>
    </div>

{% endblock %}}


{% block content %}
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3class="panel-title"><b>{{ titulo }}</b></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                 	<form method="post">{% csrf_token %}
        ¿Estás seguro que deseas borrar "{{ object }}"?
        <input type="submit" value="Eliminar" />
    </form>
                </div>  
            </div>
        </div>
    </div>
</div>





{% endblock %}
