
{% extends "base.html" %}
{% load contrato_templatetags %}
{% load staticfiles %}

{% block heading %}

 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Currículo - {{titulo}}
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
            </li>
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{% url "curriculum:curriculumvitae_list" %}">Currículos</a>
            </li>
        
            <li>
                <i class="glyphicon glyphicon-education"></i> <a href="{% url "curriculum:formalinstruction_list_employee" curriculum_vitae.id%}"> {{titulo}} - {{curriculum_vitae.person.name}} {{curriculum_vitae.person.lastname}}</a>
            </li>
   
             <li>
                <i class="glyphicon glyphicon-pencil"></i> Detalle
            </li>

        </ol>
    </div>
</div>



    <div class="row">
        
        <br>
            
        <div class="col-lg-1 text-center">  
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span><br><a href="{% url "curriculum:formalinstruction_list_employee" curriculum_vitae.id %}">Instrucción</a>           
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><br><a href="{% url "curriculum:officesorsubactivities_list_employee" curriculum_vitae.id %}">Oficios</a>
        </div>         
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-font" aria-hidden="true"></span><br><a href="{% url "curriculum:language_list_employee" curriculum_vitae.id %}">Idiomas</a>
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span><br><a href="{% url "curriculum:training_list_employee" curriculum_vitae.id %}">Capacitación</a>    
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br><a href="{% url "curriculum:workexperience_list_employee" curriculum_vitae.id %}">Experiencia</a>   
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span><br><a href="{% url "curriculum:performanceevaluation_list_employee" curriculum_vitae.id %}">Desempeño</a>
        </div>
        <div class="col-lg-1 text-center">                   
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><br><a href="{% url "curriculum:personalachievement_list_employee" curriculum_vitae.id %}">Logros</a>                
        </div>
        <div class="col-lg-1 text-center">             
            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span><br><a href="{% url "curriculum:affirmativeaction_list_employee" curriculum_vitae.id %}">Afirmativas</a>                          
        </div>
        <div class="col-lg-1 text-center">                      
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br><a href="{% url "curriculum:personalreferences_list_employee" curriculum_vitae.id %}">Referencias</a>                
        </div>
          <div class="col-lg-1 text-center">  
            
        </div> 

        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_detail" curriculum_vitae.id%}">Ver</a>
        </div>
        <div class="col-lg-1 text-center">  
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span><br><a href="{% url "curriculum:report" curriculum_vitae.id%}">Descargar</a>               
        </div>
               
    </div>

<br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                
                    <h3 class="panel-title"><b>{{curriculum_vitae.person.name}} {{curriculum_vitae.person.lastname}} - {{curriculum_vitae.person.cedula}}</b></h3>
                           
            </div>
            <div class="panel-body">
                <div class="row">
                <div class="col-sm-12">


{% endblock %}




{% block content %}

<div >
    
</div>

    <div class="col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-success">
            
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <b>Datos Personales</b></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                            <div class="col-lg-12">   
                                <div class="panel-body">
                                    <label for="disabledSelect">Cédula:</label>
                                    <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.cedula }}">
                                </div>          
                            </div>
                            <div class="col-lg-6">   
                                <div class="panel-body">
                                    <label for="disabledSelect">Nombres:</label>
                                    <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.name }}">
                                </div>          
                            </div>
                            <div class="col-lg-6">   
                                <div class="panel-body">
                                    <label for="disabledSelect">Apellidos:</label>
                                    <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.lastname }}">
                                </div>          
                            </div>
                        </div>
                        <div class="col-lg-1">  
                        </div>
                        <div class="col-lg-2">
                            {% load static %}
                            {% if curriculum_vitae.person.photo %}
                                <img src="{% static curriculum_vitae.person.photo.url %}" style="width:200px;height:200px"/>
                            {% else %}
                                <img src="{% static "img/persona_base.jpg" %}" style="width:150px;height:150px"/>
                            {% endif %}
                            
                        </div>
                        <div class="col-lg-1">  
                        </div>
                    </div>   
                    
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Fecha de Nacimiento:</label>                           
                            <input class="form-control" id="disabledInput" type="text"  disabled=""
                                {% if curriculum_vitae.person.birthdate != None %} 
                                    value="{{ curriculum_vitae.person.birthdate }}"
                                {% else %} 
                                    value=""
                                {% endif %}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Estado Civil:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled=""
                            {% if curriculum_vitae.person.civil_status != None %} 
                                value="{{ curriculum_vitae.person.civil_status }}"
                            {% else %}
                                value=""
                            {% endif %}"> 
                        </div>          
                    </div>
                    <div class="col-lg-2">   
                        <div class="panel-body">
                            <label for="disabledSelect">Sexo:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled=""
                            {% if curriculum_vitae.person.sex != None %} 
                                value="{{ curriculum_vitae.person.sex }}"
                            {% else %}
                                value=""
                            {% endif %}"> 
                        </div>          
                    </div>
                    <div class="col-lg-2">   
                        <div class="panel-body">
                            <label for="disabledSelect">Grupo Sanguineo:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" 
                            {% if curriculum_vitae.person.blood_type != None %} 
                                value="{{ curriculum_vitae.person.blood_type }}"
                            {% else %}
                                value=""
                            {% endif %}"> 
                        </div>          
                    </div>
                    
                     <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Teléfono:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.phone }}">
                        </div>          
                    </div>
                     <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Celular:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.cell_phone }}">
                        </div>          
                    </div>
                    <div class="col-lg-2">   
                        <div class="panel-body">
                            <label for="disabledSelect">Correo Electónico:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.email }}">
                        </div>
                    </div>
                    <div class="col-lg-2">   
                        <div class="panel-body">
                            <label for="disabledSelect">País:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled=""
                            {% if curriculum_vitae.person.country != None %} 
                                value="{{ curriculum_vitae.person.country }}"
                            {% else %}
                                value=""
                            {% endif %}"> 
                        </div>         
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Provincia de nacimiento:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.province_of_birth }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Cantón de nacimiento:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.canton_of_birth }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Parroquia de nacimiento:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.parroquia_of_birth }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Provincia de residencia:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.province_of_residence }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Cantón de residencia:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.canton_of_residence }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Parroquia de residencia:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.parroquia_of_birth }}">
                        </div>          
                    </div>
                    <div class="col-lg-6">   
                        <div class="panel-body">
                            <label for="disabledSelect">Dirección:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.address }}">
                        </div>          
                    </div>
                    <div class="col-lg-6">   
                        <div class="panel-body">
                            <label for="disabledSelect">Referencia de domicilio:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ curriculum_vitae.person.reference_address }}">
                        </div>          
                    </div>
                        </div>                
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <b>Instrucción Formal</b></a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nivel de instrución</th>
                                    <th>Título Obtenido</th>
                                    <th>Institución educativa</th>
                                    <th>Área de estudios</th>
                                    <th>Tiempo de estudio</th>
                                    <th>Año de egresamiento o graduación</th>
                                    <th>Nro. registro SENESCYT</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for formal_instruction_detalle in formal_instruction %}
                                <tr>
                                    <td>{{ formal_instruction_detalle.level_of_instruction }} </td>
                                    <td>{{ formal_instruction_detalle.obtained_title }} </td>
                                    <td>{{ formal_instruction_detalle.educational_institution }}</td>
                                    <td>{{ formal_instruction_detalle.area_studies }}</td>
                                    <td>{{ formal_instruction_detalle.studying_time }}</td>
                                    <td>{{ formal_instruction_detalle.year_of_graduationmodels }}</td>
                                    <td>{{ formal_instruction_detalle.senecyt_registration_number }}</td>                              
                                </tr>              
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                         <b>Oficios o Subactividades</b></a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Oficio</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for offices_or_subactivities_detalle in offices_or_subactivities %}
                                <tr>
                                    <td>{{ offices_or_subactivities_detalle.job }} </td>
                                    <td>{{ offices_or_subactivities_detalle.description }}</td>
                                </tr>               
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        <b>Idiomas</b></a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Idioma</th>
                                    <th>Nivel Hablado</th>
                                    <th>Nivel Escrito</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for language_detalle in language %}
                                <tr>
                                    <td>{{ language_detalle.language }} </td>
                                    <td>{{ language_detalle.spoken_level }}</td>
                                    <td>{{ language_detalle.written }}</td>
                                    
                                </tr>               
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        <b>Capacitaciones</b></a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Institución</th>
                                    <th>Nombre del evento</th>
                                    <th>Tipo de certificado</th>
                                    <th>Fecha Desde</th>
                                    <th># de Días</th>
                                    <th>Tipo de Evento</th>
                                    <th>Área de estudios</th>
                                    <th>Fecha Hasta</th>
                                    <th># de horas totales</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for training_detalle in training %}
                                <tr>
                                    <td>{{ training_detalle.institution }} </td>
                                    <td>{{ training_detalle.name_of_event }} </td>
                                    <td>{{ training_detalle.type_certificate }} </td>
                                    <td>{{ training_detalle.date_from }} </td>
                                    <td>{{ training_detalle.number_days }} </td>
                                    <td>{{ training_detalle.event_type }} </td>
                                    <td>{{ training_detalle.area_studies }} </td>
                                    <td>{{ training_detalle.date_up }} </td>
                                    <td>{{ training_detalle.total_hours }} </td>
                                   
                                </tr>               
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                        <b>Experiencia Laboral</b></a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Institución o Empresa</th>
                                    <th>Área de Trabajo</th>
                                    <th>Puesto</th>
                                    <th>Fecha desde</th>
                                    <th>Fecha hasta</th>
                                    <th>Actividades</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for work_experience_detail in work_experience %}
                                <tr>
                                    <td>{{ work_experience_detail.institution }} </td>
                                    <td>{{ work_experience_detail.work_area }} </td>
                                    <td>{{ work_experience_detail.job }} </td>
                                    <td>{{ work_experience_detail.date_since }} </td>
                                    <td>{{ work_experience_detail.date_until }} </td>
                                    <td>{{ work_experience_detail.activities }} </td>
                                    
                                </tr>               
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                        <b>Evaluación de Desempeño</b></a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Institución</th>
                                    <th>Calificación Obtenida</th>
                                    <th>Fecha desde</th>
                                    <th>Fecha hasta</th>
                                    <th>Observación</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for performance_evaluation_detalle in performance_evaluation %}
                                <tr>
                                    <td>{{ performance_evaluation_detalle.institution }} </td>
                                    <td>{{ performance_evaluation_detalle.qualification_obtained }} </td>
                                    <td>{{ performance_evaluation_detalle.date_since }} </td>
                                    <td>{{ performance_evaluation_detalle.date_until }} </td>
                                    <td>{{ performance_evaluation_detalle.observation }} </td>
                                    
                                    
                                </tr>               
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                        <b>Logros Personales</b></a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Tipo de Logro</th>
                                    <th>Descripción</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for personal_achievements in personal_achievement %}
                                <tr>
                                    <td>{{ personal_achievements.kind_of_achievement }} </td>
                                    <td>{{ personal_achievements.description }} </td>
                                    
                                </tr>               
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                        <b>Acciones Afirmativas</b></a>
                    </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Heroe o Heroína</th>
                                    <th>Excombatiente</th>
                                    <th>Migrante Ecuatoriano</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for affirmative_action_detalle in affirmative_action %}
                                <tr>
                                    <td>{{ affirmative_action_detalle.hero }} </td>
                                    <td>{{ affirmative_action_detalle.former_fighter }} </td>
                                    <td>{{ affirmative_action_detalle.ecuadorian_migrant }} </td>
                                    
                                </tr>               
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
             <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                        <b>Referencias Personales</b></a>
                    </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nombres y Apellidos</th>
                                    <th>Teléfono</th>
                                    <th>Correo Electrónico</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for personal_referencess in personal_references %}
                                <tr>
                                    <td>{{ personal_referencess.name }} {{personal_referencess.lastname}} </td>
                                    <td>{{ personal_referencess.phone }} </td>
                                    <td>{{ personal_referencess.email }} </td>
                                    
                                </tr>               
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
       
        </div>
    </div>
</div>

   
{% endblock %}
