
{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Currículo
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
            </li>
            <li>
                <i class="fa fa-dashboard"></i>  Currículos
            </li>
                         
       </ol>
    </div>
</div>

 <div class="table-responsive">   
    
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Acciones</th>
            
        </tr>
    </thead>
    <tbody>
    {% for curriculum_vitae in object_list %}
        
        <tr>
            <td>{{ curriculum_vitae.person.cedula }} </td>
            <td>{{ curriculum_vitae.person.name }} </td>
            <td>{{ curriculum_vitae.person.lastname }} </td>   
            <td>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "curriculum:curriculumvitae_detail_user" curriculum_vitae.id%}">Ver</a></li>
                        <li><a href="{% url "curriculum:formalinstruction_list_employee" curriculum_vitae.id  %}">Editar</a></li>
                        <li><a href="{% url "curriculum:curriculo_vitae" curriculum_vitae.id  %}">Borrar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "pagination_control.html" %}
   
 </div>
         

{% endblock %}