
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Currículo
{% endblock %}
{% block heading %}
    <div class="row">
        <h4>Currículo - {{curriculum.person.name}} {{curriculum.person.lastname}} - {{curriculum.person.cedula}}</h4>
        <br>
        <div class="col-lg-1 text-center">                 
            </div>
        <div class="col-lg-1 text-center">  
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span><br><a href="{% url "curriculum:formalinstruction_list_employee" curriculum.id %}">Instruccion formal</a>           
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><br><a href="{% url "curriculum:officesorsubactivities_list_employee" curriculum.id %}">Oficios</a>
        </div>         
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-font" aria-hidden="true"></span><br><a href="{% url "curriculum:language_list_employee" curriculum.id %}">Idiomas</a>
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span><br><a href="{% url "curriculum:training_list_employee" curriculum.id %}">Capacitación</a>    
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br><a href="{% url "curriculum:workexperience_list_employee" curriculum.id %}">Experiencia</a>   
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span><br><a href="{% url "curriculum:performanceevaluation_list_employee" curriculum.id %}">Evaluación desempeño</a>
        </div>
        <div class="col-lg-1 text-center">                   
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><br><a href="{% url "curriculum:personalachievement_list_employee" curriculum.id %}">Logros personales</a>                
        </div>
        <div class="col-lg-1 text-center">             
            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span><br><a href="{% url "curriculum:affirmativeaction_list_employee" curriculum.id %}">Acciones afirmativas</a>                          
        </div>
        <div class="col-lg-1 text-center">                      
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br><a href="{% url "curriculum:personalreferences_list_employee" curriculum.id %}">Referencias personales</a>                
        </div>
        <div class="col-lg-1 text-center">                            
        </div>
              
     </div>
{% endblock %}
{% block content %}

{% endblock %}
