
{% extends "base.html" %}
{% load contrato_templatetags %}
{% block heading %}


{% include "curriculum/menu_curriculo.html" %}
{% endblock %}


{% block content %}

<br>

                  <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                      {{ field.errors }}
                      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                      <div class="col-sm-8">
                        {{ field|addclass:'form-control'}}
                      </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                      <div class="col-lg-3" >
                          
                      </div>
                      <div class="col-lg-6" >
                        <div class="btn-group" role="group" >
                          <button type="submit" class="btn btn-success">Guardar</button>
                          {% if funcion_return == 1 %}
                            <a href="{% url "curriculum:formalinstruction_list_employee" curriculum.id %}" class="btn btn-success" role="button">Cancelar</a>
                          {% elif funcion_return == 2 %}
                            <a href="{% url "curriculum:officesorsubactivities_list_employee" curriculum.id %}" class="btn btn-success" role="button">Cancelar</a>
                          {% elif funcion_return == 3 %}
                            <a href="{% url "curriculum:language_list_employee" curriculum.id %}" class="btn btn-success" role="button">Cancelar</a>
                          {% elif funcion_return == 4 %}
                            <a href="{% url "curriculum:training_list_employee" curriculum.id %}" class="btn btn-success" role="button">Cancelar</a>
                          {% elif funcion_return == 5 %}
                            <a href="{% url "curriculum:workexperience_list_employee" curriculum.id %}" class="btn btn-success" role="button">Cancelar</a>
                          {% elif funcion_return == 6 %}
                            <a href="{% url "curriculum:performanceevaluation_list_employee" curriculum.id %}" class="btn btn-success" role="button">Cancelar</a>
                          {% elif funcion_return == 7 %}
                            <a href="{% url "curriculum:personalachievement_list_employee" curriculum.id %}" class="btn btn-success" role="button">Cancelar</a>
                          {% elif funcion_return == 8 %}
                            <a href="{% url "curriculum:affirmativeaction_list_employee" curriculum.id %}" class="btn btn-success" role="button">Cancelar</a>
                          {% else %}
                            <a href="{% url "curriculum:personalreferences_list_employee" curriculum.id %}" class="btn btn-success" role="button">Cancelar</a>
                          {% endif %}

                        </div>
                      </div>
                      <div class="col-lg-3" >
                          
                      </div>
                    </div>
                  </form>
               




{% endblock %}

{% block javascript %}
   <script>
      var start_date=$('input[name="start_date"]'); //our date input has the name "date"
      var options={
          format: 'mm/dd/yyyy',
          orientation:"bottom",
          todayHighlight: true,
          autoclose: true,
          language: "es",
      };
      start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      var end_date=$('input[name="date_from"]'); //our date input has the name "date"
      end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
    
      var end_date=$('input[name="date_up"]'); //our date input has the name "date"
      end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      
      var end_date=$('input[name="date_until"]'); //our date input has the name "date"
      end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      

      var end_date=$('input[name="date_since"]'); //our date input has the name "date"
      end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin

      
      
      
    </script>

{% endblock %}