{% extends "base.html" %}
{% block heading %}




{% include "curriculum/menu_curriculo.html" %}
{% endblock %}
{% block content %}
{% load staticfiles %}

 <p>
        <a href="{% url "curriculum:formalinstruction_create" curriculum.id%}">Agregar Institución</a>
    </p>
<div class="table-responsive">
                    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Nivel de instrucción</th>
                                <th>Institución Educativa</th>
                                <th>Título Obtenido</th>
                                <th>Área de Estudios</th>
                                <th>Tiempo de Estudios</th>
                                <th>Año de graduación</th>
                                <th>Nro. registro SENESCYT</th>
                                <th>Acciones</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for formal_instruction in object_list %}
                            <tr>
                                <td>{% if formal_instruction.level_of_instruction != None %} {{ formal_instruction.level_of_instruction }} {% endif %}</td>
                                <td>{{ formal_instruction.obtained_title }} </td>
                                <td>{{ formal_instruction.educational_institution }}</td>
                                <td>{% if formal_instruction.area_studies != None %} {{ formal_instruction.area_studies }} {% endif %}</td>
                                <td>{% if formal_instruction.studying_time != None %} {{ formal_instruction.studying_time }} {% endif %}</td>
                                <td>{% if formal_instruction.date_of_graduation != None %} {{ formal_instruction.date_of_graduation }} {% endif %}</td>
                                <td>{% if formal_instruction.senecyt_registration_number != None %} {{ formal_instruction.senecyt_registration_number }} {% endif %}</td>
                                <td>
                                    <div class="btn-group" dropdown>
                                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url "curriculum:formalinstruction_update" formal_instruction.id %}">Editar</a> </li>
                                            <li><a href="#" data-toggle="modal" data-target="#object{{formal_instruction.id}}">Borrar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <!-- Modal -->
                              <div class="modal fade" id="object{{formal_instruction.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header modal-header-primary">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title">Información</h4>
                                    </div>
                                    
                                        <div class="modal-body">
                                             <p>Está seguro que desea eliminar {{ formal_instruction }}?</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                          <a href="{% url "curriculum:formalinstruction_delete" formal_instruction.id %}" id="delete-confirm-btn" class="btn btn-danger" type="submit"><i class="icon-trash"></i>Aceptar</a>
                                           
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                              </div><!-- /.modal -->
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>



       
 

{% endblock %}