{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Currículo
{% endblock %}
{% block heading %}
    <div class="row">
    <h2>
        Currículo 
    </h2>
    <h3>
       {{curriculum.person.name}} {{curriculum.person.lastname}} - {{curriculum.person.cedula}}
    </h3>
    <br>
                    <div class="col-lg-1 text-center">
                       
                              
                            
                    </div>

                    <div class="col-lg-1 text-center">
                        
                               <span class="glyphicon glyphicon-education" aria-hidden="true"></span><br><a href="{% url "curriculum:formalinstruction_list curriculum.id" %}">Instruccion formal</a>
                            
                    </div>
                    <div class="col-lg-1 text-center">
                         <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_create" %}">Oficios</a>
                          
                    </div>
                   
                    <div class="col-lg-1 text-center">
                        
                                <span class="glyphicon glyphicon-font" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_create" %}">Idiomas</a>
                            
                    </div>
                    <div class="col-lg-1 text-center">
                        
                                 <span class="glyphicon glyphicon-book" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_create" %}">Capacitación</a>
                           
                    </div>
                    <div class="col-lg-1 text-center">
                       
                                 <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_create" %}">Experiencia</a>
                           
                    </div>
                    <div class="col-lg-1 text-center">
                        
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_create" %}"> Evaluación desempeño</a>
                           
                    </div>
                    <div class="col-lg-1 text-center">
                       
                                 <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_create" %}">Logros personales</a>
                            
                    </div>
                    <div class="col-lg-1 text-center">
                      
                                 <span class="glyphicon glyphicon-saved" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_create" %}">Acciones afirmativas</a>
                            
                    </div>
                    <div class="col-lg-1 text-center">
                       
                                 <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_create" %}">Referencias personales</a>
                            
                    </div>
                    <div class="col-lg-1 text-center">
                       
                                
                            
                    </div>
               
                </div>
{% endblock %}
{% block content %}
 
{% endblock %}
