
 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Currículo - {{titulo}}
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
            </li>
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{% url "curriculum:curriculumvitae_list" %}">Currículos</a>
            </li>
        {% if titulo = 'Instrucción Formal' %}
            <li>
                <i class="glyphicon glyphicon-education"></i> <a href="{% url "curriculum:formalinstruction_list_employee" curriculum.id%}"> {{titulo}} - {{curriculum.person.name}} {{curriculum.person.lastname}}</a>
            </li>

        {% elif titulo = 'Oficios o Subactividades' %}
             <li>
                <i class="glyphicon glyphicon-th-list"></i> <a href="{% url "curriculum:officesorsubactivities_list_employee" curriculum.id%}"> {{titulo}} - {{curriculum.person.name}} {{curriculum.person.lastname}}</a>
            </li>
        {% elif titulo = 'Idiomas' %}
             <li>
                <i class="glyphicon glyphicon-font"></i>  <a href="{% url "curriculum:language_list_employee" curriculum.id %}">{{titulo}} - {{curriculum.person.name}} {{curriculum.person.lastname}}</a>
            </li>
        {% elif titulo = 'Capacitación' %}
             <li>
                <i class="glyphicon glyphicon-book"></i>  <a href="{% url "curriculum:training_list_employee" curriculum.id %}">{{titulo}} - {{curriculum.person.name}} {{curriculum.person.lastname}}</a>
            </li>
        {% elif titulo = 'Experiencia Laboral' %}
             <li>
                <i class="glyphicon glyphicon-briefcase"></i>  <a href="{% url "curriculum:workexperience_list_employee" curriculum.id%}">{{titulo}} - {{curriculum.person.name}} {{curriculum.person.lastname}}</a>
            </li>
        {% elif titulo = 'Evaluación de Desempeño' %}
             <li>
                <i class="glyphicon glyphicon-star"></i> <a href="{% url "curriculum:performanceevaluation_list_employee" curriculum.id%}"> {{titulo}} - {{curriculum.person.name}} {{curriculum.person.lastname}}</a>
            </li>
        {% elif titulo = 'Logros Personales' %}
             <li>
                <i class="glyphicon glyphicon-bookmark"></i> <a href="{% url "curriculum:personalachievement_list_employee" curriculum.id%}"> {{titulo}} - {{curriculum.person.name}} {{curriculum.person.lastname}}</a>
            </li>
        {% elif titulo = 'Acciones Afirmativas' %}
             <li>
                <i class="glyphicon glyphicon-saved"></i><a href="{% url "curriculum:affirmativeaction_list_employee" curriculum.id%}">  {{titulo}} - {{curriculum.person.name}} {{curriculum.person.lastname}}</a>
            </li>
        {% elif titulo = 'Referencias Personales' %}
             <li>
                <i class="glyphicon glyphicon-user"></i>  <a href="{% url "curriculum:personalreferences_list_employee" curriculum.id%}">{{titulo}} - {{curriculum.person.name}} {{curriculum.person.lastname}}</a>
            </li>
        
        {% endif %}

        {% if funcion == 1 %}
            <li>
                <i class="glyphicon glyphicon-plus"></i> Crear
            </li>

        {% elif funcion == 2 %}
             <li>
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </li>
        {% elif funcion == 3 %}
             <li>
                <i class="glyphicon glyphicon-trash"></i> Eliminar
            </li>
        {% endif %}

                             
            

        </ol>
    </div>
</div>

    


    


    <div class="row">
        
        <br>
            
        <div class="col-lg-1 text-center">  
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span><br><a href="{% url "curriculum:formalinstruction_list_employee" curriculum.id %}">Instrucción</a>           
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><br><a href="{% url "curriculum:officesorsubactivities_list_employee" curriculum.id %}">Oficios</a>
        </div>         
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-font" aria-hidden="true"></span><br><a href="{% url "curriculum:language_list_employee" curriculum.id %}">Idiomas</a>
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span><br><a href="{% url "curriculum:training_list_employee" curriculum.id %}">Capacitación</a>    
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br><a href="{% url "curriculum:workexperience_list_employee" curriculum.id %}">Experiencia</a>   
        </div>
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span><br><a href="{% url "curriculum:performanceevaluation_list_employee" curriculum.id %}">Desempeño</a>
        </div>
        <div class="col-lg-1 text-center">                   
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><br><a href="{% url "curriculum:personalachievement_list_employee" curriculum.id %}">Logros</a>                
        </div>
        <div class="col-lg-1 text-center">             
            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span><br><a href="{% url "curriculum:affirmativeaction_list_employee" curriculum.id %}">Afirmativas</a>                          
        </div>
        <div class="col-lg-1 text-center">                      
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br><a href="{% url "curriculum:personalreferences_list_employee" curriculum.id %}">Referencias</a>                
        </div>
          <div class="col-lg-1 text-center">  
            
        </div> 

        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><br><a href="{% url "curriculum:curriculumvitae_detail" curriculum.id%}">Ver</a>
        </div>
        <div class="col-lg-1 text-center">  
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span><br><a href="{% url "curriculum:report" curriculum.id%}">Descargar</a>               
        </div>
               
    </div>

<br>
{% include "mensajes/mensajes.html" %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                
                    <h3 class="panel-title"><b>{{curriculum.person.name}} {{curriculum.person.lastname}} - {{curriculum.person.cedula}}</b></h3>
                           
            </div>
            <div class="panel-body">
                <div class="row">

                <div class="col-sm-12">