{% extends "base.html" %}
{% block heading %}

{% include "curriculum/menu_curriculo.html" %}
{% endblock %}
{% block content %}
{% load staticfiles %}

    <br>
    
     <p>
         <a href="{% url "curriculum:officesorsubactivities_create" curriculum.id%}">Agregar Oficio o Subactividad</a>
    </p>
<div class="table-responsive">
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Oficio</th>
                <th>Descripción</th>
                
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tbody>
        {% for offices_or_subactivities in object_list %}
            <tr>
                <td>{{ offices_or_subactivities.job }} </td>
                <td>{{ offices_or_subactivities.description }}</td>
                <td>
                                    <div class="btn-group" dropdown>
                                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url "curriculum:officesorsubactivities_update" offices_or_subactivities.id %}">Editar</a> </li>
                                            <li><a href="#" data-toggle="modal" data-target="#object{{offices_or_subactivities.id}}">Borrar</a></li>
                                        </ul>
                                    </div>
                                </td>
            </tr>
            <!-- Modal -->
                <div class="modal fade" id="object{{offices_or_subactivities.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal-header-primary">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Información</h4>
                            </div>            
                            <div class="modal-body">
                                <p>Está seguro que desea eliminar {{ offices_or_subactivities }}?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <a href="{% url "curriculum:officesorsubactivities_delete" offices_or_subactivities.id %}" id="delete-confirm-btn" class="btn btn-danger" type="submit"><i class="icon-trash"></i>Aceptar</a>                   
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
        {% endfor %}
        </tbody>
    </table>
    </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>



    
   
   
 
         
{% endblock %}