{% extends "base.html" %}
{% block content %}
    <h1>{{ institution.institution }}</h1>
    <p>Ruc: <i>{{ institution.ruc }}</i></p>
    <p>Institucion: <i>{{ institution.institution }}</i></p>
    <p>Direccion:  <i>{{ institution.address }}</i></p>
    <p>Telefono: <i>{{ institution.phone }}</i></p>
    <p>Fax: <i>{{ institution.fax }}</i></p>
    <p>Correo: <i>{{ institution.email }}</i></p>
    <p>Sitio Web: <i>{{ institution.website }}</i></p>
    <p>
        <a href="{% url "institution:institution_list" %}">Regresar</a>
    </p>
{% endblock %}
