{% extends "base.html" %}
{% block heading %}


   {% include "curriculum/menu_curriculo.html" %}
{% endblock %}
{% block content %}
{% load staticfiles %}

    <br>
    
    <p>
        <a href="{% url "curriculum:performanceevaluation_create" curriculum.id%}">Agregar Evaluación de desempeño</a>
    </p>
<div class="table-responsive">
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Institución</th>
            <th>Calificación obtenida</th>
            <th>Fecha desde:</th>
            <th>Fecha hasta:</th>
            <th>Observaciones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for performance_evaluation in object_list %}
        <tr>
            <td>{{ performance_evaluation.institution }} </td>
            <td>{{ performance_evaluation.qualification_obtained }}</td>
            {% if performance_evaluation.date_since != None %} <td>{{ performance_evaluation.date_since }} </td> {% else %}  <td> </td>    {% endif %}
            {% if performance_evaluation.date_until != None %} <td>{{ performance_evaluation.date_until }} </td> {% else %}  <td> </td>    {% endif %}
            
            <td>{{ performance_evaluation.observation }} </td>
            <td>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "curriculum:performanceevaluation_update" performance_evaluation.id %}">Editar</a> </li>
                        <li><a href="#" data-toggle="modal" data-target="#object{{performance_evaluation.id}}">Borrar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="object{{performance_evaluation.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>                         
                    <div class="modal-body">
                        <p>Está seguro que desea eliminar {{ performance_evaluation }}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="{% url "curriculum:performanceevaluation_delete" performance_evaluation.id %}" id="delete-confirm-btn" class="btn btn-danger" type="submit"><i class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endfor %}
    </tbody>
</table>

 </div>
         
{% endblock %}