{% extends "base.html" %}
{% block heading %}

{% include "curriculum/menu_curriculo.html" %}
{% endblock %}
{% block content %}
{% load staticfiles %}
    <br>
  
    <p>
        <a href="{% url "curriculum:personalreferences_create" curriculum.id%}">Agregar Referencia Personal</a>
    </p>
   <div class="table-responsive">
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Acciones</th>
            
        </tr>
    </thead>
    <tbody>
    {% for personal_references in object_list %}
        <tr>
            <td>{{ personal_references.name }} </td>
            <td>{{ personal_references.lastname }} </td>
            <td>{{ personal_references.phone }} </td>
            <td>{{ personal_references.email }} </td>
            
            <td>
            <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "curriculum:personalreferences_update" personal_references.id %}">Editar</a> </li>
                        <li><a href="#" data-toggle="modal" data-target="#object{{personal_references.id}}">Borrar</a></li>
                        
                    </ul>
                </div>
            </td>
            
        </tr>
         <!-- Modal -->
        <div class="modal fade" id="object{{personal_references.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>                         
                    <div class="modal-body">
                        <p>Está seguro que desea eliminar {{ personal_references }}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="{% url "curriculum:personalreferences_delete" personal_references.id %}" id="delete-confirm-btn" class="btn btn-danger" type="submit"><i class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endfor %}
    </tbody>
</table>

   </div>
 
         
{% endblock %}