{% extends "base.html" %}
{% block heading %}


    {% include "curriculum/menu_curriculo.html" %}
{% endblock %}
{% block content %}
{% load staticfiles %}

    <br>
    <p>
        <a href="{% url "curriculum:training_create" curriculum.id%}">Agregar Capacitación</a>
    </p>
<div class="table-responsive">
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Institución</th>
            <th>Nombre del evento</th>
            <th>Tipo de certificado</th>
            <th>Tipo de evento</th>
            <th>Área de estudios</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for training in object_list %}
        <tr>
            <td>{{ training.institution }} </td>
            <td>{{ training.name_of_event }}</td>
            <td>{{ training.type_certificate }} </td>
            <td>{{ training.event_type }} </td>
            <td>{{ training.area_studies }} </td>           
            <td>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#objectview{{training.id}}">Ver</a></li>
                        <li><a href="{% url "curriculum:training_update" training.id %}">Editar</a> </li>
                        <li><a href="#" data-toggle="modal" data-target="#object{{training.id}}">Borrar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="object{{training.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>                         
                    <div class="modal-body">
                        <p>Está seguro que desea eliminar {{ training }}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="{% url "curriculum:training_delete" training.id %}" id="delete-confirm-btn" class="btn btn-danger" type="submit"><i class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- Modal -->
        <div class="modal fade" id="objectview{{training.id}}" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información - {{training.name_of_event}}</h4>
                    </div>                         
                    <div class="modal-body">
                        <p>
                            <b>Institución:</b> {{training.institution}}<br>
                            <b>Nombre del evento:</b> {{training.name_of_event}}<br>
                            <b>Tipo de certificado:</b> {{training.type_certificate}}<br>
                            <b>Fecha desde:</b> {{training.date_from}}<br>
                            <b>Número de días:</b> {{training.number_days}}<br>
                            <b>Tipo de evento:</b> {{training.event_type}}<br>
                            <b>rea de estudios:</b> {{training.area_studies}}<br>
                            <b>Fecha hasta:</b> {{training.date_up}}<br>
                            <b>Número de horas totales:</b> {{training.total_hours}}<br>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endfor %}
    </tbody>
</table>
</div>
 
         
{% endblock %}