{% extends "base.html" %}
{% block heading %}


 {% include "curriculum/menu_curriculo.html" %}
{% endblock %}
{% block content %}
{% load staticfiles %}

    <br>   
    <p>
        <a href="{% url "curriculum:workexperience_create" curriculum.id%}">Agregar Experiencia Laboral</a>
    </p>
<div class="table-responsive">
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Institución</th>
            <th>Área de trabajo</th>
            <th>Puesto</th>
            <th>Fecha desde</th>
            <th>Fecha hasta</th>
            <th>Actividades</th>
            <th>Acciones</th>
            
        </tr>
    </thead>
    <tbody>
    {% for work_experience in object_list %}
        <tr>
            <td>{{ work_experience.institution }} </td>
            <td>{{ work_experience.work_area }} </td>
            <td>{{ work_experience.job }} </td>
            <td>{{ work_experience.date_since }} </td>
            {% if work_experience.date_until != None %} <td>{{ work_experience.date_until }} </td> {% else %}  <td> </td>    {% endif %}
            <td>{{ work_experience.activities }} </td>
            
            <td>
                                    <div class="btn-group" dropdown>
                                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url "curriculum:workexperience_update" work_experience.id %}">Editar</a> </li>
                                            <li><a href="#" data-toggle="modal" data-target="#object{{work_experience.id}}">Borrar</a></li>
                                        </ul>
                                    </div>
                                </td>

        </tr>
         <!-- Modal -->
                              <div class="modal fade" id="object{{work_experience.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header modal-header-primary">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title">Información</h4>
                                    </div>
                                    
                                        <div class="modal-body">
                                             <p>Está seguro que desea eliminar {{ work_experience }}?</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                          <a href="{% url "curriculum:workexperience_delete" work_experience.id %}" id="delete-confirm-btn" class="btn btn-danger" type="submit"><i class="icon-trash"></i>Aceptar</a>
                                           
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                              </div><!-- /.modal -->
    {% endfor %}
    </tbody>
</table>
</div>
         
{% endblock %}