{% extends "app/base_site.html" %}
{% load staticfiles %}
{% block title %} Recursos Humanos  {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">


            <div class="row top_tiles">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <div class="icon"><i class="fa fa-paste"></i></div>
                        <div class="count">7</div>
                        <h3>Permisos</h3>
                        <p>Martes, 5 de septiembre de 2017</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <div class="count">79</div>
                        <h3>Acciones</h3>
                        <p>Martes, 5 de septiembre de 2017</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <div class="icon"><i class="fa fa-exclamation-circle"></i></div>
                        <div class="count">17</div>
                        <h3>Incidencias</h3>
                        <p>Martes, 5 de septiembre de 2017</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <div class="icon"><i class="fa fa-bell-slash"></i></div>
                        <div class="count">9</div>
                        <h3>Atrasos</h3>
                        <p>Martes, 5 de septiembre de 2017</p>
                    </div>
                </div>
            </div>
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-star-o"></i> Partidas registradas</span>
                    <div class="count green">{{ partidasTotal }}</div>
                    <span class="count_bottom"><i class="green">100% </i> Total Partidas</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-star-o"></i> Partidas Ocupadas</span>
                    <div class="count">{{ partidasOcupadas }}</div>
                    <span class="count_bottom"><i><i
                    ></i>{{ porcOcupadas }}% </i> Ocupadas</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-star-o"></i> Partidas Libres</span>
                    <div class="count ">{{ partidasLibres }}</div>
                    <span class="count_bottom"><i><i
                    ></i>{{ porcLibres }}% </i> Libres</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-star-o"></i> Partidas en Concurso</span>
                    <div class="count">{{ partidasConcurso }}</div>
                    <span class="count_bottom"><i><i
                    ></i>{{ porcConcurso }}% </i> Concurso</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-star-o"></i> Partidas en Litigio</span>
                    <div class="count">{{ partidasLitigio }}</div>
                    <span class="count_bottom"><i><i
                    ></i>{{ porcLitigio}}% </i> Litigio</span>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-star-o"></i> Partidas Inactivas</span>
                    <div  class="count red">{{ partidasInactivas }}</div>
                    <span class="count_bottom"><i class="red"><i
                    ></i>{{ porcInactivas}}% </i> Inactivas</span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Resumen
                                <small>Mensual</small>
                            </h2>
                            <div class="filter">
                                <div id="reportrange" class="pull-right"
                                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <span>Septiembre 5, 2017 - Octubre 28, 2017</span> <b class="caret"></b>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div>
                                    <div class="x_title">
                                        <h2>Últimos Empleados</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Settings 1</a>
                                                    </li>
                                                    <li><a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <ul class="list-unstyled top_profiles scroll-view">
                                        {% for empleado in empleados %}
                                            <li class="media event">
                                                <a class="pull-left border-aero profile_pic">
                                                    {% if empleado.person.photo %}
                                                        <img class="img-responsive avatar-view"
                                                             src="{{ empleado.person.photo.url }}"
                                                             style="width:29px;height:29px" alt="Avatar"
                                                             title="Cambiar foto"/>
                                                    {% else %}
                                                        <img class="img-responsive avatar-view"
                                                             src="{% static "images/user.png" %}"
                                                             style="width:29px;height:29px" alt="Avatar"
                                                             title="Cambiar foto"/>
                                                    {% endif %}
                                                </a>
                                                <div class="media-body">
                                                    <a class="title"
                                                       href="#">{{ empleado.person.name | title }} {{ empleado.person.lastname | title }}</a>
                                                    <p>
                                                        <strong>{{ empleado.department }}</strong>- {{ empleado.employee_type }}
                                                    </p>
                                                    <p>
                                                        <small> {{ empleado.institution }}</small>
                                                    </p>
                                                </div>
                                            </li>
                                        {% endfor %}


                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Justificaciones
                                            {#                                <small>Sessions</small>#}
                                        </h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Settings 1</a>
                                                    </li>
                                                    <li><a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <article class="media event">
                                            <a class="pull-left date">
                                                <p class="month">Sep</p>
                                                <p class="day">5</p>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Carlos Chacha</a>
                                                <p>Permiso laboral para ausentarme durante un día ya que me es
                                                    indispensable por motivos de salud...</p>
                                            </div>
                                        </article>
                                        <article class="media event">
                                            <a class="pull-left date">
                                                <p class="month">April</p>
                                                <p class="day">4</p>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Byron Armijos</a>
                                                <p>En mi visita al médico me recomendó que me someta a una operación de
                                                    manera urgente...</p>
                                            </div>
                                        </article>
                                        <article class="media event">
                                            <a class="pull-left date">
                                                <p class="month">Ago</p>
                                                <p class="day">23</p>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Victor Cueva</a>
                                                <p>Debido a que debo trasladarme de casa y requiero un tiempo para
                                                    organizar la mudanza... </p>
                                            </div>
                                        </article>
                                        <article class="media event">
                                            <a class="pull-left date">
                                                <p class="month">Ago</p>
                                                <p class="day">18</p>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Angel Guaillas</a>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                            </div>
                                        </article>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Últimas Accciones
                                            {#                                <small>Sessions</small>#}
                                        </h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Settings 1</a>
                                                    </li>
                                                    <li><a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <article class="media event">
                                            <a class="pull-left date">
                                                <p class="month">Sep</p>
                                                <p class="day">2</p>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Decreto</a>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                        <article class="media event">
                                            <a class="pull-left date">
                                                <p class="month">Jul</p>
                                                <p class="day">6</p>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Acuerdo</a>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                        <article class="media event">
                                            <a class="pull-left date">
                                                <p class="month">Jul</p>
                                                <p class="day">8</p>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Resolución</a>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                        <article class="media event">
                                            <a class="pull-left date">
                                                <p class="month">Jul</p>
                                                <p class="day">6</p>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Acuerdo</a>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                        <article class="media event">
                                            <a class="pull-left date">
                                                <p class="month">Jul</p>
                                                <p class="day">3</p>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">Decreto</a>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {##}
            {#            <div class="row">#}
            {#                <div class="col-md-12">#}
            {#                    <div class="x_panel">#}
            {#                        <div class="x_title">#}
            {#                            <h2>Weekly Summary#}
            {#                                <small>Activity shares</small>#}
            {#                            </h2>#}
            {#                            <ul class="nav navbar-right panel_toolbox">#}
            {#                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
            {#                                </li>#}
            {#                                <li class="dropdown">#}
            {#                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
            {#                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
            {#                                    <ul class="dropdown-menu" role="menu">#}
            {#                                        <li><a href="#">Settings 1</a>#}
            {#                                        </li>#}
            {#                                        <li><a href="#">Settings 2</a>#}
            {#                                        </li>#}
            {#                                    </ul>#}
            {#                                </li>#}
            {#                                <li><a class="close-link"><i class="fa fa-close"></i></a>#}
            {#                                </li>#}
            {#                            </ul>#}
            {#                            <div class="clearfix"></div>#}
            {#                        </div>#}
            {#                        <div class="x_content">#}
            {##}
            {#                            <div class="row"#}
            {#                                 style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">#}
            {#                                <div class="col-md-7" style="overflow:hidden;">#}
            {#                  <span class="sparkline_one" style="height: 160px; padding: 10px 25px;">#}
            {#                                <canvas width="200" height="60"#}
            {#                                        style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>#}
            {#                            </span>#}
            {#                                    <h4 style="margin:18px">Weekly sales progress</h4>#}
            {#                                </div>#}
            {##}
            {#                                <div class="col-md-5">#}
            {#                                    <div class="row" style="text-align: center;">#}
            {#                                        <div class="col-md-4">#}
            {#                                            <canvas class="canvasDoughnut" height="110" width="110"#}
            {#                                                    style="margin: 5px 10px 10px 0"></canvas>#}
            {#                                            <h4 style="margin:0">Bounce Rates</h4>#}
            {#                                        </div>#}
            {#                                        <div class="col-md-4">#}
            {#                                            <canvas class="canvasDoughnut" height="110" width="110"#}
            {#                                                    style="margin: 5px 10px 10px 0"></canvas>#}
            {#                                            <h4 style="margin:0">New Traffic</h4>#}
            {#                                        </div>#}
            {#                                        <div class="col-md-4">#}
            {#                                            <canvas class="canvasDoughnut" height="110" width="110"#}
            {#                                                    style="margin: 5px 10px 10px 0"></canvas>#}
            {#                                            <h4 style="margin:0">Device Share</h4>#}
            {#                                        </div>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}


        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- Skycons -->
    <script src="/static/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
