{% extends "app/base_site.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <!-- Animate.css -->
    <link href="/static/vendors/animate.css/animate.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <img src="{% static 'images/logo2.png' %}" alt="...">

                    <h1>Sistema de Gestión de Talento Humano</h1>
                    <h2>Inicio de Sesion</h2>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="{% url "security_login" %}" method="post" accept-charset="utf-8">
                                {{ form |crispy }}
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}">
                                <input class="btn btn-default" type="submit" value="Entrar">
                                <p class="reset_pass" href="#">Olvido su contraseña?</p>
                            </form>

                        </div>
                    </div>


                    <div class="clearfix"></div>

                    <div class="separator">


                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <h1><i class="fa"></i>Municipio de Loja</h1>
                            <p>www.loja.gob.ec</p>
                        </div>
                    </div>

                </section>
            </div>

            <!--Codigo para template para registrar una nueva cuenta -->
            <!--<div id="register" class="animate form registration_form">
              <section class="login_content">
                <form>
                  <h1>Create Account</h1>
                  <div>
                    <input type="text" class="form-control" placeholder="Username" required="" />
                  </div>
                  <div>
                    <input type="email" class="form-control" placeholder="Email" required="" />
                  </div>
                  <div>
                    <input type="password" class="form-control" placeholder="Password" required="" />
                  </div>
                  <div>
                    <a class="btn btn-default submit" href="index.html">Submit</a>
                  </div>

                  <div class="clearfix"></div>

                  <div class="separator">
                    <p class="change_link">Already a member ?
                      <a href="#signin" class="to_register"> Log in </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                    <div>
                      <h1><i class="fa fa-paw"></i> Gestion de Talento Humano!</h1>
                      <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                    </div>
                  </div>
                </form>
              </section>
            </div>-->

        </div>
    </div>
{% endblock body %}

