{% load staticfiles %}
{% load admin_urls %}
{% load Grupos %}
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <!-- <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>Municipio de Loja</span></a>-->
        <a href="/" class="site_title"><i class="fa fa-institution"></i> <span>Municipio de Loja</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">

            <img src="{% static 'images/logo2.png' %}" alt="...">


        </div>

    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">

            <ul class="nav side-menu">


                <li><a href="/"><i class="fa fa-home"></i>Inicio</a>

                </li>

                <!-- Pestaña Instituciones -->
                {% if request.user|has_group:"ROL_INSTITUCIONES" or request.user.is_staff %}
                    <li><a><i class="fa fa-institution"></i> Instituciones <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "institution:institution_list" %}">Instituciones</a></li>
                            <li><a href="{% url "institution:directivo_listar" %}">Nivel Directivo </a>
                            </li>
                            <li><a href="{% url "institution:direccion_listar" %}">Direcciones Institucionales</a></li>
                            <li><a href="{% url "institution:coordinacion_list" %}">Jefaturas o Coordinaciones</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin instituciones -->

                <!-- Pestaña empleados -->
                {% if request.user|has_group:"ROL_EMPLEADO" or request.user.is_staff %}
                    <li><a><i class="fa fa-users"></i> Personal <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "employee:employee_list_user" %}">Empleados</a></li>
                            {#                        <li><a href="{% url "person:person_list" %}">Personas</a></li>#}
                            <li><a href="{% url "accounts:user_list" %}">Usuarios del Sistema</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin empleados -->

                <!-- Pestaña Permisos -->
                {#            {{ 'value1'|another_filter:'value2' }}#}
                {% if request.user|has_group:"ROL_PERMISOS" or request.user.is_staff %}
                    <li><a><i class="fa fa-file-text-o"></i> Permisos Laborales<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "permissions:permission_list" %}">Administrar Permisos Laborales</a></li>
                            <li><a href="{% url "permissions:type_of_permit_list" %}">Administrar tipos de permisos</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin Permisos -->

                <!-- Pestaña Vacaciones -->
                {% if request.user|has_group:"ROL_VACACIONES" or request.user.is_staff %}
                    <li><a><i class="fa fa-plane"></i> Vacaciones <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "vacacion:vacacion_list" %}">Administrar Vacaciones</a></li>
                        </ul>
                    </li>
                {% endif %}

                <!-- fin Vacaciones -->
                <!-- Pestaña Cambios Administrativos -->
                {% if request.user|has_group:"ROL_CAMBIOS_ADMINISTRATIVOS" or request.user.is_staff %}
                    <li><a><i class="fa fa-pie-chart"></i> Cambios Administrativos <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "cambios:cambios_list" %}">Administrar Cambios Administrativos</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin Cambios Administrativos -->
                <!-- Pestaña Partidas presupuestarias -->
                {% if request.user|has_group:"ROL_PARTIDAS" or request.user.is_staff %}
                    <li><a><i class="fa fa-folder-open-o"></i> Partidas presupuestarias<span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "partidas:listar_programa" %}">Administrar Partidas</a></li>
                            <li><a href="{% url "partidas:listar_catalogo" %}">Administrar Catalogo </a></li>
                            <li><a href="{% url "partidas:listar_partida" '0'%}">Partidas Presupuestarias </a></li>
                            <li><a href="{% url "partidas:listar_partida" '1'%}">Partidas Clonadas </a></li>
                        </ul>

                    </li>
                {% endif %}
                <!-- fin Cambios Administrativos -->
                <!-- Pestaña Horarios -->
                {% if request.user|has_group:"ROL_HORARIOS" or request.user.is_staff %}
                    <li><a><i class="fa fa-calendar"></i> Horarios <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "schedule:schedule_list" %}">Administrar Horarios</a></li>
                            <li><a>Administrar Feriados</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin Horarios -->

                <!-- Pestaña Contratos -->
                {% if request.user|has_group:"ROL_CONTRATOS" or request.user.is_staff %}
                    <li><a><i class="fa fa-edit"></i> Contratos <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "contract:contract_list" %}">Administrar Contratos</a></li>
                            <li><a href="{% url "contract:labor_system_list" %}">Administrar Regimen Laboral</a></li>
                            <li><a href="{% url "contract:pay_scale_groups_list" %}">Grupos de escala de
                                remuneración</a>
                            </li>
                            <li><a href="{% url "contract:type_of_contract_list" %}">Tipo de contrato</a></li>
                            <li><a href="{% url "contract:pay_scale_sp_list" %}">Escalas de remuneración/Servidores
                                Públicos</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin Contratos -->
                <!-- Pestaña Cuentas Contables -->
                {% if request.user|has_group:"ROL_CUENTAS COONTABLES" or request.user.is_staff %}
                    <li><a><i class="fa fa-cc"></i> Cuentas Contables <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a>Administrar cuentas contables</a></li>
                            <li><a>Administrar Periodos contables</a></li>
                            <li><a href="{% url "accounting_finance:accounting_period_all" %}">Administrar Plan de
                                Cuentas</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin Cuentas Contables -->

                <!-- Pestaña Roles de Pago -->
                {% if request.user|has_group:"ROL_ROLES_DE_PAGO" or request.user.is_staff %}
                    <li><a><i class="fa fa-money"></i> Roles de Pago <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a>Administrar Roles de Pago</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin Roles de Pago -->

                <!-- Pestaña Acciones de Personal -->
                {% if request.user|has_group:"ROL_ACCIONES_DE_PERSONAL" or request.user.is_staff %}
                    <li><a><i class="fa fa-gears"></i> Acciones de Personal <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a>Administrar Acciones de Personal</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin Acciones de Personal -->
                <!-- Pestaña Evaluación de Desempeño -->
                {% if request.user|has_group:"ROL_EVALUACION_DE_DESEMPEÑO" or request.user.is_staff %}
                    <li><a><i class="fa fa-bar-chart"></i> Evaluación de Desempeño <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "evaluation:performance_evaluation_all" %}">Administrar Evaluación de
                                Desempeño</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin  Evaluación de Desempeño -->

                <!-- Pestaña IESS -->
                {% if request.user|has_group:"ROL_IESS" or request.user.is_staff %}
                    <li><a><i class="fa fa-plus-circle"></i> IESS <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a>Administrar IESS</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin IESS -->
                <!-- Pestaña Seguridad Industrial -->
                {% if request.user|has_group:"ROL_SEGURIDAD_INDUSTRIAL" or request.user.is_staff %}
                    <li><a><i class="fa fa-fire-extinguisher"></i> Seguridad Industrial <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a>Administrar Seguridad Industrial</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- fin Seguridad Industrial -->

            </ul>
        </div>
        {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_staff %}
            <div class="menu_section">
                <h3>Administración</h3>
                <ul class="nav side-menu">

                    <li><a><i class="fa fa-server"></i> Catalogo de items <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "catalogo:catalog_index" %}">Administrar Catalogo</a></li>
                        </ul>
                    </li>

                    {#TODO Cambiar URL#}
                    <li><a href="http://192.168.1.26:8500/admin/auth/group/"><i class="fa fa-server"></i> Roles y Permisos
                    </a>

                    </li>

                </ul>
            </div>
        {% endif %}
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>


        <a href="{% url "security_logout" %}" data-toggle="tooltip" data-placement="top" title="Salir">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>
