{% extends "app/base_site.html" %}
{% block content %}

    <div class="right_col" role="main">
        <h1>{{ dayhour.dia_hora }}</h1>
        <p>Dia: <i>{{ dayhour.day }}</i></p>
        <p>Entrada: <i>{{ dayhour.time_of_entry }}</i></p>
        <p>Salida: <i>{{ dayhour.time_of_departure }}</i></p>

        <p>
            <a href="{% url "schedule:dayhour_list" %}">Regresar</a>
        </p>
    </div>
{% endblock %}
