
{% extends "base.html" %}
{% block content %}

  

{% load staticfiles %}

<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Horarios
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Horarios
        </li>
        
       </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">  
        <a href="{% url "schedule:schedule_new_user" %}">Agregar Horario</a>
    </div>
     <div class="col-lg-8">
        <form action="" method="GET">
            <div class="col-lg-12">
                <div class="form-group input-group">
                    <input id="busquedProyecto" type="text" name="q" value="{{ query|escape }}" class="form-control">
                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>

                </div>
            </div>
        </form> 
        
    </div>
    </div>
    {% include "mensajes/mensajes.html" %}
    <div class="table-responsive">
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Horario</th>
            <th>Institución</th>
            <th>Descripción</th>
            <th>Vigente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for schedule in object_list %}
        <tr>
            <td>{{ schedule.schedule }} </td>
            <td>{{ schedule.institution }} </td>
            <td>{{ schedule.description }} </td>
            <td>{{ schedule.effect_since }} </td>
            <td>
                <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "schedule:schedule_detail_user" schedule.id  %}">Ver</a></li>
                            <li><a href="{% url "schedule:schedule_edit_user" schedule.id  %}">Editar</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#object{{schedule.id}}">Borrar</a></li>
                        </ul>
                    </div>
            </td>
        </tr>

 <!-- Modal -->
      <div class="modal fade" id="object{{schedule.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header modal-header-primary">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Información</h4>
            </div>
            
                <div class="modal-body">
                     <p>Está seguro que desea eliminar Régimen Laboral: {{ schedule }}?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <a href="{% url "schedule:schedule_delete" schedule.id %}" id="delete-confirm-btn" class="btn btn-danger" type="submit"><i class="icon-trash"></i>Aceptar</a>
                   
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    {% endfor %}
    </tbody>
</table>
</div>
<!-- Pagination controls -->
{% include "pagination_control.html" %}


{% endblock %}