
{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Horario 
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> <a href="{% url "schedule:schedule_list_user" %}"> Horario</a>
            </li>

            <li class="active">
                <i class="fa fa-edit"></i> Horario Detalle - {{ schedule.schedule }}
            </li>

        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ schedule.schedule }} <a href="{% url "schedule:schedule_edit_user" schedule.id %}" class="btn btn-xs btn btn-info" role="button">Editar</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="panel-body">
                            <label for="disabledSelect">Nombre:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ schedule.schedule }}">
                        </div>

                    </div>
                    <div class="col-lg-6">

                        <div class="panel-body">
                            <label for="disabledSelect">Institución:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ schedule.institution }}">
                        </div>

                    </div>
                    <div class="col-lg-12">

                        <div class="panel-body">
                            <label for="disabledSelect">Descipción:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ schedule.description }}">
                        </div>

                    </div>


                    <div class="col-lg-6">
                        <div class="panel-body">
                            <label for="disabledSelect">Atraso Permitido:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ schedule.permitted_delay }}">
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="panel-body">
                            <label for="disabledSelect">Vigente:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ schedule.effect_since }}">
                        </div>

                    </div>
                    <div class="col-lg-3">
                        

                    </div>
                    <div class="col-lg-6">
                    <div class="table-responsive">
                        <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Lunes</th>
                                    <th>Martes</th>
                                    <th>Miercoles</th>
                                    <th>Jueves</th>
                                    <th>Viernes</th>
                                    <th>Sábado</th>
                                    <th>Domingo</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for dayhour in schedule.day_hour.all %}
                                    
                                <tr>
                                    <td>{% if dayhour.day = 'lunes' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}
                                    <td>{% if dayhour.day = 'martes' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}
                                    <td>{% if dayhour.day = 'miercoles' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}
                                    <td>{% if dayhour.day = 'jueves' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}
                                    <td>{% if dayhour.day = 'viernes' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}
                                    <td>{% if dayhour.day = 'sabado' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}
                                    <td>{% if dayhour.day = 'domingo' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }}</td>{% endif %}

                                </tr>                                      
                                
                                {% endfor %}

                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="col-lg-3">

                    </div>

                </div>

            </div>

        </div>    
    </div>
                            
<p>
  
    <a href="{% url "schedule:schedule_list_user" %}" class="btn btn-success" role="button">Regresar</a>

</p>
</div>


{% endblock %}