{% extends "base.html" %}
{% load contrato_templatetags %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Horario
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">Inicio</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"> <a href="{% url "schedule:schedule_list_user" %}"></i> Horarios</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Agregar o Editar Horario
                </li>

            </ol>
        </div>
    </div>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.errors }}
                <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-8">
                    {{ field|addclass:'form-control' }}
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-12">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url "schedule:schedule_list_user" %}" class="btn btn-success" role="button">Cancelar</a>

            </div>
        </div>
    </form>

{% endblock %}

{% block javascript %}
    <script>
        var start_date = $('input[name="effect_since"]'); //our date input has the name "date"
        var options = {
            format: 'dd/mm/yyyy',
            orientation: "bottom",
            todayHighlight: true,
            autoclose: true,
            language: "es",
        };
        start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin


    </script>

{% endblock %}