<div class="table-responsive">
<table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Acción</th>
            <th>Regímen Laboral</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for kind_personnel_actions in data %}
        <tr>
            <td>{{ kind_personnel_actions.action }} </td>
            <td>{{ kind_personnel_actions.labor_system }} </td>
            <td>{{ kind_personnel_actions.valid }} </td>
            
            <td> 
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#kind_personnel_actions{{kind_personnel_actions.id}}">Ver</a></li>
                        <li><a href="{% url "personnelactions:kindpersonnelactions_edit" kind_personnel_actions.id  %}">Editar</a></li>
                        <li><a href="{% url "personnelactions:kindpersonnelactions_delete" kind_personnel_actions.id %}">Borrar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <!-- Modal -->
        <div id="kind_personnel_actions{{kind_personnel_actions.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{kind_personnel_actions.action }} - {{kind_personnel_actions.labor_system}} </h4>
                    </div>
                    <div class="modal-body">

                        <p>
                        <b>Acción:</b> {{ kind_personnel_actions.action }}<br>
                        <b>Régimen Laboral: </b>{{kind_personnel_actions.labor_system}}<br>
                        <b>Estado: </b>{% if kind_personnel_actions.valid%} Activo {% else %} Inactivo {% endif %}

                        </p>
                        
                    <div class="modal-footer">
                        <div class="col-lg-10"> 
                            <small>
                                
                            </small> 
                        </div>
                        <div class="col-lg-2">      
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>

                        
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </tbody>
</table>
</div>


