
{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Acción de Personal Nueva
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Administrar Acciones de Personal
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Acción de Personal Nueva 
        </li>
        
       </ol>
    </div>
</div>


    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Nueva Acción de Personal</h3>
        </div>
        <div class="panel-body">
            {% for labor_systems in labor_system.all %}
                <lu>{{labor_systems.labor_system}}
                    <br>
                    {% for kind_personnel_actionss in kind_personnel_actions.all %}
                        {% if labor_systems.id == kind_personnel_actionss.labor_system.id %}
                            <li><a href="{% url "personnelactions:personnelactions_new" kind_personnel_actionss.id %}">{{kind_personnel_actionss.action}}</li></a>
                        {% endif %}
                    {% endfor %}
                </lu>
                <br>
                <br>
            {% endfor %}
        </div>
    </div>
       

    
    

{% endblock %}