
{% load contrato_templatetags %}

<form class="form-horizontal" method="post">
{% csrf_token %}
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">EMPLEADO</h3>
                                </div>
                                <div class="panel-body">
                                    <p><b>{{form.employee.label}}:</b>{{ form.employee|addclass:'form-control' }}</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">ACCIÓN DE PERSONAL</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="col-lg-6">
                                    <p><b>{{form.action.label}}:</b>{{ form.action|addclass:'form-control' }}</p>
                                    <p><b>{{form.effective_date.label}}:</b>{{ form.effective_date|addclass:'form-control' }}</p>
                                  </div>
                                  <div class="col-lg-6">
                                    
                                    <p><b>{{form.document_generates_pa.label}}:</b>{{ form.document_generates_pa|addclass:'formcd ..-control' }}</p>
                                  </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">EXPLICACIÓN</h3>
                                </div>
                                <div class="panel-body">
                                    <p align="left">{{ form.explanation|addclass:'form-control' }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">SITUACIÓN ACTUAL</h3>
                                </div>
                                <div class="panel-body">
                                  {% if kind_personnel_actions.cs_institutional_unit %}
                                    <p><b>U. Administrativa:</b>{{ form.cs_institutional_unit|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.cs_department %}
                                    <p><b>Departamento:</b>{{ form.cs_department|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.cs_public_office %}
                                    <p><b>Cargo Público:</b>{{ form.cs_public_office|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.cs_occupational_group %}
                                    <p><b>Grupo Ocupacional:</b>{{ form.cs_occupational_group|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.cs_workplace %}
                                    <p><b>Lugar de trabajo:</b>{{ form.cs_workplace|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.cs_remuneration %}
                                    <p><b>Remuneración:</b>{{ form.cs_remuneration|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.cs_budget_item %}
                                    <p><b>Partida presupuestaria:</b>{{ form.cs_budget_item|addclass:'form-control' }}</p>
                                  {% endif %}
                                  
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">SITUACIÓN PROPUESTA</h3>
                                </div>
                                <div class="panel-body">
                                    {% if kind_personnel_actions.ps_institutional_unit %}
                                    <p><b>U. Administrativa:</b>{{ form.ps_institutional_unit|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.ps_department %}
                                    <p><b>Departamento:</b>{{ form.ps_department|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.ps_public_office %}
                                    <p><b>Cargo Público:</b>{{ form.ps_public_office|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.ps_occupational_group %}
                                    <p><b>Grupo Ocupacional:</b>{{ form.ps_occupational_group|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.ps_workplace %}
                                    <p><b>Lugar de trabajo:</b>{{ form.ps_workplace|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.ps_remuneration %}
                                    <p><b>Remuneración:</b>{{ form.ps_remuneration|addclass:'form-control' }}</p>
                                  {% endif %}
                                  {% if kind_personnel_actions.ps_budget_item %}
                                    <p><b>Partida presupuestaria:</b>{{ form.ps_budget_item|addclass:'form-control' }}</p>
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">ELABORACIÓN DE LA ACCIÓN</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="col-lg-6">
                                    <p><b>{{form.disposed.label}}:</b>{{ form.disposed|addclass:'form-control' }}</p>
                                    <p><b>{{form.registration_and_control.label}}:</b>{{ form.registration_and_control|addclass:'form-control' }}</p>
                                  </div>
                                  <div class="col-lg-6">
                                    <p><b>{{form.status.label}}:</b>{{ form.status|addclass:'form-control' }}</p>
                                      
                                  </div>
                                </div>
                            </div>
                        </div>
                                         
                        
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>ACTA FINAL DEL CONCURSO</b></p>
                                            <div class="col-lg-6">
                                                <p align="left">No.</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p align="left">Fecha</p>
                                            </div>
                                            <p align="left">&nbsp;</p>
                                                                        
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>PROCESO DE RECURSOS HUMANOS</b></p>
                                            <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                            <p align="center">Resp. de Recursos Humanos</p>                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="col-lg-12"> 
                                        <p align="center"><b>DIOS, PATRIA y LIBERTAD</b></p>
                                        <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                        <p align="center">AUTORIDAD NOMINADORA</p>                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>RECURSOS HUMANOS</b></p>
                                            <div class="col-lg-6">
                                                <p align="left">No.</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p align="left">Fecha</p>
                                            </div>
                                            <p align="left">&nbsp;</p>
                                                                        
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">

                                        <div class="col-lg-12"> 
                                            <p align="center"><b>REGISTRO Y CONTROL</b></p>
                                            <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                            <p align="center">Resp. del Registro</p>                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" >
    <div class="btn-group" role="group" >
      <button type="submit" class="btn btn-success">Guardar</button>
      
      <a href="{% url "personnelactions:kindpersonnelactions_list" %}" class="btn btn-success" role="button">Cancelar</a>
                   
    </div>
  </div>
</form>
   
 

  
  
  



{% block javascript %}
   <script>
      var start_date=$('input[name="effective_date"]'); //our date input has the name "date"
      var options={
          format: 'mm/dd/yyyy',
          orientation:"bottom",
          todayHighlight: true,
          autoclose: true,
          language: "es",
      };
      start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      var end_date=$('input[name="date_of_elaboration"]'); //our date input has the name "date"
      end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
    
      
      
      
    </script>

{% endblock %}



