<div class="col-lg-6">      
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-body">
            
                                    <p align="center">ACCIÓN DE PERSONAL</p>
                                    <p align="center">Nº {{ personnel_actions.number_personnel_action }}</p>
                                    <p align="center">Fecha: {{ personnel_actions.date_of_elaboration }}   </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="col-lg-4"> 
                                        <p align="center">DECRETO&nbsp;&nbsp;
{% if personnel_actions.reason_decision == 'decreto' %}
    <input type="checkbox" checked>
{% else %}
    <input type="checkbox">
{% endif %}</p>
                                        
                                                                    
                                    </div>
                                    <div class="col-lg-4"> 
                                        <p align="center">ACUERDO&nbsp;&nbsp;
{% if personnel_actions.reason_decision == 'acuerdo' %}
    <input type="checkbox" checked>
{% else %}
    <input type="checkbox">
{% endif %}</p>
                                        
                                                                    
                                    </div>
                                    <div class="col-lg-4"> 
                                        <p align="center">RESOLUCIÓN&nbsp;&nbsp;
{% if personnel_actions.reason_decision == 'resolución' %}
    <input type="checkbox" checked>
{% else %}
    <input type="checkbox">
{% endif %}</p>
                                                                    
                                    </div>
                                
                        
                                    <div class="col-lg-6"> 
                                        <p align="center">NO.</p>
                                                                    
                                    </div>
                                    <div class="col-lg-6"> 
                                        <p align="center">FECHA:</p>
                                                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                        
                                     <div class="col-lg-6"> 
                                        <p align="center"><b>{{ personnel_actions.employee.person.name }}</b></p>
                                        <p align="center">APELLIDOS</p>
                                                                    
                                    </div>
                                    <div class="col-lg-6">      
                                        <p align="center"><b>{{ personnel_actions.employee.person.lastname }}</b></p>
                                        <p align="center">NOMBRES</p>
                                    </div>
                                    <div class="col-lg-4"> 
                                        <p align="center">No. de Cédula de Ciudadanía </p>
                                        <p align="center">Nº {{ personnel_actions.employee.person.cedula }}</p>
                                                                    
                                    </div>
                                    <div class="col-lg-4">      
                                        <p align="center">Acción</p>
                                        <p align="center">{{ personnel_actions.action }}</p>
                                    </div>
                                    <div class="col-lg-4">      
                                        <p align="center">Vigente</p>
                                        <p align="center">{{ personnel_actions.effective_date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">EXPLICACIÓN</h3>
                                </div>
                                <div class="panel-body">
                                    <p align="left">{{ personnel_actions.explanation }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">SITUACIÓN ACTUAL</h3>
                                </div>
                                <div class="panel-body">
                                    <p><b>U. Administrativa:</b>{{ personnel_actions.cs_institutional_unit }}</p>
                                    <p><b>Departamento:</b>{{ personnel_actions.cs_department }}</p>
                                    <p><b>Cargo Público:</b>{{ personnel_actions.cs_public_office }}</p>
                                    <p><b>Grupo Ocupacional:</b>{{ personnel_actions.cs_occupational_group }}</p>
                                    <p><b>Lugar de trabajo:</b>{{ personnel_actions.cs_workplace }}</p>
                                    <p><b>Remuneración:</b>{{ personnel_actions.cs_remuneration }}</p>
                                    <p><b>Partida presupuestaria:</b>{{ personnel_actions.cs_budget_item }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">SITUACIÓN PROPUESTA</h3>
                                </div>
                                <div class="panel-body">
                                    <p><b>U. Administrativa:</b>{{ personnel_actions.ps_institutional_unit }}</p>
                                    <p><b>Departamento:</b>{{ personnel_actions.ps_department }}</p>
                                    <p><b>Cargo Público:</b>{{ personnel_actions.ps_public_office }}</p>
                                    <p><b>Grupo Ocupacional:</b>{{ personnel_actions.ps_occupational_group }}</p>
                                    <p><b>Lugar de trabajo:</b>{{ personnel_actions.ps_workplace }}</p>
                                    <p><b>Remuneración:</b>{{ personnel_actions.ps_remuneration }}</p>
                                    <p><b>Partida presupuestaria:</b>{{ personnel_actions.ps_budget_item }}</p>
                                </div>
                            </div>
                        </div>
                                         
                        
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>ACTA FINAL DEL CONCURSO</b></p>
                                            <div class="col-lg-6">
                                                <p align="left">No.</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p align="left">Fecha</p>
                                            </div>
                                            <p align="left">&nbsp;</p>
                                                                        
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>PROCESO DE RECURSOS HUMANOS</b></p>
                                            <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                            <p align="center">Resp. de Recursos Humanos</p>                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="col-lg-12"> 
                                        <p align="center"><b>DIOS, PATRIA y LIBERTAD</b></p>
                                        <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                        <p align="center">AUTORIDAD NOMINADORA</p>                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>RECURSOS HUMANOS</b></p>
                                            <div class="col-lg-6">
                                                <p align="left">No.</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p align="left">Fecha</p>
                                            </div>
                                            <p align="left">&nbsp;</p>
                                                                        
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>REGISTRO Y CONTROL</b></p>
                                            <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                            <p align="center">Resp. del Registro</p>                       
                                        </div>
                                    </div>
                                </div>
                            </div>