<div class="table-responsive">
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Número</th>
            <th>Cédula</th>
            <th>Empleado</th>
            <th>Acción</th>
            <th>Emitida</th>
            <th>Vigente</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for personnel_actions in object_list %}
            {# Each "personnel_actions" is a Contact model object. #}
            <tr>
                <!--<td>{{ personnel_actions.number_personnel_action }} </td>-->
                <td>{{ personnel_actions.pk }} </td>
                <td>{{ personnel_actions.employee.person.cedula }} </td>
                <td>{{ personnel_actions.employee }} </td>
                <td>{{ personnel_actions.action }} </td>
                <td>{{ personnel_actions.date_of_elaboration }} </td>
                <td>{{ personnel_actions.effective_date }} </td>
                <td>{{ personnel_actions.status }} </td>

                <td>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span>
                        </button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-toggle="modal"
                                   data-target="#kind_personnel_actions{{ kind_personnel_actions.id }}">Ver</a></li>
                            {% if personnel_actions.status == 'emitida' %}
                                <li><a href="{% url "personnelactions:personnelactions_edit" personnel_actions.id %}">Editar</a>
                                </li>
                                <li><a href="{% url "personnelactions:personnelactions_edit" personnel_actions.id %}">Registrar</a>
                                </li>
                                <li><a href="{% url "personnelactions:personnelactions_delete" personnel_actions.id %}">Borrar</a>
                                </li>
                            {% endif %}

                            <li><a href="{% url "personnelactions:personnelactions_edit" personnel_actions.id %}">Imprimir</a>
                            </li>

                        </ul>
                    </div>
                </td>
            </tr>
            <!-- Modal -->
            <div id="kind_personnel_actions{{ kind_personnel_actions.id }}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ personnel_actions.action }} - {{ personnel_actions.employee }} </h4>
                    </div>
                    <div class="modal-body">
                        {% include "personnelactions/personnel_actions_detail_admin.html" %}


                        <div class="modal-footer">
                            <div class="col-lg-10">
                                <small>

                                </small>
                            </div>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include "pagination_control.html" %}



 