
{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Contratos
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Administrar Contratos
        </li>

       </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="dropdown">
            <a class="btn btn-primary" href="{% url "contract:contract_new_list"  %}">Nuevo Contrato</a>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="form-group input-group">
            <input id="busquedProyecto" type="text" class="form-control">
            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
        </div>
    </div>
    <form action="" method="GET">
    <label for="q">Search: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search">
  </form>
</div>

<p>


</p>

<div class="table-responsive">



  {% if query %}
    entra aki
    <h2>Results for "{{ query|escape }}":</h2>

    {% if object_list %}
      <ul>
      {% for contract in object_list %}
        <li>{{ contract|escape }}</l1>
      {% endfor %}
      </ul>
    {% else %}
      <p>No se encontraros</p>
    {% endif %}
  {% endif %}


   <table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Institución</th>
            <th>Unidad Institucional</th>
            <th>Departamento</th>
            <th>fecha de inicio</th>
            <th>fecha de fin</th>
            <th>Regimen Laboral</th>
            <th>Estado</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
    {% for contract in object_list %}
        {# Each "contact" is a Contact model object. #}
            <tr>
                <td>{{ contract.employee }} </td>
                <td>{{ contract.department.institutional_unit.institution  }} </td>
                <td>{{ contract.department.institutional_unit  }} </td>
                <td>{{ contract.department  }} </td>
                <td>{{ contract.start_date }} </td>
                <td>{{ contract.end_date }} </td>
                <td>{{ contract.labor_system }} </td>
                <td>{{ contract.status }} </td>
                <td>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "contract:contract_detail" contract.id  %}">Ver</a></li>

                            {% if contract.status == 'Firmado' %}
                            {% else %}
                                <li><a href="{% url "contract:contract_edit" contract.id  %}">Editar</a></li>
                                <li><a href="{% url "contract:contract_firmar" contract.id  %}">Firmar</a></li>
                            {% endif %}

                            <li><a href="{% url "contract:contract_delete" contract.id  %}">Borrar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>


    {% endfor %}
    </tbody>
</table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">&#60;&#60;anterior</a>
        {% endif %}

        <span class="current">
            Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">siguiente&#62;&#62;</a>
        {% endif %}
    </span>
</div>





{% endblock %}

{% block javascript %}
<script>

    $('#busquedProyecto').keyup(function(e){
    consulta = $("#busquedProyecto").val();
    $.ajax({
        console.log(asd),
        data: {'nombre': consulta},
        url: '/contract/proyecto/busqueda/',
        type: 'get',
        success: function(data) {
            console.log(data[0].nombre);
        },
        error : function(message) {
            console.log(message);
            console.log("Entro aca");
        }
    });
});


</script>

{% endblock %}