{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}
    <div class="right_col" role="main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ titulo }}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="index.html">Inicio</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> <a href="{% url "contract:contract_list" %}">Administrar Contratos</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Agregar o Editar Contrato
                </li>

            </ol>
        </div>
    </div>



    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-2 control-label">
            </div>
            <div class="col-sm-2 control-label">
                {{ form.employee.errors }}
                <label for="{{ form.employee.name }}">{{ form.employee.label }}:</label>
            </div>
            <div class="col-sm-6">

                {{ form.employee|addclass:'form-control' }}
            </div>
            <div class="col-sm-2 control-label">
            </div>
        </div>

        {% if contract_type.department %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.department.errors }}
                    <label for="{{ form.department.name }}">{{ form.department.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.department|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.public_office %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.public_office.errors }}
                    <label for="{{ form.public_office.name }}">{{ form.public_office.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.public_office|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.functions %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.functions.errors }}
                    <label for="{{ form.functions.name }}">{{ form.functions.label }}:</label>
                </div>
                <div class="col-sm-6">
                    {{ form.functions|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.budget_certification %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.budget_certification.errors }}
                    <label for="{{ form.budget_certification.name }}">{{ form.budget_certification.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.budget_certification|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.budget_item %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.budget_item.errors }}
                    <label for="{{ form.budget_item.name }}">{{ form.budget_item.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.budget_item|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.remuneration %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.remuneration.errors }}
                    <label for="{{ form.remuneration.name }}">{{ form.remuneration.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.remuneration|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.start_date %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.start_date.errors }}
                    <label for="{{ form.start_date.name }}">{{ form.start_date.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.start_date|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.end_date %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.end_date.errors }}
                    <label for="{{ form.end_date.name }}">{{ form.end_date.label }}:</label>
                </div>
                <div class="col-sm-6">
                    {{ form.end_date|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.place_of_work %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.place_of_work.errors }}
                    <label for="{{ form.place_of_work.name }}">{{ form.place_of_work.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.place_of_work|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.pay_scale_groups %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.pay_scale_groups.errors }}
                    <label for="{{ form.pay_scale_groups.name }}">{{ form.pay_scale_groups.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.pay_scale_groups|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.schedule %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.schedule.errors }}
                    <label for="{{ form.schedule.name }}">{{ form.schedule.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.schedule|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.collective_contract %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.collective_contract.errors }}
                    <label for="{{ form.collective_contract.name }}">{{ form.collective_contract.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.collective_contract|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.memo_area_director %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.memo_area_director.errors }}
                    <label for="{{ form.memo_area_director.name }}">{{ form.memo_area_director.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.memo_area_director|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.memo_human_resources_director %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.memo_human_resources_director.errors }}
                    <label for="{{ form.memo_human_resources_director.name }}">{{ form.memo_human_resources_director.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.memo_human_resources_director|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.technical_report %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.technical_report.errors }}
                    <label for="{{ form.technical_report.name }}">{{ form.technical_report.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.technical_report|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.disposed %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.disposed.errors }}
                    <label for="{{ form.disposed.name }}">{{ form.disposed.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.disposed|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}
        {% if contract_type.date_of_preparation %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.date_of_preparation.errors }}
                    <label for="{{ form.date_of_preparation.name }}">{{ form.date_of_preparation.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.date_of_preparation|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}

        {% if contract_type.checked_by %}
            <div class="form-group">
                <div class="col-sm-2 control-label">
                </div>
                <div class="col-sm-2 control-label">
                    {{ form.checked_by.errors }}
                    <label for="{{ form.checked_by.name }}">{{ form.checked_by.label }}:</label>
                </div>
                <div class="col-sm-6">

                    {{ form.checked_by|addclass:'form-control' }}
                </div>
                <div class="col-sm-2 control-label">
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            <div class="col-sm-2 control-label">
            </div>
            <div class="col-sm-2 control-label">
                {{ form.status.errors }}
                <label for="{{ form.status.name }}">{{ form.status.label }}:</label>
            </div>
            <div class="col-sm-6">

                {{ form.status|addclass:'form-control' }}
            </div>
            <div class="col-sm-2 control-label">
            </div>
        </div>


        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-lg-12">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{% url "contract:contract_list" %}" class="btn btn-primary"
                       role="button">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
</div>

{% block javascript %}
    <script>
        var start_date = $('input[name="start_date"]'); //our date input has the name "date"
        var options = {
            format: 'dd/mm/yyyy',
            orientation: "bottom",
            todayHighlight: true,
            autoclose: true,
            language: "es",
        };
        start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
        var end_date = $('input[name="end_date"]'); //our date input has the name "date"
        end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin

        var end_date = $('input[name="date_of_preparation"]'); //our date input has the name "date"
        end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin


    </script>

{% endblock %}