{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}
    <div class="right_col" role="main">
        {# Titulo de la plantilla   #}
        <div class="">
            <div class="title_right"></div>
            <div class="clearfix"></div>
            <div class="x_title">
                <h2> Contratos </h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ contract.employee }} <a
                                href="{% url "contract:contract_edit" contract.id %}"
                                class="btn  btn-success btn-xs" role="button">Editar</a><a
                                href="{% url "contract:contract_list" %}" class="btn  btn-primary btn-xs"
                                role="button">Regresar</a>
                        </h3>

                    </div>
                    <div class="panel-body">
                       <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Datos Personales</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">


                            <label for="disabledSelect">Cédula:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.employee.person.cedula }}">


                        </div>
                        <div class="col-lg-6">


                            <label for="disabledSelect">Nombres:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.employee.person.name }}">


                        </div>
                        <div class="col-lg-6">


                            <label for="disabledSelect">Apellidos:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.employee.person.lastname }}">


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Datos del Contrato</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="disabledSelect">Institución:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.department.institutional_unit.institution }}">
                        </div>
                        <div class="col-lg-4">
                            <label for="disabledSelect">Unidad Institucional:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.department.institutional_unit }}">
                        </div>
                        <div class="col-lg-4">
                            <label for="disabledSelect">Departamento:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.department }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="disabledSelect">Régimen Laboral:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.labor_system }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="disabledSelect">Tipo de Contrato:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.type_of_contract }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="disabledSelect">Fecha de Inicio:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.start_date }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="disabledSelect">Fecha de Fin:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.end_date }}">
                        </div>
                        <div class="col-lg-8">
                            <label for="disabledSelect">Cargo:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.public_office }}">
                        </div>
                        <div class="col-lg-4">
                            <label for="disabledSelect">Certificación Presupuestaria:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.budget_certification }}">
                        </div>
                        <div class="col-lg-8">
                            <label for="disabledSelect">Funciones:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.functions }}">
                        </div>
                        <div class="col-lg-4">
                            <label for="disabledSelect">Partida Presupuestaria:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.budget_item }}">
                        </div>
                        <div class="col-lg-8">
                            <label for="disabledSelect">Lugar de Trabajo:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.place_of_work }}">
                        </div>
                        <div class="col-lg-4">
                            <label for="disabledSelect">Remuneración:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.remuneration }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="disabledSelect">Escala de remuneración:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.pay_scale_groups }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="disabledSelect">Contrato Colectivo:</label><br>
                            <input type="checkbox" value="{{ contract.collective_contract }}">
                        </div>
                        <div class="col-lg-12">
                            <label for="disabledSelect">Horario:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.schedule }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Datos de Elaboración del Contrato</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="disabledSelect">Memorandum Director de Área:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.memo_area_director }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="disabledSelect">Memorandum Director de Recursos Humanos:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.memo_human_resources_director }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="disabledSelect">Dispuesto por:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.disposed }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="disabledSelect">Informe Técnico:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.technical_report }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="disabledSelect">Fecha de Elaboración:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.date_of_preparation }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="disabledSelect">Elaborado por:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.elaborated_by }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="disabledSelect">Revisado por::</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.checked_by }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="disabledSelect">Estado del contrato:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ contract.status }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            </div>

        </div>
    </div>

{% endblock %}