{% extends "app/base_site.html" %}

{% block title %} Municipio de Loja{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Contratos
                        <small>Lista de Contratos</small>
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <a class="btn btn-success" href="{% url "contract:contract_new_list" %}">Nuevo Contrato</a>
                            <div class="clearfix"></div>
                        </div>
                        {#                        {% include "mensajes/mensajes.html" %}#}
                        <div class="x_content">

                            <table id="datatable-buttons" class="table table-striped table-bordered">
                               <thead>
                                <tr>
                                    <th>Empleado</th>
{#                                    <th>Institución</th>#}
{#                                    <th>Unidad Institucional</th>#}
{#                                    <th>Departamento</th>#}
                                    <th>fecha de inicio</th>
                                    <th>fecha de fin</th>
                                    <th>Regimen Laboral</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for contract in object_list %}
                                    {# Each "contact" is a Contact model object. #}
                                    <tr>
                                        <td>{{ contract.employee }} </td>
{#                                        <td>{{ contract.department.institutional_unit.institution }} </td>#}
{#                                        <td>{{ contract.department.institutional_unit }} </td>#}
{#                                        <td>{{ contract.department }} </td>#}
                                        <td>{{ contract.start_date }} </td>
                                        <td>{{ contract.end_date }} </td>
                                        <td>{{ contract.labor_system }} </td>
                                        <td>{{ contract.status }} </td>
                                        <td>
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-danger"><span
                                                        class="glyphicon glyphicon-list"></span></button>
                                                <button type="button" class="btn btn-danger dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Split button!</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="{% url "contract:contract_detail" contract.id %}">Ver</a>
                                                    </li>
                                                    {% if contract.status == 'Firmado' %}
                                                    {% else %}
                                                        <li><a href="{% url "contract:contract_edit" contract.id %}">Editar</a>
                                                        </li>
                                                        <li><a href="{% url "contract:contract_firmar" contract.id %}">Firmar</a>
                                                        </li>
                                                    {% endif %}
                                                    <li><a href="{% url "contract:contract_delete" contract.id %}">Borrar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>


                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

{% endblock javascripts %}
