{% extends "app/base_site.html" %}
{% block content %}

    <div class="right_col" role="main">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Régimen Laboral
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="index.html">Inicio</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> <a href="{% url "contract:labor_system_list" %}">Administrar Regimen
                        Laboral</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Detalle Régimen Laboral - {{ laborsystem.labor_system }}
                    </li>

                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>{{ labor_system.labor_system }}</b> <a
                                href="{% url "contract:labor_system_edit" labor_system.id %}"
                                class="btn btn-xs btn-default"
                                role="button">Editar</a></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="panel-body">
                                <label for="disabledSelect">Régimen Laboral:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                       disabled="" value="{{ labor_system.labor_system }}">
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Vigente Desde</th>
                                    <th>Estado Tipo de Contrato</th>
                                    <th>Ver</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for typeofcontract in type_of_contract %}
                                    <tr>
                                        <td>{{ typeofcontract.kind }} </td>
                                        <td>{{ typeofcontract.force_from }} </td>
                                        <td><input type="checkbox" name=""
                                                   value="{{ typeofcontract.type_contract_status }}"> {{ typeofcontract.type_contract_status }}
                                        </td>
                                        <td>
                                            <a href="{% url "contract:type_of_contract_detail" typeofcontract.id %}">Ver</a>
                                        </td>
                                        <td>
                                            <a href="{% url "contract:type_of_contract_edit" typeofcontract.id %}">Editar</a>
                                        </td>
                                        <td>
                                            <a href="{% url "contract:type_of_contract_delete" typeofcontract.id %}">Borrar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>

            <p>
                <a href="{% url "contract:labor_system_list" %}">Regresar</a>
            </p>
        </div>
    </div>
{% endblock %}

