{% extends "app/base_site.html" %}

{% block title %} Municipio de Loja{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Regimen Laboral
                        <small>Lista de Regimen Laboral</small>
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <a class="btn btn-success" href="{% url "contract:labor_system_new" %}">Nuevo Regimen
                                Laboral</a>
                            <div class="clearfix"></div>
                        </div>
                        {#                        {% include "mensajes/mensajes.html" %}#}
                        <div class="x_content">

                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Régimen Laboral</th>
                                    <th>Acciones</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for laborsystem in object_list %}
                                    <tr>
                                        <td>{{ laborsystem.labor_system }} </td>
                                        <td>
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-danger"><span
                                                        class="glyphicon glyphicon-list"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Split button!</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="{% url "contract:labor_system_detail" laborsystem.id %}">Ver</a>
                                                    </li>
                                                    <li><a href="{% url "contract:labor_system_edit" laborsystem.id %}">Editar</a>
                                                    </li>
                                                    <li><a href="#" data-toggle="modal"
                                                           data-target="#object{{ laborsystem.id }}">Borrar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Modal -->
                                    <div class="modal fade" id="object{{ laborsystem.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header modal-header-primary">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4 class="modal-title">Información</h4>
                                                </div>

                                                <div class="modal-body">
                                                    <p>Está seguro que desea eliminar Régimen Laboral: {{ laborsystem }}?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                    <a href="{% url "contract:labor_system_delete" laborsystem.id %}"
                                                       id="delete-confirm-btn" class="btn btn-danger" type="submit"><i
                                                            class="icon-trash"></i>Aceptar</a>

                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

{% endblock javascripts %}
