{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Contrato Nuevo
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="index.html">Inicio</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Administrar Contratos
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Contrato Nuevo
                    </li>

                </ol>
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Contrato Nuevo</h3>
            </div>
            <div class="panel-body">
                {% for labor_systems in labor_system.all %}
                    <lu>{{ labor_systems.labor_system }}
                        <br>
                        {% for contract_types in contract_type.all %}
                            {% if labor_systems.id == contract_types.labor_system.id %}
                                <li>
                                    <a href="{% url "contract:contract_new" contract_types.id %}">{{ contract_types.kind }}
                                </li></a>
                            {% endif %}
                        {% endfor %}
                    </lu>
                    <br>
                    <br>
                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}