{% extends "app/base_site.html" %}
{% block content %}

    <div class="right_col" role="main">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Grupos de escala de remuneración
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="/">Inicio</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> <a href="{% url "contract:pay_scale_groups_list" %}">Grupos de escala
                        de
                        remuneración</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Detalle Grupo de escala de remuneración
                        - {{ payscalegroups.pay_scale_groups }}
                    </li>

                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>{{ pay_scale_groups }}</b> <a
                                href="{% url "contract:pay_scale_groups_edit" pay_scale_groups.id %}"
                                class="btn btn-xs btn-default" role="button">Editar</a></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="panel-body">
                                <label for="disabledSelect">Grupo de escala de remuneración:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                       disabled="" value="{{ pay_scale_groups }}">
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Grupo ocupacional</th>
                                    <th>Grupo escala remuneración</th>
                                    <th>Grado</th>
                                    <th>Remuneración</th>
                                    <th>Ver</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for payscalessp in pay_scale_sp %}
                                    <tr>
                                        <td>{{ payscalessp.occupational_group }} </td>
                                        <td>{{ payscalessp.pay_scale_groups }} </td>
                                        <td>{{ payscalessp.degree }} </td>
                                        <td>{{ payscalessp.unified_pay }} </td>

                                        <td><a href="{% url "contract:pay_scale_sp_detail" payscalessp.id %}">Ver</a>
                                        </td>
                                        <td><a href="{% url "contract:pay_scale_sp_edit" payscalessp.id %}">Editar</a>
                                        </td>
                                        <td><a href="{% url "contract:pay_scale_sp_delete" payscalessp.id %}">Borrar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>


            <h1>{{ payscalegroups.pay_scale_groups }}</h1>
            <p>Nombre del grupo de escala de remuneración: <i>{{ payscalegroups.pay_scale_groups }}</i></p>


            <p>
                <a href="{% url "contract:pay_scale_groups_list" %}">Regresar</a>
            </p>

        </div>
    </div>
{% endblock %}
