{% extends "app/base_site.html" %}
{% block content %}

    <div class="right_col" role="main">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Escalas de Remuneración de Servidores Públicos
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="/">Inicio</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> <a href="{% url "contract:pay_scale_sp_list" %}">Escalas de
                        Remuneración de Servidores Públicos</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Detalle Escalas de Remuneración de Servidores Públicos
                        - {{ payscalessp.occupational_group }}
                    </li>

                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>{{ payscalessp.occupational_group }}</b> <a
                                href="{% url "contract:pay_scale_sp_edit" payscalessp.id %}"
                                class="btn btn-xs btn-default" role="button">Editar</a></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="panel-body">
                                <label for="disabledSelect">Grupo ocupacional:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                       disabled="" value="{{ payscalessp.occupational_group }}">
                            </div>
                            <div class="panel-body">
                                <label for="disabledSelect">Grupo de escala de remuneración:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                       disabled="" value="{{ payscalessp.pay_scale_groups }}">
                            </div>
                            <div class="panel-body">
                                <label for="disabledSelect">Grado:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                       disabled="" value="{{ payscalessp.degree }}">
                            </div>
                            <div class="panel-body">
                                <label for="disabledSelect">Remuneración unificada:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                       disabled="" value="{{ payscalessp.unified_pay }}">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <p>
                <a href="{% url "contract:pay_scale_sp_list" %}">Regresar</a>
            </p>
        </div>
    </div>
{% endblock %}
