{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
       Tipos de Contrato
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Tipo de contrato
        </li>

       </ol>
    </div>
</div>
    <p>
        <a href="{% url "contract:type_of_contract_new" %}">Agregar Tipo Contrato</a>
    </p>
<div class="table-responsive">
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Regimen Laboral</th>
            <th>Vigente Desde</th>
            <th>Estado Tipo de Contrato</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
    {% for typeofcontract in object_list %}
        <tr>
            <td>{{ typeofcontract.kind }} </td>
            <td>{{ typeofcontract.labor_system }} </td>
            <td>{{ typeofcontract.force_from }} </td>
            <td>{{ typeofcontract.type_contract_status }} </td>
            <td><a href="{% url "contract:type_of_contract_detail" typeofcontract.id %}">Ver</a> </td>
            <td><a href="{% url "contract:type_of_contract_edit" typeofcontract.id %}">Editar</a> </td>
            <td><a href="{% url "contract:type_of_contract_delete" typeofcontract.id %}">Borrar</a> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>



{% endblock %}