{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}
    <div class="right_col" role="main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tipos de Contrato
            </h1>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>{{ typeofcontract.kind }}</b> <a
                            href="{% url "contract:type_of_contract_edit" typeofcontract.id %}"
                            class="btn btn-xs btn-default" role="button">Editar</a></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="panel-body">
                            <label for="disabledSelect">Régimen Laboral:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ typeofcontract.labor_system }}">
                        </div>
                        <div class="panel-body">
                            <label for="disabledSelect">Tipo:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ typeofcontract.kind }}">
                        </div>
                        <div class="panel-body">
                            <label for="disabledSelect">Vigente desde:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ typeofcontract.force_from }}">
                        </div>
                        <div class="panel-body">
                            <label for="disabledSelect">Estado:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input"
                                   disabled="" value="{{ typeofcontract.type_contract_status }}">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <p>
            <a href="{% url "contract:type_of_contract_list" %}">Regresar</a>
        </p>
    </div>
{% endblock %}
