{% extends "app/base_site.html" %}

{% block title %} Municipio de Loja{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">





{% endblock stylesheets %}

{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Tipos de Contratos
                        <small>Lista Tipos de contratos</small>
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <a class="btn btn-success" href="{% url "contract:type_of_contract_new" %}">Nuevo
                                Tipo de Contrato</a>

                            <div class="clearfix"></div>
                        </div>
                        {#                        {% include "mensajes/mensajes.html" %}#}
                        <div class="x_content">

                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Regimen Laboral</th>
                                    <th>Vigente Desde</th>
                                    <th>Estado Tipo de Contrato</th>
                                    <th>Acciones</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for type_of_contract in object_list %}
                                    {# Each "contact" is a Contact model object. #}
                                    <tr>
                                        <td>{{ type_of_contract.kind }} </td>
                                        <td>{{ type_of_contract.labor_system }} </td>
                                        <td>{{ type_of_contract.force_from }} </td>
                                        <td>{% if type_of_contract.type_contract_status %}
                                            Activo {% endif %}{{ Inactivo }} </td>

                                        <td>
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-danger"><span
                                                        class="glyphicon glyphicon-list"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Split button!</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="{% url "contract:type_of_contract_detail" type_of_contract.id %}">Ver</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url "contract:type_of_contract_edit" type_of_contract.id %}">Editar</a>
                                                    </li>
                                                    <li><a href="#" data-toggle="modal"
                                                           data-target="#object{{ type_of_contract.id }}">Borrar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Modal -->
                                    <div class="modal fade" id="object{{ type_of_contract.id }}" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header modal-header-primary">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4 class="modal-title">Información</h4>
                                                </div>

                                                <div class="modal-body">
                                                    <p>Está seguro que desea eliminar el tipo de
                                                        contrato: {{ type_of_contract }}?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                    <a href="{% url "contract:type_of_contract_delete" type_of_contract.id %}"
                                                       id="delete-confirm-btn" class="btn btn-danger" type="submit"><i
                                                            class="icon-trash"></i>Aceptar</a>

                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
{% endblock javascripts %}
