{% load crispy_forms_tags %}
<form class="activity_form" method='POST' action="/evaluation/activity/create/{{ activity_eval.id }}/" id='activity_form'>
{% csrf_token %}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Actividad</h4>
    </div>
    <div class="modal-body">
       {{form|crispy}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-share"></span> Salir
      </button>
      <button type="submit" class="btn btn-success" name="save" id='input_activity_form'>
        <span class="glyphicon glyphicon-check"></span> Guardar
      </button>
    </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</form>
<script type="text/javascript">
   $('#activity_form').on('submit', function() {
        console.log('intro submit');
        $.ajax({ 
            type: $(this).attr('method'), 
            url: this.action, 
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#activity_modal').modal('hide');
                console.log(data.status);
                console.log('>>>');
                console.log(data);

                BootstrapDialog.show({
                  type: BootstrapDialog.TYPE_SUCCESS, 
                    title: 'Guardado exitoso.',
                    message: 'La actividad ha sido guardado exitosamente.',
                    closable: false,
                    buttons: [ {
                        label: 'Aceptar',
                        action: function(dialog){
                            dialog.close();
                            window.location="/evaluation/personal_evaluation/evaluate/" + personal_eval_id + "/";
                        }
                    }]
                });
            },
            //error: function(XMLHttpRequest, textStatus, errorThrown) {
            error: function(data, status) {
              //$('#knowledgeModal').html(data);
              $('#activity_modal').html(data.responseText);
              console.log(data.status);
              console.log('>>>');
              console.log(data.responseText);
              
            }
        });
        return false;
    });

    //$("#id_percentage_fulfillment").attr("disabled", "disabled");
    //$("#id_level_fulfillment").attr("disabled", "disabled");
    document.getElementById("id_percentage_fulfillment").readOnly = true;
    document.getElementById("id_level_fulfillment").readOnly = true;


    $("input[name='period_goal']").keyup(function () {
        calculate_percentage_activity();
    });

    $("input[name='complete_goal']").keyup(function () { 
        calculate_percentage_activity();
    });

    function calculate_percentage_activity(){
      var porcentage_compliance = calculate_percentage_compliance();
      console.log('>>> ' +porcentage_compliance);
      var level_compliance = calculate_level_compliance(porcentage_compliance);
      $("#id_percentage_fulfillment").val(porcentage_compliance);
      $("#id_level_fulfillment").val(level_compliance);
    }

    function calculate_percentage_compliance(){
      console.log('intro calculate_percentage_goals');
      var planned_goals = $("#id_period_goal").val();
      //console.log(planned_goals);
      var completed_goals = $("#id_complete_goal").val();
      //console.log(completed_goals);
      var correct = false;
      if( planned_goals !== null && planned_goals.length !== 0 && completed_goals !== null && completed_goals.length !== 0) {
        correct = true;
      }
      //console.log('correcto ' + correct)
      var result = null;
      if(correct){
        if(completed_goals > planned_goals){
          result = 100;
        }else{
          result = Math.round(completed_goals*100/planned_goals);  
        }
      }
//SI(O(I13<0,I13="",H13=""),"",SI(Y(I13>H13),100,(I13*100/H13)))
//SI(O(J13="",J13<0),"",SI(J13>=90.5,5,SI(Y(J13>=80.5,J13<=90.4),4,SI(Y(J13>=70.5,J13<=80.4),3,SI(Y(J13>=60.5,J13<=70.4),2,SI(J13<=60.4,1,""))))))
      console.log('=' + result);
      return result;
    }

  function calculate_level_compliance(result){
    console.log('intro calculate_level_compliance' + result);
    var x = null;
    if(result !== null ){
      if (result >= 90.5){
        x = 5;
      }else if (result >= 80.5 && result <=90.4){
        x=4;
      }else if (result >= 70.5 && result <=80.4){
        x=3;
      }else if (result >= 60.5 && result <=70.4){
        x=2;
      }else{
        x=1;
      }  
    }
    console.log('=' + x);
    return x;
  }


</script>