{% load l10n %}
{% load crispy_forms_tags %}
<form class="chief-observation-form" method='POST' action="{% url "evaluation:chief_observation_create" personal_eval.pk %}" id='chief-observation-form'>
{% csrf_token %}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Observaciones</h4>
    </div>
    <div class="modal-body">
       {{form|crispy}}
    </div>
    <div class="modal-footer">      
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-share"></span> Salir
      </button>
       <button type="submit" class="btn btn-success" name="save" id='submit_chief_observation_form'>
        <span class="glyphicon glyphicon-check"></span> Guardar
      </button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</form>
<script type="text/javascript">

  $('#chief-observation-form').on('submit', function() {
        console.log('intro submit');
        $.ajax({ 
            type: $(this).attr('method'), 
            url: this.action, 
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#chief_observation_modal').modal('hide');
                console.log(data.status);
                console.log('>>>');
                console.log(data);
                BootstrapDialog.show({
                  type: BootstrapDialog.TYPE_SUCCESS, 
                    title: 'Guardado exitoso.',
                    message: 'La observación acerca del servidor público ha sido guardado exitosamente.',
                    closable: false,
                    buttons: [ {
                        label: 'Aceptar',
                        action: function(dialog){
                            dialog.close();
                            // window.location="/evaluation/personal_evaluation/evaluate/" + personal_eval_id + "/";
                            window.location = " {% url "evaluation:personal_evaluation_evaluate" personal_eval.pk %} ";
                        }
                    }]
                });
            },
            //error: function(XMLHttpRequest, textStatus, errorThrown) {
            error: function(data, status) {
              //$('#knowledgeModal').html(data);
              $('#chief_observation_modal').html(data.responseText);
              console.log(data.status);
              console.log('>>>');
              console.log(data.responseText);
            }
        });
        return false;
    });

</script>