{% load l10n %}
{% load crispy_forms_tags %}
<form class="complaint-form" method='POST' action="/evaluation/complaint/create/{{ complaint_eval.id }}/" id='complaint-form'>
{% csrf_token %}
{% localize off %}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Queja</h4>
    </div>
    <div class="modal-body">
        <input type="hidden" id="id_val_percent_reduction" name="val_percent_reduction" value="{{ complaint_eval.percentage_reduction }}">
        {{form|crispy}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-share"></span> Salir
      </button>
       <button type="submit" class="btn btn-success" name="save" id='submit_complaint_form'>
        <span class="glyphicon glyphicon-check"></span> Guardar
      </button>

    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
{% endlocalize %}
<script type="text/javascript">

  $('#complaint-form').on('submit', function() {
        console.log('intro submit');
        $.ajax({ 
            type: $(this).attr('method'), 
            url: this.action, 
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#complaint_modal').modal('hide');
                console.log(data.status);
                console.log('>>>');
                console.log(data);
                BootstrapDialog.show({
                  type: BootstrapDialog.TYPE_SUCCESS, 
                    title: 'Guardado exitoso.',
                    message: 'El conocimiento ha sido guardado exitosamente.',
                    closable: false,
                    buttons: [ {
                        label: 'Aceptar',
                        action: function(dialog){
                            dialog.close();
                            window.location="/evaluation/personal_evaluation/evaluate/" + personal_eval_id + "/";
                        }
                    }]
                });
            },
            //error: function(XMLHttpRequest, textStatus, errorThrown) {
            error: function(data, status) {
              //$('#knowledgeModal').html(data);
              $('#complaint_modal').html(data.responseText);
              console.log(data.status);
              console.log('>>>');
              console.log(data.responseText);
            }
        });
        return false;
    });

  	$("#id_percentage_reduction").readOnly = true;
  	document.getElementById("id_percentage_reduction").readOnly = true;

    $("#id_discount_applies").change(function(e) {
      	//var percentage_reduction = -4;
      	var percentage_reduction = {% localize off %} {{ complaint_eval.percentage_reduction }} {% endlocalize %};
      	var sel_option = $("#id_discount_applies").val();
      	console.log('>>>>> ' + percentage_reduction);
      	if (sel_option == "YES") {
		      $("#id_percentage_reduction").val(percentage_reduction.toFixed(2));
		    }else{
			    $("#id_percentage_reduction").val(0.00);
		    }
    });
</script>