<!-- DIALOGOS: TAREA-NEW -->
<div class="modal fade" id="taskForm" tabindex="-1" role="dialog">
	{% include "personal_evaluation/job_management.html" %}
</div>
<div sytle="clear:both"></div>

<!-- DIALOGOS: JOB-MANAGEMENT -->
<div class="modal" id="myModal" style="margin-top: 0px; width: 1340px; margin-left: -670px; height: 496px; z-index:9000">
	{% include "personal_evaluation/job_management.html" %}
</div>