{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
  <h4>Competencia técnica:</h4>
{% endblock %}


{% block content %}

	<form class="form-horizontal" method="post" enctype="multipart/form-data">
	   	{% csrf_token %}
		<input type="file" name="myfile">	
	    <div class="form-group">
	    	<input type="submit" class="btn btn-sm btn-success" value="Guardar" name="save">
		 	<a href="#" class="btn btn-sm btn-default" >Regresar</a>
		</div>
	</form>
	
	{% if uploaded_file_url %}
		<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
	{% endif %}

	<p><a href="#">Return to home</a></p>

{% endblock %}

{% block javascript %}
	 <script>
    	
    </script>
{% endblock %}