{% extends "base.html" %}
{% load evaluation_extras  %}

{% load staticfiles %}

{% block title %}
  Evaluación de desempeño
{% endblock %}

{% block heading %}
  
<h5> EVALUACIONES PERSONALES </h5>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
{% endblock %}

{% block content %}
<form method="GET" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="required col-lg-1 control-label" for="id_evaluation_date">Fecha evaluación:</label>
    <div class="col-lg-5">
    <input class="form-control" id="id_evaluation_date" name="evaluation_date" size="10" type="text" placeholder="Fecha de evaluación" value="{{ evaluation_date }}">
    </div>
  </div>
  <div class="form-group">
  <div class="col-lg-offset-1 col-lg-10">
      <input type="submit" class="btn btn-default" value="Buscar" />
    </div>
  </div>
</form>

<!-- Output table -->
  
  <div id="progress" style="display: none;" >Please wait while the page is loading.</div>

  <div class="row">

    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Evaluado</th>
          <th>Período desde</th>
          <th>Período hasta</th>
          <th>Estado</th> 
          <th>Acciones</th>
        </tr>
      </thead>  
      <tbody>
      {% for evaluation in personal_evaluation_list %}
        <tr>
          <td>{{ evaluation.evaluated.person }}</td>          
          <td>{{ evaluation.period_from }}</td>
          <td>{{ evaluation.period_to }}</td>
          <td>{{ evaluation|setstate:evaluation.state }}</td>
          <td> 
          {% if evaluation.state == "GENERATED" %}
              <a href="{% url "evaluation:personal_evaluation_generate"%}">Generar</a>
              <button type="button" id="btn_generate">Generate</button>
          {% elif evaluation.state == "INITIATED" %}
              <a href="{% url "evaluation:personal_evaluation_evaluate" evaluation.pk %}">Registrar</a> |
          {% endif %}
          </td>
          <!--<td>  <a href="{% url "evaluation:performance_evaluation_detail" evaluation.id %}">Ver</a> | 
                <a href="{% url "evaluation:performance_evaluation_edit" evaluation.id %}">Editar</a> | 
                <a href="{% url "evaluation:performance_evaluation_delete" evaluation.id %}">Borrar</a>  </td>
        </tr>-->
      {% endfor %}
      </tbody>
    </table>
  </div>

<!-- Pagination controls -->
{% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?state={{ state }}&year={{ year }}&page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?state={{ state }}&year={{ year }}&page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?state={{ state }}&year={{ year }}&page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}

{% block javascript %}
  <script>
    $('#btn_generate').on('click', function(){   
      /*$.ajax('/evaluation/personal_evaluation/generate/', {                          
        success: function(response){   
          console.log("respuesta:");
          console.log(response);
          location.reload();
        },
        type: 'GET',      
      });*/
      $.ajax({
        url:url,
        data:data,
        success:succes,
        dataType:dateType
      });
    });

  </script>

{% endblock %}