{% extends "base.html" %}
{% load staticfiles %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block css %}
<style>
	.DemoBS2{
    	margin:20px;
	}
</style>
{% endblock %}

{% block heading %}
  <h3>Evaluación personal: </h3>
  <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
{% endblock %}


{% block content %}
<div class="ooo">
  <div class="panel-group" id="accordion"> 
      <div class="panel panel-info">  <!-- accordion 0 -->
  
        <div class="panel-heading">
          <h4 class="panel-title"> <!-- title 1 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionZero">
              Datos del servidor
            </a>
          </h4>
        </div>
    
        <div id="accordionZero" class="panel-collapse collapse in">
          <!-- panel body -->
            <div class="panel-body">
            <div>
            
               <form class="form-horizontal" role="form">
                <input type="hidden" id="id_performance_eval" name="performance_eval" value="{{ personal_eval.performance_evaluation.id }}">
                <input type="hidden" id="id_personal_eval" name="personal_eval" value="{{ personal_eval.id }}">

                <div class="form-group">
                  <label class="control-label col-lg-5">Apellidos y nombres del servidor (EVALUADO):</label>
                  <div class="col-lg-7" >
                    <p class="form-control-static" name="username" >{{ user.username }} </p>
                  </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-5" for="id_username">Denominación del puesto que desempeña:</label>
                     <div class="col-lg-7">
                        <p class="form-control-static" id="id_username" name="username"> {{user.username}} </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-5" for="id_username">Título o profesión:</label>
                     <div class="col-lg-7">
                        <p class="form-control-static" id="id_username" name="username"> {{user.username}} </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-5" for="id_username">Apellidos y nombres del jefe inmediato <strong>(EVALUADOR)</strong>:</label>
                     <div class="col-lg-7">
                        <p class="form-control-static" id="id_username" name="username"> {{user.username}} .....................................</p>
                    </div>
                </div>  

                 <div class="form-group">
                    <label class="control-label col-lg-5" for="id_username">Período de evaluación desde:</label>
                     <div class="col-lg-1">
                        <p class="form-control-static" id="id_username" name="username"> {{ personal_eval.period_from }} </p>
                    </div>
                    <label class="control-label col-lg-3" for="id_email">Período de evaluación hasta:</label>
                    <div class="col-lg-3">
                      <p class="form-control-static" id="id_email" name="email"> {{ personal_eval.period_to }}</p>
                      <input class="form-control-static" id="id_start_date" name="start_date" type="text" value="{{ personal_eval.period_to }}">
                    </div>
                </div>

              </form>

            </div>
          </div>
        </div>

    </div>



   <div class="panel panel-info">  <!-- accordion 1 -->
   
        <div class="panel-heading"> <!-- panel-heading -->
            <h4 class="panel-title"> <!-- title 1 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
              Actividades del puesto
            </a>
           </h4>
        </div>
		<!-- panel body -->

        <div id="accordionOne" class="panel-collapse collapse">
          <div class="panel-body">
            <div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_number_activities">Actividades:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_number_activities" name="number_activities"> {{activity_eval.number_activities}} </p>
                    </div>
                    <label class="control-label col-lg-3" for="id_factor">Factor:</label>
                    <div class="col-lg-3">
                      <p class="form-control-static" id="id_factor" name="email"> {{ activity_eval.factor }}</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-lg-3" for="id_applies_advance_goals">Aplica porcentaje de aumento:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_applies_advance_goals" name="applies_advance_goals"> {{activity_eval.applies_advance_goals}} </p>
                    </div>
                    <label class="control-label col-lg-3" for="id_percentage_increase">Porcentage de aumento:</label>
                    <div class="col-lg-3">
                      <p class="form-control-static" id="id_percentage_increase" name="percentage_increase"> {{ activity_eval.percentage_increase }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_percentage_final">Porcentaje final:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_percentage_final" name="percentage_final"> {{activity_eval.percentage_final}} </p>
                    </div>
                    <div class="col-lg-6">
                    <a class="btn btn-primary btn-sm pull-right" id="activity" href="#" data-form="/evaluation/activity/create/{{ activity_eval.id }}/" title="Crear">Nueva actividad</a>
                    </div>
                </div>
              </form>
            </div>
            <div>
              <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                  <tr>
                    <th>Descripción</th>
                    <th>Indicador</th>
                    <th>Metas</th>
                    <th>Cumplidos</th>
                    <th>% cumplimiento</th> 
                    <th>Nivel cumplimiento</th>
                    <th>Acciones</th>
                  </tr>
                </thead>  
                <tbody>
                {% for activity in  activity_list %}
                  <tr>
                    <td>{{ activity.description }}</td>          
                    <td>{{ activity.indicator }}</td>
                    <td>{{ activity.period_goal }}</td>
                    <td>{{ activity.complete_goal }}</td>
                    <td>{{ activity.percentage_fulfillment }}</td>
                    <td>{{ activity.level_fulfillment }}</td>
                    <td>
                      <a class="text-danger" id="activity-{{ activity.id }}" 
                        href="#" data-form="/evaluation/activity/delete/" title="Crear">Eliminar</a>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </div>
  
   <div class="panel panel-info">  <!-- accordion 2 -->
          <div class="panel-heading"> 
          <h4 class="panel-title"> <!-- title 2 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionTwo">
              Conocimientos
            </a>
          </h4>
          </div>
		 <!-- panel body -->
        <div id="accordionTwo" class="panel-collapse collapse">
            <div class="panel-body">
            <div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_number_knowledge">Number de conocimientos:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_number_knowledge" name="number_knowledge"> {{knowledge_eval.number_knowledge}} </p>
                    </div>
                    <label class="control-label col-lg-3" for="id_factor_knowledge_eval">Factor:</label>
                    <div class="col-lg-3">
                      <p class="form-control-static" id="id_factor_knowledge_eval" name="factor_knowledge_eval"> {{ knowledge_eval.factor }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_percentage_final">Porcentaje final:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_percentage_final" name="percentage_final"> {{knowledge_eval.percentage_final}} </p>
                    </div>
                    <div class="col-lg-6">
                    <a class="btn btn-primary btn-sm pull-right" id="knowledge" href="#" data-form="/evaluation/knowledge/create/{{ knowledge_eval.id }}/" title="Crear">
                      <span class="glyphicon glyphicon-plus"></span>Nuevo conocimiento
                    </a>
                  </div>
                </div>
              </form>
            </div>
            <div>
              <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                  <tr>
                    <th>Conocimiento</th>
                    <th>Nivel</th>
                    <th>Acciones</th>
                  </tr>
                </thead>  
                <tbody>
                {% for knowledge in  knowledge_list %}
                  <tr>
                    <td>{{ knowledge.knowledge }}</td>          
                    <td>{{ knowledge.level_knowledge }}</td>
                    <td>
                     <a class="text-danger" id="knowledge-{{ knowledge.id }}" 
                        href="#" data-form="/evaluation/knowledge/delete/" title="Eliminar">Eliminar</a>
                    </td>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>
		
   </div>
   
    <div class="panel panel-info">  <!-- accordion 3 -->
	
        <div class="panel-heading">
          <h4 class="panel-title"> <!-- title 3 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionThree">
              Competencias técnicas del puesto
            </a>
          </h4>
        </div>
		
        <div id="accordionThree" class="panel-collapse collapse">
          <!-- panel body -->
            <div class="panel-body">
            <div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_number_competence">Número de competencias:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_number_competence" name="number_competence"> {{technical_c_eval.number_competence}} </p>
                    </div>
                    <label class="control-label col-lg-3" for="id_factor_tce">Factor:</label>
                    <div class="col-lg-3">
                      <p class="form-control-static" id="id_factor_tce" name="factor_tce"> {{ technical_c_eval.factor }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_percentage_final_tce">Percentage final:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_percentage_final_tce" name="percentage_final_tce"> {{technical_c_eval.percentage_final}} </p>
                    </div>
                    <div class="col-lg-6">
                    <a class="btn btn-primary btn-sm pull-right" id="technical_competence" href="#" data-form="/evaluation/technical_competence/create/{{ technical_c_eval.id }}/" title="Crear">Nueva competencia técnica</a>
                  </div>
                </div>
              </form>
            </div>
            <div>
              <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                  <tr>
                    <th>Destreza</th>
                    <th>Relevancia</th>
                    <th>Comportamiento</th>
                    <th>Nivel de aplicación</th>
                  </tr>
                </thead>  
                <tbody>
                {% for technical_c in  technical_c_list %}
                  <tr>
                    <td>{{ technical_c.item_attribute }}</td>          
                    <td>{{ technical_c.get_relevance_display }}</td>
                    <td>{{ technical_c.observable_behavior }}</td>
                    <td>{{ technical_c.get_development_level_display }}</td>
                    <td>
                     <a class="text-danger" id="tc-{{ technical_c.id }}" 
                        href="#" data-form="/evaluation/technical_competence/delete/" title="Eliminar">Eliminar</a>
                    </td>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
	  </div>

    <div class="panel panel-info">  <!-- accordion 4 -->
  
        <div class="panel-heading">
          <h4 class="panel-title"> <!-- title 4 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionFour">
              Competencias universales del puesto
            </a>
          </h4>
        </div>
    
        <div id="accordionFour" class="panel-collapse collapse">
          <!-- panel body -->
            <div class="panel-body">
            <div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_number_uce">Número de competencias:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_number_uce" name="number_uce"> {{universal_c_eval.number_competence}} </p>
                    </div>
                    <label class="control-label col-lg-3" for="id_factor_uce">Factor:</label>
                    <div class="col-lg-3">
                      <p class="form-control-static" id="id_factor_uce" name="factor_uce"> {{ universal_c_eval.factor }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_percentage_final_uce">Percentage final:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_percentage_final_uce" name="percentage_final_tce"> {{universal_c_eval.percentage_final}} </p>
                    </div>
                    <div class="col-lg-6">
                    <a class="btn btn-primary btn-sm pull-right" id="universal_competence" href="#" data-form="/evaluation/universal_competence/create/{{ universal_c_eval.id }}/" title="Crear">Nueva competencia universal</a>
                  </div>
                </div>
              </form>
            </div>
            <div>
              <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                  <tr>
                    <th>Destreza</th>
                    <th>Relevancia</th>
                    <th>Comportamiento</th>
                    <th>Nivel de aplicación</th>
                  </tr>
                </thead>  
                <tbody>
                {% for universal_c in  universal_c_list %}
                  <tr>
                    <td>{{ universal_c.item_attribute }}</td>          
                    <td>{{ universal_c.get_relevance_display }}</td>
                    <td>{{ universal_c.observable_behavior }}</td>
                    <td>{{ universal_c.get_frequency_application_display }}</td>
                    <td>
                     <a class="text-danger" id="uc-{{ universal_c.id }}" 
                        href="#" data-form="/evaluation/universal_competence/delete/" title="Eliminar">Eliminar</a>
                    </td>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    
    <div class="panel panel-info">  <!-- accordion 5 -->
  
        <div class="panel-heading">
          <h4 class="panel-title"> <!-- title 5 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionFive">
              Trabajo en equipo, iniciativa y liderazgo
            </a>
          </h4>
        </div>
    
        <div id="accordionFive" class="panel-collapse collapse">
          <!-- panel body -->
            <div class="panel-body">
            <div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_number_variables">Número de variables:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_number_variables" name="number_variables"> {{teamwork_eval.number_variables}} </p>
                    </div>
                    <label class="control-label col-lg-3" for="id_factor_twe">Factor:</label>
                    <div class="col-lg-3">
                      <p class="form-control-static" id="id_factor_twe" name="factor_twe"> {{ teamwork_eval.factor }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_percentage_final_twe">Percentage final:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_percentage_final_twe" name="percentage_final_twe"> {{teamwork_eval.percentage_final}} </p>
                    </div>
                    <div class="checkbox col-lg-5">
                      <label>
                        <input id="check_leader" type="checkbox" value="">
                        <strong><em>Tiene servidores bajo su responsabilidad</em></strong> 
                      </label>
                    </div>
                    <div class="col-lg-1">
                    <a class="btn btn-primary btn-sm pull-right" id="teamwork" href="#" data-form="/evaluation/teamwork/create/{{ teamwork_eval.id }}/" title="Crear">Ingresar habilidad</a>
                  </div>
                </div>
              </form>
            </div>
            <div>
              <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                  <tr>
                    <th>Destreza</th>
                    <th>Relevancia</th>
                    <th>Comportamiento</th>
                    <th>Nivel de aplicación</th>
                  </tr>
                </thead>  
                <tbody>
                {% for teamwork in  teamwork_list %}
                  <tr>
                    <td>{{ teamwork.item_attribute }}</td>          
                    <td>{{ teamwork.get_relevance_display }}</td>
                    <td>{{ teamwork.observable_behavior }}</td>
                    <td>{{ teamwork.get_frequency_application_display }}</td>
                    <td>
                     <a class="text-danger" id="tw-{{ teamwork.id }}" 
                        href="#" data-form="/evaluation/teamwork/delete/" title="Eliminar">Eliminar</a>
                    </td>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

     <div class="panel panel-info">  <!-- accordion 6 -->
  
        <div class="panel-heading">
          <h4 class="panel-title"> <!-- title 6 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionSix">
              Quejas
            </a>
          </h4>
        </div>
    
        <div id="accordionSix" class="panel-collapse collapse">
          <!-- panel body -->
            <div class="panel-body">
            <div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_number_complaint">Número de quejas:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_number_complaint" name="number_complaint"> {{complaint_eval.number_complaint}} </p>
                    </div>
                    <label class="control-label col-lg-3" for="id_percentage_reduction_complaint">Porcentage de reducción:</label>
                    <div class="col-lg-3">
                      <p class="form-control-static" id="id_percentage_reduction_complaint" name="percentage_reduction"> {{ complaint_eval.percentage_reduction }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="id_percentage_final_complaint">Percentage final:</label>
                     <div class="col-lg-3">
                        <p class="form-control-static" id="id_percentage_final_complaint" name="percentage_final_complaint"> {{complaint_eval.percentage_final}} </p>
                    </div>
                    <div class="col-lg-6">
                      <a class="btn btn-primary btn-sm pull-right" id="complaint" href="#" data-form="/evaluation/complaint/create/{{ complaint_eval.id }}/" title="Crear">Ingresar queja</a>
                  </div>
                </div>
              </form>
            </div>
            <div>
              <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                  <tr>
                    <th>Persona realiza queja</th>
                    <th>Identificación</th>
                    <th>Descripción</th>
                    <th>Número de formulario</th>
                    <th>Aplica descuento</th>
                    <th>Porcentaje de reducción</th>
                    <th>Acciones</th>
                  </tr>
                </thead>  
                <tbody>
                {% for complaint in  complaint_list %}
                  <tr>
                    <td>{{ complaint.person_making_complaint }}</td>          
                    <td>{{ complaint.identification_making_complaint }}</td>
                    <td>{{ complaint.description }}</td>
                    <td>{{ complaint.form_number }}</td>
                    <td>{{ complaint.get_discount_applies_display }}</td>
                    <td>{{ complaint.percentage_reduction }}</td>
                    <td>
                     <a class="text-danger" id="complaint-{{ complaint.id }}" 
                        href="#" data-form="/evaluation/complaint/delete/" title="Eliminar">Eliminar</a>
                    </td>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    
      <div class="panel panel-info">  <!-- accordion 7 -->
  
        <div class="panel-heading">
          <h4 class="panel-title"> <!-- title 1 -->
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionSeven">
              Resultado de la evaluación
            </a>
          </h4>
        </div>
    
        <div id="accordionSeven" class="panel-collapse collapse">
          <!-- panel body -->
            <div class="panel-body">
            <div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-lg-6" for="id_percentage_final_activity_eval"><strong><em>Indicadores de gestión del puesto:</em></strong></label>
                     <div class="col-lg-6">
                        <p class="form-control-static" id="id_percentage_final_activity_eval" name="percentage_final_activity_eval"> {{personal_eval.job_management_indicators}} </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-6" for="id_percentage_final_knowledge_eval"><strong><em>Indicador de conocimientos:</em></strong></label>
                     <div class="col-lg-6">
                        <p class="form-control-static" id="id_percentage_final_knowledge_eval" name="percentage_final_knowledge_eval"> {{personal_eval.knowledge}} </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-6" for="id_percentage_final_technical_c_eval"><strong><em>Competencias técnicas del puesto:</em></strong></label>
                     <div class="col-lg-6">
                        <p class="form-control-static" id="id_percentage_final_technical_c_eval" name="percentage_final_technical_c_eval"> {{personal_eval.technical_competence}} </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-6" for="id_percentage_final_universal_c_eval"><strong><em>Competencias universales:</em></strong></label>
                     <div class="col-lg-6">
                        <p class="form-control-static" id="id_percentage_final_universal_c_eval" name="percentage_final_universal_c_eval"> {{personal_eval.universal_competence}} </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-6" for="id_percentage_final_teamwork_eval"><strong><em>Trabajo en equipo, iniciativa y liderazgo:</em></strong></label>
                     <div class="col-lg-6">
                        <p class="form-control-static" id="id_percentage_final_teamwork_eval" name="percentage_final_teamwork_eval">
                          {{personal_eval.teamwork}}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-6" for="id_percentage_final_complaint_eval"><strong><em>Evaluación del ciudadano (-):</em></strong></label>
                     <div class="col-lg-6">
                        <p class="form-control-static" id="id_percentage_final_complaint_eval" name="percentage_final_complaint_eval"> {{personal_eval.evaluation_citizens}} </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-5" for="id_final_evaluation_percentage"><strong><em>TOTAL EVALUACIÓN DE DESEMPEÑO:</em></strong></label>
                     <div class="col-lg-1">
                        <p class="form-control-static" id="id_final_evaluation_percentage" name="final_evaluation_percentage"> {{personal_eval.final_evaluation_percentage}} </p>
                    </div>
                     <div class="col-lg-6">
                        <p class="form-control-static" id="id_final_evaluation_result" name="final_evaluation_result"><strong><em> {{personal_eval.final_evaluation_result}} </em></strong></p>
                    </div>
                </div>

              </form>
            </div>
          </div>
        </div>

    </div>


  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="knowledgeModal">
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="activity_modal">
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="technical_competence_modal">
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="universal_competence_modal">
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="teamwork_modal">
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="complaint_modal">
</div>

{% endblock %}

{% block javascript %}
   <script src="{% static "bootstrap/js/collapse.js" %}"></script>
   <script src="{% static "js/activity.js" %}"></script>
   <script src="{% static "js/knowledge.js" %}"></script>
   <script src="{% static "js/technical_competence.js" %}"></script>
   <script src="{% static "js/universal_competence.js" %}"></script>
   <script src="{% static "js/teamwork.js" %}"></script>
   <script src="{% static "js/complaint.js" %}"></script>
   <script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    //$('#accordionOne').collapse({
    //  toggle:'True'
    //});

    var performance_eval_id = get_performance_evaluation();
    function get_performance_evaluation() {
        return $('#id_performance_eval').val();
    }

    var personal_eval_id = get_personal_evaluation();
    function get_personal_evaluation() {
        return $('#id_personal_eval').val();
    }

    </script>
  <script src="{% static "js/magic.js" %}"></script>
{% endblock %}