<h1>New post</h1>
<form method='POST' action='{% url "evaluation:job_management_create" 9 %}' id='contactForm'>
  {% csrf_token %} 
  {{ form.as_p }}
  <input name="save" class="btn btn-primary" type="submit" value="Save" />
  <input name="cancel" class="btn" type="submit" value="Cancel"/>
</form>