<form id='contactForm' method='POST' action='{% url "evaluation:job_management_create" 9 %}'>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Editing Contact</h3>
  </div>
  <div class="modal-body">
       {% csrf_token %}
       {{form.as_p}}
  </div>
  <div class="modal-footer">
       <input name="save" class="btn btn-primary" type="submit" value="Save" />
       <input name="cancel" class="btn" type="submit" value="Cancel"/>
  </div>
</form>




<div class="modal fade" id='ZZZ'>
  <form method='POST' action='{% url "evaluation:job_management_create" 9 %}' id='contactForm'>
  {% csrf_token %} 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <!-- <input class='form-control' type='text' placeholder='Enter Email' /> -->
          <p id='modalMessage'></p>
          <input id="id_email" class='form-control' maxlength="200" name="email" type="email" placeholder="Your Email">
          
          
        </div>
        <div class="modal-footer">
          <button value="cancel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input value="save" type='submit' class='btn btn-success' id='sendMarketingForm' />
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </form>
</div>