<div class="modal fade" id='marketingModal'>
<form method='POST' action='{% url "evaluation:test_modal" 9 %}' id='sendForm'>
{% csrf_token %} 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <!-- <input class='form-control' type='text' placeholder='Enter Email' /> -->
        <p id='modalMessage'></p>
        <input id="id_email" class='form-control' maxlength="200" name="email" type="email" placeholder="Your Email">
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type='submit' class='btn btn-success' id='sendMarketingForm' />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->