<div class="modal fade" id='marketingModal'>
<form method='POST' action='{% url "evaluation:test_modal" 9 %}' id='sendForm'>
{% csrf_token %} 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <div>
              <p id='message_id_activity_description'></p>
              <label class="col-sm-2 control-label required" for="id_activity_description">Activity description:</label>
              <div class="col-sm-10">
              <textarea class="form-control" cols="40" id="id_activity_description" name="activity_description" rows="10"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <p id='message_id_indicator'></p>
              <label class="col-sm-2 control-label required" for="id_indicator">Indicator:</label>
              <div class="col-sm-10">
              <textarea class="form-control" cols="40" id="id_indicator" name="indicator" rows="10"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="col-sm-2 control-label required">Period goal:</label>
              <div class="col-sm-10">
                <input class="form-control" id="id_period_goal" name="period_goal" step="0.01" type="number" onkeyup="calculate_percentage_goals();" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="col-sm-2 control-label required" for="id_complete_goal">Complete goal:</label>
              <div class="col-sm-10">
              <input class="form-control" id="id_complete_goal" name="complete_goal" step="0.01" type="number" onkeyup="calculate_percentage_goals();" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="col-sm-2 control-label required" for="id_percentage_fulfillment">Percentage fulfillment:</label>
              <div class="col-sm-10">
              <input class="form-control" id="id_percentage_fulfillment" name="percentage_fulfillment" step="0.01" type="number" disabled>
              </div> 
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="col-sm-2 control-label required" for="id_level_fulfillment">Level fulfillment:</label>
              <div class="col-sm-10">
              <input class="form-control" id="id_level_fulfillment" name="level_fulfillment" step="0.01" type="number">
              </div>
            </div>
          </div>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type='submit' class='btn btn-success' id='sendMarketingForm' />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->


<script type="text/javascript">
    
 function calculate_percentage_goals(){
    console.log('intro calculate_percentage_goals');
    var planned_goals = document.getElementById("id_period_goal").value;
    console.log(planned_goals);
    var completed_goals = document.getElementById("id_complete_goal").value;
    console.log(completed_goals);
    var correct = false;
    if( planned_goals !== null && planned_goals.length !== 0 && completed_goals !== null && completed_goals.length !== 0) {
      correct = true;
    }
    console.log('correcto ' + correct)
    var result;
    if(correct){
      result = planned_goals*100/completed_goals;
      document.getElementById("id_percentage_fulfillment").value = result;
      console.log('>>>>>>');
      console.log('=' + result);
    }
    
      //SI(O(I13<0,I13="",H13=""),"",SI(Y(I13>H13),100,(I13*100/H13)))

//SI(O(J13="",J13<0),"",SI(J13>=90.5,5,SI(Y(J13>=80.5,J13<=90.4),4,SI(Y(J13>=70.5,J13<=80.4),3,SI(Y(J13>=60.5,J13<=70.4),2,SI(J13<=60.4,1,""))))))

    }

</script>