{% load crispy_forms_tags %}
<form class="knowledge-form" method='POST' action="/evaluation/knowledge/create/{{ ke.id }}/" id='knowledge-form'>
{% csrf_token %}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Conocimiento</h4>
    </div>
    <div class="modal-body">
       {{form|crispy}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-share"></span> Salir
      </button>
      <button type="submit" class="btn btn-success" name="save" id='sendKnowledgeForm'>
        <span class="glyphicon glyphicon-check"></span> Guardar
      </button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
  
  $('#knowledge-form').on('submit', function() {
        console.log('intro submit');
        $.ajax({ 
            type: $(this).attr('method'), 
            url: this.action, 
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#knowledgeModal').modal('hide');
                console.log(data.status);
                console.log('>>>');
                console.log(data);
                BootstrapDialog.show({
                  type: BootstrapDialog.TYPE_SUCCESS, 
                    title: 'Guardado exitoso.',
                    message: 'El conocimiento ha sido guardado exitosamente.',
                    closable: false,
                    buttons: [ {
                        label: 'Aceptar',
                        action: function(dialog){
                            dialog.close();
                            window.location="/evaluation/personal_evaluation/evaluate/{{ request.session.personal_evaluation }}/";
                        }
                    }]
                });
            },
            //error: function(XMLHttpRequest, textStatus, errorThrown) {
            error: function(data, status) {
              //$('#knowledgeModal').html(data);
              $('#knowledgeModal').html(data.responseText);
              console.log(data.status);
              console.log('>>>');
              console.log(data.responseText);
            }
        });
        return false;
    });

</script>