<div class="modal fade" id='marketingModal'>
<form method='POST' action='{% url "ajax_email_signup" %}' id='sendForm'>{% csrf_token %} 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <!-- <input class='form-control' type='text' placeholder='Enter Email' /> -->
        <p id='modalMessage'></p>
        <input id="id_email" class='form-control' maxlength="200" name="email" type="email" placeholder="Your Email">
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type='submit' class='btn btn-success' id='sendMarketingForm'/>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->

 {% include "modal.html" %}


  <script>
      $(document).ready(function(){

        //{% if not request.user.is_authenticated and not request.session.email_added_marketing and not "accounts" in request.get_full_path %}
        function showModal(){
          $("#marketingModal").modal("show");
          // setTimeout(showModal, 5000);
        }
        // showModal()
        setTimeout(showModal, 5000);
        $("#sendMarketingForm").click(function(e){
          e.preventDefault()
          var mForm = $("#sendForm").serialize()
         $.ajax({
              type: "POST",
              url: "{% url 'ajax_email_signup' %}",
              data: mForm,
              success: function(data){
                // console.log(data)
                $("#modalMessage").html("<p>" + data + "</p>")
                 $("#marketingModal").modal("hide");
              },
              error: function(data){
                // console.log(data)
                // console.log(data.responseJSON)
                var obj = data.responseJSON
                // console.log(obj)
                // console.log(obj.email)
                $("#modalMessage").html("<p style='color:red;'>" + obj.email + "</p>")
              },
           });
        });
        //{% endif %}
        
    });
  </script>