{% extends "app/base_site.html" %}
{% load staticfiles %}

{% block title %}
    Evaluación de desempeño
{% endblock %}

{% block heading %}
    {% include "messages.html" %}

    <div style="margin: 10px;">
        <p class="titulo-form">EVALUACIONES DE DESEMPEÑO:</p>
    </div>
    <p>
        <!-- <a href="{% url "evaluation:performance_evaluation_create" %}" class="btn btn-info">
    <span class="glyphicon glyphicon-plus"></span> Nuevo -->
        </a>
    </p>
    <hr/><br/>

{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Output table -->

        <div class="row">

            <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                <tr>
                    <th class="col-md-1">Año</th>
                    <th class="col-md-2">Fecha inicio</th>
                    <th class="col-md-2">Fecha fin</th>
                    <th class="col-md-2">Estado</th>
                    <th class="col-md-2">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for evaluation in  page_obj %}
                    <tr>
                        <td class="col-md-1">{{ evaluation.year }}</td>
                        <td class="col-md-2">{{ evaluation.start_date }}</td>
                        <td class="col-md-2">{{ evaluation.end_date }}</td>
                        <td class="col-md-2">{{ evaluation.get_state_display }}</td>
                        <td class="col-md-2">
                            <a href="{% url "evaluation:personal_eval_to_evaluate_all" evaluation.id %}">
                                Visualizar </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pagination controls -->
        {% include 'snippets/pagination.html' %}
    </div>
{% endblock %}