{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Evaluaciones de desempeño
{% endblock %}

{% block heading %}

{% include "messages.html" %}

  <div style="margin: 10px;">
    <p class="titulo-form">EVALUACIONES DE DESEMPEÑO:</p>
  </div>

  <hr/><br/>


{% endblock %}

{% block content %}
<form method="GET" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="required col-lg-1 control-label" for="id_inst_unit">Unidad:</label>
    <div class="col-lg-5">
      <select id="id_inst_unit" name="inst_unit" class="form-control">
        {% for key, value in list_inst_unit %}
           <option value="{{ key }}"
          {% if key == inst_unit %}selected="selected"{% endif %}>
          {{ value }}
          </option>
        {% endfor %}
      </select>
    </div>
    <label class="required col-lg-1 control-label" for="id_year">Año:</label>
    <div class="col-lg-5">
      <input id="id_year" name="year" maxlength="4" type="text" class="form-control"
      placeholder="Año de evaluación" value="{{ year }}">
    </div>
  </div>
  <div class="form-group">
    <label class="required col-lg-1 control-label" for="id_evaluation">Identificación:</label>
    <div class="col-lg-5">
      <input id="id_identification" name="identification" maxlength="4" type="text" class="form-control"
      	placeholder="Identificación" value="{{ identification }}">
    </div>
    <label class="required col-lg-1 control-label" for="id_evaluation">Nombres:</label>
    <div class="col-lg-5">
      <input id="id_names" name="names" maxlength="15" type="text" class="form-control"
      	placeholder="Nombres o apellidos" value="{{ names }}">
    </div>
  </div>

	<div class="form-group">
    <label class="required col-lg-1 control-label" for="id_state">Estado:</label>
    <div class="col-lg-5">
      <select id="id_state" name="state" class="form-control">
        {% for key, value in list_states.items %}
           <option value="{{ key }}"
          {% if key == state %}selected="selected"{% endif %}>
          {{ value }}
          </option>
        {% endfor %}
      </select>
    </div>
    <label class="required col-lg-1 control-label" for="id_score">Valoración:</label>
    <div class="col-lg-5">
      <select id="id_score" name="score" class="form-control">
        {% for key, value in list_scores.items %}
           <option value="{{ key }}"
          {% if key == score %}selected="selected"{% endif %}>
          {{ value }}
          </option>
        {% endfor %}
      </select>
    </div>
  	</div>
  <div class="form-group">
  <div class="col-lg-offset-1 col-lg-10">
      <button type="submit" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span> Buscar
      </button>
    </div>
  </div>
</form>

<!-- Output table -->

  <div class="row">

    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th class="col-md-3">Unidad institucional</th>
          <th class="col-md-1">Evaluación</th>
          <th class="col-md-1">Identificación</th>
          <th class="col-md-3">Nombres</th>
          <th class="col-md-1">Estado</th>
          <th class="col-md-1">Calificación</th>
          <th class="col-md-1">Acciones</th>
        </tr>
      </thead>
      <tbody>
      {% for person_eval in  object_list %}
        <tr>
          <td class="col-md-2">{{ person_eval.institutional_unit_evaluation.institutional_unit.institutional_unit }}</td>
          <td class="col-md-1">{{ person_eval.institutional_unit_evaluation.performance_evaluation.year }}</td>
          <td class="col-md-1">{{ person_eval.evaluated.person.cedula }}</td>
          <td class="col-md-2">{{ person_eval.evaluated.person.name }} {{ person_eval.evaluated.person.lastname }} </td>
          <td class="cold-md-1">{{ person_eval.get_state_display }}</td>
          <td class="col-md-1">{{ person_eval.final_evaluation_percentage }}</td>
          <td class="col-md-2">
          {% if person_eval.state != 'GENERATED' %}
            <!-- <a href="{% url "evaluation:personal_evaluation_view" person_eval.id %}"><span class="glyphicon glyphicon-eye-open"></span> Visualizar</a> -->
            <a href="{% url "evaluation:personal_evaluation_view" person_eval.id %}" title="Visualizar" class="btn btn-warning glyphicon glyphicon-eye-open"></a>
          {% endif %}
          <a style="display:none;" href="{% url "evaluation:simple_upload" %}">Simple Upload</a>
          {% if person_eval.state == 'FINALIZED' %}
            <!-- | <a href="{% url "evaluation:personal_evaluation_report" person_eval.id %}">
                <span class="glyphicon glyphicon-cloud-download"></span> Generar reporte
              </a> | -->
              <a href="{% url "evaluation:personal_evaluation_report" person_eval.id %}" title="Descargar evaluación" class="btn btn-success glyphicon glyphicon-cloud-download"></a>
            {% if not person_eval.report %}
              <!-- | <a href="{% url "evaluation:model_form_upload" person_eval.id %}">
                  <span class="glyphicon glyphicon-cloud-upload"></span> Adjuntar documento
                </a> -->
              <a href="{% url "evaluation:model_form_upload" person_eval.id %}" title="Adjuntar archivo" class="btn btn-primary glyphicon glyphicon-cloud-upload"></a>
            {% else %}
              <!-- | <a href="{% url "evaluation:model_form_upload_edit" person_eval.id person_eval.report.id %}">
                  <span class="glyphicon glyphicon-cloud-upload"></span> Modificar documento
                </a> -->
              <a href="{% url "evaluation:model_form_upload_edit" person_eval.id person_eval.report.id %}" title="Editar archivo" class="btn btn-primary glyphicon glyphicon-cloud-upload"></a>
            {% endif %}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<!-- Pagination controls -->
{% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?inst_unit={{ inst_unit }}&year={{ year }}&identification={{ identification }}&names={{ names }}&page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?inst_unit={{ inst_unit }}&year={{ year }}&identification={{ identification }}&names={{ names }}&page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?inst_unit={{ inst_unit }}&year={{ year }}&identification={{ identification }}&names={{ names }}&page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

 <!-- Modal -->
  <div class="modal fade" id="initiate-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Está seguro que desea <strong>Iniciar</strong> la evaluación de desempeño?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a href="#" id="initiate-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="finalize-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Está seguro que desea <strong>Finalizar</strong> la evaluación de desempeño?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a href="#" id="finalize-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- Modal -->
  <div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Está seguro que desea eliminar la Evaluación de Desempeño seleccionada?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a href="#" id="delete-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block javascript %}
  <script>

      $(".initiate-btn").click(function() {
        console.log('intro >>>')
        $("#initiate-confirm-btn").attr("href", $(this).attr("href"));
        $("#initiate-confirm-modal").modal('toggle');
        return false;
      });

      $(".finalize-btn").click(function() {
        console.log('intro >>>');
        $("#finalize-confirm-btn").attr("href", $(this).attr("href"));
        $("#finalize-confirm-modal").modal('toggle');
        return false;
      });

       $(".delete-btn").click(function() {
        console.log('intro >>>');
        $("#delete-confirm-btn").attr("href", $(this).attr("href"));
        $("#delete-confirm-modal").modal('toggle');
        return false;
      });

  </script>
{% endblock %}