{% extends "base.html" %}
{% load evaluation_extras  %}

{% load staticfiles %}

{% block title %}
  Evaluación de desempeño
{% endblock %}

{% block heading %}
 
  {% include "messages.html" %}
  
  <div style="margin: 10px;">
    <p class="titulo-form">EVALUACIONES DEL PERSONAL A CARGO:</p>
  </div> 
  <p>
    <a  href="{% url "evaluation:performance_eval_to_evaluate"%}" class="btn btn-info">
      <span class="glyphicon glyphicon-chevron-left"></span> Regresar
    </a>
  </p>
  <hr/><br/>

{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" >
  <div class="form-group">
    <label class="required col-lg-1 control-label" for="id_search_data">Identificación:</label>
    <div class="col-lg-5">
    <input class="form-control" id="id_search_data" name="search_data" type="text" placeholder="Identificación o nombres" value="{{ search_data }}" pattern="{5}">
    </div>
  </div>
  <div class="form-group">
  
  <div class="col-lg-offset-1 col-lg-10">
    <button type="submit" class="btn btn-info">
      <span class="glyphicon glyphicon-search"></span> Buscar
    </button>
    </div>
  </div>
</form>

<!-- Output table -->
  
  <div id="progress" style="display: none;" >Please wait while the page is loading.</div>

  <div class="row">

    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Departamento</th>
          <th>Evaluado</th>
          <th>Calificación</th>
          <!-- <th>Período desde</th>
          <th>Período hasta</th> -->
          <th>Estado</th> 
          <th>Acciones</th>
        </tr>
      </thead>  
      <tbody>
      {% for evaluation in page_obj %}
        <tr>
          <td>{{ evaluation.contract.department }}</td>
          <td>{{ evaluation.evaluated.person }}</td>
          <td>{{ evaluation.final_evaluation_percentage }}</td>          
        <!--   <td>{{ evaluation.period_from }}</td>
          <td>{{ evaluation.period_to }}</td> -->
          <td>{{ evaluation.get_state_display }}</td>
          <td> 
          
          {% if evaluation.state == "GENERATED" %}
              <a class="initiate-btn text-warning" id="initiate-{{ obj.id }}" 
                href="{% url "evaluation:personal_evaluation_generate" evaluation.pk %}" title="initiate">Iniciar</a>
              <a href="{% url "evaluation:personal_eval_update" evaluation.pk %}"> | Editar</a>
          {% elif evaluation.state == "INITIATED" %}
              <a href="{% url "evaluation:personal_evaluation_evaluate" evaluation.pk %}">Evaluar </a>
              <a class="finalize-btn text-warning" id="finalize-{{ evaluation.pk }}" 
                href="{% url "evaluation:finalize_person_eval" evaluation.id %}" title="finalize" > | Finalizar</a>
          {% endif %}
          </td>
          <!--<td>  <a href="{% url "evaluation:performance_evaluation_detail" evaluation.id %}">Ver</a> | 
                <a href="{% url "evaluation:performance_evaluation_edit" evaluation.id %}">Editar</a> | 
                <a href="{% url "evaluation:performance_evaluation_delete" evaluation.id %}">Borrar</a>  </td>
        </tr>-->
      {% endfor %}
      </tbody>
    </table>
  </div>

<!-- Pagination controls -->
{% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?insitutional_unit_eval={{ insitutional_unit_eval }}&identification={{ identification }}&page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?insitutional_unit_eval={{ insitutional_unit_eval }}&identification={{ identification }}&page={{ page }}">{{ page }}</a>
        </li>insitutional_unit_eval
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?insitutional_unit_eval={{ insitutional_unit_eval }}&identification={{ identification }}&page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

 <!-- Modal -->
  <div class="modal fade" id="initiate-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Está seguro que desea <strong>Iniciar</strong> la evaluación?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a href="#" id="initiate-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="finalize-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Está seguro que desea <strong>Finalizar</strong> la evaluación personal seleccionada?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a href="#" id="finalize-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


{% endblock %}

{% block javascript %}
  <script>

/*    function validar(){
      console.log("intro validar");
      nombre=document.getElementById("id_search_data").value;
      console.log(nombre);
      if (nombre.length<6){
        console.log(false);
        alert('Mínimo 6 caracteres');
        return false;
      }
      else {
        console.log(true);
        
        return true;
      }
    }*/

     $(".initiate-btn").click(function() {
        console.log('intro >>>')
        $("#initiate-confirm-btn").attr("href", $(this).attr("href"));
        $("#initiate-confirm-modal").modal('toggle');
        return false;
      });

    $('#btn_generate').on('click', function(){   
      /*$.ajax('/evaluation/personal_evaluation/generate/', {                          
        success: function(response){   
          console.log("respuesta:");
          console.log(response);
          location.reload();
        },
        type: 'GET',      
      });*/
      $.ajax({
        url:url,
        data:data,
        success:succes,
        dataType:dateType
      });
    });


      $(".finalize-btn").click(function() {
        console.log('intro >>>');
        $("#finalize-confirm-btn").attr("data-form", $(this).attr("href"));
        $("#finalize-confirm-modal").modal('toggle');
        return false;
      });

      $("#finalize-confirm-btn").click(function(ev){
        console.log('>>> intro');        
        var url = $(this).attr('data-form');
        console.log('>>> ' + url);
        $.ajax({
          type:'GET',
          url: url,
          dataType: "json",
          async: true,
          data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(json){
            console.log(json.message);
            $('#output').html(json.message);
            $("#finalize-confirm-modal").modal('hide');
            /*window.location = "{% url 'evaluation:personal_eval_to_evaluate_all' perform_eval.pk %}";*/
          }
        });
      });

  </script>

{% endblock %}