{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
   	<div class="page-header" style="margin: 20px;">
		<p class="titulo-form">EVALUACIÓN PERSONAL:</p>
	</div>  
{% endblock %}

{% block content %}
	<form id="my-form" class="form-horizontal" method="post">
	   	{% csrf_token %}
		{% for field in form.visible_fields %}
		    <div class="form-group">
		      {{ field.errors }}
		      <label class="col-sm-3 control-label" for="{{ field.name }}">{{ field.label }}</label>
		        <div class="col-sm-8">
		      {{ field|addclass:'form-control' }}
		      </div>
		    </div>
		{% endfor %}

		<div class="form-group">
	    	<button type="submit" class="btn btn-success" name="save">
		    	<span class="glyphicon glyphicon-check"></span> Guardar
		    </button>
		 	<a href="{% url "evaluation:personal_eval_to_evaluate_all" %}?perform_eval={{ perform_eval.id }}" class="btn btn-default" >
		 		<span class="glyphicon glyphicon-share"></span> Salir
		 	</a>
		</div>

	</form>
{% endblock %}

{% block javascript %}
	 <script>    	
	 	document.getElementById("id_evaluated").disabled = true;
	 	document.getElementById("id_job_management_indicators").disabled = true;
	 	document.getElementById("id_knowledge").disabled = true;
	 	document.getElementById("id_technical_competence").disabled = true;
	 	document.getElementById("id_universal_competence").disabled = true;
	 	document.getElementById("id_teamwork").disabled = true;
	 	document.getElementById("id_evaluation_citizens").disabled = true;
	 	document.getElementById("id_final_evaluation_percentage").disabled = true;
	 	document.getElementById("id_final_evaluation_result").disabled = true;
		
		$('#my-form').submit(function() {
			console.log('>>> intro submit')
		    document.getElementById("id_evaluated").disabled = false;
		    document.getElementById("id_job_management_indicators").disabled = false;
		    document.getElementById("id_knowledge").disabled = false;
		    document.getElementById("id_technical_competence").disabled = false;
		    document.getElementById("id_universal_competence").disabled = false;
		    document.getElementById("id_teamwork").disabled = false;
		    document.getElementById("id_evaluation_citizens").disabled = false;
		    document.getElementById("id_final_evaluation_percentage").disabled = false;
		    document.getElementById("id_final_evaluation_result").disabled = false;
		});

	 	$("#id_immediate_superior").select2({
  			language: "es"
		});

		$("#id_institutional_unit_director").select2({
			language: "es"
		});
		
    </script>
{% endblock %}