{% load crispy_forms_tags %}
<form class="teamwork_form" method='POST' action="/evaluation/teamwork/create/{{ teamwork_eval.id }}/" id='teamwork_form'>
{% csrf_token %}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Aptitud</h4>
    </div>
    <div class="modal-body">
      {% include "messages.html" %}
      <div id="alerts"></div>
      <input type="hidden" id="id_performance_eval" name="performance_eval" value="{{ performance_eval.id }}">
       {{form|crispy}}
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-share"></span> Salir
      </button>
       <button type="submit" class="btn btn-success" name="save" id='submit_teamwork_form'>
        <span class="glyphicon glyphicon-check"></span> Guardar
      </button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
    document.getElementById('div_id_catalog_teamwork').setAttribute('style','display:none;');

   $('#teamwork_form').on('submit', function() {
        console.log('intro submit');
        $.ajax({ 
            type: $(this).attr('method'), 
            url: this.action, 
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#teamwork_modal').modal('hide');
                console.log(data.status);
                console.log('>>>');
                console.log(data);

                BootstrapDialog.show({
                  type: BootstrapDialog.TYPE_SUCCESS, 
                    title: 'Guardado exitoso.',
                    message: 'La actividad ha sido guardado exitosamente.',
                    closable: false,
                    buttons: [ {
                        label: 'Aceptar',
                        action: function(dialog){
                            dialog.close();
                            window.location="/evaluation/personal_evaluation/evaluate/" + personal_eval_id + "/";
                        }
                    }]
                });
            },
            //error: function(XMLHttpRequest, textStatus, errorThrown) {
            error: function(data, status) {
              //$('#knowledgeModal').html(data);
              $('#teamwork_modal').html(data.responseText);
              console.log(data.status);
              console.log('>>>');
              console.log(data.responseText);
              
            }
        });
        return false;
    });

  // $("textarea[name='observable_behavior']").keyup(function () {
  //      calculate_percentage_activity();
  //  });

    //document.getElementById("id_percentage_fulfillment").readOnly = true;
    //document.getElementById("id_level_fulfillment").readOnly = true;

     $("#id_relevance").change(function(e) {
      //alert( "Handler for .select() called." );
      search_observable_behavior(e);
    });

    $("#id_ability").change(function(e) {
      //alert( "Handler for .select() called." );
      search_observable_behavior(e);
    });

    document.getElementById("id_observable_behavior").readOnly = true;

  /*$("#id_observable_behavior").keyup(function() {
    alert( "Handler for .select() called." );
  });*/

    function search_observable_behavior(e){
      e.preventDefault();
      console.log('>>>  intro search_observable_behavior');
      //Collect data from fields
      //var sel_skill = document.getElementById("id_skill");
      //sel_skill = sel_skill.options[sel_skill.selectedIndex].value;

      var sel_ability = $("#id_ability").val();
      var sel_relevance = $("#id_relevance").val();
      console.log(sel_ability + ' - ' + sel_relevance);
      var correct = false;
      if( sel_ability !== null && sel_ability.length !== 0 && sel_relevance !== null && sel_relevance.length !== 0) {
        correct = true;
      }
      var result = null;
      if(correct){
        //This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post
        //Send data  
          $.ajax({
               url : '/evaluation/catalog_teamwork/', // the endpoint,commonly same url
               type : "POST", // http method
               data : {
                sel_performance_eval: performance_eval_id,
                sel_ability : sel_ability,
                sel_relevance : sel_relevance
          }, // data sent with the post request
          // handle a successful response
          success : function(json) {
          console.log(json); // another sanity check
          //On success show the data posted to server as a message
            //alert('Hi   '+json['email'] +'!.' + '  You have entered password:'+ json['password']);
          console.log(json.fields['observable_behavior'])
          console.log(json.pk)
          document.getElementById('id_catalog_teamwork').value = json.pk;
          $("#id_observable_behavior").val(json.fields['observable_behavior']);

          },
          // handle a non-successful response
          error : function(xhr,errmsg,err) {
          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
          });      

          //var porcentage_compliance = calculate_percentage_compliance();
          //console.log('>>> ' +porcentage_compliance);
          //var level_compliance = calculate_level_compliance(porcentage_compliance);
          //$("#id_percentage_fulfillment").val(porcentage_compliance);
          //$("#id_level_fulfillment").val(level_compliance);

      }
      return false;
    }

</script>