{% load crispy_forms_tags %}
<form class="technical_competence_form" method='POST' action="/evaluation/technical_competence/create/{{ technical_c_eval.id }}/" id='technical_competence_form'>
{% csrf_token %}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Competencia técnica</h4>
    </div>
    <div class="modal-body">
      {% include "messages.html" %}
      <div id="alerts"></div>
      <input type="hidden" id="id_performance_eval" name="performance_eval" value="{{ performance_eval.id }}">
      {{form|crispy}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-share"></span> Salir
      </button>
       <button type="submit" class="btn btn-success" name="save" id='submit_technical_competence_form'>
        <span class="glyphicon glyphicon-check"></span> Guardar
      </button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</form>
<script type="text/javascript">
    
    document.getElementById("div_id_catalog_technical_competence").setAttribute('style','display:none;');

    $('#technical_competence_form').on('submit', function() {
        console.log('intro submit');
        $.ajax({ 
            type: $(this).attr('method'), 
            url: this.action, 
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#technical_competence_modal').modal('hide');
                console.log(data.status);
                console.log('>>>');
                console.log(data);

                BootstrapDialog.show({
                  type: BootstrapDialog.TYPE_SUCCESS, 
                    title: 'Guardado exitoso.',
                    message: 'La actividad ha sido guardado exitosamente.',
                    closable: false,
                    buttons: [ {
                        label: 'Aceptar',
                        action: function(dialog){
                            dialog.close();
                            window.location="/evaluation/personal_evaluation/evaluate/" + personal_eval_id + "/";
                        }
                    }]
                });
            },
            //error: function(XMLHttpRequest, textStatus, errorThrown) {
            error: function(data, status) {
              //$('#knowledgeModal').html(data);
              $('#technical_competence_modal').html(data.responseText);
              console.log(data.status);
              console.log('>>>');
              console.log(data.responseText);
              
            }
        });
        return false;
    });

  // $("textarea[name='observable_behavior']").keyup(function () {
  //      calculate_percentage_activity();
  //  });

    document.getElementById("id_observable_behavior").readOnly = true;
    //document.getElementById("id_level_fulfillment").readOnly = true;

     $("#id_relevance").change(function(e) {
      //alert( "Handler for .select() called." );
      calculate_percentage_activity(e);
    });

    $("#id_skill").change(function(e) {
      //alert( "Handler for .select() called." );
      calculate_percentage_activity(e);
    });


/*  $("#id_observable_behavior").keyup(function() {
    alert( "Handler for .select() called." );
  });*/

    function calculate_percentage_activity(e){
      e.preventDefault();
      console.log('>>>  intro calculate_percentage_activity');
      //Collect data from fields
      //var sel_skill = document.getElementById("id_skill");
      //sel_skill = sel_skill.options[sel_skill.selectedIndex].value;
      var sel_skill = $("#id_skill").val();
      var sel_relevance = $("#id_relevance").val();
      console.log(sel_skill + ' - ' + sel_relevance + ' - ' + performance_eval_id);
      var correct = false;
      if( sel_skill !== null && sel_skill.length !== 0 && sel_relevance !== null && sel_relevance.length !== 0) {
        correct = true;
      }
      var result = null;
      if(correct){
        //Send data  
          $.ajax({
               url : '/evaluation/catalog_tech_comp/', // the endpoint,commonly same url
               type : "POST", // http method
               data : {
                sel_performance_eval: performance_eval_id,
                sel_skill : sel_skill,
                sel_relevance : sel_relevance
          }, // data sent with the post request
          // handle a successful response
          success : function(json) {
            console.log('>>> success'); // another sanity check
            //On success show the data posted to server as a message
            //alert('Hi   '+json['email'] +'!.' + '  You have entered password:'+ json['password']);
            console.log(json.fields['observable_behavior'])
            console.log(json.pk)
            document.getElementById('id_catalog_technical_competence').value = json.pk;
            $("#id_observable_behavior").val(json.fields['observable_behavior']);
          },
          // handle a non-successful response
          error : function(xhr,errmsg,err) {
            console.log('>>> error')
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            console.log(xhr)
             $('#alerts').append(
                '<div class="alert alert-danger fade in">' +
                '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                '<strong>Error! </strong>' + xhr.responseJSON['message'] +
                '</div>');
          }
          });                

          //var porcentage_compliance = calculate_percentage_compliance();
          //console.log('>>> ' +porcentage_compliance);
          //var level_compliance = calculate_level_compliance(porcentage_compliance);
          //$("#id_percentage_fulfillment").val(porcentage_compliance);
          //$("#id_level_fulfillment").val(level_compliance);

      }
      return false;
    }
/*
    function test_ajax(){

        console.log('intro ajax get');
        $.ajax({ 
            type: GET, 
            url: '/menu/2/1/status-ind/', 
            data: {},
            context: this,
            success: function(data, status) {
                $('#technical_competence_modal').modal('hide');
                console.log(data.status);
                console.log('>>>');
                console.log(data);

                BootstrapDialog.show({
                  type: BootstrapDialog.TYPE_SUCCESS, 
                    title: 'Guardado exitoso.',
                    message: 'La actividad ha sido guardado exitosamente.',
                    closable: false,
                    buttons: [ {
                        label: 'Aceptar',
                        action: function(dialog){
                            dialog.close();
                            window.location="/evaluation/personal_evaluation/evaluate/" + personal_eval_id + "/";
                        }
                    }]
                });
            },
            //error: function(XMLHttpRequest, textStatus, errorThrown) {
            error: function(data, status) {
              //$('#knowledgeModal').html(data);
              $('#technical_competence_modal').html(data.responseText);
              console.log(data.status);
              console.log('>>>');
              console.log(data.responseText);
              
            }
        });
        return false;


    }


    function calculate_percentage_compliance(){
      console.log('intro calculate_percentage_goals');
      var planned_goals = $("#id_period_goal").val();
      //console.log(planned_goals);
      var completed_goals = $("#id_complete_goal").val();
      //console.log(completed_goals);
      var correct = false;
      if( planned_goals !== null && planned_goals.length !== 0 && completed_goals !== null && completed_goals.length !== 0) {
        correct = true;
      }
      //console.log('correcto ' + correct)
      var result = null;
      if(correct){
        if(completed_goals > planned_goals){
          result = 100;
        }else{
          result = completed_goals*100/planned_goals;  
        }
      }
//SI(O(I13<0,I13="",H13=""),"",SI(Y(I13>H13),100,(I13*100/H13)))
//SI(O(J13="",J13<0),"",SI(J13>=90.5,5,SI(Y(J13>=80.5,J13<=90.4),4,SI(Y(J13>=70.5,J13<=80.4),3,SI(Y(J13>=60.5,J13<=70.4),2,SI(J13<=60.4,1,""))))))
      console.log('=' + result);
      return result;
    }

  function calculate_level_compliance(result){
    console.log('intro calculate_level_compliance' + result);
    var x = null;
    if(result !== null ){
      if (result >= 90.5){
        x = 5;
      }else if (result >= 80.5 && result <=90.4){
        x=4;
      }else if (result >= 70.5 && result <=80.4){
        x=3;
      }else if (result >= 60.5 && result <=70.4){
        x=2;
      }else{
        x=1;
      }  
    }
    console.log('=' + x);
    return x;
  }
*/

</script>