{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Período contable
{% endblock %}

{% block heading %}

{% for message in messages %}
    <div class = "alert alert-{{ message.tags }} alert-dismissable">
       <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
          &times;
       </button>
       {{ message }}
    </div>

{% endfor %}

<h5> Periódos contables </h5>
<p><a  href="{% url "accounting_finance:accounting_period_create" %}" class="btn btn-info">Nuevo</a></p>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />

{% endblock %}

{% block content %}
<!-- Output table -->
  <div class="row">
    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Código</th>
          <th>Año</th>
          <th>Estado</th>
          <th>Acciones</th>
          <th>Plan de cuentas</th>
          <th>Clasificador presupuestario</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ obj.code }}</td>
          <td>{{ obj.year }}</td>
          <td>{{ obj.get_state_display }}</td>
          <td>
              <a href="{% url "accounting_finance:accounting_period_detail" obj.id %}">Ver</a> |
              <a href="{% url "accounting_finance:accounting_period_edit" obj.id %}">Editar</a> |
              <a class="text-danger" id="accounting-period-{{ obj.id }}"
                        href="#" data-form="/accounting_finance/accounting_period/delete/" title="Crear">Eliminar</a>
          </td>
          <td>
            <a href="{% url "accounting_finance:accounts_plan_all" %}?accounting_period={{  obj.id }}">Ver</a>
          </td>
          <td>
            <a href="#">Ver</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<!-- Pagination controls -->
{% include 'snippets/pagination.html' %}


  <!-- Modal -->
  <div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Está seguro que desea eliminar el período contable seleccionado?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a href="#" id="delete-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block javascript %}
  <script>
    $("a[id^=accounting-period]").click(function(ev) { // for each edit knowledge url
        console.log('intro del activity');
        ev.preventDefault(); // prevent navigation
        var accounting_period_id = $(this).attr('id').split('-')[2];
        var url = $(this).data("form");
        console.log('>>> ' + accounting_period_id);
        BootstrapDialog.show({
            type: BootstrapDialog.TYPE_SUCCESS,
            title: 'Confirmar',
            message: 'Está seguro que desea eliminar el registro',
            closable: false,
            buttons: [ {
                label: 'Aceptar',
                action: function(dialog){
                    $.ajax({
                        type: 'DELETE', // http method
                        url: url, // get the knowledge form url
                        data : {accounting_period_id: accounting_period_id}, // data sent with the delete request
                        context: this,
                        success: function(data, status) {
                            console.log("deletion successful");
                            console.log(data);
                            console.log('>>>');
                            dialog.close();
                            window.location="/apps/accounting_finance/accounting_period/all/";
                        },
                        error: function(data, status) {
                            console.log("deletion error");
                            console.log(data);
                            console.log('>>>');
                            dialog.close();
                            window.location="/apps/accounting_finance/accounting_period/all/";
                        },
                        headers: {'X-HTTP-Method-Override': 'DELETE' }
                    });
                }
            }, {
                label: 'Cerrar',
                action: function(dialog){
                    dialog.close();
                }
            }]
        });
        return false; // prevent the click propagation
    });

     function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

   $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


  </script>
{% endblock %}