{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
  <h4>Plan de cuentas: {{ accounting_period.id }}</h4>
{% endblock %}


{% block content %}

	<form class="form-horizontal" method="post">
	   	<input type="hidden" id="id_accounting_period" name="accounting_period" value="{{ accounting_period.id }}">
	   	{% csrf_token %}

		{% for field in form.visible_fields %}
		    <div class="form-group">
		      {{ field.errors }}
		      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
		        <div class="col-sm-8">
		      {{ field|addclass:'form-control' }}
		      </div>
		    </div>
		{% endfor %}
	    <div class="form-group">
	    	<input type="submit" class="btn btn-sm btn-success" value="Guardar" name="save">
		 	<a href="{% url "accounting_finance:accounts_plan_all" %}?accounting_period={{ accounting_period.pk }}" class="btn btn-sm btn-default">Salir</a>
		 	<a style="display: none" href="{% url "accounting_finance:accounts_plan_all" %}?accounting_period={{ accounting_period.pk }}" class="btn btn-sm btn-default">Finalizar</a>
		</div>
	</form>
{% endblock %}

{% block javascript %}
	 <script>
    	
    </script>
{% endblock %}