{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
  <h4>Periódo contable:</h4>
{% endblock %}

{% block content %}
	<form class="form-horizontal" method="post">
	   	{% csrf_token %}

		{% for field in form.visible_fields %}
		    <div class="form-group">
		      {{ field.errors }}
		      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
		        <div class="col-sm-8">
		      {{ field|addclass:'form-control' }}
		      </div>
		    </div>
		{% endfor %}
	    <div class="form-group">
	    	<input type="submit" class="btn btn-sm btn-success" value="Guardar" name="save">
		 	<a href="{% url "accounting_finance:accounting_period_all" %}" class="btn btn-sm btn-default" >Regresar</a>
		</div>
	</form>
{% endblock %}

{% block javascript %}
	 <script>
    	var start_date=$('input[name="start_date"]'); //our date input has the name "date"
    	var options={
        	format: 'dd/mm/yyyy',
        	orientation:"bottom",
        	todayHighlight: true,
        	autoclose: true,
        	language: "es",
    	};
    	start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
    	var end_date=$('input[name="end_date"]'); //our date input has the name "date"
    	end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
    </script>
{% endblock %}