{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Cuentas contables:
{% endblock %}

{% block heading %}
<h5> Cuentas contables </h5>
<p>
  <a href="{% url "accounting_finance:accounting_account_create" %}?accounts_plan={{ accounts_plan.pk }}" class="btn btn-info">Nuevo</a>
  <a href="{% url "accounting_finance:accounts_plan_all" %}?accounting_period={{ accounts_plan.accounting_period.pk }}" class="btn btn-info pull-right">Regresar</a>
</p>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
{% endblock %}

{% block content %}
<!-- Output table -->
  <div class="row">
    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>  
      <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ obj.code }}</td>          
          <td>{{ obj.name }}</td>
          <td>{{ obj.type }}</td>
          <td>{{ obj.state }}</td>
          <td> 
          <a href="{% url "accounting_finance:accounting_account_tree" %}" class="btn btn-info">Test</a>
          <a href="{% url "accounting_finance:accounting_account_edit" %}?accounts_plan={{ accounts_plan.pk }}&accounting_account={{ obj.id }}" class="btn btn-info">Edit</a> |
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<!-- Pagination controls -->
{% include 'snippets/pagination.html' %}

{% endblock %}