{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
{% endblock %}

{% block content %}
	<div>
      <h1>{{ accounts_plan.name }}</h1>
       <div class="row">
        <div class="col-sm-5">
          <h2></h2>
          <div class="form-group">
              <a id="btn-create" href="{% url "accounting_finance:accounting_account_create" %}?accounts_plan={{ accounts_plan.pk }}" class="btn btn-info">Nuevo</a>
               <a href="{% url "accounting_finance:accounts_plan_all" %}?accounting_period={{ accounts_plan.accounting_period.pk }}" class="btn btn-info">Regresar</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
           <div class="form-group">
                <label for="input-search-aux" class="">Buscar cuentas:</label>
                <input type="input" class="form-control" id="input-search-aux" placeholder="Type to search..." value="">
            </div>
            <h2>Cuentas</h2>
            <div id="treeview12" class="treeview"></div>
        </div>
        <div id="test-div" style="margin-left:2cm; display:none;" class="span12 col-sm-5">
          <h2>Cuenta contable</h2>
          <form id="treeview13">
          </form>  
        </div>
      </div>
    </div>
{% endblock %}

{% block javascript %}
 	<script type="text/javascript">
        var test_json = data_json();
        console.log('>>>>>>>>>>>>>>')
        console.log(test_json);

       /* var $tree = $('#treeview12').treeview({
        	showTags: true,
        	enableLinks: true,
          	data: test_json,
        });*/

        var initSelectableTreeView12 = function() {
          return $('#treeview12').treeview({
            levels: 1,
            enableLinks: true,
            data: test_json,
            multiSelect: $('#chk-select-multi').is(':checked'),
            onNodeSelected: function(event, node) {
          //$('#treeview13').prepend('<p>' + node.text + ' was selected</p>');
            //document.getElementById("treeview13").innerHTML = "";
            $("#treeview13").empty();
            var node_id = node.href.split('#')[1];
            console.log('>>> id ' + node.href + ' - ' + node_id);
             var obj_json = aa_json(node_id);
             console.log(obj_json)
            $("#test-div").show();
            var l_parent = '<div class="form-group">' +
                  '<label class="">Cuenta contable padre</label>' +
                  '<p class="form-control">' +obj_json.fields['parent'] +'</p>' +
                  '</div>';
            var l_code = '<div class="form-group">' +
                  '<label class="">Código</label>' +
                  '<p class="form-control">' +obj_json.fields['code']+ '</p>' +
                  '</div>';
            var l_name = '<div class="form-group">' +
                  '<label class="">Nombre</label>' +
                  '<p class="form-control">' + obj_json.fields['name'] + '</p>' +
                  '</div>';
            var l_include_jornalization = '<div class="form-group">' +
                  '<label class="">Incluir en jornalización</label>' +
                  '<p class="form-control">' + obj_json.fields['include_jornalization'] + '</p>' +
                  '</div>';
            var l_level = '<div class="control-group">' +
                  '<label class="control-label">Nivel</label>' +
                  '<p class="form-control">' + obj_json.fields['level'] + '</p>' +
                  '</div>';
            var l_movement = '<div class="control-group">' +
                  '<label class="control-label">Cuenta de movimiento</label>' +
                  '<p class="form-control">' + obj_json.fields['movement'] + '</p>' +
                  '</div>';
            var l_print = '<div class="control-group">' +
                  '<label class="control-label">Imprimir</label>' +
                  '<p class="form-control">' + obj_json.fields['print'] + '</p>' +
                  '</div>';
            var l_order_print = '<div class="control-group">' +
                  '<label class="control-label">Orden de impresión</label>' +
                  '<p class="form-control">' + obj_json.fields['order_print'] + '</p>' +
                  '</div>';
            var l_state = '<div class="control-group">' +
                  '<label class="control-label">Estado</label>' +
                  '<p class="form-control">' + obj_json.fields['state'] + '</p>' +
                  '</div>';
            var l_type = '<div class="control-group">' +
                  '<label class="control-label">Tipo</label>' +
                  '<p class="form-control">' + obj_json.fields['type'] + '</p>' +
                  '</div>';
            var url_edit = "{% url "accounting_finance:accounting_account_edit" %}?accounts_plan={{ accounts_plan.pk }}&accounting_account=" + node_id; 
            var l_buttons = '<div class="control-group">' +
                  '<a href="' + url_edit + '" class="btn btn-info">Edit</a>'+
                  '<button type="button" class="btn btn-danger" id="btn-delete">Eliminar</button>'+
                  '<button type="button" class="btn btn-primary" id="btn-exit"  onclick="myFunction();">Salir</button>'+
                  '</div>';
              $('#treeview13').prepend(l_buttons);
              $('#treeview13').prepend(l_include_jornalization);
              $('#treeview13').prepend(l_level);
              $('#treeview13').prepend(l_movement);
              $('#treeview13').prepend(l_print);
              $('#treeview13').prepend(l_order_print);
              $('#treeview13').prepend(l_state);
              $('#treeview13').prepend(l_type);
              $('#treeview13').prepend(l_name);
              $('#treeview13').prepend(l_code);
              $('#treeview13').prepend(l_parent);              
            },
            /*onNodeUnselected: function (event, node) {
              $('#treeview13').prepend('<p>' + node.text + ' was unselected</p>');
            }*/
          });
        };
        var $selectableTreeView12 = initSelectableTreeView12();


        function data_json(){
        	var mi_var;
          var url = "/accounting_finance/aa_list_json/?accounts_plan={{ accounts_plan.id }}"; 
        	console.log('>>> data_json >>> ' + url);
           $.ajax({
			    url: url,
			    dataType: "json",
			    async: false, 
			    context: document.body
			}).done(function (res) {
			    var jsondata = res;
			    mi_var = res;
			    console.log('>>> done');
			    console.log(jsondata);
			   //return res;
			});
			console.log(mi_var);
			return mi_var;
        }

    function aa_json(aa_id){
        console.log('intro >>> aa_id');
          var mi_var;
          var url = "/accounting_finance/aa_object_json/?accounting_account=" + aa_id; 
          $.ajax({
            type: "GET",  
            url: url,
            dataType: "json",
            async: false, 
            context: document.body
          }).done(function (res) {
            var jsondata = res;
            mi_var = res;
      });
      return mi_var;
    }
  	
    $("#btn-test" ).click(function() {
      alert( "Handler for .click() called." );
    });

    /*document.getElementById("btn-exit").addEventListener("click", myFunction);*/

    function myFunction() {
        /*document.getElementById("demo").innerHTML = "YOU CLICKED ME!";*/
        /*alert( "Handler for .click() called." );*/
        $("#treeview13").empty();
        $( "#test-div" ).hide();
    }

     var search_aux = function(e) {
          var pattern = $('#input-search-aux').val();
          var options = {
            ignoreCase: true,
            revealResults: true
          };
          var results = $selectableTreeView12.treeview('search', [ pattern, options ]);
        }

        $('#input-search-aux').on('keyup', search_aux);

  	</script>
{% endblock %}