{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Plan de cuentas:
{% endblock %}

{% block heading %}

{% for message in messages %}
    <div class = "alert alert-{{ message.tags }} alert-dismissable">
       <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
          &times;
       </button>

        {% if message.tags == "success" %}
          <strong>Correcto!</strong> {{ message }}
        {% endif %}

        {% if message.tags == "danger" %}
          <strong>Error!</strong> {{ message }}
        {% endif %}

    </div>

  {% endfor %}

<h5> Plan de cuentas </h5>
<p>
  <a  href="{% url "accounting_finance:accounts_plan_create" %}?accounting_period={{  accounting_period.pk }}" class="btn btn-info">Nuevo</a>
  <a  href="{% url "accounting_finance:accounting_period_all" %}" class="btn btn-info pull-right">Regresar</a>
</p>

<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
{% endblock %}

{% block content %}
<!-- Output table -->
  <div class="row">
    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Acciones</th>
          <th>Cuentas contables</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ obj.code }}</td>
          <td>{{ obj.name }}</td>
          <td>{{ obj.get_state_display }}</td>
          <td>
               <a href="{% url "accounting_finance:accounts_plan_detail" %}">Ver</a> |
              <a href="{% url "accounting_finance:accounts_plan_edit" %}?accounting_period={{ accounting_period.pk }}&accounts_plan={{  obj.id }}" class="btn btn-info">Editar</a> |
              <a class="delete-btn btn btn-danger" id="del-accounts-plan-{{ obj.id }} "
                href="{% url "accounting_finance:accounts_plan_delete" obj.id %}">Eliminar</a>
          </td>
          <td>
            <a style="display:none" href="{% url "accounting_finance:accounting_account_all" %}?accounts_plan={{ obj.id }}">Ver</a>
            <a href="{% url "accounting_finance:accounting_account_tree" %}?accounts_plan={{ obj.id }}" class="btn btn-info">Visualizar</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>




<!-- Pagination controls -->
{% if object_list|length > 0  %}
  {% if is_paginated %}
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li>
            <a href="?accounting_period={{ accounting_period.pk }}&page={{ page_obj.previous_page_number }}">
              <span>Previous</span>
            </a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#">
              <span>Previous</span>
            </a>
          </li>
        {% endif %}

        {% for page in paginator.page_range %}
          <li {% if page == page_obj.number %}class="active"{% endif %}>
            <a href="?accounting_period={{ accounting_period.pk }}&page={{ page }}">{{ page }}</a>
          </li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li>
            <a href="?accounting_period={{ accounting_period.pk }}&page={{ page_obj.next_page_number }}">
              <span>Next</span>
            </a>
          </li>
        {% else %}
          <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
            <a href="#">
              <span>Next</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

{% endif %}



 <!-- Modal -->
  <div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Está seguro que desea eliminar el plan de cuentas seleccionado?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a href="#" id="delete-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block javascript %}

  <script type="text/javascript">

  $(".delete-btn").click(function() {
    console.log(">>> intro delete-bnt");
    $("#delete-confirm-btn").attr("href", $(this).attr("href"));
    $("#delete-confirm-modal").modal('toggle');
    return false;
  });

  </script>


{% endblock %}