{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Plan de cuentas
{% endblock %}

{% block heading %}

<h5> Plan de cuentas </h5>
<p><a  href="{% url "accounting_finance:accounts_plan_create" %}?accounting_period={{  accounting_period.pk }}" class="btn btn-info">Nuevo</a></p>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
{% endblock %}

{% block content %}
<!-- Output table -->
  <div class="row">
    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ obj.code }}</td>
          <td>{{ obj.name }}</td>
          <td>{{ obj.state }}</td>
          <td>
              <a href="{% url "accounting_finance:accounts_plan_detail" %}">Ver</a> |
              <a href="{% url "accounting_finance:accounts_plan_edit" %}">Editar</a> |
              <a href="{% url "accounting_finance:accounts_plan_edit" %}?accounting_period={{ accounting_period.pk }}&accounts_plan={{  obj.id }}" class="btn btn-info">Edit</a> |

              <a href="{% url "accounting_finance:accounts_plan_delete" %}">Borrar</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <p><a  href="{% url "accounting_finance:accounting_period_all" %}" class="btn btn-info">Regresar</a></p>
  </div>

<!-- Pagination controls -->


<!-- Pagination controls -->
{% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?accounting_period={{ accounting_period.pk }}&page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?accounting_period={{ accounting_period.pk }}&page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?accounting_period={{ accounting_period.pk }}&page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}


{% endblock %}