{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
  <h5>Catálogo competencia técnica</h5>
{% endblock %}


{% block content %}
	<form class="form-horizontal" role="form">
		<div class="form-group">
	    	<label class="control-label col-sm-2" for="id_skill">Destreza técnica:</label>
	    	<div class="col-sm-10">
	      		<p id="id_skill" class="form-control-static">{{object.skill}}</p>
	    	</div>
  		</div>
  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="id_relevance">Relevancia:</label>
	    	<div class="col-sm-10">
	      		<p id="id_relevance" class="form-control-static"> {{ object.get_relevance_display }}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="id_observable_behavior">Comportamiento observable:</label>
	    	<div class="col-sm-10">
	      		<p id="id_observable_behavior" class="form-control-static">{{object.observable_behavior}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="id_performance_evaluation">Evaluación de desempeño:</label>
	    	<div class="col-sm-10">
	      		<p id="id_performance_evaluation" class="form-control-static">{{object.performance_evaluation}}</p>
	    	</div>
  		</div>

		<div class="form-group">
			 <a href="{% url 'evaluation:catalog_tc_all' performance_evaluation.pk %}" > Regresar </a>
		</div>
  	</form>



{% endblock  %}