{% extends "app/base_site.html" %}
{% load contrato_templatetags %}




{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <h1 class="page-header">
                        Registro de Usuario de Sistema
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                        </li>
                        <i class="fa fa-dashboard"></i> <a href="/">Inicio</a>
                        <li class="active">
                            <i class="fa fa-edit"></i><a href="{% url "accounts:user_list" %}"> Usuarios</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Agregar o Editar Usuario
                        </li>
                    </ol>


                    <div class="row">
                        <div class="col-md-6 col-sm-offset-3">
                            {# TODO : NOTIFICAR SI EL EMPLEADO NO EXISTE#}
                            {% if mensaje %}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">×</span>
                                    </button>
                                    <strong>{{ mensaje }} </strong>
                                </div>
                            {% endif %}


                            <div id="formBuscador">

                                {#   Alert VUE#}
                                <div v-if="mensaje" class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">×</span>
                                    </button>
                                    <strong>[[ mensaje ]] </strong>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="buscador">Empleado:</label>
                                    <div class="col-sm-8">


                                        <div class="input-group">
                                            <input maxlength="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" class="form-control" type="text" id="buscador" v-model="cedula"
                                                   placeholder="Buscar por cédula"
                                                   v-on:keyup.enter="buscarEmpleado()">
                                            <span class="input-group-btn"><button type="button" class="btn btn-primary"
                                                                                  v-on:click="buscarEmpleado()">Buscar</button></span>
                                        </div>


                                    </div>
                                </div>
                                <form method="POST" class="form-horizontal form-label-left"
                                      action="/accounts/user/new">{% csrf_token %}
                                    <div class="form-group"></div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="usuario">Usuario:</label>

                                        <div class="col-sm-8">
                                            <input v-bind:disabled="!esValido" class="form-control" type="text" id="usuario"
                                                   v-model="usuario" name="usuario" placeholder="usuario">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="usuario">Nombres:</label>

                                        <div class="col-sm-8">
                                            <input v-bind:disabled="!esValido" class="form-control" type="text" id="nombres"
                                                   v-model="nombres" name="nombres" placeholder="Nombres">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="usuario">Apellidos:</label>

                                        <div class="col-sm-8">
                                            <input v-bind:disabled="!esValido" class="form-control" type="text" id="apellidos"
                                                   v-model="apellidos" name="apellidos" placeholder="Apellidos">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label" for="email">email:</label>

                                        <div class="col-sm-8">
                                            <input v-bind:disabled="!esValido" class="form-control" type="text" id="email"
                                                   v-model="email" name="email" placeholder="email">
                                        </div>
                                    </div>

                                     <div class="form-group">
                                    <label class="control-label col-sm-2">Rol</label>
                                    <div class="col-sm-8">
                                        <select  class="form-control"  v-model="rol" id="rol" name="rol">
{#                                            <option selected="selected">----------</option>#}
                                            <option v-for="rol in roles"  v-bind:value="rol.pk">[[rol.name]]</option>
                                        </select>
                                    </div>
                                </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="password">Contraseña:</label>

                                        <div class="col-sm-8">
                                            <input class="form-control" type="password" id="password" v-model="contraseña"
                                                   name="password" placeholder="contraseña">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="password2">Repetir Contraseña:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" @change="validarContraseña" type="password" id="password2" v-model="contraseña2"
                                                   name="password2" placeholder="contraseña">
                                        </div>
                                    </div>

                                    <input class="form-control" type="hidden" id="institucion" :value="institucion"
                                           name="institucion">
                                    <input class="form-control" type="hidden" id="foto" :value="foto" :value=""
                                           name="foto">


                                    <div class="col-md-6 col-sm-offset-3">
                                        <div class=" btn-group" role="group">
                                            <button v-bind:disabled="!esValido" type="submit"
                                                    class="btn btn-primary">Registrar
                                            </button>
                                            <a href="{% url "accounts:user_list" %}" class="btn btn-success"
                                               role="button">Cancelar</a>
                                        </div>
                                    </div>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="/static/js/constans.js"></script>
    <script>
{#        TODO cambiar URL host en constans.js #}
        var apiURL_usuario = HOST+'/accounts/api_user/';
        var apiURL_roles =  HOST+'/accounts/api_roles/';


        var em = new Vue({
            el: '#formBuscador',
            delimiters: ['[[', ']]'],
            data: {
                unidades: '',departamentos: '',cedula: '',
                usuario: '',nombres: '', apellidos: '',
                email: '', institucion: '', foto: '',
                persona: null, mensaje: '', contraseña: '',
                contraseña2: '', disabled: false, roles: '', rol:''

            },
            methods: {
                buscarEmpleado: function () {
                    {#                    this.persona = [];#}
                    this.$http.get(apiURL_usuario + this.cedula).then(function (response) {


                        this.persona = response.data[0];
                        if (response.data.length > 0) {
                            this.mensaje = null;
                            this.usuario = this.persona.person__cedula;
                            this.nombres = this.persona.person__name;
                            this.apellidos = this.persona.person__lastname;
                            this.email = this.persona.person__email;
                            this.institucion = this.persona.institution;
                            this.foto = this.persona.person__photo;
                            console.log('persona: ', this.persona);
                            console.log('foto: ', this.foto);
                        } else {
                            this.persona = response.data;
                            this.mensaje = this.persona.mensaje;
                            this.persona = null;
                            this.usuario = null;
                            this.nombres = null;
                            this.apellidos = null;
                            this.email = null;
                             console.log(this.persona);
                            console.log("no hay datos");
                        }

                    }, function (error) {
                        console.log(error.statusText);
                    });
                },
                 getRoles: function () {
                       this.$http.get(apiURL_roles).then(function (response) {
                        this.roles = response.data; });
                },
                validarContraseña: function () {
                    if (this.contraseña != this.contraseña2){
                        console.log(' las contraseñas no coinciden')
                    }

                }
            },
            computed: {
                esValido: function () {
                    return this.usuario != '' && this.email != ''
                        && this.nombres != '' && this.apellidos != ''
                    && this.contraseña != '' && this.contraseña2 != '' && this.persona != null && this.contraseña === this.contraseña2
                }
            },
            mounted: function () {
                this.getRoles();
            }
        });


    </script>
{% endblock javascripts %}

