{% extends "app/base_site.html" %}
{% load staticfiles %}

{% block title %} Perfil de usuario {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Perfil de Usuario
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i> <a href="{% url "accounts:user_list" %}">Usuarios</a>
                        </li>

                        <li class="active">
                            <i class="fa fa-edit"></i> Perfil
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div  class="row">
            <div id="example" class="col-md-12 col-sm-12 col-xs-12">
                <div  class="x_panel">
                    <div class="x_title">
                        <h2> Usuario:
                            <small>{{ usuario.first_name | title }}
                                {{ usuario.last_name | title }}</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
{#                                    {% if perfil.photo %}#}
{#                                        <img class="img-responsive avatar-view"#}
{#                                             src="{{ perfil.photo.url }}"#}
{#                                             style="width:200px;height:200px" alt="Avatar" title="Cambiar foto"/>#}
{#                                    {% else %}#}
{#                                        <img class="img-responsive avatar-view" src="{% static "images/user.png" %}"#}
{#                                             style="width:150px;height:150px" alt="Avatar"/>#}
{#                                    {% endif %}#}


                                    <div>
                                        <div class="Image-input">
                                            <div class="Image-input__image-wrapper">
                                                <img v-show="!imageSrc" v-on:click="clickSubirIMG" class="img-responsive avatar-view"
                                                     src="{{ perfil.photo }}" style="width:200px;height:200px" alt="Avatar" title="Cambiar foto"/>
                                                <img v-show="imageSrc" v-on:click="clickSubirIMG" style="width:200px;height:200px"
                                                     class="Image-input__image" :src="imageSrc">
                                                <p>Subir foto</p>
                                            </div>
                                            <div class="Image-input__input-wrapper">
                                                <input v-show="img" @change="previewThumbnail" id="imagen" class="Image-input__input" name="photo"
                                                       type="file">
                                            </div>
                                            {#                                                                    {% endif %}#}
                                        </div>
                                    </div>

                                    <image-input image-src=""></image-input>
                                </div>
                            </div>
                            <h3>{{ usuario.first_name | title }}
                                {{ usuario.last_name | title }}</h3>

                            <ul class="list-unstyled user_data">
                                <li>
                                    <i class="fa fa-institution user-profile-icon"></i> {{ empleado.institution }}
                                </li>

                                <li><i class="fa fa-users user-profile-icon"></i>
                                    {% for grupo in grupos %}{{ grupo }}{% endfor %}
                                </li>

                                <li>
                                    <i class="fa fa-sitemap user-profile-icon"></i> {{ empleado.coordinacion }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">

                            <div class="profile_title">
                                <div class="col-md-6">
                                </div>
                            </div>
                            <div class="x_content">
                            <p>{{ mensaje }}</p>
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab"
                                                                                  role="tab" data-toggle="tab"
                                                                                  aria-expanded="true">Perfil</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content2" role="tab"
                                                                            id="profile-tab" data-toggle="tab"
                                                                            aria-expanded="false">Permisos</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">


                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                             aria-labelledby="home-tab">
                                            <div class="table-responsive">
                                                <table id="datatable-buttons" class="table" style="width:Auto">
                                                    <!-- end recent activity -->

                                                    <tbody>
                                                    <tr>
                                                        <th style="width:126px">Nombres:</th>
                                                        <td>{{ usuario.first_name | title }} {{ usuario.last_name | title }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Username</th>
                                                        <td>{{ usuario.username }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Institución:</th>
                                                        <td>{{ empleado.institution }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Email:</th>
                                                        <td>{{ usuario.email }}</td>
                                                    </tr>

                                                    <tr>
                                                        <th>Contraseña:</th>
                                                        <td> *********** <a class="btn btn-success btn-xs"
                                                                            data-toggle="modal"
                                                                            data-target="#myModal"><i
                                                                class="fa fa-edit "></i>Cambiar</a></td>

                                                    </tr>

                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>


                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                             aria-labelledby="profile-tab">

                                            <!-- start grupos y permisos -->
                                            <div class="table-responsive">
                                                <table class="table" style="width:Auto">
                                                    <tbody>
                                                    <tr>
                                                        <th style="width:126px">Grupo:</th>
                                                        {% for grupo in grupos %}
                                                            <td>{{ grupo }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    <tr>
                                                        <th>Permisos</th>
                                                        <td>
                                                            {% for permiso in permisos %}
                                                                {{ permiso }} <br>
                                                            {% endfor %}
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cambiar Contraseña</h4>
                </div>
                <div  class="modal-body">
                    <p>*La contraseña tiene que tener mínimo 4 caracteres</p>
                    <form class="form-horizontal" id="formPass" method="post" enctype="multipart/form-data">
                        {% csrf_token %}


                          <div class="form-group">
                                <p class="text-danger">[[mensaje]]</p>
                                <label class="col-sm-2 control-label" for="password">Contraseña</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="password" ref="password" name="password"
                                           value="password" v-model="password" placeholder="Contraseña">
                                </div>
                            </div>
                          <div class="form-group">
                                <label class="col-sm-2 control-label" for="password2">Repetir Contraseña</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="password2" ref="password2" name="password2"
                                           value="password2" v-model="password2" placeholder="Repetir Contraseña">
                                </div>
                            </div>

                        <div class="modal-footer">
                            <div class="col-md-6">
                                <div class=" btn-group" role="group">
                                    <button type="button"   v-on:click="enviarForm()" class="btn btn-success">
                                        Cambiar
                                    </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
                </div>

            </div>


        </div>
    </div>



{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- morris.js -->
    <script src="/static/vendors/raphael/raphael.min.js"></script>
    <script src="/static/vendors/morris.js/morris.min.js"></script>

      <script>



        new Vue({
            el: '#example',
            delimiters: ['[[', ']]'],
             props: [ 'imageSrc' ],
            data: {
                password: '',
                password2: '',
                mensaje: '',
                 img: null
            },
            methods: {

                previewThumbnail: function(event) {
                    var input = event.target;

                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        var vm = this;

                        reader.onload = function (e) {
                            vm.imageSrc = e.target.result;
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                },


                clickSubirIMG: function () {
                    $('#imagen').click();
                },


                enviarForm: function () {
                    if(this.password != this.password2 ){
                        this.mensaje = 'las contraseñas no coinsiden'

                    }else if(this.password == '' || this.password2 == '' ){
                        this.mensaje = 'Los dos campos son obligatorios'

                    }else{
                        {#console.log(this.$refs.password.value)#}
                        $('#formPass').submit();

                    }
                    {#data-toggle="modal" data-target="#myModal"#}
                }




            }
        });


    </script>
{% endblock javascripts %}