{#{% extends "base.html" %}#}
{% extends "app/base_site.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}

    <div class="right_col" role="main">

        {% block heading %}

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        USUARIOS DEL SISTEMA
                    </h2>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i> <a href="/">Inicio</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-users"></i>Usuarios del sistema
                        </li>

                    </ol>
                </div>
            </div>
        {% endblock %}


        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <a class="btn btn-success" href="{% url "accounts:user_new" %}">Nuevo
                            Usuario</a>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        {# TODO : NOTIFICAR SI EL EMPLEADO NO EXISTE#}
                        {% if mensaje %}
                            <div class="alert alert-success alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span>
                                </button>
                                <strong>{{ mensaje }} </strong>
                            </div>
                        {% endif %}
                        <table id="datatable-buttons" class="table table-striped table-bordered">


                            {#<div class="table-responsive">#}
                            {#    <table id="table_instituciones" class="table table-bordered table-hover table-striped">#}
                            <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Rol</th>
                                <th>Acciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in usuarios %}
                                <tr>
                                    <td>{{ obj.user.username }} </td>
                                    <td>{{ obj.user.first_name }} </td>
                                    <td>{{ obj.user.last_name }} </td>
                                    <td>
                                        {% for rol in obj.roles %}
                                            <span>{{ rol }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <div class="btn-group" dropdown>
                                            <button type="button" class="btn btn-danger"><span
                                                    class="glyphicon glyphicon-list"></span></button>
                                            <button type="button" class="btn btn-danger dropdown-toggle"
                                                    data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" id="borrar">
                                                <li><a href="{% url "accounts:user_profile" obj.user.pk %}">Ver</a></li>
                                                {#                                                <li><a href="{% url "accounts:user_detail" user.id %}">Editar</a></li>#}
                                                <li><a onClick="eliminar({{ obj.user.id }})">Borrar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Modal -->
    <div class="modal fade" id="modalEliminar" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar</h4>
                </div>
                <div class="modal-body">
                <h3>¿Está seguro que desea eliminar el registro?</h3>
                        <div class="modal-footer">
                            <div class="col-md-6">
                                <div class=" btn-group" role="group">
                                   <button type="button" class="btn btn-success" id="confirmar">Aceptar</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>







{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    {#<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>#}
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>#}
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>#}
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>#}
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    {#<script src="/static/vendors/jszip/dist/jszip.min.js"></script>#}
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    {#<script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>#}
    {#Scripts para llamar los reportes de tablas#}
    <script src="/static/vendors/ScriptsDataTable/buttons.flash.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.html5.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.print.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/jszip.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/vfs_fonts.js"></script>


    <script>

        var id_item;
        function eliminar(id) {
            id_item = id;
            $("#modalEliminar").modal();
        }

        $('#confirmar').click(function () {
            window.location.href = "delete/" + id_item;
        });


    </script>
{% endblock javascripts %}