{% extends "app/base_site.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Detalle de Usuario
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="index.html">Inicio</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> <a href="{% url "accounts:user_list" %}"> Administrar Usuarios</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> {{ usuario.username }}
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Datos de Usuario</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="disabledSelect">Usuario:</label> <input class="form-control"
                                                                                    id="disabledInput" type="text"
                                                                                    value="{{ usuario.username }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Información Personal</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="disabledSelect">Nombre:</label>
                                <input class="form-control" id="disabledInput" type="text"
                                       value="{{ usuario.first_name }}">
                            </div>
                            <div class="col-lg-4">
                                <label for="disabledSelect">Apellido:</label>
                                <input class="form-control" id="disabledInput" type="text"
                                       value="{{ usuario.last_name }}">
                            </div>
                            <div class="col-lg-4">
                                <label for="disabledSelect">Correo:</label>
                                <input class="form-control" id="disabledInput" type="text" value="{{ usuario.email }}">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Permisos</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-row field-is_active">
                            <div class="checkbox-row">
                                {% if usuario.is_active %}
                                    <input checked="checked" id="id_is_active" name="is_active" type="checkbox">
                                    <label class="vCheckboxLabel" for="id_is_active">Activo</label>
                                {% else %}
                                    <input id="id_is_active" name="is_active" type="checkbox">
                                    <label class="vCheckboxLabel" for="id_is_active">Activo</label>
                                {% endif %}

                                <p class="help">Indica si el usuario debe ser tratado como activo. Desmarque esta opción
                                    en lugar de borrar la cuenta.</p>
                            </div>
                        </div>
                        <div class="form-row field-is_staff">
                            <div class="checkbox-row">

                                {% if usuario.is_staff %}
                                    <input checked="checked" id="id_is_staff" name="is_staff" type="checkbox">
                                    <label class="vCheckboxLabel" for="id_is_staff">Es staff</label>
                                {% else %}
                                    <input id="id_is_staff" name="is_staff" type="checkbox">
                                    <label class="vCheckboxLabel" for="id_is_staff">Es staff</label>
                                {% endif %}


                                <p class="help">Indica si el usuario puede entrar en este sitio de administración.</p>
                            </div>
                        </div>
                        <div class="form-row field-is_superuser">
                            <div class="checkbox-row">

                                {% if usuario.is_superuser %}
                                    <input checked="checked" id="id_is_superuser" name="is_superuser" type="checkbox">
                                    <label class="vCheckboxLabel" for="id_is_superuser">Es superusuario</label>
                                {% else %}
                                    <input id="id_is_superuser" name="is_superuser" type="checkbox">
                                    <label class="vCheckboxLabel" for="id_is_superuser">Es superusuario</label>
                                {% endif %}
                                <p class="help">Indica que este usuario tiene todos los permisos sin asignárselos
                                    explícitamente.</p>
                            </div>
                        </div>
                        <div class="form-row field-groups">
                            <div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item active">Grupos Asignados</a>
                                            <div id="grupos"
                                                 style="text-align: left; width: 100%; height: 300px; overflow-y: scroll;">
                                                {% for user in grupos %}
                                                    <a href="#" class="list-group-item">{{ user }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item active">Permisos Asignados</a>
                                            <div id="permisos"
                                                 style="text-align: left; width: 100%; height: 300px; overflow-y: scroll;">
                                                {% for users in permisos %}
                                                    <a href="#" class="list-group-item">{{ users }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <p class="help">Los grupos a los que pertenece este usuario. Un usuario tendrá todos
                                        los permisos asignados a cada uno de sus grupos. Mantenga presionado "Control" o
                                        "Command" en un Mac, para seleccionar más de una opción.</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="help">Los grupos a los que pertenece este usuario. Un usuario tendrá todos
                                        los permisos asignados a cada uno de sus grupos. Mantenga presionado "Control" o
                                        "Command" en un Mac, para seleccionar más de una opción.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Fechas Importantes</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Último inicio de sesión:</h3>
                                </div>
                                <div class="panel-body">
                                    <label for="id_last_login_0">Fecha:</label>
                                    <input class="form-control" id="disabledInput" type="text"
                                           value="{{ usuario.last_login.date }}">
                                    <label for="id_last_login_0">Hora:</label>
                                    <input class="form-control" id="disabledInput" type="text"
                                           value="{{ usuario.last_login.time }}">
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Fecha de alta:</h3>
                                </div>
                                <div class="panel-body">
                                    <label for="id_last_login_0">Fecha:</label>
                                    <input class="form-control" id="disabledInput" type="text"
                                           value="{{ contract.department }}">
                                    <label for="id_last_login_0">Hora:</label>
                                    <input class="form-control" id="disabledInput" type="text"
                                           value="{{ contract.department }}">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <p>
            <a href="{% url "contract:contract_list" %}">Regresar</a>
        </p>
    </div>
{% endblock %}

    