{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Registro de Usuario 
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> <a href="{% url "contract:contract_list" %}"> Administrar Usuarios</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> {{ user.username }}
            </li>               
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Datos de Usuario</b></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">


                        <label for="disabledSelect">Cédula:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.cedula.cedula }}">


                    </div>
                    <div class="col-lg-6">


                        <label for="disabledSelect">Nombres:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.cedula.name }}">


                    </div>
                    <div class="col-lg-6">


                        <label for="disabledSelect">Apellidos:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.cedula.lastname }}">


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Información Personal</b></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">         
                        <label for="disabledSelect">Usuario:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.institutional_unit.institution }}">                            
                    </div>
                    <div class="col-lg-4">                                                            
                        <label for="disabledSelect">Contraseña:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.institutional_unit }}">                           
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Permisos</b></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="disabledSelect">Memorandum Director de Área:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.memo_area_director }}">
                    </div>
                    <div class="col-lg-6">
                        <label for="disabledSelect">Memorandum Director de Recursos Humanos:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.memo_human_resources_director }}">
                    </div>
                    <div class="col-lg-6">
                        <label for="disabledSelect">Dispuesto por:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.disposed }}">
                    </div>
                    <div class="col-lg-6">
                        <label for="disabledSelect">Informe Técnico:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.technical_report}}">
                    </div>
                    <div class="col-lg-3">
                        <label for="disabledSelect">Fecha de Elaboración:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.date_of_preparation }}">
                    </div>
                    <div class="col-lg-3">
                        <label for="disabledSelect">Elaborado por:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.elaborated_by }}">
                    </div>
                    <div class="col-lg-3">
                        <label for="disabledSelect">Revisado por::</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.checked_by}}">
                    </div>
                    <div class="col-lg-3">
                        <label for="disabledSelect">Estado del contrato:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.status }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Fechas Importantes</b></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="disabledSelect">Memorandum Director de Área:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.memo_area_director }}">
                    </div>
                    <div class="col-lg-6">
                        <label for="disabledSelect">Memorandum Director de Recursos Humanos:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.memo_human_resources_director }}">
                    </div>
                    <div class="col-lg-6">
                        <label for="disabledSelect">Dispuesto por:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.disposed }}">
                    </div>
                    <div class="col-lg-6">
                        <label for="disabledSelect">Informe Técnico:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.technical_report}}">
                    </div>
                    <div class="col-lg-3">
                        <label for="disabledSelect">Fecha de Elaboración:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.date_of_preparation }}">
                    </div>
                    <div class="col-lg-3">
                        <label for="disabledSelect">Elaborado por:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.elaborated_by }}">
                    </div>
                    <div class="col-lg-3">
                        <label for="disabledSelect">Revisado por::</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.checked_by}}">
                    </div>
                    <div class="col-lg-3">
                        <label for="disabledSelect">Estado del contrato:</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ contract.status }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



        <p>
            <a href="{% url "contract:contract_list" %}">Regresar</a>
        </p>

{% endblock %}

