{% extends "app/base_site.html" %}
{% load staticfiles %}
{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <div class="right_col" role="main">
        {% block heading %}
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        ROLES DE USUARIOS DEL SISTEMA
                    </h2>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>  <a href="/">Inicio</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-users"></i>Roles y permisos
                        </li>

                    </ol>
                </div>
            </div>
        {% endblock %}


        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                      <div class="x_title">
                            <a class="btn btn-success" href="{% url "roles:nuevo_rol" %}">Nuevo
                                Rol</a>

                            <div class="clearfix"></div>
                        </div>
                    <div class="x_content">
                        {#                        <p class="text-muted font-13 m-b-30">#}
                        {#                            The Buttons extension for DataTables provides a common set of options, API methods and#}
                        {#                            styling to display buttons on a page that will interact with a DataTable. The core library#}
                        {#                            provides the based framework upon which plug-ins can built.#}
                        {#                        </p>#}
                        <table id="datatable-buttons" class="table table-striped table-bordered">


                            {#<div class="table-responsive">#}
                            {#    <table id="table_instituciones" class="table table-bordered table-hover table-striped">#}
                            <thead>
                            <tr>
                                <th>Rol</th>
{#                                <th>Nombre</th>#}
{#                                <th>Apellido</th>#}
{#                                <th>Correo</th>#}
                                <th>Acciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for rol in roles %}
                                <tr>
                                    <td>{{ rol }} </td>
{#                                    <td>{{ user.first_name  }} </td>#}
{#                                    <td>{{ user.last_name }} </td>#}
{#                                    <td>{{ user.email }} </td>#}
                                    <td>
                                        <div class="btn-group" dropdown>
                                            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-list"></span></button>
                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{% url "roles:rol_detail" rol.id  %}">Ver</a></li>
                                                <li><a href="{% url "accounts:user_detail" user.id  %}">Editar</a></li>
                                                <li><a href="{% url "accounts:user_detail" user.id  %}">Borrar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div></div></div></div></div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    {#<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>#}
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>#}
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>#}
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>#}
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    {#<script src="/static/vendors/jszip/dist/jszip.min.js"></script>#}
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    {#<script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>#}
    {#Scripts para llamar los reportes de tablas#}
    <script src="/static/vendors/ScriptsDataTable/buttons.flash.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.html5.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.print.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/jszip.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/vfs_fonts.js"></script>
{% endblock javascripts %}