{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="title_right"></div>
            <div class="clearfix"></div>
            <div class="x_title">
                <h2>{{ titulo }}</h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br/>

                        {{ form.media }}
                        <form class="form-horizontal" method="post">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    <label class="col-sm-2 control-label"
                                           for="{{ field.name }}">{{ field.label }}</label>
                                    <div class="col-sm-6">
                                        {{ field|addclass:'form-control' }}
                                    </div>
                                </div>
                            {% endfor %}

{#                            <div class="form-group">#}
{#                                {{ form.name.errors }}#}
{#                                <label class="col-sm-2 control-label">#}
{#                                    {{ form.name.label }}</label>#}
{#                                <div class="col-sm-6">#}
{#                                    {{ form.name|addclass:'form-control' }}#}
{#                                </div>#}
{##}
{##}
{#                            </div>#}

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                    <a href="{% url "institution:institution_list" %}" class="btn btn-primary"
                                       role="button">Cancelar</a>
                                </div>
                            </div>



{#                        {% for per in list_permisos %}#}
{#                        <!-- Start to do list -->#}
{#                        <div class="col-md-6 col-sm-6 col-xs-12">#}
{#                            <div class="x_panel">#}
{#                                <div class="x_title">#}
{#                                    <h2>{{ per.app }}#}
{#                                        <small>Sample tasks</small>#}
{#                                    </h2>#}
{#                                    <ul class="nav navbar-right panel_toolbox">#}
{#                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
{#                                        </li>#}
{#                                        <li class="dropdown">#}
{#                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                                               aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
{#                                            <ul class="dropdown-menu" role="menu">#}
{#                                                <li><a href="#">Settings 1</a>#}
{#                                                </li>#}
{#                                                <li><a href="#">Settings 2</a>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </li>#}
{#                                        <li><a class="close-link"><i class="fa fa-close"></i></a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                    <div class="clearfix"></div>#}
{#                                </div>#}
{#                                <div class="x_content">#}
{##}
{#                                    <div class="">#}
{#                                        <ul class="to_do">#}
{##}
{##}
{#                                            {% for permiso in per.permisos %}#}
{##}
{#                                                {{ field.errors }}#}
{#                                                <li>#}
{#                                                    <input id="{{ permiso.id }}" name="{{ permiso.id }}" type="checkbox"  class="flat"> {{ permiso }}#}
{#                                                </li>#}
{##}
{#                                            {% endfor %}#}
{#                                        </ul>#}
{##}
{#                                        <select multiple id="id_country" name="country">#}
{#                                            {% for permiso in per.permisos %}#}
{##}
{#                                            <option value="{{ permiso }}">{{ permiso }}</option>#}
{##}
{#                                                 {% endfor %}#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <!-- End to do list -->#}
{#                        {% endfor %}#}
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<script type="text/javascript" src="{% url 'jsi18n' %}" > </script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="/static/admin/js/core.js' %}"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js' %}"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js' %}"></script>




