<div class="table-responsive">
<table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Regímen Laboral</th>
            <th>Tipo de empleado</th>
            <th>Grupo Ocupacional</th>
            <th>Grado</th>
            <th>Puesto</th>
            <th>Sueldo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for economic_data in data %}
        <tr>
            <td>{{ economic_data.employee }} </td>
            <td>{{ economic_data.labor_system }} </td>
            <td>{{ economic_data.type_used }} </td>
            <td>{{ economic_data.occupational_group }} </td>
            <td>{{ economic_data.occupational_group.grade }} </td>
            <td>{{ economic_data.post }} </td>
            <td>{{ economic_data.remuneration }} </td>
                
            
            <td> 
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#economic_data{{economic_data.id}}">Ver</a></li>
                        <li><a href="{% url "economicdata:economicdata_edit" economic_data.id  %}">Editar</a></li>
                        <li><a href="{% url "economicdata:economicdata_delete" economic_data.id %}">Borrar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <!-- Modal -->
        <div id="economic_data{{economic_data.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismisseconomic_data="modal">&times;</button>
                        <h4 class="modal-title">{{economic_data.employee.person.name }}{{economic_data.employee.person.lastname }} - Datos Económicos</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <b>Empleado:</b>{{economic_data.employee.person.name}}<br>
                            <b>Remuneración:</b>{{economic_data.remuneration}}<br>
                            <b>puesto:</b>{{economic_data.post}}<br>
                            <b>Grupo Ocupacional:</b>{{economic_data.occupational_group}}<br>
                            <b>Grado:</b>{{economic_data.grade}}<br>
                            <b>Partida presupuestaria:</b>{{economic_data.budget_item}}<br>
                            <b>Fondos de reserva:</b>{{economic_data.reserve_funds}}<br>
                            <b>Fecha de ingreso:</b>{{economic_data.date_of_admission}}<br>
                            <b>Fecha de ingreso a roles:</b>{{economic_data.date_of_entry_into_roles}}<br>
                            <b>Tipo servidor publico:</b>{{economic_data.type_public_servant}}<br>
                            <b>Régimen laboral:</b>{{economic_data.labor_system}}<br>
                            <b>Modalidad pago:</b>{{economic_data.payment_method}}<br>
                            <b>Tipo empleado:</b>{{economic_data.type_used}}<br>
                            <b># de contrato:</b>{{economic_data.contract_number}}<br>
                            <b>Fecha inicio de contrato:</b>{{economic_data.contract_start_date}}<br>
                            <b>Fecha terminación de contrato:</b>{{economic_data.contract_termination_date}}<br>
                            <b>Cargas familiares:</b>{{economic_data.family_responsibilities}}<br>
                            <b>Educación a cargo:</b>{{economic_data.education_by}}<br>
                            <b>Fecha de inicio:</b>{{economic_data.start_date}}<br>
                            <b>Fecha de fin:</b>{{economic_data.end_date}}<br>
                            <b>Contrato Colectivo:</b>{{economic_data.collective_contract}}<br>

                        </p>
                        
                    <div class="modal-footer">
                        <div class="col-lg-10"> 
                            <small>
                                
                            </small> 
                        </div>
                        <div class="col-lg-2">      
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>

                        
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </tbody>
</table>
</div>

