
{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Datos económicos
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> <a href="{% url "economicdata:economicdata_list" %}">Datos económicos</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> {{accion}}
            </li>
       </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <div class="form-group input-group">
                <a href="{% url "economicdata:economicdata_new" %}">Agregar Datos económicos</a>
            </div> 
        </div>
        <div class="col-lg-6">      
        </div>
        <div class="col-lg-3">
            <div class="form-group input-group">
                <input type="text" id='search' class="form-control">
                <span class="input-group-btn"><button class="btn btn-default" onclick="buscar()" type="button"><i class="fa fa-search"></i></button></span>
            </div> 
        </div>
    </div>       
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Datos económicos</h3>
    </div>
    <div class="panel-body">
        {% if accion == 'listar' %}
            {% include "economicdata/economic_data_list_admin.html" %}
        {% elif accion == "nuevo" %}
            {% include "economicdata/economic_data_form_admin.html" %}
        {% elif accion == "editar" %}
            {% include "economicdata/economic_data_form_admin.html" %}
        {% elif accion == "eliminar" %}
            <form method="post">{% csrf_token %}
                ¿Estás seguro que deseas borrar los datos económicos del empleado {{ data }}?
                <input type="submit" value="Eliminar" />
            </form>
        {% else %}
            {% include "economicdata/economic_data_list_admin.html" %}
        {% endif %}
    </div>
</div>
         

{% endblock %}
