
{% load contrato_templatetags %}
   
 <form class="form-horizontal" method="post">
  {% csrf_token %}
  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.errors }}
      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
      <div class="col-sm-8">
        {{ field|addclass:'form-control'}}
      </div>
    </div>
  {% endfor %}
  
  <div class="col-lg-12" >
    <div class="btn-group" role="group" >
      <button type="submit" class="btn btn-success">Guardar</button>
      
      <a href="{% url "economicdata:economicdata_list" %}" class="btn btn-success" role="button">Cancelar</a>
                   
    </div>
  </div>
  
</form>
{% block javascript %}
   <script>
      var date_of_admission=$('input[name="date_of_admission"]'); //our date input has the name "date"
      var options={
          format: 'mm/dd/yyyy',
          orientation:"bottom",
          todayHighlight: true,
          autoclose: true,
          language: "es",
      };
      date_of_admission.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin

      var date_of_entry_into_roles=$('input[name="date_of_entry_into_roles"]'); //our date input has the name "date"
      date_of_entry_into_roles.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin

      var contract_start_date=$('input[name="contract_start_date"]'); //our date input has the name "date"
      contract_start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      var start_date=$('input[name="start_date"]'); //our date input has the name "date"
      start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      var end_date=$('input[name="end_date"]'); //our date input has the name "date"
      end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      var date_of_entry_into_roles=$('input[name="date_of_entry_into_roles"]'); //our date input has the name "date"
      date_of_entry_into_roles.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
    </script>

{% endblock %}



