{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Evaluación de desempeño
{% endblock %}

{% block heading %}

    {% include "messages.html" %}

    <div style="margin: 10px;">
        <p class="titulo-form">COMPETENCIAS UNIVERSALES:</p>
    </div>

    <hr/><br/>
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <p>
            <a href="{% url "evaluation:catalog_uc_create" performance_evaluation.pk %}" class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </a>
            <a href="{% url "evaluation:performance_evaluation_all" %}" class="btn btn-info pull-right">
                <span class="glyphicon glyphicon-chevron-left"></span> Regresar
            </a>
        </p>
        <!-- Output table -->
        <div class="row">
            <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                <tr>
                    <th>Destreza</th>
                    <th>Relevancia</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.skill }}</td>
                        <td>{{ obj.get_relevance_display }}</td>
                        <td>
                            <a href="{% url "evaluation:catalog_uc_edit" performance_evaluation.pk obj.id %}"
                               title="Editar" class="btn btn-info glyphicon glyphicon-pencil">
                            </a>
                            <a href="{% url "evaluation:catalog_uc_detail" performance_evaluation.pk  obj.id %}"
                               title="Visualizar" class="btn btn-warning glyphicon glyphicon-eye-open"></a>
                            <a id="del-cat-uc-{{ obj.id }}" href="{% url "evaluation:catalog_uc_delete" obj.id %}"
                               title="Eliminar" class="delete-btn  btn btn-danger glyphicon glyphicon-remove"></a>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Pagination controls -->
        {% include 'snippets/pagination.html' %}

        <!-- Modal -->
        <div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>
                    <div class="modal-body">
                        <p>Está seguro que desea eliminar la competencia universal seleccionada?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="#" id="delete-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(".delete-btn").click(function () {
            console.log('intro delete-btn >>>');
            $("#delete-confirm-btn").attr("href", $(this).attr("href"));
            $("#delete-confirm-modal").modal('toggle');
            return false;
        });

    </script>
{% endblock %}