{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Evaluación de desempeño
{% endblock %}

{% block heading %}

 
  {% include "messages.html" %}
  
  <div style="margin: 10px;">
    <p class="titulo-form">COMPETENCIAS TECNICAS:</p>
  </div> 
  <p>
    <a  href="{% url "evaluation:catalog_tc_create" performance_evaluation.pk %}" class="btn btn-info">
      <span class="glyphicon glyphicon-plus"></span> Nuevo
    </a>
    <!-- <button href="#myModal" id="openBtn" data-toggle="modal" class="btn btn-default">Modal</button> -->
    <a  href="{% url "evaluation:performance_evaluation_all"%}" class="btn btn-info pull-right">
      <span class="glyphicon glyphicon-chevron-left"></span> Regresar
    </a>
  </p>
  <hr/><br/>
{% endblock %}

{% block content %}
<!-- Output table -->
  <div class="row">
    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Destreza</th>
          <th>Relevancia</th>
          <th>Acciones</th>
        </tr>
      </thead>  
      <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ obj.skill }}</td>          
          <td>{{ obj.get_relevance_display }}</td>
          <td> 
            <a href="{% url "evaluation:catalog_tc_edit" performance_evaluation.pk obj.id %}" title="Editar" class="btn btn-info glyphicon glyphicon-pencil">
            </a>
            <a href="{% url "evaluation:catalog_tc_detail" performance_evaluation.pk  obj.id %}" title="Visualizar" class="btn btn-warning glyphicon glyphicon-eye-open"></a>
            <a  id="cat-tc-{{ obj.id }}"  data-form="{% url "evaluation:catalog_tc_delete" %}" href="#" title="Eliminar" class="delete-btn  btn btn-danger glyphicon glyphicon-remove"></a>

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>



<div class="modal fade" id="myModal">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Big Title</h3>
        </div>
        <div class="modal-body">
      <h5 class="text-center">Hello. Some text here.</h5>
          <table class="table table-striped" id="tblGrid">
            <thead id="tblHead">
              <tr>
                <th>Location</th>
                <th>Points</th>
                <th class="text-right">Mean</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Long Island, NY, USA</td>
                <td>3</td>
                <td class="text-right">45001</td>
              </tr>
              <tr><td>Chicago, Illinois, USA</td>
                <td>5</td>
                <td class="text-right">76455</td>
              </tr>
              <tr><td>New York, New York, USA</td>
                <td>10</td>
                <td class="text-right">39097</td>
              </tr>
            </tbody>
          </table>
          <div class="form-group">
            <input class="btn btn-warning btn-sm pull-right" value="Reset" type="button">
            <div class="clearfix"></div>
          </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save Changes</button>
        </div>
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<!-- Pagination controls -->
{% include 'snippets/pagination.html' %}

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $("a[id^=cat-tc-]").click(function(ev) { // for each edit knowledge url
            console.log('intro del_catalog_technical_competence');
            ev.preventDefault(); // prevent navigation
            var cat_tc_id = $(this).attr('id').split('-')[2];
            var url = $(this).data("form");
            console.log('>>> ' + cat_tc_id + '>>> ' + url);
            BootstrapDialog.show({
                type: BootstrapDialog.TYPE_SUCCESS, 
                title: 'Confirmar',
                message: 'Está seguro que desea eliminar el registro',
                closable: false,
                buttons: [ {
                    label: 'Aceptar',
                    action: function(dialog){
                        $.ajax({ 
                            type: "DELETE", // http method
                            url: url, // get the knowledge form url 
                            data : {cat_tc_id: cat_tc_id}, // data sent with the delete request
                            context: this,
                            success: function(data, status) {
                                console.log("deletion successful");
                                console.log('>>>');
                                console.log(data);
                                dialog.close();
                                window.location="{% url 'evaluation:catalog_tc_all' performance_evaluation.pk %}";
                            },
                            //error: function(XMLHttpRequest, textStatus, errorThrown) {
                            error: function(data, status) {
                                console.log("deletion error");
                                console.log(data.status);
                                console.log('>>>');
                                console.log(data.responseText);
                              }
                        });
                        
                        
                    }
                }, {
                    label: 'Cerrar',
                    action: function(dialog){
                        dialog.close();
                    }
                }]
            });
            return false; // prevent the click propagation
        });

  </script>

{% endblock %}