{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
<div class="page-header" style="margin: 20px;">
	<p class="titulo-form">COMPETENCIA TÉCNICA:</p>
</div>  
{% endblock %}

{% block content %}
	
	{% include "additional_messages.html" %}
	{% include "messages.html" %}

	<form class="form-horizontal" style="margin-left:2cm;" method="post">
	   	{% csrf_token %}

		{% for field in form.visible_fields %}
		    <div class="form-group">
		      {{ field.errors }}
		      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
		        <div class="col-sm-8">
		      {{ field|addclass:'form-control' }}
		      </div>
		    </div>
		{% endfor %}
		
		 <hr/><br/>

	    <div class="form-group">
	    	<button type="submit" class="btn btn-success" name="save">
		    	<span class="glyphicon glyphicon-ok"></span> Guardar
		    </button>
		 	<a href="{% url "evaluation:catalog_tc_all" performance_evaluation.pk %}" class="btn btn-primary" >
		 		<span class="glyphicon glyphicon-share-alt"></span> Salir
		 	</a>
		</div>

	</form>
	</div>
{% endblock %}

{% block javascript %}
	 <script>
    	
    </script>
{% endblock %}