{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Evaluaciones por unidades
{% endblock %}

{% block heading %}
 
  {% for message in messages %}
    <div class = "alert alert-{{ message.tags }} alert-dismissable">
       <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
          &times;
       </button>
       {{ message }}
    </div>

  {% endfor %}

<h5> Evaluaciones - Unidades {{ performance_evaluation.pk }} </h5>
<p>
  <a  href="{% url "evaluation:inst_unit_eval_create" performance_evaluation.pk %}" class="btn btn-info">
    <span class="glyphicon glyphicon-plus"></span> Nuevo
  </a>
  <a href="{% url "evaluation:performance_evaluation_all"%}" class="btn btn-info pull-right">
    <span class="glyphicon glyphicon-backward"></span> Regresar
  </a>
</p>

<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
{% endblock %}

{% block content %}
<!-- Output table -->
  <div class="row">
    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Fecha de inicio</th>
          <th>Fecha de fin</th>
          <th>Estado</th>
          <th>Unidad</th>
          <th>Acciones</th>
        </tr>
      </thead>  
      <tbody>
      {% for obj in objects %}
        <tr>
          <td>{{ obj.start_date }}</td>          
          <td>{{ obj.end_date }}</td>
          <td>{{ obj.state }}</td>
          <td>{{ obj.institutional_unit.institutional_unit }}</td>
          <td> 
              <a href="{% url "evaluation:catalog_tc_detail" performance_evaluation.pk  obj.id %}">Ver</a> | 
              <a href="{% url "evaluation:inst_unit_eval_edit" performance_evaluation.pk obj.id %}">Editar</a> | 
              <a href="{% url "evaluation:catalog_tc_delete" performance_evaluation.pk obj.id %}">Borrar</a> |

              {% if obj.state == 'GENERATED' %}
                <a href="{% url "evaluation:initiate_inst_unit_eval" obj.id %}">Iniciar</a>                
              {% endif %}
              {% if obj.state == 'INITIATED' %}
                <a href="{% url "evaluation:finalize_inst_unit_eval" obj.id %}" class="delBtn">Finalizar</a>
                <a href="{% url "evaluation:finalize_inst_unit_eval" obj.id %}" class="confirmation">Finalize</a>
              {% endif %}

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<!-- Pagination controls -->
{% include 'snippets/pagination.html' %}


  <!-- Modal -->
  <div class="modal fade" id="delConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Está seguro que desea Finalizar la evaluación para el Departamento?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a href="#" id="delConfirmBtn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block javascript %}
  <script>

      $(".delBtn").click(function() {
        console.log('intro >>>')
        $("#delConfirmBtn").attr("href", $(this).attr("href"));
        $("#delConfirm").modal('toggle');
        return false;
      });
   
     $(".confirmation").click(function() {
      ev.preventDefault(); // prevent navigation
      BootstrapDialog.confirm('Hi Apple, are you sure?', function(result){
            if(result) {
                alert('Yup.');
            }else {
                alert('Nope.');
            }
        });
      return false; // prevent the click propagation
     });

       

  </script>
{% endblock %}