{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
 <div class="page-header" style="margin: 20px;">
	<p class="titulo-form">EVALUACIÓN - UNIDAD:</p>
</div>  
{% endblock %}


{% block content %}
	<form class="form-horizontal" role="form">
		<div class="form-group">
	    	<label class="control-label col-sm-2" for="start_date">Fecha de inicio:</label>
	    	<div class="col-sm-10">
	      		<p id="id_start_date" class="form-control-static">{{object.start_date}}</p>
	    	</div>
  		</div>
  		
  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="start_date">Fecha de fin:</label>
	    	<div class="col-sm-10">
	      		<p id="id_end_date" class="form-control-static">{{object.end_date}}</p>
	    	</div>
  		</div>
  		
  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="id_temporary_activation">Activación temporal:</label>
	    	<div class="col-sm-1">
	      		<input id="id_temporary_activation" class="form-control" name="temporary_activation" type="checkbox"
					{% if object.temporary_activation == True %}
						checked	
					{% endif %}
	      		disabled>
	    	</div>
  		</div>
  		
  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="id_observable_behavior">Estado:</label>
	    	<div class="col-sm-10">
	      		<p id="id_state" class="form-control-static">{{object.get_state_display}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="id_quatity_evaluated">Cantidad de evaluados:</label>
	    	<div class="col-sm-10">
	      		<p id="id_quantity_evaluated" class="form-control-static">{{object.quantity_evaluated}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="id_percentage_evaluation">Porcentage final:</label>
	    	<div class="col-sm-10">
	      		<p id="id_percentage_evaluation" class="form-control-static">{{object.percentage_evaluation}}</p>
	    	</div>
  		</div>
		
		<div class="form-group">
	    	<label class="control-label col-sm-2" for="id_institutional_unit">Unidad institucional:</label>
	    	<div class="col-sm-10">
	      		<p id="id_institutional_unit" class="form-control-static">{{object.institutional_unit.institutional_unit}}</p>
	    	</div>
  		</div>
		
		 <hr/><br/>

		<div class="form-group">
			<a href="{% url 'evaluation:inst_unit_eval_all' perform_eval.pk %}" class="btn btn-primary" >
		 		<span class="glyphicon glyphicon-share-alt"></span> Salir
		 	</a>
		</div>
		
  	</form>

{% endblock  %}