{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Evaluaciones por unidades
{% endblock %}

{% block heading %}

    {% include "messages.html" %}

    <div style="margin: 10px;">
        <p class="titulo-form">EVALUACION {{ performance_evaluation.year }} - UNIDADES:</p>
    </div>


    <hr/><br/>
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <p>
            <a href="{% url "evaluation:inst_unit_eval_create" performance_evaluation.pk %}" class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </a>
            <a href="{% url "evaluation:performance_evaluation_all" %}" class="btn btn-info pull-right">
                <span class="glyphicon glyphicon-chevron-left"></span> Regresar
            </a>
        </p>
        <!-- Output table -->
        <div class="row">
            <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                <tr>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Estado</th>
                    <th>Unidad</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in objects %}
                    <tr>
                        <td>{{ obj.start_date }}</td>
                        <td>{{ obj.end_date }}</td>
                        <td>{{ obj.get_state_display }}</td>
                        <td>{{ obj.institutional_unit.institutional_unit }}</td>
                        <td>
                            <a href="{% url "evaluation:inst_unit_eval_detail" performance_evaluation.pk  obj.id %}"
                               title="Visualizar" class="btn btn-warning glyphicon glyphicon-eye-open"></a>

                            {% if obj.state == 'GENERATED' %}
                                <a href="{% url "evaluation:inst_unit_eval_edit" performance_evaluation.pk obj.id %}"
                                   title="Editar"
                                   class="btn btn-info glyphicon glyphicon-pencil">
                                </a>
                                <a id="del-inst-unit-{{ obj.id }}"
                                   href="{% url "evaluation:inst_unit_eval_delete" obj.id %}" title="Eliminar"
                                   class="delete-btn btn btn-danger glyphicon glyphicon-remove"></a>
                                <a href="{% url "evaluation:initiate_inst_unit_eval" obj.id %}"
                                   id="initiate-{{ obj.id }}" title="Iniciar"
                                   class="initiate-btn btn btn-success glyphicon glyphicon-play"></a>
                                <a class="text-danger" style="display:none;" id="iue-{{ obj.id }}"
                                   href="#" data-form="{% url "evaluation:initiate_inst_unit_eval" obj.id %}"
                                   title="Init">1 Init</a>
                            {% endif %}
                            {% if obj.state == 'INITIATED' %}
                                <a href="{% url "evaluation:finalize_inst_unit_eval" obj.id %}"
                                   id="finalize-{{ obj.id }}" title="Finalizar"
                                   class="finalize-btn btn btn-primary glyphicon glyphicon glyphicon-stop"></a>
                                <a class="confirmation" style="display:none;"
                                   href="{% url "evaluation:finalize_inst_unit_eval" obj.id %}">| Finalize</a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div id="output">
                <div class="ajaxProgress">
                    <h3>Por favor espere...</h3>
                    <img src="{{ MEDIA_URL }}/static/img/ajax-loader.gif" alt="loading">
                </div>

            </div>

        </div>

        <!-- Pagination controls -->
        {% include 'snippets/pagination.html' %}

        <!-- Modal -->
        <div class="modal fade" id="initiate-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>
                    <div class="modal-body">
                        <p>Está seguro que desea <strong>Iniciar</strong> la evaluación para el Departamento?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="#" data-form="#" id="initiate-confirm-btn" class="btn btn-danger"><i
                                class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal -->
        <div class="modal fade" id="finalize-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>
                    <div class="modal-body">
                        <p>Está seguro que desea <strong>Finalizar</strong> la evaluación para el Departamento?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="#" id="finalize-confirm-btn" class="btn btn-danger"><i
                                class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal Start here-->
        <div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
             role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                      <span class="glyphicon glyphicon-time">
                      </span> Espere...
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info
                      progress-bar-striped active"
                                 style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal ends Here -->

        <!-- Modal -->
        <div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>
                    <div class="modal-body">
                        <p>Está seguro que desea eliminar la evaluación para la unidad institucional seleccionada?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="#" id="delete-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

{% block javascript %}
    <script>

        $(".delete-btn").click(function () {
            console.log('intro delete-btn >>>');
            $("#delete-confirm-btn").attr("href", $(this).attr("href"));
            $("#delete-confirm-modal").modal('toggle');
            return false;
        });

        $(".initiate-btn").click(function () {
            console.log('intro >>>')
            $("#initiate-confirm-btn").attr("data-form", $(this).attr("href"));
            $("#initiate-confirm-modal").modal('toggle');
            return false;
        });

        $(".finalize-btn").click(function () {
            console.log('intro >>>');
            $("#finalize-confirm-btn").attr("data-form", $(this).attr("href"));
            $("#finalize-confirm-modal").modal('toggle');
            return false;
        });

        $(".confirmation").click(function () {
            ev.preventDefault(); // prevent navigation
            BootstrapDialog.confirm('Hi Apple, are you sure?', function (result) {
                if (result) {
                    alert('Yup.');
                } else {
                    alert('Nope.');
                }
            });
            return false; // prevent the click propagation
        });

        $("a[id^=iue]").click(function (ev) {
            /*$('.ajaxProgress').show();*/
            $('#myPleaseWait').modal('show');
            console.log('intro');
            var iue_id = $(this).attr('id').split('-')[1];
            var url = $(this).data("form");
            console.log('>>> ' + iue_id + ' >>> ' + url);
            $.ajax({
                type: 'GET',
                url: url,
                dataType: "json",
                async: true,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (json) {
                    console.log(json.message)
                    $('#output').html(json.message);
                    /*$('.ajaxProgress').hide();*/
                    $('#myPleaseWait').modal('hide');
                    window.location = "{% url 'evaluation:inst_unit_eval_all' performance_evaluation.pk %}";
                }

            });
        });

        $("#initiate-confirm-btn").click(function (ev) {
            console.log('>>> intro');
            $('#initiate-confirm-modal').modal('hide');
            $('#myPleaseWait').modal('show');
            var url = $(this).attr('data-form');
            console.log('>>> ' + url);
            $.ajax({
                type: 'GET',
                url: url,
                dataType: "json",
                async: true,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (json) {
                    console.log(json.message);
                    $('#output').html(json.message);
                    /*$('.ajaxProgress').hide();*/
                    $('#myPleaseWait').modal('hide');
                    window.location = "{% url 'evaluation:inst_unit_eval_all' performance_evaluation.pk %}";
                }

            });
        });

        $("#finalize-confirm-btn").click(function (ev) {
            console.log('>>> intro');
            $("#finalize-confirm-modal").modal('hide');
            $("#myPleaseWait").modal('show');
            var url = $(this).attr('data-form');
            console.log('>>> ' + url);
            $.ajax({
                type: 'GET',
                url: url,
                dataType: "json",
                async: true,
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (json) {
                    console.log(json.message);
                    $('#output').html(json.message);
                    $('#myPleaseWait').modal('hide');
                    window.location = "{% url 'evaluation:inst_unit_eval_all' performance_evaluation.pk %}";
                }
            });
        });
    </script>
{% endblock %}