{% extends "base.html" %}
{% load evaluation_extras %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title %}
{% endblock %}

{% block heading %}
    <div class="page-header" style="margin: 20px;">
        <p class="titulo-form">EVALUACIÓN - UNIDAD:</p>
    </div>
{% endblock %}


{% block content %}
    <div class="right_col" role="main">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {{ message }}
            </div>

        {% endfor %}

        <form class="form-horizontal" method="post" id="my-form">
            {% csrf_token %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    <div class="control-group error">
                        {{ field.errors }}
                    </div>
                    <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                    <div class="col-sm-8">
                        {{ field|addclass:'form-control' }}
                    </div>
                </div>
            {% endfor %}

            <hr/>
            <br/>

            <div class="form-group">
                <button type="submit" class="btn btn-success" name="save">
                    <span class="glyphicon glyphicon-ok"></span> Guardar
                </button>
                <a href="{% url "evaluation:inst_unit_eval_all" perform_eval.pk %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-share-alt"></span> Salir
                </a>
                <input type="checkbox" style="display:none;" onClick="toggle(this)"/>
            </div>

        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        document.getElementById("id_temporary_activation").className = "";

        function toggle(source) {
            console.log('intro');
            $("input:checkbox").prop('checked', $(this).prop("checked"));
            document.getElementById("id_temporary_activation").className = "";

            document.getElementById("id_temporary_activation").checked = true;
            $('#id_temporary_activation').addClass('hola');
            document.getElementById("id_state").disabled = false;


        };

        $(":checkbox").css({
            background: "yellow",
            border: "3px red solid"
        });

        $('#div input[type="checkbox"]').prop('checked', this.checked)

        document.getElementById("id_state").disabled = true;
        document.getElementById('id_quantity_evaluated').disabled = true;
        document.getElementById('id_percentage_evaluation').disabled = true;
        /*document.getElementById("id_state").setAttribute("disabled","");
         document.getElementById('id_quantity_evaluated').setAttribute("disabled","")
         document.getElementById('id_percentage_evaluation').setAttribute("disabled", "")*/

        $('#my-form').submit(function () {
            document.getElementById("id_state").disabled = false;
            document.getElementById("id_quantity_evaluated").disabled = false;
            document.getElementById("id_percentage_evaluation").disabled = false;
        });

        $("#id_institutional_unit").select2({
            language: "es"
        });

        var start_date = $('input[name="start_date"]'); //our date input has the name "date"
        var options = {
            format: 'dd/mm/yyyy',
            orientation: "bottom",
            todayHighlight: true,
            autoclose: true,
            language: "es",
        };
        start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
        var end_date = $('input[name="end_date"]'); //our date input has the name "date"
        end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin

    </script>
{% endblock %}