{# templates/locations/location_detail.html #}

{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
  <h5>Evaluación</h5>
{% endblock %}

{% block content %}

		<form class="form-horizontal" role="form">
		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Año:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.year}}</p>
	    	</div>
  		</div>
  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Estado:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static"> {{ object|setstate:object.state}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Fecha inicio:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.start_date}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Fecha fin:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.end_date}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Cantidad evaluados:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.quantity_evaluated}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Porcentage de evaluación:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.percentage_evaluation}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Factor de avaluación del puesto:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.job_management_factor}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Porcentage aumento por adelanto de objetivos:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.advance_goals_percentage}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Factor evaluación de conocimientos:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.knowledge_factor}}</p>
	    	</div>
  		</div>

		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Factor evaluación de competencias técnicas:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.technical_competence_factor}}</p>
	    	</div>
  		</div>
  		
  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Factor evaluación de competencias universales:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.universal_competence_factor}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Factor evaluación de trabajo en equipo:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.teamwork_factor}}</p>
	    	</div>
  		</div>

  		<div class="form-group">
	    	<label class="control-label col-sm-2" for="email">Porcentage de reduccion por quejas:</label>
	    	<div class="col-sm-10">
	      		<p class="form-control-static">{{object.reduction_complaints_percentage}}</p>
	    	</div>
  		</div>


		<div class="form-group">
			<a href="{% url "evaluation:performance_evaluation_all" %}">
			 	<span class="glyphicon glyphicon-backward"></span> Regresar
			</a>
		</div>
  	</form>

{% endblock %}