{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Evaluación de desempeño
{% endblock %}

{% block heading %}
  
<h5> EVALUACIONES DE DESEMPEÑO </h5>
{% endblock %}

{% block content %}
<ul>
	{% for pe in performance_evaluation_list %}
	<li class="item">
		<a href="{% url "evaluation:pe_detail" pe.pk %}"
		data-popup-url="{% url "evaluation:pe_popup" pe.pk %}"
		data-popup-title="{{ pe.year }}">
		{{ pe.year }}
		</a>
		
	</li>
	{% endfor %}
</ul>
{% endblock %}
{% block extracontent %}
	<div id="popup" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" datadismiss="
					modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{% static "js/pe_list.js" %}"></script>
{% endblock %}