{# templates/locations/location_detail_popup.html #}

<p>{{ personal_evaluation.year }}</p>
<a href="{% url "evaluation:pe_detail" slug=personal_evaluation.pk %}"
class="btn btn-default">
<h5>More</h5>
</a>

</p>