{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
  	<div style="margin: 20px;">
		<p class="titulo-form">EVALUACIÓN DE DESEMPEÑO:</p>
	</div>  
	<hr/><br/>
{% endblock %}


{% block content %}
	
	{% include "additional_messages.html" %}
	
	<form class="form-horizontal" method="post" id="my-form">
	{% localize on %}

	   	{% csrf_token %}

		{% if form.non_field_errors %}
		  <div class = "alert alert-danger alert-dismissable">
		    {% for err in form.non_field_errors %}
		    	<button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
		          &times;
		    	</button>
		    	<strong>Error!</strong> {{ err }}
		    {% endfor %}
		  </div>
		{% endif %}

		{% for field in form.visible_fields %}
		    {% if field.auto_id == "id_institution" %}
				<div class="form-group" style="display:none;" >	
			{% else %}
				<div class="form-group">
			{% endif %}
		      	{{ field.errors }}
		      		<label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
		        	<div class="col-sm-8">
		      	{{ field|addclass:'form-control' }}
		      </div>
		    </div>
		{% endfor %}
		
		 <hr/><br/>

	    <div class="form-group">
	    	<button type="submit" class="btn btn-success" name="save">
		    	<span class="glyphicon glyphicon-ok"></span> Guardar
		    </button>
		 	<a href="{% url "evaluation:performance_evaluation_all" %}" class="btn btn-primary" >
		 		<span class="glyphicon glyphicon-share-alt"></span> Salir
		 	</a>
		</div>
	{% endlocalize %}
	</form>
	
{% endblock %}

{% block javascript %}
	 <script>
    	
	 	document.getElementById("id_state").setAttribute("disabled","");
	 	document.getElementById('id_quantity_evaluated').setAttribute("disabled","")
	 	document.getElementById('id_percentage_evaluation').setAttribute("disabled", "")

	 	$('#my-form').submit(function() {
		    document.getElementById("id_state").removeAttribute("disabled");
		    document.getElementById("id_quantity_evaluated").removeAttribute("disabled");
		    document.getElementById("id_percentage_evaluation").removeAttribute("disabled");
		});

    	var start_date=$('input[name="start_date"]'); //our date input has the name "date"
    	var options={
        	format: 'dd/mm/yyyy',
        	orientation:"bottom",
        	todayHighlight: true,
        	autoclose: true,
        	language: "es",
    	};
    	start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
    	var end_date=$('input[name="end_date"]'); //our date input has the name "date"
    	end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin

    </script>
{% endblock %}