{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
  <h5>Evaluación</h5>
{% endblock %}


{% block content %}

	<form class="form-horizontal" method="post">
	   	{% csrf_token %}

		{% for field in form.visible_fields %}
		    <div class="form-group">
		      {{ field.errors }}
		      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
		        <div class="col-sm-8">
		      {{ field|addclass:'form-control' }}
		      </div>
		    </div>
		{% endfor %}
	    

	    <div class="form-group">
	    	<input type="submit" value="Submit" />
		 	<a href="{% url "evaluation:performance_evaluation_all" %}">
		 		<span class="glyphicon glyphicon-backward"></span> Regresar
		 	</a>
		</div>

	</form>

{% endblock %}