{% extends "app/base_site.html" %}
{% load staticfiles %}
{% load l10n %}
{% block title %}
    Evaluación de desempeño
{% endblock %}

{% block heading %}

    {% include "messages.html" %}

    <div style="margin: 10px;">
        <p class="titulo-form">EVALUACIONES DE DESEMPEÑO:</p>
    </div>

    <hr/><br/>


{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <p>
            <a href="{% url "evaluation:performance_evaluation_create" %}" class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </a>
            <!-- <a  href="{% url "evaluation:insert_data" %}" class="btn btn-info">
    <span class="glyphicon glyphicon-plus"></span> INSERTAR DATOS
  </a> -->

        </p>
        <form method="GET" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="required col-lg-1 control-label" for="id_year">Año:</label>
                <div class="col-lg-5">
                    <input id="id_year" name="year" maxlength="4" type="text" class="form-control" placeholder="Año"
                           value="{{ year }}">
                </div>
                <label class="required col-lg-1 control-label" for="id_state">Estado:</label>
                <div class="col-lg-5">
                    <select id="id_state" name="state" class="form-control">
                        {% for key, value in list_states.items %}
                            <option value="{{ key }}"
                                    {% if key == state %}selected="selected"{% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-10">
                    <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                </div>
            </div>
        </form>

        <!-- Output table -->

        <div class="row">


            <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
                <thead>
                <tr>
                    <th class="col-md-1">Año</th>
                    <th class="col-md-2">Fecha inicio</th>
                    <th class="col-md-2">Fecha fin</th>
                    <th class="col-md-2">Estado</th>
                    <th class="col-md-2">Acciones</th>
                    <th class="col-md-2">Configuración</th>
                    <th class="col-md-2">Unidades</th>
                </tr>
                </thead>
                <tbody>
                {% for evaluation in  object_list %}
                    <tr>
                        <td class="col-md-1">{{ evaluation.year }}</td>
                        {% localize off %}
                            <td class="col-md-2">{{ evaluation.start_date }}</td>
                        {% endlocalize %}
                        {% localize off %}
                            <td class="col-md-2">{{ evaluation.end_date }}</td>
                        {% endlocalize %}
                        <td class="col-md-2">{{ evaluation.get_state_display }}</td>
                        <td class="col-md-2">

                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-warning glyphicon glyphicon-list"
                                        data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <!-- <li>
                  <a href=" {% url "evaluation:hola_pdf" %} ">Generar reporte</a>glyphicon-list
                </li> -->
                                    <li>
                                        <a href="{% url "evaluation:performance_evaluation_detail" evaluation.id %}">Ver</a>
                                    </li>
                                    {% if evaluation.state == 'GENERATED' %}
                                        <li>
                                            <a href="{% url "evaluation:performance_evaluation_edit" evaluation.id %}">Editar</a>
                                        </li>
                                        <li>
                                            <a class="initiate-btn text-warning" id="initiate-{{ evaluation.id }}"
                                               href="{% url "evaluation:initiate_performance_eval" evaluation.id %}"
                                               title="initiate">Iniciar</a>
                                        </li>
                                        <li>
                                            <a style="display:none;"
                                               href="{% url "evaluation:performance_evaluation_delete" evaluation.id %}">Borrar</a>
                                            <a class="delete-btn text-warning" id="del-item-{{ evaluation.id }}"
                                               href="{% url "evaluation:perform_eval_delete" evaluation.id %}"
                                               title="initiate">Eliminar</a>
                                        </li>
                                    {% endif %}

                                    {% if evaluation.state == 'INITIATED' %}
                                        <li>
                                            <a class="finalize-btn text-warning" id="finalize-{{ evaluation.id }}"
                                               href="{% url "evaluation:finalize_performance_eval" evaluation.id %}"
                                               title="finalize">Finalizar</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-success glyphicon glyphicon-list"
                                        data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{% url 'evaluation:catalog_tc_all' evaluation.pk %}">Competencias
                                            técnicas</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'evaluation:catalog_uc_all' evaluation.pk %}">Competencias
                                            universales</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'evaluation:catalog_tw_all' evaluation.pk %}">Trabajo en
                                            equipo</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'evaluation:selection_contracts' evaluation.pk %}">Tipos de
                                            contratos a evaluar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="col-md-2">
                            <a href="{% url 'evaluation:inst_unit_eval_all' evaluation.pk %}"
                               title="Configuración unidades"
                               class="btn btn-info glyphicon glyphicon-share-alt"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pagination controls -->
        {% if is_paginated %}
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?state={{ state }}&year={{ year }}&page={{ page_obj.previous_page_number }}">
                                <span>Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#">
                                <span>Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in paginator.page_range %}
                        <li {% if page == page_obj.number %}class="active"{% endif %}>
                            <a href="?state={{ state }}&year={{ year }}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?state={{ state }}&year={{ year }}&page={{ page_obj.next_page_number }}">
                                <span>Next</span>
                            </a>
                        </li>
                    {% else %}
                        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
                            <a href="#">
                                <span>Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="initiate-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>
                    <div class="modal-body">
                        <p>Está seguro que desea <strong>Iniciar</strong> la evaluación de desempeño?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="#" id="initiate-confirm-btn" class="btn btn-danger"><i
                                class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal -->
        <div class="modal fade" id="finalize-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>
                    <div class="modal-body">
                        <p>Está seguro que desea <strong>Finalizar</strong> la evaluación de desempeño?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="#" id="finalize-confirm-btn" class="btn btn-danger"><i
                                class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- Modal -->
        <div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Información</h4>
                    </div>
                    <div class="modal-body">
                        <p>Está seguro que desea eliminar la Evaluación de Desempeño seleccionada?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a href="#" id="delete-confirm-btn" class="btn btn-danger"><i class="icon-trash"></i>Aceptar</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

{% block javascript %}
    <script>

        $(".initiate-btn").click(function () {
            console.log('intro >>>')
            $("#initiate-confirm-btn").attr("href", $(this).attr("href"));
            $("#initiate-confirm-modal").modal('toggle');
            return false;
        });

        $(".finalize-btn").click(function () {
            console.log('intro >>>');
            $("#finalize-confirm-btn").attr("href", $(this).attr("href"));
            $("#finalize-confirm-modal").modal('toggle');
            return false;
        });

        $(".delete-btn").click(function () {
            console.log('intro >>>');
            $("#delete-confirm-btn").attr("href", $(this).attr("href"));
            $("#delete-confirm-modal").modal('toggle');
            return false;
        });

    </script>
{% endblock %}