{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title%}
{% endblock  %}

{% block heading %}
	 {% include "messages.html" %}

	<div style="margin: 20px;">
		<p class="titulo-form">CONFIGURACIÓN DE LOS TIPOS DE CONTRATOS A EVALUAR:</p>
	</div>  
   	<hr/><br/>
{% endblock %}

{% block content %}
	<form method="post">
	   {% csrf_token %}
		<div class="row">
		    <div class="col-xs-5">
		    	<b>Tipos de contratos</b>
		        <select name="from" id="search" class="form-control" size="20" multiple="multiple">
		            {% for type_contract in  list_type_contracts %}
		            	<option value="{{ type_contract.pk }}">{{ type_contract.labor_system.labor_system }} - {{ type_contract.kind }}</option>
		            {% endfor %}
		        </select>
		    </div>
		    
		    <div class="col-xs-2">
		    	<br>
		    	<br>
		    	<br>
		        <button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
		        <button type="button" id="search_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
		        <button type="button" id="search_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
		        <button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
		    </div>
		    
		    <div class="col-xs-5">
		    	<b>Tipos de contratos a evaluar</b>
		        <select name="to" id="search_to" class="form-control" size="20" multiple="multiple">
		        	{% for type_contracts_evaluate in list_type_contracts_evaluate  %}
		        		<option value="{{ type_contracts_evaluate.type_contract.pk }}">{{ type_contracts_evaluate.type_contract.labor_system.labor_system }} - {{ type_contracts_evaluate.type_contract.kind }}</option>
		        	{% endfor %}
		        </select>
		    </div>
		</div>
		
 		<hr/><br/>

		<div class="row">
			 <div class="form-group">
		    	<button type="submit" class="btn btn-success" name="save">
			    	<span class="glyphicon glyphicon-ok"></span> Guardar
			    </button>
			 	<a href="{% url "evaluation:performance_evaluation_all" %}" class="btn btn-primary">
			 		<span class="glyphicon glyphicon-share-alt"></span> Salir
			 	</a>
			</div>	
		</div>

	</form>
{% endblock %}

{% block javascript %}
	 <script type="text/javascript">
	    $('#search').multiselect({
	        search: {
	            left: '<input type="text" name="q" class="form-control" placeholder="Buscar..." />',
            	right: '<input type="text" name="q" class="form-control" placeholder="Buscar..." />',
	        }
	    });
	</script>
{% endblock %}