{% extends "app/base_site.html" %}

{% load evaluation_extras %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block title %}
{% endblock %}

{% block heading %}
    <div style="margin: 20px;">
        <p class="titulo-form">CATALOGO:</p>
    </div>
    <hr/><br/>
{% endblock %}


{% block content %}
    <div class="right_col" role="main">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="code">Código</label>
                <div class="col-sm-8">
                    <p class="form-control-static" id="id_code" maxlength="100" name="code">{{ object.code }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">Nombre</label>
                <div class="col-sm-10">
                    <p class="form-control-static" id="id_name" maxlength="200" name="name">{{ object.name }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="description">Descripción</label>
                <div class="col-sm-8">
                    <p class="form-control-static" id="id_description" name="description">{{ object.description }}
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="state">Estado</label>
                <div class="col-sm-10">
                    <p class="form-control-static" id="id_state" name="state">{{ object.get_state_display }}</p>
                </div>
            </div>


            <div class="form-group">
                <a href="{% url 'catalogo:catalog_index' %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-share"></span> Salir
                </a>

            </div>

        </form>
    </div>

{% endblock %}