{% extends "app/base_site.html" %}
{% load staticfiles %}


{% block title %} Municipio de Loja{% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}
{% block heading %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {% include "mensajes/mensajes.html" %}
            {#            {% if message.tags == "success" %}#}
            {#                <strong>Correcto!</strong> {{ message }}#}
            {#            {% endif %}#}
            {#            {% if message.tags == "danger" %}#}
            {#                <strong>Error!</strong> {{ message }}#}
            {#            {% endif %}#}
        </div>
    {% endfor %}

{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Catalogo
                        <small>Lista de Catalogos</small>
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="row">
                <div class="x_panel">
                    <div class="x_title">
                        <a class="btn btn-success" href="{% url "catalogo:catalog_create" %}">Nuevo Catalogo</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for catalog in  page_obj %}
                                    <tr>
                                        <td>{{ catalog.code }}</td>
                                        <td>{{ catalog.name }}</td>
                                        <td>{{ catalog.get_state_display }}</td>
                                        <td>
                                            <a href="{% url 'catalogo:catalog_edit' catalog.pk %}" title="Editar"
                                               class="btn btn-info fa fa-edit"> Editar</a>

                                            <a href="{% url 'catalogo:item_index' catalog.pk %}" title="Items"
                                               class="btn btn-warning fa fa-tags font "> Items </a>
                                            {#                                            <!-- <a href="{% url 'catalogo:item_all' %}" > Items </a> -->#}

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    {% include 'snippets/paginate.html' %}#}

    <!-- Modal -->
    <div class="modal fade" id="modalEliminar" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>Está seguro que desea eliminar el catalogo seleccionado?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="confirmar">Aceptar</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.flash.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.html5.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.print.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/jszip.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/vfs_fonts.js"></script>


    <script>
        var id_item;

        function eliminar(id) {
            id_item = id;
            $("#modalEliminar").modal();
        }

        $('#confirmar').click(function () {
            window.location.href = "borrar/" + id_item;
        });


    </script>
{% endblock javascripts %}