{% extends "app/base_site.html" %}
{% load evaluation_extras %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title %}

{% endblock %}

{% block heading %}
    <div style="margin: 20px;">
        <p class="titulo-form">CATALOGO:</p>
    </div>
    <hr/><br/>

{% endblock %}


{% block content %}
    <div class="right_col" role="main">

        <div class="">
            <div class="title_right"></div>
            <div class="clearfix"></div>
            <div class="x_title">
                <h2>Registro Catalogo </h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <form id="my-form" class="form-horizontal" method="post">
            {% csrf_token %}

            {% for field in form.visible_fields %}

                {% if field.errors %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <div class=" alert alert-danger alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span>
                                </button>
                                <strong>{{ field.errors }}</strong>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                    <div class="col-sm-8">
                        {{ field|addclass:'form-control' }}
                    </div>
                </div>
            {% endfor %}

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success" name="save">
                            <span class="glyphicon glyphicon-check"></span> Guardar
                        </button>
                        <a href="{% url "catalogo:catalog_index" %}" class="btn btn-primary" role="button">Cancelar</a>
                    </div>
                </div>
            </div>


        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        document.getElementById("id_code").disabled = true;
        $('#my-form').submit(function () {
            document.getElementById("id_code").disabled = false;
        });
    </script>

{% endblock %}