{% extends "app/base_site.html" %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block title %}
    {% if create %}Crear{% else %}Editar{% endif %} Ciudades
{% endblock %}

{% block heading %}
    <h2>
        {% if create %}
            Crear ciudades
        {% else %}
            Editar ciudades
        {% endif %}
    </h2>
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <form method="post">
            {% csrf_token %}

            <fieldset class="module aligned ">

                <div>
                    <label class="required" for="id_code">Code:</label>
                    <input class="vTextField" id="id_code" maxlength="15" name="code" type="text"
                           value="{{ item.code }}">
                </div>

                <div>
                    <label class="required" for="id_name">Name:</label>
                    <input class="vTextField" id="id_name" maxlength="200" name="name" type="text"
                           value="{{ item.name }}">
                </div>

                <div>
                    <label for="id_description">Description:</label>
                    <textarea class="vLargeTextField" cols="40" id="id_description" name="description" rows="10"
                              value="{{ item.description }}"></textarea>
                </div>

                <div>
                    <label class="required" for="id_parent_item">Parent item::</label>
                    <div class="related-widget-wrapper">
                        <select id="id_parent_item" name="parent_item">
                            {% for var in  item_list %}
                                <option value="{{ var.id }}"
                                        {% if var == item.parent_item %}selected="selected"{% endif %}>
                                    {{ var.name }}
                                </option>

                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div>
                    <label class="required" for="id_catalog">Catalog:</label>
                    <div class="related-widget-wrapper">
                        <select id="id_catalog" name="catalog">
                            <option value="0" selected="selected">---------</option>
                            <option value="3">BANK: Banco</option>
                            <option value="1">PAIS: País</option>
                            <option value="2">PROVINCIA: Provincia</option>
                            <option value="4">TIPOCTA: Tipo de cuenta</option>
                        </select>
                    </div>
                </div>

            </fieldset>

            <input type="submit" value="Save" name="save">
            <input type="submit" value="Return" name="return">
            <input type="submit" value="Cancel" name="cancel">

        </form>
    </div>
{% endblock %}