{% extends "app/base_site.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block title%}
	
{% endblock  %}

{% block heading %}
  <h2>
    {% if create %}
      Crear item
    {% else %}
      Editar item
    {% endif %}
  </h2>
{% endblock %}


{% block content %}
	
  <form class="form-horizontal" method="post">
	
  	{% csrf_token %}
  	{{ form }}

	<div class="form-group">
	      <input type="submit" class="btn btn-sm btn-success" value="Guardar" name="save">
	      <input type="submit" class="btn btn-sm btn-default" value="Cancelar" name="return">
	      <input type="submit" class="btn btn-sm btn-default" value="Cancel" name="cancel">
	</div>


  </form>
{% endblock  %}

$('.django-select2').djangoSelect2();