{% extends "app/base_site.html" %}
{% load evaluation_extras %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block title %}

{% endblock %}

{% block heading %}
    <div style="margin: 20px;">
        <p class="titulo-form">ITEM:</p>
    </div>
    <hr/><br/>
{% endblock %}


{% block content %}
    <div class="right_col" role="main">
        <form class="form-horizontal" method="post">
            {% csrf_token %}

            {% for field in form.visible_fields %}
                {% if field.errors %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <div class=" alert alert-danger alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span>
                                </button>
                                <strong>{{ field.errors }}</strong>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">

                    <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                    <div class="col-sm-8">
                        {{ field|addclass:'form-control' }}
                    </div>
                </div>
            {% endfor %}

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success" name="save">
                            <span class="glyphicon glyphicon-check"></span> Guardar
                        </button>
                        <button onClick="javascript:history.go(-1)" class="btn btn-primary" name="cancel">
                            <span class="glyphicon glyphicon-check"></span> Cancelar
                        </button>
                    </div>
                </div>
            </div>


        </form>
    </div>
{% endblock %}