{% extends "app/base_site.html" %}
{% load staticfiles %}


{% block title %} Municipio de Loja{% endblock title %}
{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}
{% block heading %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {% if message.tags == "success" %}
                <strong>Correcto!</strong> {{ message }}
            {% endif %}
            {% if message.tags == "danger" %}
                <strong>Error!</strong> {{ message }}
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>ITEM
                        <small>Lista de Items</small>
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            {% include "mensajes/mensajes.html" %}
            <div class="row">
                <div class="x_panel">
                    <div class="x_title">
                        <a class="btn btn-success" href="{% url "catalogo:item_create" catalog.pk %}">Nuevo Item</a>
                        <a class="btn btn-info" href="{% url "catalogo:catalog_index" %}">Regresar</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in  page_obj %}
                                    <tr>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.description }}</td>
                                        <td>
                                            <a href="{% url "catalogo:item_edit" catalog.pk item.pk %}" title="Editar"
                                               class="btn btn-info glyphicon glyphicon-pencil">
                                            </a>
                                            <a id="del-item-{{ item.id }}"
                                               href="{% url "catalogo:item_delete" catalog.pk item.pk %}"
                                               title="Eliminar"
                                               class="delete-btn  btn btn-danger glyphicon glyphicon-remove"></a>

                                            {#                                            <a onClick="eliminar({{ item.pk }},{{ catalog.pk }})" title="Eliminar"#}
                                            {#                                               class="delete-btn btn btn-danger glyphicon glyphicon-remove"> </a>#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    {% include 'snippets/paginate.html' %}#}
    <div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>Está seguro que desea eliminar el ítem seleccionado?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="delete-confirm-btn" class="btn btn-success"><i class="icon-trash"></i>Aceptar</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.flash.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.html5.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.print.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/jszip.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/vfs_fonts.js"></script>

    <script>

        $(".delete-btn").click(function () {
            console.log('intro >>>')
            $("#delete-confirm-btn").attr("href", $(this).attr("href"));
            $("#delete-confirm-modal").modal('toggle');
            return false;
        });

    </script>
{% endblock javascripts %}