
<nav>
	<ul class="pagination">
        {% if page_obj.has_previous %}
          	<li>
            	<a href="?page={{ page_obj.previous_page_number }}"><span>Anterior</span></a>
            </li>
        {% endif %}
		<li>
        	<span class="current" style="color:#33334C;">
            	Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        	</span>
		</li>
        {% if page_obj.has_next %}
        	<li>
            	<a href="?page={{ page_obj.next_page_number }}"></span>Siguiente</span></a>
            </li>
        {% endif %}
	</ul>
</nav>