{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Evaluación de desempeño
{% endblock %}

{% block heading %}
  
<h5> EVALUACIONES DE DESEMPEÑO </h5>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
{% endblock %}

{% block content %}

<form method="GET" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="required col-lg-2 control-label" for="id_year">Año:</label>
    <div class="col-lg-10">
      <input id="id_year" name="year" maxlength="4" type="text" class="form-control" placeholder="Año" value="{{ year }}">
    </div>
  </div>

  <div class="form-group">
    <label class="required col-lg-2 control-label" for="id_state">Estado:</label>
    <div class="col-lg-10">
      <select id="id_state" name="state" class="form-control"> 
        {% for key, value in states.items %} 
           <option value="{{ key }}" 
          {% if key == state %}selected="selected"{% endif %}>
          {{ value }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

 <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <input type="submit" class="btn btn-default" value="Buscar" />
    </div>
  </div>

</form>

<!-- Output table -->

  <div class="row">
    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Año</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th>Estado</th> 
          <th>Acciones</th>
        </tr>
      </thead>  
      <tbody>
      {% for evaluation in  object_list %}
        <tr>
          <td>{{ evaluation.year }}</td>          
          <td>{{ evaluation.start_date }}</td>
          <td>{{ evaluation.end_date }}</td>
          <td>{{ evaluation.state }}</td>
          <td></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<!-- Pagination controls -->
{% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?state={{ state }}&year={{ year }}&page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?state={{ state }}&year={{ year }}&page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?state={{ state }}&year={{ year }}&page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}