{% extends "base.html" %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block title %}
 Insertar datos
{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}
	<div>
		<h5>INSERTEMOS DATOS</h5>
		<a class="text-danger" id="insertData-A" 
                        href="#" data-form="/evaluation/insert_data/" title="Insertar datos">ITEMS CATALOGO AREAESTUDIO</a>
        
        <div id="message" style="display: none;" class="alert alert-info alert-dismissable">
    		<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    		<strong>Info!</strong> Datos ingresados
  		</div>

	</div>
{% endblock %}

{% block javascript %}

<script>
	//$("#del_activity").click(function(ev) { // for each edit knowledge url
	$("a[id^=insertData-A]").click(function(ev) { // for each edit knowledge url
        console.log('intro insertData-A');
        ev.preventDefault();// prevent navigation
        var url = $(this).data("form");
        console.log('>>> ' + url);
        BootstrapDialog.show({
            type: BootstrapDialog.TYPE_SUCCESS, 
            title: 'Confirmar',
            message: 'Está seguro que desea insertar los datos',
            closable: false,
            buttons: [ {
                label: 'Aceptar',
                action: function(dialog){
                    $.ajax({ 
                        type: "POST", // http method
                        url: url, // get the knowledge form url 
                        data : {}, // data sent with the delete request
                        context: this,
                        success: function(data, status) {
                            console.log("insert data successful");
                            console.log('>>>');
                            console.log(data);
                            dialog.close();
                            $("#message").show();
                            /*window.location="/evaluation/personal_evaluation/evaluate/" + personal_eval_id + "/";*/
                        },
                        error: function(data, status) {
                            console.log("insert data error");
                            console.log(data.status);
                            console.log('>>>');
                            console.log(data.responseText);
                          }
                    });
                }
            }, {
                label: 'Cerrar',
                action: function(dialog){
                    dialog.close();
                }
            }]
        });
        return false; // prevent the click propagation
    });

</script>
{% endblock %}