{% extends "base.html" %}
{% load evaluation_extras  %}
{% load l10n %}
{% load crispy_forms_tags %}


{% block title %}
  {% if create %}Crear{% else %}Editar{% endif %} actividades de trabajo
{% endblock %}

{% block heading %}
  <h2>
    {% if create %}
      Crear actividad de trabajo
    {% else %}
      Editar actividad de trabajo
    {% endif %}
  </h2>
{% endblock %}

{% block content %}

<form class="form-horizontal" method="post">
  {% csrf_token %}


  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.errors }}
      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
        <div class="col-sm-8">
      {{ field|addclass:'form-control' }}
      </div>
    </div>
  {% endfor %}

  <div class="form-group">
      <input type="submit" class="btn btn-sm btn-success" value="Guardar" name="save">
      <input type="submit" class="btn btn-sm btn-default" value="Cancelar" name="return">
      <input type="submit" class="btn btn-sm btn-default" value="Cancel" name="cancel">
  </div>


</form>

{% endblock %}
