{% extends "base.html" %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block title %}
  {% if create %}Crear{% else %}Editar{% endif %} actividades de trabajo
{% endblock %}

{% block heading %}
  <h2>
    {% if create %}
      Crear actividad de trabajo
    {% else %}
      Editar actividad de trabajo
    {% endif %}
  </h2>
{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}

  <label class="required" for="id_quantity">Cantidad:</label>
  <input class="vIntegerField" id="id_quantity" name="quantity" step="any" type="number" value="{{ ja.quantity|localize }}">
  <br>
  <label class="required" for="id_factor">Factor:</label>
  <input id="id_factor" name="factor" step="0.01" type="number"  value="{{ ja.factor }}">
  <br>
  <label class="required" for="id_apply_percentage">Aplica percentage:</label>
  <input class="vTextField" id="id_apply_percentage" maxlength="2" name="apply_percentage" type="text" value="{{ ja.apply_percentage }}">
  <br>
  <label>Incremento: </label>
  <input name="percentage_increase" value="{{ ja.percentage_increase }}">
  <br>
  <label>Total actividades esenciales: </label>
  <input name="total_core_activities" value="{{ ja.total_core_activities }}">
  <br>
  <input type="submit" value="Save" name="save">
  <input type="submit" value="Return" name="return">
  <input type="submit" value="Cancel" name="cancel">

</form>

{% endblock %}
