{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Evaluación de desempeño
{% endblock %}

{% block heading %}
  EVALUACIONES DE DESEMPEÑO

{% endblock %}

{% block content %}
<form method="GET" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="required col-lg-2 control-label" for="id_year">Año:</label>
    <div class="col-lg-10">
      <input id="id_year" name="year" maxlength="4" type="text" class="form-control" placeholder="Año">
    </div>
  </div>

  <div class="form-group">
    <label class="required col-lg-2 control-label" for="id_state">Estado:</label>
    <div class="col-lg-10">
      <select id="id_state" name="state" class="form-control">
        <option value="ACTIVE" selected="selected">Activo</option>
        <option value="INACTIVE">Inactivo</option>
      </select>
    </div>
  </div>

 <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <input type="submit" class="btn btn-default" value="Buscar" />
    </div>
  </div>

</form>

<!-- Output table -->

  <div class="row">
    <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
      <thead>
        <tr>
          <th>Año</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th>Estado</th> 
          <th>Acciones</th>
        </tr>
      </thead>  
      <tbody>
      {% for evaluation in  evaluations %}
        <tr>
          <td>{{ evaluation.year }}</td>          
          <td>{{ evaluation.start_date }}</td>
          <td>{{ evaluation.end_date }}</td>
          <td>{{ evaluation.state }}</td>
          <td></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<div class="pagination">
    <span class="step-links">
        {% if evaluations.has_previous %}
            <a href="?page={{ evaluations.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ evaluations.number }} of {{ evaluations.paginator.num_pages }}.
        </span>

        {% if evaluations.has_next %}
            <a href="?page={{ evaluations.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}