{% extends "base.html" %}
{% load staticfiles %}

<h1>Cursos de Platzi</h1>
<p>
<ul>
    {% for evaluation in object_list %}
        <li>
            <p>{{ evaluation.year }}</p>
            <p>{{ evaluation.state }}</p>
        </li>
    {% endfor %}
</ul>

{% include 'snippets/pagination.html' %}