{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
	Evaluación de desempeño
{% endblock %}

{% block heading %}
	EVALUACIONES DE DESEMPEÑO

{% endblock %}
	
{% block content %}
	<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
	
	<div class="row">
		<p>
			<a href="create/" class="btn btn-info">
				<span class="glyphicon glyphicon-plus"></span>Nuevo
			</a>
		</p>
	</div>
	{% if object_list %}
	<div class="row">
		 <table class="table table-striped table-hover" cellpadding=0 cellspacing=10>
			<thead>
				<tr>
					<th>Año</th>
					<th>Fecha inicio</th>
					<th>Fecha fin</th>
					<th>Estado</th>	
					<th>Acciones</th>
				</tr>
			</thead>	
			<tbody>
			{% for evaluation in  object_list %}
				<tr>
					<td>{{ evaluation.year }}</td>					
					<td>{{ evaluation.start_date }}</td>
					<td>{{ evaluation.end_date }}</td>
					<td>{{ evaluation.state }}</td>
					<td></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-12 text-center">
    	{% include 'snippets/pagination.html' %}
    </div>

	{% else %}
	<div class="row">
        <p>No existen evaluaciones registradas</p>
    </div>
    {% endif %}
	

{% endblock %}