{% extends "app/base_site.html" %}

{% block title %} Municipio de Loja{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">


                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="title_left">
                                <h3>CATALOGO </h3>
                            </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel-body">
                                        <label for="disabledSelect">Nombre:</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled=""
                                               value="{{ catalogo.name }}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-6">
                                        <div class="panel-body">
                                            <label for="disabledSelect">Código:</label>
                                            <input class="form-control" id="disabledInput" type="text" disabled=""
                                                   value="{{ catalogo.code }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#    FIN informacion general  #}

            <div class="clearfix"></div>
            {% include "mensajes/mensajes.html" %}
            <div class="title_left">
                <h3>ITEMS </h3>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <a class="btn btn-success" href="{% url "partidas:crear_item"  catalogo.pk %}">Nuevo
                                Ítem</a>
                            <a class="btn btn-info" href="{% url "partidas:listar_catalogo" %}">Cancelar
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in page_obj %}
                                    <tr>
                                        <td>
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-success dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false"> <span
                                                        class="fa fa-navicon"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a class="fa fa-pencil"
                                                           href="{% url "partidas:editar_item" catalogo.pk item.pk %}">
                                                        Editar</a>
                                                    </li>
                                                    <li><a id="del-item-{{ item.id }}"
                                                           href="{% url "partidas:eliminar_item" catalogo.pk item.pk %}"
                                                           title="Eliminar"
                                                           class="delete-btn fa fa-eraser">
                                                        Eliminar</a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </td>
                                        <td> {{ item.code }}</td>
                                        <td> {{ item.name }}</td>
                                    </tr>




                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>Está seguro que desea eliminar el ítem seleccionado?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a href="#" id="delete-confirm-btn" class="btn btn-success"><i class="icon-trash"></i>Aceptar</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>

        $(".delete-btn").click(function () {
            console.log('intro >>>')
            $("#delete-confirm-btn").attr("href", $(this).attr("href"));
            $("#delete-confirm-modal").modal('toggle');
            return false;
        });

    </script>

{% endblock javascripts %}