<!-- Modal -->
{% load contrato_templatetags %}
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;
            </button>
            <h4 class="modal-title">{{ titulo }}</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" action="{% url 'partidas:clonar_partida' partida %}"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <p>Esta seguro de clonar la Partida presupuestaria seleccionada.</p>
                </div>

                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="submit" class="btn btn-primary" name="submit" value="Cambiar">Clonar
                            </button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

