<!-- Modal -->
<div class="modal-dialog modal-lg" style="overflow-y: scroll; max-height:85%;">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;
            </button>
            <h4 class="modal-title">Historial de Partidas Presupuestarias-Estados</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form"
                  action="{% url 'partidas:historial_partida' partida %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <table id="tabla-historial" class="table">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Razón</th>
                            <th>Responsable</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for historial in historiales %}
                            <tr>
                                <td> {{ historial.registerdate }}</td>
                                <td> {{ historial.estado }}</td>
                                <td> {{ historial.reason }}</td>
                                <td> {{ historial.user.first_name }} {{ historial.user.last_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Regresar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


