<!-- Modal -->
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;
            </button>
            <h4 class="modal-title">CAMBIAR ESTADO PARTIDA PRESUPUESTARIA</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" action="{% url 'partidas:estado_partida' partida %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="area">Estado:</label>
                    <div class="col-sm-8">
                        <select name="estadoPartida" id="estadoPartida">
                            {% for estado in estados %}
                                {% if estado.name != 'OCUPADA' %}
                                    {% if estado.name != 'LIBRE' %}
                                        <option value="{{ estado.pk }}">{{ estado }}</option>
                                    {% endif %}
                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="area">Motivo:</label>
                    <div class="col-sm-8">
                            <textarea required class="vLargeTextField" style="width:400px" name="motivo" rows="5" cols="25"
                                      id="motivo"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="submit" class="btn btn-primary" name="submit" value="Cambiar">Cambiar</button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

