{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="title_right"></div>
            <div class="clearfix"></div>
            <div class="x_title">
                <h2>Asignar empleado a Partida </h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="form-horizontal">
            {% if mensaje %}
                <div class="col-sm-6 center-margin" >
                        <div class=" alert alert-warning alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span>
                            </button>
                            <strong>{{ mensaje }}   </strong>
                        </div>
                </div>

            {% endif %}
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="x_panel">
                    <div class="form-group" id="buscadorEmp">
                        <label class="col-sm-3 control-label" for="buscador"></label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input id="partida_pk" type="hidden" value="{{ pk }}">
                                <input class="form-control" maxlength="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" id="buscador" v-model="cedula"
                                       placeholder="Buscar Empleado por cédula"
                                       v-on:keyup.enter="buscarEmpleado()">
                                <span class="input-group-btn">
                                    <button type="button"  v-bind:disabled="!esValido" class="btn btn-primary" v-on:click="buscarEmpleado()">
                                        Buscar</button></span>
                            </div>


                        </div>
                    </div>

                    <div class="x_content">

                        <label class="col-lg-2 control-label">Empleado:</label>
                        <div class=class="col-lg-2">
                            <div class="col-sm-8">
                                <input name="currentemployee" type="hidden" value="{{ empleado.pk }}">
                                <input disabled class="form-control" type="text" id="empleado" value="{{ empleado }}">
                            </div>
                        </div>
                    </div>

                    <div class="x_content">
                        <label class="col-lg-2 control-label">Razón:</label>
                        <div class=class="col-lg-1">
                            <textarea style="width:700px" name="razon" rows="6" cols="20" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4">
                            <button type="submit" class="btn btn-success fa fa-save"> Guardar</button>
                            <a href="{% url "partidas:listar_partida" 0 %}" class="btn btn-primary fa fa-remove">
                                Cancelar </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}

    <script src="/static/js/constans.js"></script>
    <script>
        {#        TODO cambiar URL host en constans.js#}
        var URL_empleado = HOST + '/partidas/partida/asignar/';


        var em = new Vue({
            el: '#buscadorEmp',
            delimiters: ['[[', ']]'],
            data: {

                cedula: null,
                partida: '',

            },
            methods: {
                buscarEmpleado: function () {
                    this.partida = document.getElementById("partida_pk").value;
                    window.location.replace(URL_empleado + this.partida + '/' + this.cedula)
                }
            },
            computed: {
                esValido: function () {
                    return this.cedula != null;
                }
            }
        });
    </script>
{% endblock javascripts %}

