<!-- Modal -->
<div class="modal-dialog modal-lg" style="overflow-y: scroll; max-height:85%;">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;
            </button>
            <h4 class="modal-title">Historial de Partidas Presupuestarias-Empleado</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" action="{% url 'partidas:historial_empleado' partida%}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <table id="tabla-historial" class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cédula</th>
                            <th>Fecha de Asignación</th>
                            <th>Fecha de Finalización</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for historial in historialesEmpleado %}
                            <tr>
                                <td> {{ historial.id }}</td>
                                <td> {{ historial.empleado.person.name }}</td>
                                <td> {{ historial.empleado.person.lastname }}</td>
                                <td> {{ historial.empleado.person.cedula }}</td>
                                <td> {{ historial.fechaRegistro }}</td>
                                <td> {{ historial.fechaSalida }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Regresar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
