{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block title %} Municipio de Loja{% endblock title %}

{% block stylesheets %}
    {{ block.super }}

{% endblock stylesheets %}

{% block content %}
    <div id="popup" class="modal fade" role="dialog"></div>
    <div id="popupLiberar" class="modal fade" role="dialog"></div>
    <div id="popupHistorialEstados" class="modal fade" role="dialog"></div>
    <div id="popupHistorialEmpleados" class="modal fade" role="dialog"></div>
    <div id="popupDuplicarPartidas" class="modal fade" role="dialog"></div>
    <div id="popupClonarPartidas" class="modal fade" role="dialog"></div>

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="title_left">
                                <h3>LISTA DE PARTIDAS PRESUPUESTARIAS </h3>
                            </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            {#    FIN TITULO  #}

            <div class="clearfix"></div>

            <div class="row" id="partidas">
                <form id="formPartida" class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="x_panel">
                        {% include "mensajes/mensajes.html" %}
                        <div class="x_title">
                            <h2>Criterios de Busqueda</h2>

                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <input id="programa_pk" type="hidden" value="{{ programa_pk }}">
                            <label class="control-label col-lg-1 ">Programas</label>
                            <div class="col-sm-5">
                                <select class="form-control" v-model="programa" :required="false" name="programa"
                                        @change="cargarSubprogramas">
                                    <option disabled value="">Seleccione un Programa</option>
                                    <option v-for="programa in programas " v-bind:value="programa.pk">
                                        [[ programa.code ]]- [[ programa.name ]]
                                    </option>
                                </select>
                            </div>

                            <input id="subprograma_pk" type="hidden" value="{{ subprograma_pk }}">
                            <label class="control-label col-lg-1 ">Subprograma</label>
                            <div class="col-sm-5">
                                <select class="form-control" v-model="subprograma" :required="false"
                                        name="subprograma"
                                        @change="cargarProyectos">
                                    <option disabled value="">Seleccione un Subprograma</option>
                                    <option v-for="subprograma in subprogramas " v-bind:value="subprograma.pk">
                                        [[ subprograma.code ]]-[[ subprograma.name ]]
                                    </option>
                                </select>
                            </div>
                            {#                            </form>#}
                        </div>
                        <div class="x_content">
                            {#                            <form class="form-horizontal" method="post">#}
                            {% csrf_token %}
                            <input id="proyecto_pk" type="hidden" value="{{ proyecto_pk }}">
                            <label class="control-label col-lg-1 ">Proyecto</label>
                            <div class="col-sm-5">
                                <select class="form-control" v-model="proyecto" :required="false" name="proyecto"
                                        @change="cargarActividades">
                                    <option disabled value="">Seleccione un Proyecto</option>
                                    <option v-for="proyecto in proyectos " v-bind:value="proyecto.pk">
                                        [[ proyecto.code ]]-[[ proyecto.name ]]
                                    </option>
                                </select>
                            </div>

                            <input id="actividad_pk" type="hidden" value="{{ actividad_pk }}">
                            <label class="control-label col-lg-1 ">Actividades</label>
                            <div class="col-sm-5">
                                <select class="form-control" v-model="actividad" :required="false" name="actividad"
                                        @change="cargarCodigo">
                                    <option disabled value="">Seleccione una Actividad</option>
                                    <option v-for="actividad in actividades " v-bind:value="actividad.pk">
                                        [[ actividad.code ]]-[[ actividad.name ]]
                                    </option>
                                </select>
                            </div>

                            {#                            </form>#}
                        </div>
                        <div class="x_content">

                            <label class="col-lg-1 control-label">Estados:</label>
                            <div class=class="col-lg-1">
                                {{ partidaform.status_itm.errors }}
                                <div class="col-sm-5">
                                    {{ partidaform.status_itm|addclass:'form-control' }}
                                </div>
                            </div>
                            <input id="cedula_hiden" type="hidden" value="{{ cedula }}">
                            <label class="control-label col-lg-1">Cédula</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" id="cedula" name="cedula" value="cedula"
                                       v-model="cedula" placeholder="Buscar por número de cédula">

                            </div>
                        </div>
                        <div class="x_content">
                            <input id="codigo_pk" type="hidden" value="{{ codigo }}">
                            <label class="col-lg-4 control-label">Código Partida:</label>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="codigo" name="codigo" value="codigo"
                                       v-model="codigo"
                                       placeholder="Ingrese código partida resupuestaria">
                            </div>
                        </div>
                    </div>

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Busqueda Avanzada</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <label class="col-lg-1 control-label">Tipos de Gastos:</label>
                            <div class=class="col-lg-1">
                                {{ partidaform.errors }}
                                <div class="col-sm-5">
                                    {{ partidaform.spending_itm|addclass:'form-control' }}
                                </div>
                            </div>
                            <label class="col-lg-1 control-label">Tipos de Régimen:</label>
                            <div class=class="col-lg-1">
                                {{ partidaform.errors }}
                                <div class="col-sm-5">
                                    {{ partidaform.regime_itm|addclass:'form-control' }}
                                </div>
                            </div>
                        </div>
                        <div class="x_content">
                            <input id="remuneracion_pk" type="hidden" value="{{ remuneracion }}">
                            <label class="col-lg-1 control-label">Remuner.:</label>
                            <div class="col-sm-5 ">
                                <input class="form-control" type="text" id="remuneracion" name="remuneracion"
                                       value="remuneracion"
                                       v-model="remuneracion"
                                       placeholder="Ingrese remuneración">
                            </div>
                            <input id="observacion_pk" type="hidden" value="{{ observacion }}">
                            <label class="col-lg-1 control-label">Observacion:</label>
                            <div class="col-sm-5 ">
                                <input class="form-control" type="text" id="observacion" name="observacion"
                                       value="observacion"
                                       v-model="observacion"
                                       placeholder="Ingrese  observación">
                            </div>

                            {#                            </form>#}

                        </div>
                        <div class="x_content">
                            <label class="col-lg-1 control-label">Cargos:</label>
                            <div class=class="col-lg-1">
                                {{ partidaform.errors }}
                                <div class="col-sm-5">
                                    {{ partidaform.charge_itm|addclass:'form-control' }}
                                </div>
                            </div>
                            <label class="col-lg-1 control-label">Grupos:</label>
                            <div class=class="col-lg-1">
                                {{ partidaform.errors }}
                                <div class="col-sm-5">
                                    {{ partidaform.group_itm|addclass:'form-control' }}
                                </div>
                            </div>
                            {#                            </form>#}

                        </div>
                        <div class="x_content">
                            <label class="col-lg-1 control-label">Grados:</label>
                            <div class=class="col-lg-1">
                                {{ partidaform.errors }}
                                <div class="col-sm-5">
                                    {{ partidaform.grade_itm|addclass:'form-control' }}
                                </div>
                            </div>
                            <label class="col-lg-1 control-label">Categorias:</label>
                            <div class=class="col-lg-1">
                                {{ partidaform.errors }}
                                <div class="col-sm-5">
                                    {{ partidaform.category_itm|addclass:'form-control' }}
                                </div>
                            </div>
                            {#                            </form>#}
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-6 col-xs-12 ">
                        <a href="{% url "partidas:crear_partida" %}" class="btn btn-success fa fa-plus"> Nueva</a>{#                            Reporte </a>#}
                        <button type="submit" value="reporte" name="reporte" class="btn btn-success fa fa-file-pdf-o">
                            Reportes
                        </button>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 ">
                        <button type="submit" class="btn btn-success fa fa-search"> Buscar</button>
                        <a href="{% url "partidas:listar_partida" clone %}" class="btn btn-primary fa fa-refresh">
                            Limpiar </a>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12 ">
                        {#                        <a class="btn btn-success fa fa-times-circle" >Liberar Resultados</a>#}
                        <button type="button" class="btn btn-success fa fa-times-circle" data-toggle="modal"
                                data-target="#myModal">Liberar Resultados
                        </button>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Esta seguro de ELIMINAR las partidas listadas</p>


                                    </div>
                                    <div class="modal-footer">
                                        <input id='liberarTodo'  name='liberarTodo' value="" type='hidden'/>
                                         <button onclick="liberarTodas()" class="btn btn-success fa fa-times-circle"
                                                data-dismiss="modal"> Liberar Resultados
                                        </button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="x_panel">
                        <div class="x_content">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Cédula</th>
                                    <th>Nombres</th>
                                    <th>Nivel Directivo</th>
                                    <th>Dirección Institucional</th>
                                    <th>Cargo</th>
                                    <th>Remunerac.</th>
                                    <th>Código Partida</th>
                                    <th>Area Partida</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for partida in partidas %}
                                    <tr>
                                        <td>
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-success dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false"> <span
                                                        class="fa fa-navicon"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a class="fa fa-pencil"
                                                           href="{% url "partidas:editar_partida" partida.id %}"> Ver o
                                                        Editar</a>
                                                    </li>
                                                    <li>
                                                        <a class="fa fa-refresh"
                                                           onclick="return abrir_modal('{% url 'partidas:estado_partida' partida.pk %}')">
                                                            Cambiar estado
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a class="fa fa-folder"
                                                           onclick="return abrir_historialEmpleados('{% url 'partidas:historial_empleado' partida.pk %}')">
                                                            Historial de empleados
                                                        </a>
                                                    </li>

                                                    <li><a class="fa fa-list-alt"
                                                           onclick="return abrir_historialEstados('{% url 'partidas:historial_partida' partida.pk %}')">
                                                        Historial de estados
                                                    </a>
                                                    </li>
                                                    {% if  partida.status_itm.name != 'OCUPADA' %}
                                                        <li><a class="fa fa-plus"
                                                               href="{% url "partidas:asignar_partida" partida.id 0 %}">
                                                            Asignar Empleado
                                                        </a>
                                                        </li>
                                                    {% endif %}
                                                    {% if  partida.status_itm.name == 'OCUPADA' %}
                                                        <li><a class="fa fa-close"
                                                               onclick="return abrir_modalLiberar('{% url 'partidas:liberar_partida' partida.pk partida.currentemployee.pk %}')">
                                                            Liberar Partida
                                                        </a>
                                                        </li>

                                                    {% endif %}

                                                    <li><a class="fa fa-copy"
                                                           onclick="return abrir_duplicarPartidas('{% url 'partidas:duplicar_partida' partida.pk %}')">
                                                        Duplicar Partida
                                                    </a>
                                                    </li>
                                                    <li><a class="fa fa-clipboard"
                                                           onclick="return abrir_clonarPartidas('{% url 'partidas:clonar_partida' partida.pk %}')">
                                                        Clonar Partida
                                                    </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                        <td> {{ partida.currentemployee.person.cedula }}</td>
                                        <td> {{ partida.currentemployee.person.name }} {{ partida.currentemployee.person.lastname }}</td>
                                        <td> {{ partida.currentemployee.directivo.nombre }}</td>
                                        <td> {{ partida.currentemployee.direccion.nombre }}</td>
                                        <td> {{ partida.charge_itm }}</td>
                                        <td> {{ partida.remuneration }}</td>
                                        <td> {{ partida.code }}</td>
                                        <td> {{ partida.actividad.proyecto.subprograma.programa.name }}</td>
                                        <td> {{ partida.status_itm }}</td>
                                    </tr>



                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function abrir_modalLiberar(url) {
            $('#popupLiberar').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function abrir_historialEstados(url) {
            $('#popupHistorialEstados').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function abrir_historialEmpleados(url) {
            $('#popupHistorialEmpleados').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function abrir_duplicarPartidas(url) {
            $('#popupDuplicarPartidas').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function abrir_clonarPartidas(url) {
            $('#popupClonarPartidas').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }

        function liberarPartida(id) {
            var url = "/liberar/" + id;
            $('#modalLiberar').attr('action', url).submit();


        }

        function liberarTodas() {


            $('#liberarTodo').val('liberarTodo');
            $('#formPartida').submit();

        }



    </script>

    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/constans.js"></script>
    <script>


        {#        TODO cambiar URL host en constans.js#}
        var apiURL_organigrama = HOST + '/partidas/api_organigrama/partidas/';


        new Vue({
            el: '#partidas',
            delimiters: ['[[', ']]'],
            data: {

                organigrama: null,
                programas: null,
                subprogramas: null,
                proyectos: null,
                actividades: null,
                codigo: '',
                cedula: '',
                remuneracion: '',
                observacion: '',


                programa: '',
                subprograma: '',
                proyecto: '',
                actividad: '',
                codePartida: '',
                codePrograma: '',
                codeSub: '',
                codeProyecto: '',
                codeActividad: '',


            },
            methods: {
                getOrganigrama: function () {

                    this.cedula = document.getElementById("cedula_hiden").value;
                    this.programa = document.getElementById("programa_pk").value;
                    this.subprograma = document.getElementById("subprograma_pk").value;
                    this.proyecto = document.getElementById("proyecto_pk").value;
                    this.actividad = document.getElementById("actividad_pk").value;
                    this.remuneracion = document.getElementById("remuneracion_pk").value;
                    this.observacion = document.getElementById("observacion_pk").value;
                    this.codigo = document.getElementById("codigo_pk").value;

                    this.$http.get(apiURL_organigrama).then(function (response) {
                        this.organigrama = response.data;
                        this.programas = this.organigrama.programas;

                        console.log('organigrama: ', this.organigrama);
                    }, function (error) {
                        console.log(error.statusText);
                    });
                },


                cargarSubprogramas: function () {


                    if (document.getElementById("subprograma_pk").value)
                        this.subprograma = document.getElementById("subprograma_pk").value;
                    else
                        this.subprograma = '';

                    if (document.getElementById("proyecto_pk").value)
                        this.proyecto = document.getElementById("proyecto_pk").value;
                    else
                        this.proyecto = '';

                    if (document.getElementById("actividad_pk").value)
                        this.actividad = document.getElementById("actividad_pk").value;
                    else
                        this.actividad = '';

                    this.subprogramas = this.organigrama.subprogramas.filter(dir => dir.programa__id == this.programa
                )
                    ;
                    this.proyectos = null;
                    this.actividades = null;
                    this.program = this.organigrama.programas.filter(prog => prog.pk == this.programa
                )
                    ;
                    this.codePrograma = this.program[0]['code'];
                    this.codePartida = this.codePrograma;
                },


                cargarProyectos: function () {

                    if (document.getElementById("proyecto_pk").value)
                        this.proyecto = document.getElementById("proyecto_pk").value;
                    else
                        this.proyecto = '';

                    if (document.getElementById("actividad_pk").value)
                        this.actividad = document.getElementById("actividad_pk").value;
                    else
                        this.actividad = '';

                    this.proyectos = this.organigrama.proyectos.filter(proyecto => proyecto.subprograma__id == this.subprograma
                )
                    ;
                    this.subprogram = this.organigrama.subprogramas.filter(subprog => subprog.pk == this.subprograma
                )
                    ;
                    this.codeSub = this.subprogram[0]['code'];
                    this.codePartida = this.codePrograma + '.' + this.codeSub;

                },


                cargarActividades: function () {

                    if (document.getElementById("actividad_pk").value)
                        this.actividad = document.getElementById("actividad_pk").value;
                    else
                        this.actividad = '';

                    this.actividades = this.organigrama.actividades.filter(activ => activ.proyecto__id == this.proyecto
                )
                    ;
                    this.proyect = this.organigrama.proyectos.filter(proye => proye.pk == this.proyecto
                )
                    ;
                    this.codeProyecto = this.proyect[0]['code'];
                    this.codePartida = this.codePrograma + '.' + this.codeSub + '.' + this.codeProyecto;
                },

                cargarCodigo: function () {
                    this.activid = this.organigrama.actividades.filter(act => act.pk == this.actividad
                )
                    ;
                    this.codeActividad = this.activid[0]['code'];
                    this.codePartida = this.codePrograma + '.' + this.codeSub + '.' + this.codeProyecto + '.' + this.codeActividad;
                }


            },
            mounted: function () {
                this.getOrganigrama();
            }
        });


    </script>

{% endblock javascripts %}