<!-- Modal -->
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;
            </button>
            <h4 class="modal-title">Liberar partida presupuestaria</h4>
        </div>

        {% csrf_token %}

        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form"
                  action="{% url 'partidas:liberar_partida' partida empleado.pk%}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="area">Motivo:</label>
                    <div class="col-sm-8">
                            <textarea class="vLargeTextField" style="width:400px" name="motivo" rows="5" cols="25"
                                      id="motivo"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="submit" class="btn btn-primary" name="submit" value="Liberar">Liberar</button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>