<!-- Modal -->
{% load contrato_templatetags %}
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;
            </button>
            <h4 class="modal-title">{{ titulo }}</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" action="{% url 'partidas:duplicar_partida' partida %}"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                            <div class="col-sm-6">
                                {{ field|addclass:'form-control' }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="submit" class="btn btn-primary" name="submit" value="Cambiar">Duplicar
                            </button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

