{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block title %} Municipio de Loja{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        .estiloForm p {
            font-size: x-large;
            font-family: 'PT Sans';
            color: #004ab3;
            font-weight: 900;
        }
    </style>




{% endblock stylesheets %}

{% block content %}

    <div class="right_col" role="main" >
        <div class="" id="partidas">
            <div class="page-title">
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="title_left">
                                <h3 class="glyphicon glyphicon-book"> Administración de Partidas Presupuestarias </h3>
                                <a v-on:click="changeEdit" class="btn btn-success fa fa-pencil" id="BtnEditar" name="BtnEditar">
                                    Editar</a>
                                <a onClick="javascript:history.go(-1)" class="btn btn-primary fa fa-share" id="BtnRegresar" name="BtnRegresar" >
                                            Regresar
                                </a>
                            </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            {#    FIN TITULO  #}

            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <fieldset disabled>
                            <div class="x_panel">
                                <div class="x_content">
                                    {#                                <form class="form-horizontal" method="post">#}
                                    <input id="programa_pk" type="hidden" value="{{ programa_pk }}">
                                    <label class="control-label col-lg-1 ">Programas</label>
                                    <div class="col-sm-5">
                                        <select name="programa" class="form-control" v-model="programa" :required="true"
                                                @change="cargarSubprogramas">
                                            <option disabled value="">Seleccione un Programa</option>
                                            <option v-for="programa in programas " v-bind:value="programa.pk">
                                                [[ programa.code ]]- [[ programa.name ]]
                                            </option>
                                        </select>
                                    </div>

                                    <input id="subprograma_pk" type="hidden" value="{{ subprograma_pk }}">
                                    <label class="control-label col-lg-1 ">Subprograma</label>
                                    <div class="col-sm-5">
                                        <select name="subprograma" class="form-control" v-model="subprograma"
                                                :required="true"
                                                @change="cargarProyectos">
                                            <option disabled value="">Seleccione un Subprograma</option>
                                            <option v-for="subprograma in subprogramas " v-bind:value="subprograma.pk">
                                                [[ subprograma.code ]]-[[ subprograma.name ]]
                                            </option>
                                        </select>
                                    </div>
                                    {#                                </form>#}
                                </div>
                                <div class="x_content">
                                    {#                                <form class="form-horizontal" method="post">#}
                                    <input id="proyecto_pk" type="hidden" value="{{ proyecto_pk }}">
                                    <label class="control-label col-lg-1 ">Proyecto</label>
                                    <div class="col-sm-5">
                                        <select name="proyecto" class="form-control" v-model="proyecto" :required="true"
                                                @change="cargarActividades">
                                            <option disabled value="">Seleccione un Proyecto</option>
                                            <option v-for="proyecto in proyectos " v-bind:value="proyecto.pk">
                                                [[ proyecto.code ]]-[[ proyecto.name ]]
                                            </option>
                                        </select>
                                    </div>

                                    <input id="actividad_pk" type="hidden" value="{{ actividad_pk }}">
                                    <label class="control-label col-lg-1 ">Actividades</label>
                                    <div class="col-sm-5">
                                        <select name="actividad" class="form-control" v-model="actividad"
                                                :required="true"
                                                @change="cargarGasto">
                                            <option disabled value="">Seleccione una Actividad</option>
                                            <option v-for="actividad in actividades " v-bind:value="actividad.pk">
                                                [[ actividad.code ]]-[[ actividad.name ]]
                                            </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="x_content">
                                    <input id="gasto_pk" type="hidden" value="{{ gasto_pk }}">
                                    <label class="control-label col-lg-1 ">Gastos</label>
                                    <div class="col-sm-5">
                                        <select name="spending_itm" class="form-control" v-model="gasto"
                                                @change="cargarRegimen">
                                            <option disabled value="">Seleccione un Gasto</option>
                                            <option v-for="gasto in gastos " v-bind:value="gasto.pk">
                                                [[ gasto.code ]]-[[ gasto.name ]]
                                            </option>
                                        </select>
                                    </div>
                                    <input id="regimen_pk" type="hidden" value="{{ regimen_pk }}">
                                    <label class="control-label col-lg-1 ">Régimen</label>
                                    <div class="col-sm-5">
                                        <select name="regime_itm" class="form-control" v-model="regimen"
                                                @change="cargarCodigo">
                                            <option disabled value="">Seleccione un Régimen</option>
                                            <option v-for="regimen in regimenes " v-bind:value="regimen.pk">
                                                [[ regimen.code ]]-[[ regimen.name ]]
                                            </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="x_content">

                                    <label class="col-lg-5 control-label">Código Partida:</label>
                                    <div class="estiloForm "><p>[[codePartida]]</p></div>

                                    <input name="code" class=" form-control col-sm-5 "
                                           v-model="codePartida" required="required" type="hidden">


                                </div>
                            </div>
                            <div class="x_panel">
                                <div class="x_content">

                                    <label class="col-lg-1 control-label">Remunerac.:</label>
                                    <div class="col-sm-5">
                                        {{ formPartidas.remuneration|addclass:'form-control' }}
                                    </div>
                                    <label class="col-lg-1 control-label">Grados:</label>
                                    <div class=class="col-lg-1">
                                        <div class="col-sm-5">
                                            {{ formPartidas.grade_itm|addclass:'form-control' }}
                                        </div>
                                    </div>

                                </div>
                                <div class="x_content">

                                    <label class="col-lg-1 control-label">Categorias:</label>
                                    <div class=class="col-lg-1">
                                        <div class="col-sm-5">
                                            {{ formPartidas.category_itm|addclass:'form-control' }}
                                        </div>
                                    </div>
                                    <label class="col-lg-1 control-label">Grupos:</label>
                                    <div class=class="col-lg-1">
                                        <div class="col-sm-5">
                                            {{ formPartidas.group_itm|addclass:'form-control' }}
                                        </div>
                                    </div>
                                    {#                                </form>#}

                                </div>
                                <div class="x_content">

                                    <label class="col-lg-1 control-label">Cargos:</label>
                                    <div class=class="col-lg-1">
                                        {{ formPartidas.errors }}
                                        <div class="col-sm-5">
                                            {{ formPartidas.charge_itm|addclass:'form-control' }}
                                        </div>
                                    </div>


                                </div>
                                <div class="x_content">

                                    <label class="col-lg-3 control-label">Observación:</label>
                                    <div class="col-sm-6 ">
                                        {{ formPartidas.observation|addclass:'form-control' }}
                                    </div>


                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-4">
                                        <button type="submit" class="btn btn-success fa fa-save"> Guardar</button>
                                        <a href="{% url "partidas:listar_partida" 0 %}"
                                           class="btn btn-primary fa fa-remove">
                                            Cancelar </a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
      <script src="/static/js/constans.js"></script>
    <script>
        {#        TODO cambiar URL host en constans.js#}
        var apiURL_organigrama = HOST+'/partidas/api_organigrama/partidas/';


        new Vue({
            el: '#partidas',
            delimiters: ['[[', ']]'],
            data: {

                organigrama: null,
                programas: null,
                subprogramas: null,
                proyectos: null,
                actividades: null,
                gastos: null,
                regimenes: null,


                programa: '',
                gasto: '',
                regimen: '',
                subprograma: '',
                proyecto: '',
                actividad: '',
                codePartida: '',
                codePrograma: '',
                codeSub: '',
                codeProyecto: '',
                codeActividad: '',
                codeGasto: '',
                codeReg: '',
                codeCode: '',

                flag: 0,
                edit: false,


            },
            methods: {
                getOrganigrama: function () {

                    this.programa = document.getElementById("programa_pk").value;
                    this.subprograma = document.getElementById("subprograma_pk").value;
                    this.proyecto = document.getElementById("proyecto_pk").value;
                    this.actividad = document.getElementById("actividad_pk").value;
                    this.gasto = document.getElementById("gasto_pk").value;
                    this.regimen = document.getElementById("regimen_pk").value;

                    this.$http.get(apiURL_organigrama).then(function (response) {
                        this.organigrama = response.data;
                        this.programas = this.organigrama.programas;

                        console.log('organigrama: ', this.organigrama);
                    }, function (error) {
                        console.log(error.statusText);
                    });
                },

                changeEdit: function () {
                    this.edit = !this.edit;
                    if(this.edit){
                        document.getElementsByTagName("fieldset")[0].removeAttribute("disabled","disabled");
                        document.getElementsByName("BtnRegresar")[0].style.display='none';

                    }
{#                    else#}
{#                        document.getElementsByTagName("fieldset")[0].setAttribute();#}

                },


                cargarGasto: function () {
                    if (this.flag >= 2) {
                        this.gasto = '';
                        this.regimen = '';
                    }
                    this.activid = this.organigrama.actividades.filter(act => act.pk == this.actividad
                )
                    ;
                    this.codeActividad = this.activid[0]['code'];
                    this.codePartida = this.codePrograma + '.' + this.codeSub + '.' + this.codeProyecto + '.' + this.codeActividad;

                    this.gastos = this.organigrama.gastos;

                },
                cargarRegimen: function () {
                    if (this.flag >= 2) {
                        this.regimen = '';
                    }


                    this.gast = this.organigrama.gastos.filter(gasto => gasto.pk == this.gasto
                )
                    ;
                    this.codeGasto = this.gast[0]['code'];
                    this.codePartida = this.codePrograma + '.' + this.codeSub + '.' + this.codeProyecto + '.' + this.codeActividad + '.' + this.codeGasto;

                    this.regimenes = this.organigrama.regimenes;
                },
                cargarCodigo: function () {

                    this.reg = this.organigrama.regimenes.filter(reg => reg.pk == this.regimen
                )
                    ;

                    this.codeCode = this.reg[0]['code'];
                    this.codePartida = this.codePrograma + '.' + this.codeSub + '.' + this.codeProyecto + '.' + this.codeActividad + '.' + this.codeGasto + '.' + this.codeCode;

                },
                cargarSubprogramas: function () {

                    if (this.flag >= 1) {
                        this.subprograma = '';
                        this.proyecto = '';
                        this.actividad = '';
                        this.gasto = '';
                        this.regimen = '';

                    }
                    this.subprogramas = this.organigrama.subprogramas.filter(dir => dir.programa__id == this.programa
                )
                    ;
                    this.proyectos = null;
                    this.actividades = null;
                    this.program = this.organigrama.programas.filter(prog => prog.pk == this.programa
                )
                    ;
                    this.codePrograma = this.program[0]['code'];
                    this.codePartida = this.codePrograma;
                },

                cargarProyectos: function () {
                    if (this.flag >= 1) {
                        this.proyecto = '';
                        this.actividad = '';
                        this.gasto = '';
                        this.regimen = '';
                    }

                    this.proyectos = this.organigrama.proyectos.filter(proyecto => proyecto.subprograma__id == this.subprograma
                )
                    ;
                    this.subprogram = this.organigrama.subprogramas.filter(subprog => subprog.pk == this.subprograma
                )
                    ;
                    this.codeSub = this.subprogram[0]['code'];
                    this.codePartida = this.codePrograma + '.' + this.codeSub;

                },


                cargarActividades: function () {
                    if (this.flag >= 1) {
                        this.actividad = '';
                        this.gasto = '';
                        this.regimen = '';
                    }

                    this.flag++;

                    this.actividades = this.organigrama.actividades.filter(activ => activ.proyecto__id == this.proyecto
                )
                    ;
                    this.proyect = this.organigrama.proyectos.filter(proye => proye.pk == this.proyecto
                )
                    ;
                    this.codeProyecto = this.proyect[0]['code'];
                    this.codePartida = this.codePrograma + '.' + this.codeSub + '.' + this.codeProyecto;
                }


            },
            mounted: function () {
                this.getOrganigrama();
            }
        });


    </script>

{% endblock javascripts %}