{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Reportes</title>

    <style>
        @page {
            size: letter landscape;
            margin: 1.5cm;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        {#            border: 1px solid #5f66e1;#}
        }

        td, th {
{#            border: 1px solid rgba(140, 156, 225, 0.71);#}
            text-align: left;
            padding: 6px;

        }

        h1 {
            text-align: center;
            font-family: "Eras Medium ITC";
            font-size: 20px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        #customers th {

            background-color: #8c9ce1;
            color: white;
            padding: 6px;
        }

        #customers td {
            border: 1px solid rgba(140, 156, 225, 0.71);
            color: black;
            padding: 4px;
        }

        #customers tr {
            background-color: #5de13a;
            color: #130906;
        }
    </style>

</head>
<body>
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="http://localhost:8500/static/images/municipioLogo.png" alt="...">
    </div>

</div>

<h1 ALIGN="center">PARTIDAS PRESUPUESTARIAS</h1>
<section>


    <div class="x_panel">
        <div class="x_content">
            <table style="width:100%">

                <tr>
                    <td colspan="2" width="25%"><b>USUARIO: </b> <i>{{ user.first_name }} {{ user.last_name }} </i></td>
                    <td width="50%"><b>FECHA: </b> <i>{% now "SHORT_DATETIME_FORMAT" %}</i></td>
                    <td width="60%"><b>TOTAL REGISTROS: </b> <i>{{ total_registros }}</i></td>

                </tr>

                <tr>
                    {% if  programa %}
                        <td><b>PROGRAMA: </b> <i>{{ programa.name }}</i></td>
                    {% else %}
                        <td>PROGRAMA: ------------------</td>
                    {% endif %}
                    {% if  subprograma %}
                        <td><b>SUBPROGRAMA: </b> <i>{{ subprograma.name }}</i></td>
                    {% else %}
                        <td> SUBPROGRAMA: ------------------</td>
                    {% endif %}
                    {% if  proyecto %}
                        <td><b>PROYECTO: </b> <i>{{ proyecto.name }}</i></td>
                    {% else %}
                        <td> PROYECTO: ------------------</td>
                    {% endif %}
                    {% if  actividad %}
                        <td><b>ACTIVIDAD: </b> <i>{{ actividad.name }}</i></td>
                    {% else %}
                        <td> ACTIVIDAD: ------------------</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if gasto %}
                        <td><b>T. GASTO: </b> <i>{{ gasto.name }}</i></td>
                    {% else %}
                        <td> T. GASTO: ----------------------</td>
                    {% endif %}
                    {% if  regimen %}
                        <td><b>T. RÉGIMEN: </b> <i>{{ regimen.name }}</i></td>
                    {% else %}
                        <td> T. RÉGIMEN: ------------------------</td>
                    {% endif %}
                    {% if  grupo %}
                        <td><b>GRUPO: </b> <i>{{ grupo.name }}</i></td>
                    {% else %}
                        <td>GRUPO: ------------------------</td>
                    {% endif %}
                    {% if  categoria %}
                        <td><b>CATEGORIA: </b> <i>{{ categoria.name }}</i></td>
                    {% else %}
                        <td> CATEGORIA: ----------------</td>
                    {% endif %}
                </tr>

            </table>
        </div>
    </div>

</section>
<br/><br/>

<div class="x_panel">
    <div class="x_content">
        <table id="customers" style="width:100%">
            {#            <thead>#}
            <tr>

                <th>Cédula</th>
                <th>Nombres</th>
                <th>N. Directivo</th>
                <th>Dirección</th>
                <th>Cargo</th>
                <th>Remuner.</th>
                <th>Código</th>
                <th>Area</th>
                <th>Estado</th>

            </tr>

            {% for partida in partidas %}

                <tr>
                    <td width="9%"> {{ partida.currentemployee.person.cedula }}</td>
                    <td width="12%"> {{ partida.currentemployee.person.name }} {{ partida.currentemployee.person.lastname | upper }}</td>
                    <td width="12%"> {{ partida.currentemployee.directivo.nombre }}</td>
                    <td width="12%"> {{ partida.currentemployee.direccion.nombre }}</td>
                    <td width="15%"> {{ partida.charge_itm }}</td>
                    <td width="6%"> {{ partida.remuneration }}</td>
                    <td width="14%"> {{ partida.code }}</td>
                    <td width="12%"> {{ partida.actividad.proyecto.subprograma.programa.name }}</td>
                    <td width="8%"> {{ partida.status_itm }}</td>

                </tr>
            {% endfor %}

        </table>
    </div>
</div>
</body>
</html>