{% extends "app/base_site.html" %}

{% block title %} Municipio de Loja{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">


                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="title_left">
                                <h3>PROGRAMA </h3>
                            </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel-body">
                                        <label for="disabledSelect">Nombre:</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled=""
                                               value="{{ programa.name }}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-6">
                                        <div class="panel-body">
                                            <label for="disabledSelect">Código:</label>
                                            <input class="form-control" id="disabledInput" type="text" disabled=""
                                                   value="{{ programa.code }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#    FIN informacion general  #}

            <div class="clearfix"></div>
            {% include "mensajes/mensajes.html" %}
            <div class="title_left">
                <h3>SUBPROGRAMAS </h3>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <a class="btn btn-success" href="{% url "partidas:crear_subprograma"  programa.pk %}">Nuevo
                                Subprograma</a>
                            <a class="btn btn-info" href="{% url "partidas:listar_programa" %}">Cancelar
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Id</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subprograma in subprogramas_list %}
                                    <tr>
                                        <td>
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-success dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false"> <span
                                                        class="fa fa-navicon"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a class="fa fa-pencil"
                                                           href="{% url "partidas:editar_subprograma" programa.pk subprograma.pk %}">
                                                        Editar</a>
                                                    </li>
                                                    <li><a class="fa fa-search"
                                                           href="{% url "partidas:listar_proyecto" subprograma.pk %}">
                                                        Ver Projectos</a></li>
                                                    <li>
                                                        <a class="fa fa-retweet" data-toggle="modal"
                                                           data-target="#{{ subprograma.pk }}"> Cambiar
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td> {{ subprograma.pk }}</td>
                                        <td> {{ subprograma.code }}</td>
                                        <td> {{ subprograma.name }}</td>
                                    </tr>

                                    <!-- Modal -->
                                    <div class="modal fade" id="{{ subprograma.pk }}" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title">Cambiar Area/Programa</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="form-horizontal" method="post"
                                                          enctype="multipart/form-data">
                                                        {% csrf_token %}

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label"
                                                                   for="area">Area:</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="hidden" id="id"
                                                                       name="id" value="{{ subprograma.pk }}">

                                                                <select name="area" id="area">
                                                                    {% for area in areas %}
                                                                        <option value="{{ area.pk }}">{{ area }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="col-md-6">
                                                                <div class=" btn-group" role="group">
                                                                    <button type="submit" class="btn btn-success"
                                                                            data-toggle="modal"
                                                                            data-target="#myModal">
                                                                        Cambiar
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger"
                                                                            data-dismiss="modal">Cancelar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

{% endblock javascripts %}