{% extends "admin/base.html" %}

{% block title %}Administración SISEM{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Inicio de Sesión</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
