{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de Gestión de RRHH</title>

    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/small-business.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}">
    

    {% block css %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <header>

{% block menu  %}

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>
  <div id="navbar" class="navbar-collapse collapse">
    {% block toggle_login %}
      {% include "toggle_login.html" %}
    {% endblock %}
  </div><!--/.navbar-collapse -->
</div>
</nav>

</header>
<!-- End Header and Nav -->

{% endblock  %}

<div id="container" class="container">

    {% block heading %}
    {% endblock %}

    {% block content %}
    {% endblock %}

  </div>

</div>

<footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
</footer>
    

    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery.js" %}"><\/script>')</script>-->
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" %}"></script>
    <script src="{% static "js/vendor/app.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--<script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script> -->

    {% block javascript %}
    {% endblock %}



    </body>
</html>
