{% load staticfiles %}
{% if user.is_authenticated %}


   <h1> {{n}}</h1>

    {% for per in per %}
      <h> {{ per }} </h>
      </br>
    {% endfor %}  

    <div class="row">
     
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail"> <!-- class thumbnail , no 1 -->
             <img src="{% static "img/portada/logo.png" %}" alt="My image"/>
              <div class="caption"> <!-- caption -->
                <h3 style="text-align:center;">INSTITUCIONES</h3>
            </div>
          </a>
        </div>
      
       <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail"> <!-- class thumbnail , no 2 -->
            <img src="{% static "img/portada/logo.png" %}" alt="bike thumbnail">
            <div class="caption"> <!-- caption -->
                <h3 style="text-align:center;">ROL DE PAGOS</h3>
            </div>
          </a>
       </div>
     
       <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail"> <!-- class thumbnail , no 3 -->
            <img src="{% static "img/portada/logo.png" %}" alt="coach thumbnail">
             <div class="caption"> <!-- caption -->
                <h3 style="text-align:center;">EMPLEADOS</h3>
            </div>
          </a>
       </div>
     
       <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail"><!-- class thumbnail , no 4 -->
            <img src="{% static "img/portada/logo.png" %}" alt="bike thumbnail">
             <div class="caption"> <!-- caption -->
                <h3 style="text-align:center;">EVALUACION</h3>
            </div>
          </a>
       </div>

    </div>
 
{% else %}

     <div class="row">
     
      <div>

      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>

        <h1> SITEMA DE ADMINISTRACION DE RECURSOS HUMANOS </h1>

      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>

      </div>

    </div>

{% endif %}