{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Inicio de Sesión SISEM{% endblock %}

{% block toggle_login %}{% endblock %}

{% block heading %}
  <h1>Inicio de Sesión SISEM</h1>
{% endblock %}

{% block content %}
  <form action="{% url "security_login" %}" method="post" accept-charset="utf-8">
    {{ form|crispy }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <input class="btn btn-default" type="submit" value="Login">
  </form>
{% endblock %}
