{% if user.is_authenticated %}

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
           </button>
          <a class="navbar-brand" href="#">Project name...</a>
          <a class="navbar-brand" href="#">Pais</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
                      <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">My bookmarks</a></li>
                <li><a href="{% url "security_logout" %}">Logout</a></li>
              </ul>
            </li>
          </ul>
          
        </div><!--/.navbar-collapse -->
    </div>
  </nav>

{% else %}

 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
            <form class="navbar-form navbar-right" role="form" action="{% url "security_login" %}"
                method="post" accept-charset="utf-8">
              <div class="form-group">
                <input type="text" placeholder="Username" class="form-control" name="username">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" name="password">
              </div>
              {% csrf_token %}
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>
            
          
        </div><!--/.navbar-collapse -->
      </div>
      </nav>


{% endif %}