{% if user.is_authenticated %}
<!--
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
         </button>
        <a class="navbar-brand" href="#">Project name...</a>
        <a class="navbar-brand" href="#">Pais</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">My bookmarks</a></li>
              <li><a href="{% url "security_logout" %}">Logout</a></li>
            </ul>
          </li>
        </ul>

      </div>
  </div>
</nav>
-->

<ul class="nav navbar-nav navbar-left">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-expanded="false">Instituciones <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url "institution:institution_list" %}">Institución</a></li>
      <li><a href="{% url "institution:institutionalunit_list" %}">Unidad Institucional</a></li>
      <li><a href="{% url "institution:department_list" %}">Departamento</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-expanded="false">Rol de pagos <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">General</a></li>
      <li><a href="{% url "security_logout" %}">Individual</a></li>
    </ul>
  </li>
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-expanded="false">Horarios <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url "schedule:schedule_list" %}">Horarios</a></li>
      <li><a href="{% url "schedule:dayhour_list" %}">Dia - Hora</a></li>
      
    </ul>
  </li>
  <li class="dropdown">
    <a href="{% url "person:person_list" %}" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-expanded="false">Persona<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url "person:person_list" %}">Administrar Personas</a></li>     
      <li><a href="{% url "person:employee_list" %}">Administrar Empleados</a></li>     
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-expanded="false">Contratos<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url "contract:contract_list" %}">Contratos</a></li>
      <li><a href="{% url "contract:labor_system_list" %}">Regimen Laboral</a></li>
      <li><a href="{% url "contract:type_of_contract_list" %}">Tipo Contrato</a></li>
      <li><a href="{% url "contract:pay_scale_groups_list" %}">Grupo de Escalas</a></li>
      <li><a href="{% url "contract:pay_scale_sp_list" %}">Escalas de remuneración</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-expanded="false">Horario<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url "schedule:schedule_list" %}">Horarios</a></li>
      <li><a href="{% url "schedule:dayhour_list" %}">Día - Hora</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="{% url "curriculum:curriculumvitae_list" %}" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-expanded="false">Currículo<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url "curriculum:curriculumvitae_list" %}">Currículo</a></li>
    </ul>
   </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">My bookmarks</a></li>
      <li><a href="{% url "security_logout" %}">Logout</a></li>
    </ul>
  </li>
</ul>

{% else %}
<form class="navbar-form navbar-right" role="form" action="{% url "security_login" %}"
    method="post" accept-charset="utf-8">
  <div class="form-group">
    <input type="text" placeholder="Username" class="form-control" name="username">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control" name="password">
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-success">Sign in</button>
</form>
{% endif %}
