  <ul id="results-search">
  {% for empleado in empleados %}
  <li><a href="#">{{ empleado.person.name}}</a></li>
  {% endfor %}
</ul>

<script>
$(document).ready(function(){

    $("#btn3").click(function(){
        $("#test3").val("Dolly Duck");
    });
});
</script>