<div class="table-responsive">
<table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Número</th>
            <th>Cédula</th>
            <th>Empleado</th>
            <th>Acción</th>
            <th>Emitida</th>
            <th>Vigente</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for personnel_action in personnel_actions.all %}
        {# Each "personnel_action" is a Contact model object. #}
        <tr>
            <td>{{ personnel_action.number_personnel_action }} </td>
            <td>{{ personnel_action.employee.person.cedula }} </td>
            <td>{{ personnel_action.employee }} </td>
            <td>{{ personnel_action.action }} </td>
            <td>{{ personnel_action.date_of_elaboration }} </td>
            <td>{{ personnel_action.effective_date }} </td>
            <td>{{ personnel_action.status }} </td>
            
            <td> 
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#kind_personnel_action{{kind_personnel_action.id}}">Ver</a></li>
                        {% if personnel_action.status == 'emitida' %}
                            <li><a href="{% url "personnelactions:personnelactions_edit" personnel_action.id  %}">Editar</a></li>
                            <li><a href="{% url "personnelactions:personnelactions_edit" personnel_action.id  %}">Registrar</a></li>
                            <li><a href="{% url "personnelactions:personnelactions_delete" personnel_action.id %}">Borrar</a></li>
                        {% endif %}
                        
                        <li><a href="{% url "personnelactions:personnelactions_edit" personnel_action.id  %}">Imprimir</a></li>
                        
                    </ul>
                </div>
            </td>
        </tr>
        <!-- Modal -->
        <div id="kind_personnel_action{{kind_personnel_action.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" >
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{personnel_action.action }} - {{personnel_action.employee}} </h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6">      
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-body">
            
                                    <p align="center">ACCIÓN DE PERSONAL</p>
                                    <p align="center">Nº {{ personnel_action.number_personnel_action }}</p>
                                    <p align="center">Fecha: {{ personnel_action.date_of_elaboration }}   </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="col-lg-4"> 
                                        <p align="center">DECRETO&nbsp;&nbsp;
{% if personnel_action.reason_decision == 'decreto' %}
    <input type="checkbox" checked>
{% else %}
    <input type="checkbox">
{% endif %}</p>
                                        
                                                                    
                                    </div>
                                    <div class="col-lg-4"> 
                                        <p align="center">ACUERDO&nbsp;&nbsp;
{% if personnel_action.reason_decision == 'acuerdo' %}
    <input type="checkbox" checked>
{% else %}
    <input type="checkbox">
{% endif %}</p>
                                        
                                                                    
                                    </div>
                                    <div class="col-lg-4"> 
                                        <p align="center">RESOLUCIÓN&nbsp;&nbsp;
{% if personnel_action.reason_decision == 'resolución' %}
    <input type="checkbox" checked>
{% else %}
    <input type="checkbox">
{% endif %}</p>
                                                                    
                                    </div>
                                
                        
                                    <div class="col-lg-6"> 
                                        <p align="center">NO.</p>
                                                                    
                                    </div>
                                    <div class="col-lg-6"> 
                                        <p align="center">FECHA:</p>
                                                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                        
                                     <div class="col-lg-6"> 
                                        <p align="center"><b>{{ personnel_action.employee.person.name }}</b></p>
                                        <p align="center">APELLIDOS</p>
                                                                    
                                    </div>
                                    <div class="col-lg-6">      
                                        <p align="center"><b>{{ personnel_action.employee.person.lastname }}</b></p>
                                        <p align="center">NOMBRES</p>
                                    </div>
                                    <div class="col-lg-4"> 
                                        <p align="center">No. de Cédula de Ciudadanía </p>
                                        <p align="center">Nº {{ personnel_action.employee.person.cedula }}</p>
                                                                    
                                    </div>
                                    <div class="col-lg-4">      
                                        <p align="center">Acción</p>
                                        <p align="center">{{ personnel_action.action }}</p>
                                    </div>
                                    <div class="col-lg-4">      
                                        <p align="center">Vigente</p>
                                        <p align="center">{{ personnel_action.effective_date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">EXPLICACIÓN</h3>
                                </div>
                                <div class="panel-body">
                                    <p align="left">{{ personnel_action.explanation }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">SITUACIÓN ACTUAL</h3>
                                </div>
                                <div class="panel-body">
                                    <p><b>U. Administrativa:</b>{{ personnel_action.cs_institutional_unit }}</p>
                                    <p><b>Departamento:</b>{{ personnel_action.cs_department }}</p>
                                    <p><b>Cargo Público:</b>{{ personnel_action.cs_public_office }}</p>
                                    <p><b>Grupo Ocupacional:</b>{{ personnel_action.cs_occupational_group }}</p>
                                    <p><b>Lugar de trabajo:</b>{{ personnel_action.cs_workplace }}</p>
                                    <p><b>Remuneración:</b>{{ personnel_action.cs_remuneration }}</p>
                                    <p><b>Partida presupuestaria:</b>{{ personnel_action.cs_budget_item }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">SITUACIÓN PROPUESTA</h3>
                                </div>
                                <div class="panel-body">
                                    <p><b>U. Administrativa:</b>{{ personnel_action.ps_institutional_unit }}</p>
                                    <p><b>Departamento:</b>{{ personnel_action.ps_department }}</p>
                                    <p><b>Cargo Público:</b>{{ personnel_action.ps_public_office }}</p>
                                    <p><b>Grupo Ocupacional:</b>{{ personnel_action.ps_occupational_group }}</p>
                                    <p><b>Lugar de trabajo:</b>{{ personnel_action.ps_workplace }}</p>
                                    <p><b>Remuneración:</b>{{ personnel_action.ps_remuneration }}</p>
                                    <p><b>Partida presupuestaria:</b>{{ personnel_action.ps_budget_item }}</p>
                                </div>
                            </div>
                        </div>
                                         
                        
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>ACTA FINAL DEL CONCURSO</b></p>
                                            <div class="col-lg-6">
                                                <p align="left">No.</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p align="left">Fecha</p>
                                            </div>
                                            <p align="left">&nbsp;</p>
                                                                        
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>PROCESO DE RECURSOS HUMANOS</b></p>
                                            <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                            <p align="center">Resp. de Recursos Humanos</p>                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="col-lg-12"> 
                                        <p align="center"><b>DIOS, PATRIA y LIBERTAD</b></p>
                                        <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                        <p align="center">AUTORIDAD NOMINADORA</p>                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>RECURSOS HUMANOS</b></p>
                                            <div class="col-lg-6">
                                                <p align="left">No.</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p align="left">Fecha</p>
                                            </div>
                                            <p align="left">&nbsp;</p>
                                                                        
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>REGISTRO Y CONTROL</b></p>
                                            <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                            <p align="center">Resp. del Registro</p>                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        
                    <div class="modal-footer">
                        <div class="col-lg-8"> 
                            <small>
                                
                            </small> 
                        </div>
                        <div class="col-lg-2"> 
                            <button type="button" href="personnel_actions_pdf" class="btn btn-default" data-dismiss="modal">Imprimir</button>
                        </div>
                        <div class="col-lg-2">      
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>

                        
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if personnel_action.has_previous %}
            <a href="?page={{ personnel_action.previous_page_number }}">&#60;&#60;anterior</a>
        {% endif %}

        <span class="current">
            Página {{ personnel_action.number }} de {{ personnel_action.paginator.num_pages }}.
        </span>

        {% if personnel_action.has_next %}
            <a href="?page={{ personnel_action.next_page_number }}">siguiente&#62;&#62;</a>
        {% endif %}
    </span>
</div>

 