{% load contrato_templatetags %}
<div class="row" id="formControl">
    <div class="col-lg-6">
        <div class="panel-body">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos Económicos
                        <button v-on:click="editChange('datos_ec')" class="btn btn-success btn-xs"><i class="fa fa-edit "> </i>Editar</button>
                        <button v-if="edit_form_datos_ec" v-on:click="editChange('datos_ec')" class="btn btn-danger btn-xs"><i class="fa fa-edit "> </i>Cancelar</button>
                        <button v-if="edit_form_datos_ec" v-on:click="save('datosEconomicos')"  class="btn btn-primary btn-xs"><i class="fa fa-edit "> </i>Guardar</button>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <form id="datosEconomicos" class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <input type="hidden" value="datos_economicos" name="guardar">
                                    <div class="table-responsive">
                                        <!--  Datos Economicos -->
                                        <div v-if="edit_form_datos_ec">
                                            {% for dato in formDatosEconomicos %}
                                                <div class="form-group">
                                                    {{ dato.errors }}
                                                    <label class="col-md-4 control-label"
                                                           for="{{ dato.name }}">{{ dato.label }}</label>
                                                    <div class="col-sm-6">
                                                        {{ dato|addclass:'form-control' }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                         <div v-if="!edit_form_datos_ec">
                                            {% for dato in formDatosEconomicos %}
                                                <div class="form-group">
                                                    {{ dato.errors }}
                                                    <label class="col-md-4 control-label"
                                                           for="{{ dato.name }}">{{ dato.label }}</label>
                                                    <div class="col-sm-6">
                                                        <fieldset disabled> {{ dato|addclass:'form-control' }}</fieldset>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel-body">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Cuenta Bancaria
                     <button v-on:click="editChange('cuenta')" class="btn btn-success btn-xs"><i class="fa fa-edit "> </i>Editar</button>
                        <button v-if="edit_form_cuenta" v-on:click="editChange('cuenta')" class="btn btn-danger btn-xs"><i class="fa fa-edit "> </i>Cancelar</button>
                        <button v-if="edit_form_cuenta" v-on:click="save('cuentaBancaria')"  class="btn btn-primary btn-xs"><i class="fa fa-edit "> </i>Guardar</button>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="panel-body">

                            <form id="cuentaBancaria" class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <input type="hidden" value="cuenta_bancaria" name="guardar">
                                    <div class="table-responsive">
                                        <!--  Datos Economicos -->
                                        <div v-if="edit_form_cuenta">
                                            {% for fiel in formCuentasBancaria %}
                                                <div class="form-group">
                                                    {{ fiel.errors }}
                                                    <label class="col-md-4 control-label"
                                                           for="{{ fiel.name }}">{{ fiel.label }}</label>
                                                    <div class="col-sm-6">
                                                        {{ fiel|addclass:'form-control' }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                         <div v-if="!edit_form_cuenta">
                                            {% for fiel in formCuentasBancaria %}
                                                <div class="form-group">
                                                    {{ fiel.errors }}
                                                    <label class="col-md-4 control-label"
                                                           for="{{ fiel.name }}">{{ fiel.label }}</label>
                                                    <div class="col-sm-6">
                                                        <fieldset disabled> {{ fiel|addclass:'form-control' }}</fieldset>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {#    <div class="col-lg-6"> #}
    {#                                        <div class="panel-body">#}
    {#                                            <div class="panel panel-success ">#}
    {#                                                <div class="panel-heading">#}
    {#                                                    <h3 class="panel-title">Cuentas Bancarias</h3>#}
    {#                                                </div>#}
    {#                                                <div class="panel-body">#}
    {#                                                <div id="" style="overflow-y: scroll; height:170px;">#}
    {#                                                    <div class="table-responsive">#}
    {#                                                    <table class="table table-hover">#}
    {##}
    {#                                                        <thead>#}
    {#                                                            <tr>#}
    {#                                                                <th>Número de Cuenta</th>#}
    {#                                                                <th>Institución Financiero</th>#}
    {#                                                                <th>Tipo</th>   #}
    {#                                                                <th>Titular</th>   #}
    {#                                                                <th>Estado</th>#}
    {#                                                            </tr>#}
    {#                                                        </thead>#}
    {#                                                        <tbody>#}
    {#                                                        #}
    {#                                                        {% for bank_account in bank_account.all %}#}
    {#                                                            <tr>#}
    {#                                                                <td>{{ bank_account.number_of_account }} </td>#}
    {#                                                                <td>{{ bank_account.bank }} </td>#}
    {#                                                                <td>{{ bank_account.account_type }} </td>#}
    {#                                                                <td>{{ bank_account.headline }} </td>#}
    {#                                                                <td>{% if bank_account.active %}#}
    {#                                                                    Activa #}
    {#                                                                {% else %} Inactiva {% endif %}</td>#}
    {#                                                                #}
    {#                                                            </tr>#}
    {#                                                        {% endfor %}#}
    {##}
    {#                                                        </tbody>#}
    {#                                                    </table>#}
    {#                                                    </div>#}
    {#                                                    </div>#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>                                 #}


</div>

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script>

        new Vue({
            el: '#formControl',
            delimiters: ['[[', ']]'],
            data: {
                edit_form_datos_ec: false,
                edit_form_cuenta: false

            },
            methods: {
                editChange: function (form) {
                    if (form == 'cuenta')
                        this.edit_form_cuenta = !this.edit_form_cuenta;
                    else
                        this.edit_form_datos_ec = !this.edit_form_datos_ec;
                },

                save: function (form) {

                    $('#'+form).submit();
                    this.edit = !this.edit;


                },

            }
        });
    </script>
{% endblock javascripts %}
            