{% comment "Optional note" %}
<div class="row">
    <div class="col-lg-6">
        <div class="panel-body">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Espacio de Trabajo</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-4">
                        <div class="panel-body">
                            <label for="disabledSelect">Unidad Institucional:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.institutional_unit }}">
                            <br>
                            <label for="disabledSelect">Departamento:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.department }}">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel-body">
                            <label for="disabledSelect">Extensión:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.telephone_extension }}">
                            <br>
                            <label for="disabledSelect">Correo Institucional:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.email_institutional}}">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel-body">
                            <label for="disabledSelect">Jornada Laboral:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.schedule }}">
                            <br>
                            <label for="disabledSelect">Lugar de trabajo:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.place_of_work }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel-body">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Información de Registro</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-6">
                        <div class="panel-body">
                            <label for="disabledSelect">Identificador Biometrico:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.biometric_identification }}">
                            <br>
                            <label for="disabledSelect">Número de Expediente:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.file_number }}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel-body">
                            <label for="disabledSelect">Código de no tener Impedimento:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.impediment_code }}">
                            <br>
                            <label for="disabledSelect">Tiempo de Servicio:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ employee.service_time }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel-body">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Información Laboral</h3>
                </div>
                <div class="col-lg-4">
                    <div class="panel-body">
                        <label for="disabledSelect">Régimen Laboral:</label>
                        <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.employee.person.cedula }}">
                        <br>
                        <label for="disabledSelect">Tipo de Contrato:</label>
                        <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.employee.person.cedula }}">
                        <br>
                        <label for="disabledSelect">Contrato Colectivo:</label>
                        <input class="form-control" id="disabledInput" type="checkbox" value="{{  employee.person.disability_has }}">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel-body">
                        <label for="disabledSelect">Cargo Público:</label>
                        <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.public_office }}">
                        <br>
                        <label for="disabledSelect">Fecha Inicio:</label>
                        <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.start_date }}">
                        <br>
                        <label for="disabledSelect">Fecha Fin:</label>
                        <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.end_date }}">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel-body">
                        <label for="disabledSelect">Funciones:</label>
                        <textarea class="form-control" rows="9" >{{ institutional_data.functions }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                      <div class="col-lg-6">
                                        <div class="panel-body">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">
                                                            Observaciones
                                                    </h3>
                                                </div>

                                                <div class="panel-body" row="7">
                                                    <div id="" style="overflow-y: scroll; height:170px;">
                                                        <div class="list-group">
                                                         {% for observation in observations %}

                                                                <a href="#" class="list-group-item" data-toggle="modal" data-target="#observation{{observation.id}}">
                                                                    <h4 class="list-group-item-heading">{{observation.title}}</h4>
                                                                    <p class="list-group-item-text">{{observation.observations}}</p>
                                                                </a>
                                                                <!-- Modal -->
                                                                <div id="observation{{observation.id}}" class="modal fade" role="dialog">
                                                                  <div class="modal-dialog">
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                      <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">{{observation.title}}</h4>
                                                                      </div>
                                                                      <div class="modal-body">
                                                                        <p>{{ observation.observations }}.</p>
                                                                        <p><b>Acción de Personal:</b>{{ observation.number_personel_action }}.</p>
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                        <div class="col-lg-10">
                                                                            <small>
                                                                                <b>Fecha:</b> {{observation.date }}&nbsp;&nbsp;&nbsp;
                                                                                <b>Tipo:</b>{{ observation.type_of_observation }}&nbsp;&nbsp;&nbsp;
                                                                                <b>Creada por:</b>{{ observation.created_by }}
                                                                            </small>
                                                                        </div>
                                                                        <div class="col-lg-2">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                                        </div>
                                                                      </div>
                                                                    </div>

                                                                  </div>
                                                                </div>


                                                            {% endfor %}
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a href="{% url "employee:observations_new_user_employee" institutional_data.employee.id %}" class="btn btn-default" role="button">Añadir</a>
                                                        </div>
                                                        <div class="col-lg-5">
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="panel-body">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Comisión de Servicios</h3>
                                                </div>
                                                <div class="panel-body">
                                                <div id="" style="overflow-y: scroll; height:170px;">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">

                                                        <thead>
                                                            <tr>
                                                                <th>Institución Origen</th>
                                                                <th>Institución Destino</th>
                                                                <th>Fecha Inicio</th>
                                                                <th>Fecha Fin</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        {% for service_commissions in service_commission.all %}
                                                            <tr>
                                                                <td>{{ service_commissions.institution_source }} </td>
                                                                <td>{{ service_commissions.institution_destination }} </td>
                                                                <td>{{ service_commissions.start_date }} </td>
                                                                <td>{{ service_commissions.end_date }} </td>

                                                            </tr>
                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                    </div>
                                </div>
            </div>

{% endcomment %}

{% load contrato_templatetags %}
{#{% load widget_tweaks %}#}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" id="formControl">
            <div class="x_title">
                <h2>Datos Institucionales </h2>
                <button v-on:click="editChange" class="btn btn-success btn-xs"><i class="fa fa-edit "> </i>Editar
                </button>
                <button v-if="edit" v-on:click="editChange" class="btn btn-danger btn-xs"><i class="fa fa-edit "> </i>Cancelar
                </button>
                <button v-if="edit" v-on:click="save" class="btn btn-primary btn-xs"><i class="fa fa-edit "> </i>Guardar
                </button>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown"></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="myTabContent" class="tab-content">
                    <form id="datosInstitucionalesFrom" class="form-horizontal" method="post"
                          enctype="multipart/form-data">{% csrf_token %}
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                             aria-labelledby="home-tab">
                            <div class="table-responsive">
                            <input id="directivo_pk" type="hidden" value="{{ employee.directivo.pk }}">
                            <input id="direccion_pk" type="hidden" value="{{ employee.direccion.pk }}">
                            <input id="jefatura_pk" type="hidden" value="{{ employee.jefatura.pk }}">
                                <!--  editar false -->
                                <div v-if="edit" class="col-md-7">

                                     <div class="form-group">
                                            {{ formEmpleado.employee_type.errors }}
                                            <label class="col-md-4 control-label" >{{ formEmpleado.employee_type.label }}</label>
                                            <div class="col-sm-6">
                                                {{ formEmpleado.employee_type|addclass:'form-control' }}
                                            </div>
                                     </div>
                                 <div class="form-group">
                                            {{ formEmpleado.institution.errors }}
                                            <label class="col-md-4 control-label" >{{ formEmpleado.institution.label }}</label>
                                            <div class="col-sm-6">
                                                {{ formEmpleado.institution|addclass:'form-control' }}
                                            </div>
                                     </div>
                                    <div class="form-group">
                                        <div class="x_content">

                                            <label class="control-label col-md-4">Directivo</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" @change="cargarDirecciones" v-model="directivo" name="directivo">
                                                    <option disabled value="">Seleccione un nivel directivo</option>
                                                    <option v-for="directivo in directivos"
                                                            v-bind:value="directivo.pk">[[directivo.nombre ]]
                                                    </option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="x_content">

                                            <label class="control-label col-md-4">Dirección</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" v-model="direccion" @change="cargarJefaturas"
                                                        name="direccion">
                                                    <option disabled value="">Seleccione una Dirección Institucional</option>
                                                    <option v-for="direccion in direcciones"
                                                            v-bind:value="direccion.pk">[[direccion.nombre ]]
                                                    </option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="x_content">

                                            <label class="control-label col-md-4">Jefatura</label>
                                            <div class="col-sm-6 ">
                                                <select class="form-control" v-model="jefatura" name="jefatura">
                                                    <option disabled value="">Seleccione una Jefatura</option>
                                                    <option v-for="jefatura in jefaturas" v-bind:value="jefatura.pk">
                                                        [[jefatura.nombre ]]
                                                    </option>
                                                </select>
                                            </div>

                                        </div>
                                     </div>
                                    <!--  Datos institucionales -->
                                    {% for dato_inst in formDatosInstitucionales.visible_fields %}
                                        <div class="form-group">
                                            {{ dato_inst.errors }}
                                            <label class="col-md-4 control-label"
                                                   for="{{ dato_inst.name }}">{{ dato_inst.label }}</label>
                                            <div class="col-sm-6">
                                                {{ dato_inst|addclass:'form-control' }}
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>


                                <!--  Editar -->
                                <div v-if="!edit" class="col-md-7">
                                    {% for empleado in formEmpleado %}
                                        <div class="form-group">
                                            {{ empleado.errors }}
                                            <label class="col-md-4 control-label"
                                                   for="{{ empleado.name }}">{{ empleado.label }}</label>
                                            <div class="col-sm-6">
                                                <fieldset disabled> {{ empleado|addclass:'form-control' }}</fieldset>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <!--  Datos institucionales -->
                                    {% for dato_inst in formDatosInstitucionales.visible_fields %}
                                        <div class="form-group">
                                            {{ dato_inst.errors }}
                                            <label class="col-md-4 control-label"
                                                   for="{{ dato_inst.name }}">{{ dato_inst.label }}</label>
                                            <div class="col-sm-6">
                                                <fieldset disabled>  {{ dato_inst|addclass:'form-control' }}</fieldset>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="/static/js/constans.js"></script>
    <script>
    var apiURL_organigrama = HOST + '/employee/api_organigrama/';

        new Vue({
            el: '#formControl',
            delimiters: ['[[', ']]'],
            data: {
                edit: false,
                organigrama: null,
                instituciones: null,
                directivos: null,
                direcciones: null,
                jefaturas: null,
                institucion: '',
                directivo: '',
                direccion: '',
                jefatura: '',
                directivo2: ''

            },
            methods: {

                 getOrganigrama: function () {
                    this.directivo = document.getElementById('directivo_pk').value;
                    this.direccion = document.getElementById("direccion_pk").value;
                    this.jefatura = document.getElementById("jefatura_pk").value;

                    this.$http.get(apiURL_organigrama).then(function (response) {
                        this.organigrama = response.data;
                        this.instituciones = this.organigrama.instituciones;
                        this.institucion = this.organigrama.instituciones[0].pk;
                        this.directivos = this.organigrama.directivos;
                        this.direcciones = this.organigrama.direcciones.filter(dir => dir.directivo__id == this.directivo);
                        this.jefaturas = this.organigrama.jefaturas.filter(jefatura => jefatura.direccion__id == this.direccion);

                        this.directivo = this.organigrama.directivos.find(directivo => directivo.pk === this.directivo).pk;
                        this.direccion = this.organigrama.direcciones.find(dir => dir.pk === this.direccion).pk;
                        this.jefatura = this.organigrama.jefaturas.find(jef => jef.pk === this.jefatura).pk;
                        {#this.cargarDirectivos();#}


                        console.log('organigrama: ', this.organigrama);
                    }, function (error) {
                        console.log(error.statusText);
                    });
                },

                editChange: function () {
                    this.edit = !this.edit;
                },

                save: function () {
                    $('#datosInstitucionalesFrom').submit();
                    this.edit = !this.edit;
                },
                cargarDirecciones: function () {
                    this.direcciones = this.organigrama.direcciones.filter(dir => dir.directivo__id == this.directivo);
                },

                cargarJefaturas: function () {
                    this.jefaturas = this.organigrama.jefaturas.filter(jefatura => jefatura.direccion__id == this.direccion);
                }

            },
                mounted: function () {
                this.getOrganigrama();
            }
        });
    </script>
{% endblock javascripts %}