<div class="row">
    <div class="row">
        <div class="col-lg-2">
        </div>

        <div class="col-lg-8">
            <div class="panel-body">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Historial de Horarios</h3>
                    </div>
                    <div class="panel-body">
                        <div id="" style="overflow-y: scroll; height:300px;">
                            <div class="list-group">
                                {% for schedules in schedule.all %}
                                    <a href="#" class="list-group-item" data-toggle="modal"
                                       data-target="#observation{{ schedules.id }}">
                                        <h4 class="list-group-item-heading">{{ schedules.schedule }}
                                            - {{ schedules.date_of_assignment }} - {% if schedules.status %}
                                                Activo {% else %} Inactivo {% endif %}</h4>
                                        <p class="list-group-item-text">
                                            <i>Asignado desde:</i>&nbsp;{{ schedules.date_of_assignment }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Asigando
                                            por:&nbsp;{{ schedules.user_change }}</i>
                                        </p>
                                    </a>
                                    <!-- Modal -->
                                    <div id="observation{{ schedules.id }}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title">{{ schedules.schedule }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p><i>Observaciones:</i>{{ schedules.reason }}</p>
                                                    <table id="table_instituciones"
                                                           class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Lunes</th>
                                                            <th>Martes</th>
                                                            <th>Miercoles</th>
                                                            <th>Jueves</th>
                                                            <th>Viernes</th>
                                                            <th>Sábado</th>
                                                            <th>Domingo</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for dayhour in schedules.schedule.day_hour.all %}
                                                            <tr>
                                                                <td>{{ dayhour }}</td>
                                                                {#                                                                <td>{% if dayhour.day = 'lunes' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}#}
                                                                {#                                                                <td>{% if dayhour.day = 'martes' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}#}
                                                                {#                                                                <td>{% if dayhour.day = 'miercoles' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}#}
                                                                {#                                                                <td>{% if dayhour.day = 'jueves' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}#}
                                                                {#                                                                <td>{% if dayhour.day = 'viernes' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}#}
                                                                {#                                                                <td>{% if dayhour.day = 'sabado' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }} </td>{% endif %}#}
                                                                {#                                                                <td>{% if dayhour.day = 'domingo' %}{{ dayhour.time_of_entry}} - {{dayhour.time_of_departure  }}</td>{% endif %}#}
                                                            </tr>

                                                        {% endfor %}
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="col-lg-10">
                                                        <small>
                                                            <b>Horario Vigente desde:</b> {{ schedules.effect_since }}&nbsp;&nbsp;&nbsp;
                                                            <b>Atraso
                                                                permitido:</b>{{ schedules.schedule.permitted_delay }}&nbsp;&nbsp;&nbsp;
                                                        </small>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Cerrar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                        <div class="col-lg-5">
                        </div>
                        <div class="col-lg-2">
                            <a
                               class="btn btn-default" role="button">Asignar nuevo horario</a>
                        </div>
                        <div class="col-lg-5">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div></div></div>