<div class="row">
    <div class="row">
        <div class="col-lg-2">
        </div>

        <div class="col-lg-8">
            <div class="panel-body">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Permisos por Hora</h3>
                    </div>
                    <div class="panel-body">
                        <div id="" style="overflow-y: scroll; height:300px;">
                            <div class="list-group">
                                {% for permission in permissions.all %}
                                    <a href="#" class="list-group-item" data-toggle="modal"
                                       data-target="#observation{{ schedules.id }}">
                                        <h4 class="list-group-item-heading">{{ permission.type_of_permit }}</h4>
                                        <p class="list-group-item-text">
                                            <i>Fecha de Registro:</i>&nbsp;{{ permission.registration_date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Fecha
                                            Permiso:&nbsp;{{ permission.date_permiso }}</i>
                                        </p>
                                    </a>
                                    <!-- Modal -->
                                    <div id="observation{{ schedules.id }}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title">{{ permission.type_of_permit }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        <b>Tipo de permiso: </b>{{ permission.type_of_permit }}<br>
                                                        <b>Acción a ejecutar: </b>{{ permission.action }}<br>
                                                        <b>Fecha de Permiso: </b>{{ permission.date_permiso }}<br>
                                                        <b>Hora de Inicio: </b>{{ permission.start_time }}<br>
                                                        <b>Hora de Fin: </b>{{ permission.end_time }}<br>
                                                        <b>Explicación: </b>{{ permission.reason }}<br>


                                                    </p>


                                                </div>
                                                <div class="modal-footer">
                                                    <div class="col-lg-10">
                                                        <small>
                                                            <b>Fecha de registro:</b> {{ permission.registration_date }}&nbsp;&nbsp;&nbsp;
                                                            <b>Registrada
                                                                por:</b>{{ permission.schedule.registered_by }}&nbsp;&nbsp;&nbsp;
                                                        </small>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Cerrar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                        <div class="col-lg-5">
                        </div>
                        <div class="col-lg-2">
                            <a class="btn btn-default" role="button">Asignar nuevo horario</a>
                        </div>
                        <div class="col-lg-5">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>