<div class="table-responsive">
<table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Número</th>
            <th>Cédula</th>
            <th>Empleado</th>
            <th>Tipo Contrato</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for contracts in contract.all %}
        {# Each "personnel_action" is a Contact model object. #}
        <tr>
            <td>{{ contracts.id }} </td>
            <td>{{ contracts.employee.person.cedula }} </td>
            <td>{{ contracts.employee }} </td>
            <td>{{ contracts.type_of_contract }} </td>
            <td>{{ contracts.start_date }} </td>
            <td>{{ contracts.end_date }} </td>
            <td>{{ contracts.status }} </td>
            
            <td> 
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        
                        {% if contracts.status == 'emitida' %}
                            <li><a href="{% url "personnelactions:personnelactions_edit" contracts.id  %}">Editar</a></li>
                            <li><a href="{% url "personnelactions:personnelactions_edit" contracts.id  %}">Registrar</a></li>
                            <li><a href="{% url "personnelactions:personnelactions_delete" contracts.id %}">Borrar</a></li>
                        {% endif %}
                        {% if contracts.status == 'Firmado' %}
                            <li><a href="#" data-toggle="modal" data-target="#contract{{contract.id}}">Ver</a></li>
                            <li><a href="{% url "personnelactions:personnelactions_edit" contracts.id  %}">Imprimir</a></li>
                                
                            <li><a href="{% url "personnelactions:personnelactions_edit" contracts.id  %}">Editar</a></li>
                            <li><a href="{% url "personnelactions:personnelactions_edit" contracts.id  %}">Registrar</a></li>
                            <li><a href="{% url "personnelactions:personnelactions_delete" contracts.id %}">Borrar</a></li>
                        {% endif %}
                        
                        
                        
                    </ul>
                </div>
            </td>
        </tr>
        <!-- Modal -->
        <div id="contract{{contract.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" >
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Contrato&nbsp;{{contracts.type_of_contract }} - {{contracts.employee}} </h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6">      
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-info">
                                <div class="panel-body">
            
                                    <p align="center"><b>Contrato</b></p>
                                    <p align="center">Nº {{ contracts.id }}</p>
                                    <p align="center">Fecha de elaboración: {{ contracts.date_of_preparation }}   </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                        
                                     <div class="col-lg-6"> 
                                        <p align="center"><b>{{ contracts.employee.person.name }}</b></p>
                                        <p align="center">APELLIDOS</p>
                                                                    
                                    </div>
                                    <div class="col-lg-6">      
                                        <p align="center"><b>{{ contracts.employee.person.lastname }}</b></p>
                                        <p align="center">NOMBRES</p>
                                    </div>
                                    <div class="col-lg-4"> 
                                        <p align="center">No. de Cédula de Ciudadanía </p>
                                        <p align="center">Nº {{ contracts.employee.person.cedula }}</p>
                                                                    
                                    </div>
                                    <div class="col-lg-4">      
                                        <p align="center">Tipo de Contrato</p>
                                        <p align="center">{{ contracts.type_of_contract }}</p>
                                    </div>
                                    <div class="col-lg-4">      
                                        <p align="center">Vigente</p>
                                        <p align="center">{{ contracts.start_date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="col-lg-4"> 
                                        <p align="center">FECHA DE INICIO</p>
                                        <p align="center">{{contracts.start_date}}</p>
                                        
                                                                    
                                    </div>
                                    <div class="col-lg-4"> 
                                        <p align="center">FECHA DE FIN</p>
                                        <p align="center">{{contracts.end_date}}</p>
                                        
                                                                    
                                    </div>
                                    <div class="col-lg-4"> 
                                        <p align="center">DISPUESTO POR</p>
                                        <p align="center">{{contracts.disposed}}</p>
                                                                    
                                    </div>
                                
                        
                                   
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">INSTITUCIÓN</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>U. Administrativa:</b>{{ contracts.department.institutional_unit }}</p>
                                        <p><b>Departamento:</b>{{ contracts.department }}</p>
                                        <p><b>Cargo Público:</b>{{ contracts.public_office }}</p>
                                        <p><b>Funciones:</b>{{ contracts.functions }}</p>
                                        <p><b>Lugar de trabajo:</b>{{ contracts.place_of_work }}</p>
                                        <p><b>Horario:</b>{{ contracts.schedule }}</p>
                                        
                                    </div>
                                </div>
                            </div>
                       
                            

                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">ECONÓMICOS</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Cert. presupuestaría:</b>{{ contracts.budget_certification }}</p>
                                        <p><b>Part. presupuestaría:</b>{{ contracts.budget_item }}</p>
                                        <p><b>Grupo Ocupacional:</b>{{ contracts.pay_scale_groups }}</p>
                                        <p><b>Grado:</b>{{ contracts.pay_scale_groups.grade }}</p>
                                        <p><b>Remuneración:</b>{{ contracts.remuneration }}</p>
                                        <p><b>Contrato colectivo:</b>{{ contracts.collective_contract }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                                         
                        
                            <div class="col-lg-4">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>MEMO DIRECTOR DE ÁREA</b></p>
                                            <div class="col-lg-12">
                                                <p align="center">{{contracts.memo_area_director}}</p>
                                            </div>
                                           
                                                                        
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>MEMO DIRECTOR DE RRHH</b></p>
                                            <div class="col-lg-12">
                                                <p align="center">{{contracts.memo_human_resources_director}}</p>
                                            </div>
                                            
                                
                                                                        
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>INFORME TÉCNICO</b></p>
                                            <div class="col-lg-12">
                                                <p align="center">{{contracts.technical_report}}</p>
                                            </div>
                                           
                                                                        
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            
                        
                        
                        
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>ELABORADO:</b></p>
                                            <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                            <p align="center">{{contracts.elaborated_by}}</p>                                                                       
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                        
                                        <div class="col-lg-12"> 
                                            <p align="center"><b>REVISADO</b></p>
                                            <p align="center">f.<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
                                            <p align="center">{{contracts.checked_by}}</p>                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        
                    <div class="modal-footer">
                        <div class="col-lg-8"> 
                            <small>
                                
                            </small> 
                        </div>
                        <div class="col-lg-2"> 
                            <button type="button" href="personnel_actions_pdf" class="btn btn-default" data-dismiss="modal">Imprimir</button>
                        </div>
                        <div class="col-lg-2">      
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>

                        
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if personnel_action.has_previous %}
            <a href="?page={{ personnel_action.previous_page_number }}">&#60;&#60;anterior</a>
        {% endif %}

        <span class="current">
            Página {{ personnel_action.number }} de {{ personnel_action.paginator.num_pages }}.
        </span>

        {% if personnel_action.has_next %}
            <a href="?page={{ personnel_action.next_page_number }}">siguiente&#62;&#62;</a>
        {% endif %}
    </span>
</div>

 