{% load contrato_templatetags %}
{#{% load widget_tweaks %}#}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" id="formControl">
            <div class="x_title">
                <h2>Información básica </h2>
                <button v-on:click="editChange" class="btn btn-success btn-xs">
                    <i class="fa fa-edit "> </i>Editar
                </button>
                <button v-if="edit" v-on:click="editChange" class="btn btn-danger btn-xs">
                    <i class="fa fa-edit "> </i>Cancelar
                </button>
                <button v-if="edit" v-on:click="save" class="btn btn-primary btn-xs">
                    <i class="fa fa-edit "> </i>Guardar
                </button>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="myTabContent" class="tab-content">
                    <form id="personalFrom" class="form-horizontal" method="post"  enctype="multipart/form-data">{% csrf_token %}
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                         aria-labelledby="home-tab">
                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table">
                                <!-- end recent activity -->
                                <tbody v-if="edit" class="col-md-7">
                                {% for field in formPerson %}
                                    <tr>
                                        <th>{{ field.errors }}</th>
                                        <th style="width:126px">{{ field.label }}</th>
                                        <td> {{ field|addclass:'form-control' }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tbody v-if="!edit" class="col-md-7">
                                {% for field in formPerson %}
                                    <tr>
                                        <th style="width:126px">{{ field.label }}</th>
                                        <td><fieldset disabled> {{ field |addclass:'form-control' }}</fieldset> </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                             </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script>

        new Vue({
            el: '#formControl',
            delimiters: ['[[', ']]'],
            data: {
                edit: false

            },
            methods: {
                editChange: function () {
                    this.edit = !this.edit;
                },

                 save: function () {
{#                    alert('save...');#}

                    $('#personalFrom').submit();
                    this.edit = !this.edit;


                },

            }
        });
    </script>
{% endblock javascripts %}