{% load static %}
<!--------------------------MODALES ----------------------------->
<div id="popup" class="modal fade" role="dialog"></div>
<!--------------------------------------------------------------->
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <b>Instrucción Formal</b></a>
            <button onclick="return abrir_modal('{% url 'employee:add_modal' employee.pk 'instruccion' %}')"
                    class="btn btn-success btn-xs">
                <i class="fa fa-edit "> </i>Agregar
            </button>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">

        <div class="panel-body">
            <div class="table-responsive">
                <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Nivel de instrución</th>
                        <th>Título Obtenido</th>
                        <th>Institución educativa</th>
                        <th>Nro. registro SENESCYT</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instrunccion in formal_instruction %}
                        <tr>
                            <td>{{ instrunccion.level_of_instruction }} </td>
                            <td>{{ instrunccion.obtained_title }} </td>
                            <td>{{ instrunccion.educational_institution }}</td>
                            <td>{{ instrunccion.senecyt_registration_number }}</td>
                            <td>
                                <a class="fa fa-edit" title="Editar"
                                   onclick="return abrir_modal('{% url 'employee:edit_modal' instrunccion.id 'instruccion' %}')"></a>
                                <a class="fa fa-trash" title="Eliminar"
                                   onclick="return abrir_modal('{% url 'employee:eliminar_modal' instrunccion.id 'instruccion' %}')"></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                <b>Oficios o Subactividades</b></a>
            <button onclick="return abrir_modal('{% url 'employee:add_modal' employee.pk 'oficio' %}')"
                    class="btn btn-success btn-xs">
                <i class="fa fa-edit "> </i>Agregar
            </button>
        </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
            <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Oficio</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for oficio in oficios %}
                    <tr>
                        <td>{{ oficio.job }} </td>
                        <td>{{ oficio.description }}</td>

                        <td>
                            <a class="fa fa-edit" title="Editar"
                               onclick="return abrir_modal('{% url 'employee:edit_modal' oficio.id 'oficio' %}')"></a>
                            <a class="fa fa-trash" title="Eliminar"
                               onclick="return abrir_modal('{% url 'employee:eliminar_modal' oficio.id 'oficio' %}')"></a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <b>Idiomas</b></a>
            <button onclick="return abrir_modal('{% url 'employee:add_modal' employee.pk 'lenguaje' %}')"
                    class="btn btn-success btn-xs"><i class="fa fa-edit "> </i>Agregar
            </button>
        </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
            <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Idioma</th>
                    <th>Nivel Hablado</th>
                    <th>Nivel Escrito</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                {% for lenguaje in lenguajes %}
                    <tr>
                        <td>{{ lenguaje.language }} </td>
                        <td>{{ lenguaje.spoken_level }}</td>
                        <td>{{ lenguaje.written }}</td>
                        <td>
                            <a class="fa fa-edit" title="Editar"
                               onclick="return abrir_modal('{% url 'employee:edit_modal' lenguaje.id 'lenguaje' %}')"></a>
                            <a class="fa fa-trash" title="Eliminar"
                               onclick="return abrir_modal('{% url 'employee:eliminar_modal' lenguaje.id 'lenguaje' %}')"></a>

                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                <b>Capacitaciones</b></a>
            <button onclick="return abrir_modal('{% url 'employee:add_modal' employee.pk 'capacitacion' %}')"
                    class="btn btn-success btn-xs"><i class="fa fa-edit "> </i>Agregar
            </button>
        </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
            <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Capacitación</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                {% for capacitacion in capacitaciones %}
                    <tr>
                        <td>
                            {#                           <embed src= "{% static capacitacion.documento_pdf  %}" width= "500" height= "375">#}
                            <a class="fa fa-file" title="Capacitación" target="_blank"
                               href="{% url 'employee:ver_pdf' capacitacion.id 'capacitacion'%}"> Documento_{{ forloop.counter }}</a>
                        </td>

                        <td>
                            <a class="fa fa-trash" title="Eliminar"
                               onclick="return abrir_modal('{% url 'employee:eliminar_modal' capacitacion.id 'capacitacion' %}')"></a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                <b>Experiencia Laboral</b></a>
            <button onclick="return abrir_modal('{% url 'employee:add_modal' employee.pk 'experiencia' %}')"
                    class="btn btn-success btn-xs"><i class="fa fa-edit "> </i>Agregar
            </button>
        </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
            <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Experiencia</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for experiencia in experiencias %}
                    <tr>
                        <td>

                            <a class="fa fa-file" title="Experiencia" target="_blank"
                               href="{% url 'employee:ver_pdf' experiencia.id 'experiencia' %}">
                                Documento_{{ forloop.counter }}</a>
                        </td>

                        <td>
                            <a class="fa fa-trash" title="Eliminar"
                               onclick="return abrir_modal('{% url 'employee:eliminar_modal' experiencia.id 'experiencia' %}')"></a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{#<div class="panel panel-success">#}
{#    <div class="panel-heading">#}
{#        <h4 class="panel-title">#}
{#            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">#}
{#                <b>Evaluación de Desempeño</b></a>#}
{#        </h4>#}
{#    </div>#}
{#    <div id="collapse7" class="panel-collapse collapse">#}
{#        <div class="panel-body">#}
{#            <table id="table_instituciones" class="table table-bordered table-hover table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Institución</th>#}
{#                    <th>Calificación Obtenida</th>#}
{#                    <th>Fecha desde</th>#}
{#                    <th>Fecha hasta</th>#}
{#                    <th>Observación</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                                {% for performance_evaluation_detalle in performance_evaluation %}#}
{#                                <tr>#}
{#                                    <td>{{ performance_evaluation_detalle.institution }} </td>#}
{#                                    <td>{{ performance_evaluation_detalle.qualification_obtained }} </td>#}
{#                                    <td>{{ performance_evaluation_detalle.date_since }} </td>#}
{#                                    <td>{{ performance_evaluation_detalle.date_until }} </td>#}
{#                                    <td>{{ performance_evaluation_detalle.observation }} </td>#}
{#                                    #}
{#                                    #}
{#                                </tr>               #}
{#                                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="panel panel-success">#}
{#    <div class="panel-heading">#}
{#        <h4 class="panel-title">#}
{#            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">#}
{#                <b>Logros Personales</b></a>#}
{#        </h4>#}
{#    </div>#}
{#    <div id="collapse8" class="panel-collapse collapse">#}
{#        <div class="panel-body">#}
{#            <table id="table_instituciones" class="table table-bordered table-hover table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Tipo de Logro</th>#}
{#                    <th>Descripción</th>#}
{##}
{#                </tr>#}
{#                </thead>#}
{#                            <tbody>#}
{#                                {% for personal_achievements in personal_achievement %}#}
{#                                <tr>#}
{#                                    <td>{{ personal_achievements.kind_of_achievement }} </td>#}
{#                                    <td>{{ personal_achievements.description }} </td>#}
{#                                    #}
{#                                </tr>               #}
{#                                {% endfor %}#}
{#                            </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="panel panel-success">#}
{#    <div class="panel-heading">#}
{#        <h4 class="panel-title">#}
{#            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">#}
{#                <b>Acciones Afirmativas</b></a>#}
{#        </h4>#}
{#    </div>#}
{#    <div id="collapse9" class="panel-collapse collapse">#}
{#        <div class="panel-body">#}
{#            <table id="table_instituciones" class="table table-bordered table-hover table-striped">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Heroe o Heroína</th>#}
{#                    <th>Excombatiente</th>#}
{#                    <th>Migrante Ecuatoriano</th>#}
{##}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                                {% for affirmative_action_detalle in affirmative_action %}#}
{#                                <tr>#}
{#                                    <td>{{ affirmative_action_detalle.hero }} </td>#}
{#                                    <td>{{ affirmative_action_detalle.former_fighter }} </td>#}
{#                                    <td>{{ affirmative_action_detalle.ecuadorian_migrant }} </td>#}
{#                                    #}
{#                                </tr>               #}
{#                                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                <b>Referencias Personales</b></a>
            <button onclick="return abrir_modal('{% url 'employee:add_modal' employee.pk 'referencia' %}')"
                    class="btn btn-success btn-xs"><i class="fa fa-edit "> </i>Agregar
            </button>
        </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
        <div class="panel-body">
            <table id="table_instituciones" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Nombres y Apellidos</th>
                    <th>Teléfono</th>
                    <th>Correo Electrónico</th>
                    <th>Acciones</th>


                </tr>
                </thead>
                <tbody>
                {% for referencia in personal_references %}
                    <tr>
                        <td>{{ referencia.name }} {{ referencia.lastname }} </td>
                        <td>{{ referencia.phone }} </td>
                        <td>{{ referencia.email }} </td>
                        <td>
                            <a class="fa fa-edit" title="Editar"
                               onclick="return abrir_modal('{% url 'employee:edit_modal' referencia.id 'referencia' %}')"></a>
                            <a class="fa fa-trash" title="Eliminar"
                               onclick="return abrir_modal('{% url 'employee:eliminar_modal' referencia.id 'referencia' %}')"></a>

                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function abrir_modal(url) {
        $('#popup').load(url, function () {
            $(this).modal('show');
        });
        return false;
    }

    function cerrar_modal() {
        $('#popup').modal('hide');
        return false;
    }
</script>

      