{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% load staticfiles %}


{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}

    {#    -------------------   prefil---------------------------------- #}

    <div class="right_col" role="main">
        <div class="">


            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        {{ titulo }}
                    </h2>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i> <a href="/">Inicio</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i> <a href="{% url "employee:employee_list_user" %}">Empleados</a>
                        </li>
                        <li class="active">
                            <i class="glyphicon glyphicon-education"></i> {{ titulo }}
                            - {{ employee.person.name | title }} {{ employee.person.lastname | title }}
                        </li>

                    </ol>
                </div>
            </div>
            <div class="row menu-empeado ">

                <a class="btn btn-app " href="{% url "employee:employee_detail_user_personel" employee.id %}">
                    <i class="fa fa-info-circle"></i>Datos <br> Personales</a>

                {#                    <a class="btn btn-app" href="{% url "employee:employee_detail_user_curriculo" employee.id %}">#}
                {#                        <i class="fa fa-graduation-cap"></i> Currículo</a>#}

                <a class="btn btn-app" href="{% url "employee:employee_detail_user_institutional_data" employee.id %}">
                    <i class="fa fa-institution"></i> Datos <br>Institucionales</a>

                <a class="btn btn-app" href="{% url "employee:employee_detail_user_curriculo" employee.id %}">
                    <i class="fa fa-graduation-cap"></i> Currículo</a>

                <a class="btn btn-app" href="{% url "employee:employee_detail_user_economic_data" employee.id %}">
                    <i class="fa fa-money"></i> Datos <br> económicos</a>

                <a class="btn btn-app" href="#">
                    <i class="fa fa-heart"></i> Seguridad <br> Social</a>


                <a class="btn btn-app" href="{% url "employee:employee_detail_user_schedule_data" employee.id %}">
                    <i class="fa fa-clock-o"></i>Horarios</a>


                <a class="btn btn-app" href="{% url "employee:employee_detail_user_permissions_data" employee.id %}">
                    <i class="fa fa-support"></i>Permisos</a>


                <a class="btn btn-app"
                   href="{% url "employee:employee_detail_user_personnel_actions_data" employee.id %}">
                    <i class="fa fa-users"></i>Acciones <br>de Personal</a>


                <a class="btn btn-app" href="{% url "employee:employee_detail_user_contract" employee.id %}">
                    <i class="fa fa-edit"></i>Contratos</a>


                <a class="btn btn-app" href="#">
                    <i class="fa fa-fire-extinguisher"></i>Seguridad <br> Industrial</a>


                <a class="btn btn-app"
                   href="{% url "employee:historial_partidas_presupuestarias" employee.id %}">
                    <i class="fa fa-folder-open"></i>Partidas <br> Prsupuestarias</a>

            </div>

            <br>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Empleado:
                                <small>{{ employee.person.name }} {{ employee.person.lastname }}</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-2 col-sm-2 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        {% if employee.person.photo %}
                                            <img class="img-responsive avatar-view"
                                                 src="{{ employee.person.photo.url  }}"
                                                 style="width:200px;height:200px" alt="Avatar" title="Cambiar foto"/>
                                        {% else %}
                                            <img class="img-responsive avatar-view" src="{% static "images/user.png" %}"
                                                 style="width:150px;height:150px" alt="Avatar" title="Cambiar foto"/>
                                        {% endif %}
                                        {#                    <img class="img-responsive avatar-view" src="/static/images/picture.jpg" alt="Avatar" title="Change the avatar">#}
                                    </div>
                                </div>
                                <h3> {{ employee.person.name | title }} {{ employee.person.lastname | title }}</h3>

                                <ul class="list-unstyled user_data">

                                    {#                                <li>#}
                                    {#                                        <i class="fa fa-sitemap user-profile-icon"></i> tuitulo empleado#}
                                    {#                                    </li>#}

                                    <li>
                                        <i class="fa fa-mobile-phone user-profile-icon"></i>
                                        {% if employee.person.cell_phone %} {{ employee.person.cell_phone }} {% endif %}
                                    </li>
                                    <li>
                                        <i class="fa fa-phone user-profile-icon"></i> {{ employee.person.phone }}
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope user-profile-icon"></i> {{ employee.person.email }}
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker user-profile-icon"></i> {{ employee.person.address }}
                                    </li>
                                    <li>
                                        <i class="fa fa-file-text user-profile-icon"></i> {{ employee.employee_type }}
                                    </li>
                                    <li>
                                        <i class="fa fa-briefcase user-profile-icon"></i> {{ employee.status }}
                                    </li>
                                    <li>
                                        <i class="fa fa-institution user-profile-icon"></i> {{ employee.institution }}
                                        - {{ employee.institutional_unit }}
                                    </li>
                                    <li>
                                        <i class="fa fa-sitemap user-profile-icon"></i> {{ employee.department }}
                                    </li>


                                </ul>

{#                                <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Editar Perfil</a>#}
                                <br/>

                                <!-- start skills -->

                                <!-- end of skills -->

                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">

                                <!-- contenido dinamico -->
                                {% if titulo == "Datos Personales" %}
                                    {% include "employee/datos_personales.html" %}
                                {% elif titulo == "Curriculo Vitae" %}
                                    {% include "employee/datos_curriculo.html" %}
                                {% elif titulo == "Datos Institucionales" %}
                                    {% include "employee/datos_institucionales.html" %}
                                {% elif titulo == "Datos Económicos" %}
                                    {% include "employee/datos_economicos.html" %}
                                {% elif titulo == "Acciones de personal" %}
                                    {% include "employee/datos_acciones_de_personal.html" %}
                                {% elif titulo == "Partidas" %}
                                    {% include "employee/historial_partidas.html" %}
                                {% elif titulo == "Horarios" %}
                                    {% include "employee/datos_horarios.html" %}
                                {% elif titulo == "Contratos" %}
                                    {% include "employee/datos_contratos.html" %}
                                {% elif titulo == "Permisos Por Hora" %}
                                    {% include "employee/datos_permisos.html" %}
                                {% else %}
                                   Sin contenido
                                {% endif %}

                                <!-- Fin contenido dinamico -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {#    --------------------- end perfil-------------------------------- #}








{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <!-- morris.js -->
    <script src="/static/vendors/raphael/raphael.min.js"></script>
    <script src="/static/vendors/morris.js/morris.min.js"></script>
{% endblock javascripts %}