<div class="table-responsive">
<table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Ruc</th>
            <th>Empleado</th>
            <th>Título</th>
            <th>Observación</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for observations in data %}
        <tr>
            <td>{{ observations.employee.person.cedula }} </td>
            <td>{{ observations.employee.person.name}} {{observations.employee.person.lastname }} </td>
            <td>{{ observations.title }} </td>
            <td>{{ observations.observations }} </td>
            <td>{{ observations.date }} </td>
            
            <td> 
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#observation{{observation.id}}">Ver</a></li>
                        <li><a href="{% url "employee:observations_edit_user" observations.id  %}">Editar</a></li>
                        <li><a href="{% url "employee:observations_delete_user" observations.id %}">Borrar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <!-- Modal -->
        <div id="observation{{observation.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{observations.title}} - {{ observations.employee.person.name}} {{observations.employee.person.lastname }} </h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ observations.observations }}.</p>
                        
                    <div class="modal-footer">
                        <div class="col-lg-10"> 
                            <small>
                                <b>Fecha:</b> {{observations.date }}&nbsp;&nbsp;&nbsp;
                                <b>Tipo:</b>{{ observations.type_of_observation }}&nbsp;&nbsp;&nbsp;
                                <b>Creada por:</b>{{ observations.created_by }}
                            </small> 
                        </div>
                        <div class="col-lg-2">      
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>

                        
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </tbody>
</table>


</div>