{#{% extends "base.html" %}#}
{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block stylesheets %}
    {{ block.super }}
    <!--suppress ALL -->
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link href="" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="title_center">
                                <h3>LISTA DE EMPLEADOS </h3>
                            </div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <form class="form-horizontal form-label-left" method="post" action="/employee/">{% csrf_token %}
                <div class="x_panel">

                    <div class="x_title">
                        <h2>Criterios de Busqueda
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row" id="example">

                        <div class="form-group">
                            <div class="x_content">
                                <input id="directivo_pk" type="hidden" value="{{ directivo_pk }}">
                                <label class="control-label col-lg-1">Directivo</label>
                                <div class="col-sm-5">
                                    <select class="form-control" @change="cargarDirecciones" v-model="directivo"
                                            name="directivo">
                                        <option disabled value="">Seleccione un nivel directivo</option>
                                        <option v-for="directivo in directivos"
                                                v-bind:value="directivo.pk">[[directivo.nombre ]]
                                        </option>
                                    </select>
                                </div>
                                <input id="estado_pk" type="hidden" value="{{ estado_pk }}">

                                <label class="control-label col-lg-1">Estado</label>
                                <div class="col-sm-5 ">
                                    <select class="form-control" v-model="estado" name="estado" :required="true">
                                        <option disabled value="">Estado del Empleado</option>
                                        <option v-for="estado in estados" v-bind:value="estado.pk">[[estado.name ]]
                                        </option>
                                    </select>
                                </div>


                            </div>
                            <div class="x_content">
                                <input id="direccion_pk" type="hidden" value="{{ direccion_pk }}">
                                <label class="control-label col-lg-1">Dirección</label>
                                <div class="col-sm-5">
                                    <select class="form-control" v-model="direccion" @change="cargarJefaturas"
                                            name="direccion">
                                        <option disabled value="">Seleccione una Dirección Institucional</option>
                                        <option v-for="direccion in direcciones"
                                                v-bind:value="direccion.pk">[[direccion.nombre ]]
                                        </option>
                                    </select>
                                </div>
                                 <input id="estado_civil_pk" type="hidden" value="{{ estado_civil }}">
                                <label class="control-label col-lg-1">Est. Civil</label>
                                <div class="col-sm-5 ">
                                    <select class="form-control" v-model="estado_civil" name="estado_civil">
                                        <option disabled value="">Est. Civil</option>
                                        <option v-for="estado_civil in estados_civiles" v-bind:value="estado_civil.pk">
                                            [[estado_civil.name ]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="x_content">
                                <input id="jefatura_pk" type="hidden" value="{{ jefatura_pk }}">
                                <label class="control-label col-lg-1">Jefatura</label>
                                <div class="col-sm-5 ">
                                    <select class="form-control" v-model="jefatura" name="jefatura">
                                        <option disabled value="">Seleccione una Jefatura</option>
                                        <option v-for="jefatura in jefaturas" v-bind:value="jefatura.pk">
                                            [[jefatura.nombre ]]
                                        </option>
                                    </select>
                                </div>


                                <input id="apellido_hiden" type="hidden" value="{{ apellido }}">
                                <label class="control-label col-lg-1">Apellidos</label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" id="apellido" name="apellido"
                                           value="apellido"
                                           v-model="apellido"
                                           placeholder="Buscar por apellidos">
                                </div>
                            </div>
                            <div class="x_content">


                                <input id="genero_pk" type="hidden" value="{{ genero }}">
                                <label class="control-label col-lg-1">Género</label>
                                <div class="col-sm-5 ">
                                    <select class="form-control" v-model="genero" name="genero">
                                        <option disabled value="">Género</option>
                                        <option v-for="genero in generos" v-bind:value="genero.pk">[[genero.name ]]
                                        </option>
                                    </select>
                                </div>

                                <input id="cedula_hiden" type="hidden" value="{{ cedula }}">
                                <label class="control-label col-lg-1">Cédula</label>
                                <div class="col-sm-5">
                                    <input class="form-control" maxlength="10" type="text" id="cedula" name="cedula" value="cedula"
                                           v-model="cedula" placeholder="Buscar por número de cédula">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="x_panel">

                    <div class="x_title">
                        <h2>Reportes
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="x_content">
                            <label class="control-label col-md-6">Sueldo</label>
                            <div class="col-md-2"><input class="icheckbox_flat-green" name="sueldo" id="sueldo" type="checkbox"></div>
                        </div>

                        <div class="x_content">
                            <label class="control-label col-md-6">Cargo</label>
                            <div class="col-md-2 "><input class="icheckbox_flat-green" name="cargo" id="cargo" type="checkbox"></div>
                        </div>
                         <div class="x_content">
                            <label class="control-label col-md-6">Teléfeno</label>
                            <div class="col-md-2 "><input class="icheckbox_flat-green" name="telefono" id="telefono" type="checkbox"></div>
                        </div>


                    </div>

                    <div class="form-group col-md-4">
                          <div class="x_content">
                            <label class="control-label col-md-6">Dirección</label>
                            <div class="col-md-2 "><input class="icheckbox_flat-green" name="address" id="address" type="checkbox"></div>
                        </div>
                           <div class="x_content">
                            <label class="control-label col-md-6">Fecha de ingreso</label>
                            <div class="col-md-2 "><input class="icheckbox_flat-green" name="ingreso" id="ingreso" type="checkbox"></div>
                        </div>
                        <div class="x_content">
                            <label class="control-label col-md-6">Fecha fin de contrato</label>
                            <div class="col-md-2 "><input class="icheckbox_flat-green" name="fin_contrato" id="fin_contrato" type="checkbox"></div>
                        </div>



                    </div>

                    <div class="form-group col-md-4">
                               <div class="x_content">
                            <label class="control-label col-md-6">Fecha de nacimiento</label>
                            <div class="col-md-2 "><input class="icheckbox_flat-green" name="fecha_nac" id="fecha_nac" type="checkbox"></div>
                        </div>
                          <div class="x_content">
                            <label class="control-label col-md-6">Años de servicio</label>
                            <div class="col-md-2 "><input class="icheckbox_flat-green" name="tiempo_servicio" id="tiempo_servicio" type="checkbox"></div>
                        </div>
                        <div class="x_content">
                            <label class="control-label col-md-6">Tipo de contrato</label>
                            <div class="col-md-2 "><input class="icheckbox_flat-green" name="tipo_contrato" id="tipo_contrato" type="checkbox"></div>
                        </div>

                    </div>

                </div>

                <div class="col-md-5 col-sm-6 col-xs-12 ">
                    <a href="{% url "employee:employee_new" %}" class="btn btn-success fa fa-plus">Nuevo empleado</a>
                    {#                    <a href="{% url "employee:report_pdf" %}" class="btn btn-success fa fa-file-pdf-o">Reportes</a>#}
                    <button type="submit" value="reporte" name="reporte" class="btn btn-success fa fa-file-pdf-o">
                        Reportes
                    </button>

                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 ">
                    <button type="submit" class="btn btn-success fa fa-search"> Buscar</button>
                    <a href="{% url "employee:employee_list_user" %}" class="btn btn-primary fa fa-refresh">
                        Limpiar </a>
                </div>
            </form>

            <div class="x_panel">
                <div class="x_content">
                    <table id="datatable-buttons2" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Directivo</th>
                            <th>Direccion</th>
                            <th>Jefatura</th>
                            <th>Estado</th>

                        </tr>
                        </thead>


                        <tbody>
                        {% for employee in object_list %}
                            {# Each "contact" is a Contact model object. #}
                            <tr>
                                <td>
                                    <a href="{% url "employee:employee_detail_user_personel" employee.id %}">{{ employee.person.cedula }} </a>
                                </td>
                                <td>
                                    <a href="{% url "employee:employee_detail_user_personel" employee.id %}">{{ employee.person.name }} </a>
                                </td>
                                <td>
                                    <a href="{% url "employee:employee_detail_user_personel" employee.id %}">{{ employee.person.lastname }}</a>
                                </td>

                                <td>{{ employee.directivo }} </td>
                                <td>{{ employee.direccion }} </td>
                                <td>{{ employee.jefatura }} </td>
                                <td>{{ employee.status }} </td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {#        <typeahead :data="USstate" placeholder="USA states"></typeahead>#}
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    {#    <script src="/static/build/js/custom.js"></script>#}
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    {#<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>#}
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>#}
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>#}
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>#}
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    {#<script src="/static/vendors/jszip/dist/jszip.min.js"></script>#}
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    {#<script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>#}
    {#Scripts para llamar los reportes de tablas#}
    <script src="/static/vendors/ScriptsDataTable/buttons.flash.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.html5.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.print.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/jszip.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/vfs_fonts.js"></script>
    <script src="/static/build/js/bootstrap3-typeahead.min.js"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-strap/1.1.37/vue-strap.min.js"></script>#}
    {#   vue resourse http.get #}
    {#        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>#}

    {#    <script>#}
    {##}
    {#        function obtenerItem() {#}
    {#            console.log('click');#}
    {#            $('#formFilter').submit();#}
    {#        }#}
    {##}
    {#    </script>#}


    <script src="/static/js/constans.js"></script>
    <script>
        {#        TODO cambiar URL host en constans.js#}
        var apiURL_organigrama = HOST + '/employee/api_organigrama/';


        new Vue({
            el: '#example',
            delimiters: ['[[', ']]'],
            data: {
                estados: null,
                organigrama: null,
                instituciones: null,
                directivos: null,
                direcciones: null,
                jefaturas: null,
                estados_civiles: null,
                generos: null,

                estado: '',
                cedula: '',
                apellido: '',
                genero: '',
                estado_civil: '',
                institucion: '',
                directivo: '',
                direccion: '',
                jefatura: ''


            },
            methods: {
                getOrganigrama: function () {

                    {#this.institucion = document.getElementById("institucion_pk").value;#}
                    this.directivo = document.getElementById("directivo_pk").value;
                    this.direccion = document.getElementById("direccion_pk").value;
                    this.jefatura = document.getElementById("jefatura_pk").value;

                    this.cedula = document.getElementById("cedula_hiden").value;
                    this.apellido = document.getElementById("apellido_hiden").value;
                    this.estado = document.getElementById("estado_pk").value;
                    this.genero = document.getElementById("genero_pk").value;
                    this.estado_civil = document.getElementById("estado_civil_pk").value;


                    this.$http.get(apiURL_organigrama).then(function (response) {
                        this.organigrama = response.data;
                        this.instituciones = this.organigrama.instituciones;
                        this.estados = this.organigrama.estados;
                        this.generos = this.organigrama.generos;
                        this.estados_civiles = this.organigrama.estado_civil;
                        this.institucion = this.organigrama.instituciones[0].pk;
                        this.estado = this.organigrama.estados.find(estado => estado.name === 'Empleado').pk;
                        this.cargarDirectivos();


                        console.log('organigrama: ', this.organigrama);
                    }, function (error) {
                        console.log(error.statusText);
                    });
                },

                cargarDirectivos: function () {

                    if (document.getElementById("directivo_pk").value)
                        this.directivo = document.getElementById("directivo_pk").value;
                    else
                        this.directivo = '';

                    if (document.getElementById("direccion_pk").value)
                        this.direccion = document.getElementById("direccion_pk").value;
                    else
                        this.direccion = '';

                    if (document.getElementById("jefatura_pk").value)
                        this.jefatura = document.getElementById("jefatura_pk").value;
                    else
                        this.jefatura = '';


                    this.directivos = this.organigrama.directivos.filter(dir => dir.institucion__id == this.institucion);
                    this.direcciones = null;
                    this.jefaturas = null;

                },


                cargarDirecciones: function () {


                    this.direcciones = this.organigrama.direcciones.filter(dir => dir.directivo__id == this.directivo);

                },

                cargarJefaturas: function () {
                    this.jefaturas = this.organigrama.jefaturas.filter(jefatura => jefatura.direccion__id == this.direccion);
                }
            },
            mounted: function () {
                this.getOrganigrama();
                {#this.cargarDirectivos();#}
            }
        });


    </script>





{% endblock javascripts %}

