
{% load contrato_templatetags %}
{% if mensaje != '' %}
  <div class="alert alert-warning">
    <strong>Warning!</strong> {{mensaje}}
  </div>
  <div class="col-lg-12" >
    <div class="btn-group" role="group" >
      <a href="{% url "employee:observations_list_user" %}" class="btn btn-success" role="button">Atras</a>
    </div>
  </div>

{% else %}
  <form class="form-horizontal" method="post">
  {% csrf_token %}
  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.errors }}
      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
      <div class="col-sm-8">
        {{ field|addclass:'form-control'}}
      </div>
    </div>
  {% endfor %}
  <div class="col-lg-12" >
    <div class="btn-group" role="group" >
      <button type="submit" class="btn btn-success">Guardar</button>
      <a href="{% url "employee:observations_list_user" %}" class="btn btn-success" role="button">Cancelar</a>         
    </div>
  </div>
</form>
{% endif %}
   
 



