
{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Empleados - Historial de Horarios
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> <a href="{% url "employee:employee_list_user" %}">Empleado</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Historial de Horarios
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> {{accion}}
            </li>
       </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <div class="form-group input-group">
                <a href="{% url "employee:employee_schedule_history_user_new_user" %}">Agregar Historial de Horario</a>
            </div> 
        </div>
        <div class="col-lg-6">      
        </div>
        <div class="col-lg-3">
            <div class="form-group input-group">
                <input type="text" id='search' class="form-control">
                <span class="input-group-btn"><button class="btn btn-default" onclick="buscar()" type="button"><i class="fa fa-search"></i></button></span>
            </div> 
        </div>
    </div>       
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Historial de Horarios</h3>
    </div>
    <div class="panel-body">
        {% if accion == 'listar' %}
            {% include "employee/employee_schedule_history_list.html" %}
        {% elif accion == "nuevo" %}
            {% include "employee/employee_schedule_history_form.html" %}
        {% elif accion == "editar" %}
            {% include "employee/employee_schedule_history_form.html" %}
        {% elif accion == "asignar nuevo horario" %}
            {% include "employee/employee_schedule_history_form.html" %}
        {% elif accion == "eliminar" %}
            <form method="post">{% csrf_token %}
                ¿Estás seguro que deseas borrar la observación del empleado "{{ object }}"?
                <input type="submit" value="Eliminar" />
            </form>
        {% else %}
            {% include "employee/observations_list.html" %}
        {% endif %}
    </div>
</div>
         

{% endblock %}

{% block javascript %}
   <script>
      var start_date=$('input[name="date_of_assignment"]'); //our date input has the name "date"
      var options={
          format: 'mm/dd/yyyy',
          orientation:"bottom",
          todayHighlight: true,
          autoclose: true,
          language: "es",
      };
      start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      
    
    </script>

{% endblock %}
