<div class="table-responsive">
<table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Código</th>
            <th>Area</th>
            <th>Programa</th>
            <th>Cargo</th>
            <th>Remuneración</th>
            <th>Fecha Aisgnación</th>
            <th>Fecha Finalización</th>

        </tr>
    </thead>
    <tbody>
    {% for historial in partidasHistorial %}
        {# Each "personnel_action" is a Contact model object. #}
        <tr>
            <td>{{ forloop.counter }} </td>
            <td> {{ historial.partida.code }}</td>
            <td> {{ historial.partida.actividad.proyecto.subprograma.programa.name }}</td>
            <td> {{ historial.partida.actividad.proyecto.subprograma.name }}</td>
            <td> {{ historial.partida.charge_itm }}</td>
             <td> {{ historial.partida.remuneration }}</td>
            <td> {{ historial.partida.creationdate }}</td>
            <td> {{ historial.fechaSalida }}</td>




            
{#            <td> #}
{#                <div class="btn-group" dropdown>#}
{#                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>#}
{#                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">#}
{#                        <span class="caret"></span>#}
{#                    <span class="sr-only">Split button!</span>#}
{#                    </button>#}
{#                    <ul class="dropdown-menu" role="menu">#}
{#                        <li><a href="#" data-toggle="modal" data-target="#kind_personnel_action{{kind_personnel_action.id}}">Ver</a></li>#}
{#                        {% if personnel_action.status == 'emitida' %}#}
{#                            <li><a href="{% url "personnelactions:personnelactions_edit" personnel_action.id  %}">Editar</a></li>#}
{#                            <li><a href="{% url "personnelactions:personnelactions_edit" personnel_action.id  %}">Registrar</a></li>#}
{#                            <li><a href="{% url "personnelactions:personnelactions_delete" personnel_action.id %}">Borrar</a></li>#}
{#                        {% endif %}#}
{#                        #}
{#                        <li><a href="{% url "personnelactions:personnelactions_edit" personnel_action.id  %}">Imprimir</a></li>#}
{#                        #}
{#                    </ul>#}
{#                </div>#}
{#            </td>#}
        </tr>

    {% endfor %}
    </tbody>
</table>
</div>
{#<div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if personnel_action.has_previous %}#}
{#            <a href="?page={{ personnel_action.previous_page_number }}">&#60;&#60;anterior</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Página {{ personnel_action.number }} de {{ personnel_action.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if personnel_action.has_next %}#}
{#            <a href="?page={{ personnel_action.next_page_number }}">siguiente&#62;&#62;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

 