
{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Datos Institucionales
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Datos Institucionales
        </li>
        
       </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <div class="form-group input-group">
                <a href="{% url "employee:institutionaldata_new" %}">Agregar Datos Institucionales</a>
            </div> 
        </div>
        <div class="col-lg-6">
            
        </div>
        <div class="col-lg-3">

                <div class="form-group input-group">
                    <input type="text" id='search' class="form-control">
                    <span class="input-group-btn"><button class="btn btn-default" onclick="buscar()" type="button"><i class="fa fa-search"></i></button></span>
                    
                </div> 
            
        </div>
    </div>       
</div>
   
   <div class="table-responsive">
    <table id="table_instituciones" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Ruc</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Institución</th>
                <th>Unidad Institucional</th>
                <th>Departamento</th>
                <th>Regimen Laboral</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for institutional_data in object_list %}
            <tr>
                <td>{{ institutional_data.employee.person.cedula }} </td>
                <td>{{ institutional_data.employee.person.name }} </td>
                <td>{{ institutional_data.employee.person.lastname }} </td>
                <td>{{ institutional_data.employee.institution }} </td>
                <td>{{ institutional_data.employee.institutional_unit }} </td>
                <td>{{ institutional_data.employee.department }} </td>
                <td>{{ institutional_data.employee.employee_type }} </td>
                <td>{{ institutional_data.employee.status }} </td>
                <td> 
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "employee:institutionaldata_detail" institutional_data.id  %}">Ver</a></li>
                            <li><a href="{% url "employee:institutionaldata_edit" institutional_data.id  %}">Editar</a></li>
                            <li><a href="{% url "employee:institutionaldata_delete" institutional_data.id %}">Borrar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


         

{% endblock %}