
{% extends "base.html" %}
{% load contrato_templatetags %}
{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Datos Institucionales
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> <a href="{% url "employee:institutionaldata_list" %}">Datos Institucionales</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Nuevo Empleado
        </li>
       </ol>
    </div>
  </div>
   
 <form class="form-horizontal" method="post">
  {% csrf_token %}
  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.errors }}
      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
      <div class="col-sm-8">
        {{ field|addclass:'form-control'}}
      </div>
    </div>
  {% endfor %}
  
  <div class="col-lg-12" >
    <div class="btn-group" role="group" >
      <button type="submit" class="btn btn-success">Guardar</button>
      <a href="{% url "employee:institutionaldata_list" %}" class="btn btn-success" role="button">Cancelar</a>
                   
    </div>
  </div>
  
</form>


{% endblock %}

