
{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Datos Institucionalesss
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> <a href="{% url "employee:institutionaldata_list" %}"> Datos Institucionales</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Datos Institucionales Detalle - {{ institutional_data.employee.person.name }} - {{institutional_data.status}}
        </li>
        
       </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">               
                <h3 class="panel-title"><b>Datos Institucionales</b></h3>           
            </div>
            <div class="panel-body">
                <div class="row" >
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                         
                                <div class="row">
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Datos Informativos</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-lg-4">   
                                                        <div class="panel-body">
                                                            <label for="disabledSelect">Cédula:</label>
                                                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.employee.person.cedula }}">
                                                        </div>          
                                                    </div>
                                                    <div class="col-lg-4">   
                                                        <div class="panel-body">
                                                            <label for="disabledSelect">Nombres:</label>
                                                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.employee.person.name }}">
                                                        </div>          
                                                    </div>
                                                    <div class="col-lg-4">   
                                                        <div class="panel-body">
                                                            <label for="disabledSelect">Apellidos:</label>
                                                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_data.employee.person.lastname }}">
                                                        </div>          
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% include "employee/datos_institucionales.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





                                
    <p>
        <a href="{% url "employee:institutionaldata_list" %}">   Regresar</a>
    </p>
                          
   
                   
                  
               

   
{% endblock %}
