
 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Employee - {{titulo}}
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
            </li>
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{% url "employee:employee_detail_user" %}">Currículos</a>
            </li>
        {% if titulo = 'Instrucción Formal' %}
            <li>
                <i class="glyphicon glyphicon-education"></i> <a href="{% url "employee:employee_detail_user" employee.id%}"> {{titulo}} - {{employee.person.name}} {{employee.person.lastname}}</a>
            </li>

        {% elif titulo = 'Oficios o Subactividades' %}
             <li>
                <i class="glyphicon glyphicon-th-list"></i> <a href="{% url "employee:employee_detail_user" employee.id%}"> {{titulo}} - {{employee.person.name}} {{employee.person.lastname}}</a>
            </li>
        {% elif titulo = 'Idiomas' %}
             <li>
                <i class="glyphicon glyphicon-font"></i>  <a href="{% url "employee:employee_detail_user" employee.id %}">{{titulo}} - {{employee.person.name}} {{employee.person.lastname}}</a>
            </li>
        {% elif titulo = 'Capacitación' %}
             <li>
                <i class="glyphicon glyphicon-book"></i>  <a href="{% url "employee:employee_detail_user" employee.id %}">{{titulo}} - {{employee.person.name}} {{employee.person.lastname}}</a>
            </li>
        {% elif titulo = 'Experiencia Laboral' %}
             <li>
                <i class="glyphicon glyphicon-briefcase"></i>  <a href="{% url "employee:employee_detail_user" employee.id%}">{{titulo}} - {{employee.person.name}} {{employee.person.lastname}}</a>
            </li>
        {% elif titulo = 'Evaluación de Desempeño' %}
             <li>
                <i class="glyphicon glyphicon-star"></i> <a href="{% url "employee:employee_detail_user" employee.id%}"> {{titulo}} - {{employee.person.name}} {{employee.person.lastname}}</a>
            </li>
        {% elif titulo = 'Logros Personales' %}
             <li>
                <i class="glyphicon glyphicon-bookmark"></i> <a href="{% url "employee:employee_detail_user" employee.id%}"> {{titulo}} - {{employee.person.name}} {{employee.person.lastname}}</a>
            </li>
        {% elif titulo = 'Acciones Afirmativas' %}
             <li>
                <i class="glyphicon glyphicon-saved"></i><a href="{% url "employee:employee_detail_user" employee.id%}">  {{titulo}} - {{employee.person.name}} {{employee.person.lastname}}</a>
            </li>
        {% elif titulo = 'Referencias Personales' %}
             <li>
                <i class="glyphicon glyphicon-user"></i>  <a href="{% url "employee:employee_detail_user" employee.id%}">{{titulo}} - {{employee.person.name}} {{employee.person.lastname}}</a>
            </li>
        
        {% endif %}

        {% if funcion == 1 %}
            <li>
                <i class="glyphicon glyphicon-plus"></i> Crear
            </li>

        {% elif funcion == 2 %}
             <li>
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </li>
        {% elif funcion == 3 %}
             <li>
                <i class="glyphicon glyphicon-trash"></i> Eliminar
            </li>
        {% endif %}

                             
            

        </ol>
    </div>
</div>

    


    

