{% load contrato_templatetags %}
<!-- Modal -->
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X
            </button>
            <h4 class="modal-title">{{ titulo_modal }}</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" action="{% url url_action id model %}"
                  enctype="multipart/form-data"> {% csrf_token %}
                <div class="modal-body">
                    <h3>Desea eliminar permanentemente el item?</h3>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary" name="submit" value="Cambiar">Aceptar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>

    </div>
</div>

