{% load contrato_templatetags %}
<!-- Modal -->
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;
            </button>
            <h4 class="modal-title">{{ titulo_modal }}</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" action="{% url url_action id model %}"
                  enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field|addclass:'form-control' }}
                        </div>
                    </div>
                {% endfor %}

                <div class="modal-footer">
                    <div class="col-md-6">
                        <div class=" btn-group" role="group">
                            <button type="submit" class="btn btn-primary" name="submit" value="Cambiar">Guardar</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

