{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
 {% load static %}
{% block stylesheets %}
    {{ block.super }}
    <!-- Ion.RangeSlider -->
    <link href="/static/vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <!-- Bootstrap Colorpicker -->
    <link href="/static/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link href="/static/vendors/cropper/dist/cropper.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}


    {% block title %} Empleado {% endblock title %}


    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Nuevo Empleado</h3>
                </div>


            </div>

            <div class="row">
                <div class="col-lg-12">

                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i> <a href="/">Inicio</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i> <a href="{% url "employee:employee_list_user" %}">Empleados</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-user"></i> Nuevo Empleado
                        </li>
                    </ol>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            {#                            <h2> Nuevo Empleado</h2>#}
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" id="formInstitucional">

                            <form class="form-horizontal" method="post" id="formEmpleado"
                                  enctype="multipart/form-data"> {% csrf_token %}
                                <!-- Smart Wizard -->
                                {#              <p>This is a basic form wizard example that inherits the colors from the selected scheme.</p>#}
                                <div id="wizard" class="form_wizard wizard_horizontal">
                                    <ul class="wizard_steps">
                                        <li>
                                            <a href="#step-1">
                                                <span class="step_no">1</span>
                                                <span class="step_descr">Datos personales</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#step-2">
                                                <span class="step_no">2</span>
                                                <span class="step_descr">Datos Institucionales</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#step-3">
                                                <span class="step_no">3</span>
                                                <span class="step_descr">Curriculum</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#step-4">
                                                <span class="step_no">4</span>
                                                <span class="step_descr">Datos Económicos</span>
                                            </a>
                                        </li>
                                        {#                                        <li>#}
                                        {#                                            <a href="#step-5">#}
                                        {#                                                <span class="step_no">5</span>#}
                                        {#                                                <span class="step_descr">Guardar</span>#}
                                        {#                                            </a>#}
                                        {#                                        </li>#}
                                    </ul>

                                    <div id="step-1">
                                        <br><br>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2>Datos Personales</h2>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <br/>

                                                        <div  class="profile_img col-md-4 col-sm-4 col-xs-12 form-group has-feedback">

                                                              <template id="image-input-template">
                                                                <div class="Image-input">
                                                                  <div class="Image-input__image-wrapper">
                                                                      <img v-show="!imageSrc" v-on:click="clickSubirIMG" class="img-responsive avatar-view" src="{% static "images/user.png" %}" style="width:150px;height:140px" alt="Avatar" title="Cambiar foto"/>

                                                                    <img v-show="imageSrc"  v-on:click="clickSubirIMG" style="width:150px;height:140px"  class="Image-input__image" :src="imageSrc">
                                                                      <p>Subir foto</p>
                                                                  </div>

                                                                  <div class="Image-input__input-wrapper">

                                                                    <input v-show="img" @change="previewThumbnail" id="imagen" class="Image-input__input" name="photo" type="file">
                                                                  </div>
                                                                </div>
                                                              </template>

                                                              <image-input image-src=""></image-input>
                                                        </div>
                                                        {{ formPerson.name.errors }}
                                                        <label class="col-sm-2 control-label">Nombres*:</label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                            {{ formPerson.name|addclass:'form-control has-feedback-right' }}

                                                            <span class="fa fa-user form-control-feedback right"
                                                                  aria-hidden="true">
                                                            </span>
                                                        </div>
                                                        {{ formPerson.lastname.errors }}
                                                        <label class="col-sm-2 control-label">Apellidos*:</label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                            {{ formPerson.lastname|addclass:'form-control has-feedback-right' }}

                                                            <span class="fa fa-user form-control-feedback right"
                                                                  aria-hidden="true">
                                                            </span>
                                                        </div>
                                                            {{ formPerson.phone.errors }}
                                                        <label class="col-sm-2 control-label">Teléfono*:</label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                            {{ formPerson.phone|addclass:'form-control has-feedback-right' }}

                                                            <span class="fa fa-phone form-control-feedback right"
                                                                  aria-hidden="true">
                                                            </span>
                                                        </div>

                                                        <label class="col-sm-2 control-label">Celular:</label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                            {{ formPerson.cell_phone|addclass:'form-control has-feedback-right' }}

                                                            <span class="fa fa-mobile form-control-feedback right"
                                                                  aria-hidden="true">
                                                            </span>
                                                        </div>

                                                        <div class="form-group">

                                                            {{ formPerson.email.errors }}
                                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Email:

                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                {{ formPerson.email|addclass:'form-control has-feedback-right' }}
                                                                <span class="fa fa-envelope form-control-feedback right"
                                                                      aria-hidden="true">
                                                            </span>
                                                            </div>
                                                        </div>
                                                        <div class="ln_solid"></div>
                                                        <div class="form-group">

                                                            <label class="control-label col-md-4 col-sm-3 col-xs-12">Tipo Documento</label>
                                                            <div class="col-md-6 col-sm-9 col-xs-12">
                                                                {{ formPerson.document_type|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                                 {{ formPerson.cedula.errors }}
                                                            <label class="control-label col-md-4 col-sm-3 col-xs-12">Nº
                                                                Documento <span class="required">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-9 col-xs-12">
                                                                {{ formPerson.cedula|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                        {#                                                                                                                </form>#}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2>Datos Adicionales</h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <br/>


                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Lugar
                                                                de Nacimiento</label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formPerson.place_of_birth|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Fecha
                                                                de Nacimiento
                                                            </label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formPerson.birthdate|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Genero</label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formPerson.sex|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Estado
                                                                Civil</label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formPerson.civil_status|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Tipo
                                                                de sangre</label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formPerson.blood_type|addclass:'form-control' }}
                                                            </div>
                                                        </div>


                                                        <div class="ln_solid"></div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Dirección
                                                                <span
                                                                        class="required">*</span>
                                                            </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                {{ formPerson.address|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Referencia

                                                            </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                {{ formPerson.reference_address|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-md-6 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2>Discapacidad</h2>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <br/>
                                                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                                        <div class="panel">
                                                            <a class="panel-heading" role="tab" id="headingSix1" data-toggle="collapse" data-parent="#accordion" href="#collapseSix1" aria-expanded="true" aria-controls="collapseSix">
                                                              <h4 class="panel-title">¿Posée Alguna Discapacidad?</h4>
                                                            </a>
                                                            <div id="collapseSix1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" aria-expanded="true" style="">
                                                              <div class="panel-body">
                                                                  <div class="form-group">
                                                            <label class="control-label col-md-7 col-sm-7 col-xs-12">Posee alguna discapacidad?
                                                            </label>
                                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                                {{ formPerson.disability_has|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-7 col-sm-7 col-xs-12">Posee
                                                                            alguna enfermedad catastrófica?

                                                                        </label>
                                                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                                                            {{ formPerson.is_has_catastrophic_illness|addclass:'form-control' }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="ln_solid"></div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-4 col-sm-3 col-xs-12">Tipo
                                                                            Discapacidad</label>
                                                                        <div class="col-md-8 col-sm-9 col-xs-12">
                                                                            {{ formPerson.disability|addclass:'form-control' }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-4 col-sm-3 col-xs-12">Porcentaje

                                                                        </label>
                                                                        <div class="col-md-8 col-sm-9 col-xs-12">
                                                                            {{ formPerson.percentage_of_disability|addclass:'form-control' }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="ln_solid"></div>

                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-4 col-sm-3 col-xs-12">Enfermedad

                                                                        </label>
                                                                        <div class="col-md-8 col-sm-9 col-xs-12">
                                                                            {{ formPerson.catastrophic_illness|addclass:'form-control' }}
                                                                        </div>
                                                                    </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2>Sustituto</h2>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <br/>
                                                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                                        <div class="panel">
                                                            <a class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                              <h4 class="panel-title">¿Es Sustituto?</h4>
                                                            </a>
                                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="true" style="">
                                                              <div class="panel-body">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-6 col-sm-6 col-xs-12">Es
                                                                        sustituto?

                                                                    </label>
                                                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                                                        {{ formPerson.substitute|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="ln_solid"></div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Cédula
                                                                        Familiar

                                                                    </label>
                                                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                                                        {{ formPerson.family_identity_card|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Nombre
                                                                        Familiar

                                                                    </label>
                                                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                                                        {{ formPerson.family_name|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Parentesco

                                                                    </label>
                                                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                                                        {{ formPerson.relationship|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="ln_solid"></div>
                                                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Tipo:

                                                                </label>
                                                                <div class="col-md-5 col-sm-5 col-xs-12 form-group has-feedback">
                                                                    {{ formPerson.family_type_of|addclass:'form-control' }}

                                                                </div>
                                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Porcentaje:

                                                                </label>
                                                                <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                                                    {{ formPerson.porcentage_of_family_disability|addclass:'form-control' }}

                                                                </div>

                                                               </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="step-2">
                                        <br><br>
                                        <div class="row">

                                            <div class="col-md-6 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2>Puesto de Trabajo</h2>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <br/>

                                                        <div class="form-group">

                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo
                                                                Empleado</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                {{ formEmpleado.employee_type|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div id="formInstitucional">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Institución</label>
                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                    <select class="form-control" v-model="institucion"
                                                                            :required="true"
                                                                            @change="cargarDirectivos"
                                                                            name="institucion">
                                                                        <option disabled value="">Seleccione una
                                                                        </option>
                                                                        <option v-for="institucion in instituciones"
                                                                                v-bind:value="institucion.pk">[[
                                                                            institucion.nombre
                                                                            ]]
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Directivo</label>
                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                    <select class="form-control"
                                                                            @change="cargarDirecciones"
                                                                            v-model="directivo" name="directivo">
                                                                        <option disabled value="">Seleccione una
                                                                        </option>
                                                                        <option v-for="directivo in directivos"
                                                                                v-bind:value="directivo.pk">
                                                                            [[directivo.nombre ]]
                                                                        </option>
                                                                    </select>
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Dirección</label>
                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                    <select class="form-control" v-model="direccion"
                                                                            @change="cargarJefaturas" name="direccion">
                                                                        <option disabled value="">Seleccione una
                                                                        </option>
                                                                        <option v-for="direccion in direcciones"
                                                                                v-bind:value="direccion.pk">
                                                                            [[direccion.nombre ]]
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Jefatura</label>
                                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                                    <select class="form-control" v-model="jefatura"
                                                                            name="jefatura">
                                                                        <option disabled value="">Seleccione una
                                                                        </option>
                                                                        <option v-for="jefatura in jefaturas"
                                                                                v-bind:value="jefatura.pk">[[
                                                                            jefatura.nombre ]]
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Lugar
                                                                Oficina</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                {{ formDatosInstitcionales.place_of_work|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2>Información Institucional</h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <br/>


                                                        <div class="form-group">

                                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Nº
                                                                Extensión</label>
                                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                                {{ formDatosInstitcionales.telephone_extension|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Horario:</label>
                                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                                {{ formDatosInstitcionales.schedule|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">

                                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Nº
                                                                Expediente</label>
                                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                                {{ formDatosInstitcionales.file_number|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">

                                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">ID
                                                                biométrico</label>
                                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                                {{ formDatosInstitcionales.biometric_identification|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Cód.
                                                                impedimento</label>
                                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                                {{ formDatosInstitcionales.impediment_code|addclass:'form-control' }}
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            {{ formDatosInstitcionales.email_institutional.errors}}
                                                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Correo
                                                                Institucional</label>
                                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                                {{ formDatosInstitcionales.email_institutional|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                    <div id="step-3">
                                        <br><br>
                                        <!-- start accordion -->
                                        <div class="accordion" id="accordion1" role="tablist"
                                             aria-multiselectable="true">
                                            <div class="panel">
                                                <a class="panel-heading" role="tab" id="headingOne1"
                                                   data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1"
                                                   aria-expanded="true" aria-controls="collapseOne">
                                                    <h4 class="panel-title">INSTRUCCIÓN</h4>
                                                </a>
                                                <div id="collapseOne1" class="panel-collapse collapse"
                                                     role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">

                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="nivel">Nivel de
                                                                instrución:</label>

                                                            <div class="col-md-5 ">
                                                                <select class="form-control" v-model="nivel"
                                                                        name="nivel">
                                                                    <option disabled value="">Seleccione una</option>
                                                                    <option v-for="nivel in niveles_esdudio"
                                                                            v-bind:value="nivel.pk">[[nivel.name]]
                                                                    </option>

                                                                </select>
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="titulo">Título
                                                                Obtenido:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="textarea"
                                                                       name="titulo" v-model="titulo">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="institucion">Institución
                                                                educativa:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="textarea"
                                                                       name="institucion_edu" v-model="institucion_edu">
                                                            </div>

                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="año">Año
                                                                graduación:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="textarea" name="año"
                                                                       v-model="año">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="titulo">Nro. de
                                                                Acta:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="number" name="acta"
                                                                       v-model="acta">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="reg">Nro.
                                                                registro SENESCYT:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="number" name="reg"
                                                                       v-model="reg">
                                                            </div>

                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="refrendacion">Nro.
                                                                Refrendación:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="number"
                                                                       name="refrendacion" v-model="refrendacion">
                                                            </div>

                                                        </div>
                                                        <div class="col-md-12">

                                                            <button type="button" class="btn btn-primary"
                                                                    v-bind:disabled="!isInstValid"
                                                                    v-on:click="addInstruccion()">Agregar
                                                            </button>

                                                        </div>
                                                        <div class="col-md-12">

                                                            <table id="datatable-buttons"
                                                                   class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    {#                                                                    <th>Nivel</th>#}
                                                                    <th>Titulo</th>
                                                                    <th>Institución</th>
                                                                    <th>Año graduación</th>
                                                                    <th>Nº registro SENESCYT</th>
                                                                    <th>Nº Acta</th>
                                                                    <th>Nº Refrendación</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr v-for="(inst, index) in instruciones">
                                                                    <input type="hidden" :name="'nivel_'+index"
                                                                           v-model="inst.nivel">
                                                                    <input type="hidden" :name="'titulo_'+index"
                                                                           v-model="inst.titulo">
                                                                    <input type="hidden"
                                                                           :name="'institucion_edu_'+index"
                                                                           v-model="inst.institucion_edu">
                                                                    <input type="hidden" :name="'año_'+index"
                                                                           v-model="inst.año">
                                                                    <input type="hidden" :name="'reg_'+index"
                                                                           v-model="inst.reg">
                                                                    <input type="hidden" :name="'acta_'+index"
                                                                           v-model="inst.acta">
                                                                    <input type="hidden" :name="'refrendacion_'+index"
                                                                           v-model="inst.refrendacion">

                                                                    {#                                                                    <td> [[inst.nivel ]]</td>#}
                                                                    <td>[[ inst.titulo]]</td>
                                                                    <td>[[ inst.institucion_edu]]</td>
                                                                    <td> [[inst.año ]]</td>
                                                                    <td>[[ inst.reg]]</td>
                                                                    <td> [[inst.acta]]</td>
                                                                    <td>[[ inst.refrendacion]]</td>
                                                                    <td><p v-on:click="deleteIntruccion(index)">
                                                                        eliminar</p>
                                                                    </td>
                                                                </tr>
                                                                <input type="hidden" name="num_instrucciones"
                                                                       v-model="cont_instr">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="panel-heading collapsed" role="tab" id="headingTwo1"
                                                   data-toggle="collapse" data-parent="#accordion1"
                                                   href="#collapseTwo1" aria-expanded="false"
                                                   aria-controls="collapseTwo">
                                                    <h4 class="panel-title">OFICIOS</h4>
                                                </a>
                                                <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel"
                                                     aria-labelledby="headingTwo">
                                                    <div class="panel-body">

                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label"
                                                                   for="buscador">Oficio:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="text" name="oficio"
                                                                       v-model="oficio">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label"
                                                                   for="buscador">Descripción:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="textarea"
                                                                       name="descripcion" v-model="descripcion">
                                                            </div>

                                                        </div>
                                                        <div class="col-md-12">

                                                            <button type="button" class="btn btn-primary"
                                                                    v-bind:disabled="!isOfiValid"
                                                                    v-on:click="addOficio()">Agregar
                                                            </button>

                                                        </div>

                                                        <div class="col-md-12">

                                                            <table id="datatable-buttons"
                                                                   class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Oficio</th>
                                                                    <th>Descripción</th>
                                                                    <th>Acción</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr v-for="(of, index) in oficios">
                                                                    <input type="hidden" :name="'oficio_'+index"
                                                                           v-model="of.oficio">
                                                                    <input type="hidden" :name="'descripcion_'+index"
                                                                           v-model="of.descripcion">
                                                                    <td> [[of.oficio ]]</td>
                                                                    <td>[[ of.descripcion]]</td>
                                                                    <td><p v-on:click="deleteOficio(index)">eliminar</p>
                                                                    </td>
                                                                </tr>
                                                                <input type="hidden" name="num_oficios"
                                                                       v-model="cont_ofi">

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="panel">
                                                <a class="panel-heading collapsed" role="tab" id="headingThree1"
                                                   data-toggle="collapse" data-parent="#accordion1"
                                                   href="#collapseThree1" aria-expanded="false"
                                                   aria-controls="collapseThree">
                                                    <h4 class="panel-title">LENGUAJES</h4>
                                                </a>

                                                <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel"
                                                     aria-labelledby="headingThree">

                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label"
                                                                   for="idioma">Idioma:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="text" name="idioma"
                                                                       v-model="idioma">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="hablado">Nivel
                                                                Hablado:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="text" name="hablado"
                                                                       v-model="hablado">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="escrito">Nivel
                                                                Escrito:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="text" name="escrito"
                                                                       v-model="escrito">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">

                                                            <button type="button" class="btn btn-primary"
                                                                    v-bind:disabled="!isIdiomaValid"
                                                                    v-on:click="addLenguage()">
                                                                Agregar
                                                            </button>

                                                        </div>

                                                        <div class="col-md-12">

                                                            <table id="datatable-buttons"
                                                                   class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Idioma</th>
                                                                    <th>Nivel Hablado</th>
                                                                    <th>Nivel Escrito</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr v-for="(idioma, index) in idiomas">
                                                                    <input type="hidden" :name="'idioma_'+index"
                                                                           v-model="idioma.idioma">
                                                                    <input type="hidden" :name="'hablado_'+index"
                                                                           v-model="idioma.hablado">
                                                                    <input type="hidden" :name="'escrito_'+index"
                                                                           v-model="idioma.escrito">
                                                                    <td> [[idioma.idioma ]]</td>
                                                                    <td>[[ idioma.hablado]]</td>
                                                                    <td>[[ idioma.escrito]]</td>
                                                                    <td><p v-on:click="deleteIdioma(index)">eliminar</p>
                                                                    </td>
                                                                </tr>
                                                                <input type="hidden" name="num_idiomas"
                                                                       v-model="cont_idiomas">

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="panel">
                                                <a class="panel-heading collapsed" role="tab" id="headingFour1"
                                                   data-toggle="collapse" data-parent="#accordion1"
                                                   href="#collapseFour1" aria-expanded="false"
                                                   aria-controls="collapseFour">
                                                    <h4 class="panel-title">EXPERIENCIA Y CAPACITACIONES</h4>
                                                </a>

                                                <div id="collapseFour1" class="panel-collapse collapse" role="tabpanel"
                                                     aria-labelledby="headingThree">
                                                    <div class="panel-body">


                                                        {% for field in  formExperiencia.visible_fields %}
                                                            <div class="form-group">
                                                                {{ field.errors }}
                                                                <label class="col-sm-4 control-label"
                                                                       for="{{ field.name }}">{{ field.label }}</label>
                                                                <div class="col-sm-5">
                                                                    {{ field|addclass:'form-control' }}
                                                                </div>
                                                            </div>
                                                            {#                                                           <a class="btn btn-success" href="{% url "employee:add_experiencia" %}">Nuevo</a>#}

                                                        {% endfor %}
                                                        {% for field in  formCapacitacion.visible_fields %}
                                                            <div class="form-group">
                                                                {{ field.errors }}
                                                                <label class="col-sm-4 control-label"
                                                                       for="{{ field.name }}">{{ field.label }}</label>
                                                                <div class="col-sm-5">
                                                                    {{ field|addclass:'form-control' }}
                                                                </div>
                                                            </div>
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="panel-heading collapsed" role="tab" id="headingFive1"
                                                   data-toggle="collapse" data-parent="#accordion1"
                                                   href="#collapseFive1" aria-expanded="false"
                                                   aria-controls="collapseFour">
                                                    <h4 class="panel-title">REFERENCIAS</h4>
                                                </a>

                                                <div id="collapseFive1" class="panel-collapse collapse" role="tabpanel"
                                                     aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label"
                                                                   for="nombres">Nombres:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="text" name="nombres"
                                                                       v-model="nombres">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label"
                                                                   for="apellidos">Apellidos:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="text" name="apellidos"
                                                                       v-model="apellidos">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label"
                                                                   for="telefono">Teléfono:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="text" name="telefono"
                                                                       v-model="telefono">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label"
                                                                   for="email">Email:</label>
                                                            <div class="col-md-5">
                                                                <input class="form-control" type="text" name="email"
                                                                       v-model="email">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">

                                                            <button type="button" class="btn btn-primary"
                                                                    v-bind:disabled="!isRefValid"
                                                                    v-on:click="addReferencia()">
                                                                Agregar
                                                            </button>

                                                        </div>

                                                        <div class="col-md-12">

                                                            <table id="datatable-buttons"
                                                                   class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Nombres</th>
                                                                    <th>Apellidos</th>
                                                                    <th>Teléfono</th>
                                                                    <th>Email</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr v-for="(ref, index) in referencias">
                                                                    <input type="hidden" :name="'nombres_'+index"
                                                                           v-model="ref.nombres">
                                                                    <input type="hidden" :name="'apellidos_'+index"
                                                                           v-model="ref.apellidos">
                                                                    <input type="hidden" :name="'telefono_'+index"
                                                                           v-model="ref.telefono">
                                                                    <input type="hidden" :name="'email_'+index"
                                                                           v-model="ref.email">
                                                                    <td> [[ref.nombres ]]</td>
                                                                    <td>[[ ref.apellidos]]</td>
                                                                    <td>[[ ref.telefono]]</td>
                                                                    <td>[[ ref.email]]</td>
                                                                    <td><p v-on:click="deleteRef(index)">eliminar</p>
                                                                    </td>
                                                                </tr>
                                                                <input type="hidden" name="num_referencias"
                                                                       v-model="cont_ref">

                                                                </tbody>
                                                            </table>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- end of accordion -->


                                    </div>
                                    <div id="step-4">
                                        <br><br>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2>Cuenta Bancaria</h2>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <br/>

                                                        <div class="form-group">

                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Banco</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                {{ formCuentaBancaria.bank|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">

                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Nº
                                                                Cuenta</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                {{ formCuentaBancaria.number_of_account|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo
                                                                Cuenta</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                {{ formCuentaBancaria.account_type|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Titular</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                {{ formCuentaBancaria.headline|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Activa</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                {{ formCuentaBancaria.active|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2>Datos Económicos</h2>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <br/>


                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Fondos
                                                                de Reserva</label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formDatosEconomicos.reserve_funds|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Tipo
                                                                Servidor Publico
                                                            </label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formDatosEconomicos.type_public_servant|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Modalidad
                                                                de pago</label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formDatosEconomicos.payment_method|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Cargas
                                                                familiares</label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formDatosEconomicos.family_responsibilities|addclass:'form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-5 col-sm-3 col-xs-12">Educación
                                                                a cargo</label>
                                                            <div class="col-md-7 col-sm-9 col-xs-12">
                                                                {{ formDatosEconomicos.education_by|addclass:'form-control' }}
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
{#                            <button id="sig" class="btn btn-success" v-on:click="siguiente()"> Siguiente </button>#}
                            </form>


                            <!-- End SmartWizard Content -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}





{% block javascripts %}
    {{ block.super }}
    <!-- jQuery Smart Wizard -->
    <script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="/static/js/constans.js"></script>
    <script>
        {#        TODO cambiar URL host en constans.js#}
        var apiURL_organigrama = HOST + '/employee/api_organigrama/';
        var insti = new Vue({
            el: '#formInstitucional',
            delimiters: ['[[', ']]'],
            props: [ 'imageSrc' ],
            data: {
                estados: null,
                organigrama: null,
                niveles_esdudio: null,
                {#                instituciones: null, direcciones: null, jefaturas: null, coordinaciones: null,           #}
                instituciones: null,
                directivos: null,
                direcciones: null,
                jefaturas: null,

                cedula: '',
                institucion: '',
                direccion: '',
                jefatura: '',
                directivo: '',

                //Curriculum

                instruciones: [],
                nivel: '',
                titulo: '',
                institucion_edu: '',
                tiempo: '',
                año: '',
                reg: '',
                acta: '',
                refrendacion: '',
                cont_instr: 0,

                oficios: [],
                oficio: '',
                descripcion: '',
                cont_ofi: 0,

                idiomas: [],
                idioma: '',
                hablado: '',
                escrito: '',
                cont_idiomas: 0,

                referencias: [],
                nombres: '',
                apellidos: '',
                telefono: '',
                email: '',
                cont_ref: 0,

                img: null

            },
            methods: {
                getOrganigrama: function () {

                    this.$http.get(apiURL_organigrama).then(function (response) {
                        this.organigrama = response.data;
                        this.instituciones = this.organigrama.instituciones;
                        this.estados = this.organigrama.estados;
                        this.niveles_esdudio = this.organigrama.niveles_esdudio;

                        console.log('organigrama: ', this.organigrama);
                    }, function (error) {
                        console.log(error.statusText);
                    });
                },


                cargarDirectivos: function () {
                    this.directivo = '';
                    this.direccion = '';
                    this.jefatura = '';


                    this.directivos = this.organigrama.directivos.filter(dir => dir.institucion__id == this.institucion
                )
                    ;
                    this.direcciones = null;
                    this.jefaturas = null;

                },


                cargarDirecciones: function () {


                    this.direcciones = this.organigrama.direcciones.filter(dir => dir.directivo__id == this.directivo
                )
                    ;

                },

                cargarJefaturas: function () {
                    this.jefaturas = this.organigrama.jefaturas.filter(jefatura => jefatura.direccion__id == this.direccion
                )
                    ;
                },




                //Curriculum
                addInstruccion: function () {
                    this.instruccion = {
                        'nivel': this.nivel,
                        'titulo': this.titulo,
                        'institucion_edu': this.institucion_edu,
                        'año': this.año,
                        'reg': this.reg,
                        'acta': this.acta,
                        'refrendacion': this.refrendacion
                    };
                    this.instruciones.push(this.instruccion);
                    this.nivel = '';
                    this.titulo = '';
                    this.institucion_edu = '';
                    this.año = '';
                    this.reg = '';
                    this.acta = '';
                    this.refrendacion = '';
                    this.cont_instr = this.instruciones.length;


                },


                  siguiente: function() {
                    console.log('aaaaaa');

                    $("#siguiente10").click();

             },

                deleteIntruccion: function (index) {
                    this.instruciones.splice(index, 1);
                    this.cont_instr = this.instruciones.length;
                },

                addOficio: function () {
                    this.oficio = {'oficio': this.oficio, 'descripcion': this.descripcion};
                    this.oficios.push(this.oficio);
                    this.oficio = '';
                    this.descripcion = '';
                    this.cont_ofi = this.oficios.length;
                },

                deleteOficio: function (index) {
                    this.oficios.splice(index, 1);
                    this.cont_ofi = this.oficios.length;
                },


                addLenguage: function () {
                    var idioma = {'idioma': this.idioma, 'hablado': this.hablado, 'escrito': this.escrito};
                    this.idiomas.push(idioma);
                    this.idioma = '';
                    this.hablado = '';
                    this.escrito = '';
                    this.cont_idiomas = this.idiomas.length;
                },

                deleteIdioma: function (index) {
                    this.idiomas.splice(index, 1);
                    this.cont_idiomas = this.idiomas.length;
                },

                addReferencia: function () {
                    var ref = {
                        'nombres': this.nombres,
                        'apellidos': this.apellidos,
                        'telefono': this.telefono,
                        'email': this.email
                    };
                    this.referencias.push(ref);
                    this.nombres = '';
                    this.apellidos = '';
                    this.telefono = '';
                    this.email = '';
                    this.cont_ref = this.referencias.length;
                },

                deleteRef: function (index) {
                    this.referencias.splice(index, 1);
                    this.cont_ref = this.referencias.length;
                },

                clickSubirIMG: function () {
                    $('#imagen').click();
                },
                
                previewThumbnail: function(event) {
                var input = event.target;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var vm = this;

                    reader.onload = function(e) {
                        vm.imageSrc = e.target.result;
                    }

                    reader.readAsDataURL(input.files[0]);
            }


        }
            },
            computed: {
                isOfiValid: function () {
                    return this.oficio != '' && this.descripcion != '';
                },

                isIdiomaValid: function () {
                    return this.idioma != '' && this.hablado != '' && this.escrito != '';
                },

                isRefValid: function () {
                    return this.nombre != '' && this.apellidos != '' && this.telefono != '';
                },

                isInstValid: function () {
                    return this.nivel != '' && this.titulo != '' && this.año != '' && this.reg != '' && this.acta != '' && this.refrendacion != '';

                }
            },

            mounted: function () {
                this.getOrganigrama();
            }
        });


    </script>




{% endblock javascripts %}
