{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Reportes</title>

    <style>

        @page {
            size: letter landscape;
            margin: 1.5cm;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        {#            border: 1px solid #5f66e1;#}
        }

        td, th {
        {#            border: 1px solid rgba(140, 156, 225, 0.71);#} text-align: left;
            padding: 6px;

        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        #customers th {
            background-color: #8c9ce1;
            color: white;
            padding: 6px;
        }

        #customers td {
            border: 1px solid rgba(140, 156, 225, 0.71);
            color: black;
            padding: 4px;
        }

        #customers tr {
            background-color: #5de13a;
            color: #130906;
        }
    </style>

</head>
<body>
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="http://localhost:8500/static/images/municipioLogo.png" alt="...">
    </div>

</div>


<section>

    <br/><br/>
    <div class="x_panel">
        <div class="x_content">
            <table style="width:100%">

                <tr>
                     <td width="25%"><b>USUARIO: </b> <i>{{ user.first_name }} {{ user.last_name }} </i></td>
                    <td width="50%"><b>FECHA: </b> <i>{% now "SHORT_DATETIME_FORMAT" %}</i></td>
                    <td width="60%"><b>ESTADO: </b> <i>{{ estado_emp | upper }}</i></td>
                </tr>

                <tr>

                    <td><b>TOTAL REGISTROS: </b> <i>{{ total_registros }}</i></td>
                    {% if  civil_emp %}
                        <td><b>ESTADO CIVIL: </b> <i>{{ civil_emp }}</i></td>
                    {% else %}
                        <td><b>ESTADO CIVIL:</b> -----------</td>
                    {% endif %}
                    {% if  genero_emp %}
                        <td><b>GÉNERO: </b> <i>{{ genero_emp }}</i></td>
                    {% else %}
                        <td><b>GÉNERO:</b> -----------</td>
                    {% endif %}
                </tr>

            </table>
        </div>
    </div>

</section>
<br/><br/>

<div class="x_panel">
    <div class="x_content">
        <table id="customers">
            {#            <thead>#}
            <tr>

                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Cédula</th>
                <th>Directivo</th>
                <th>Direccion</th>
                <th>Jefatura</th>
                {% if cargo %}
                    <th>Cargo</th>{% endif %}
                {% if sueldo %}
                    <th>Sueldo</th>{% endif %}
                {% if nivel_instruccion %}
                    <th>Nivel de Instrucción</th>{% endif %}
                {% if address %}
                    <th>Dirección</th>{% endif %}
                {% if telefono %}
                    <th>Teléfono</th>{% endif %}
                {% if fecha_nac %}
                    <th>Fecha Nacimiento</th>{% endif %}


            </tr>
            {% if reporte_avanzado %}
                {% for dic in object_list %}
                    <tr>
                        <td width="auto">{{ dic.empleado.person.name | upper }}</td>
                        <td width="auto">{{ dic.empleado.person.lastname | upper }}</td>
                        <td width="auto">{{ dic.empleado.person.cedula }}</td>
                        <td width="auto">{{ dic.empleado.directivo }} </td>
                        <td width="auto">{{ dic.empleado.direccion }} </td>
                        <td width="auto">{{ dic.empleado.jefatura }} </td>
                        {% if cargo %}
                            <td width="auto">{{ dic.partida.charge_itm }}</td>{% endif %}
                        {% if sueldo %}
                            <td width="auto">{{ dic.partida.remuneration }}</td>{% endif %}
                        {% if nivel_instruccion %}
                            <td>{{ dic.nivel_instruccion }}</td>{% endif %}
                        {% if address %}
                            <td width="auto">{{ dic.empleado.person.address }}</td> {% endif %}
                        {% if telefono %}
                            <td width="auto">{{ dic.empleado.person.cell_phone }}</td> {% endif %}
                        {% if fecha_nac %}
                            <td width="auto">{{ dic.empleado.person.birthdate }}</td> {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                {% for empleado in object_list %}
                    <tr>
                        <td width="auto">{{ empleado.person.name | upper }}</td>
                        <td width="auto">{{ empleado.person.lastname | upper }}</td>
                        <td width="auto">{{ empleado.person.cedula }}</td>
                        <td width="auto">{{ empleado.directivo }} </td>
                        <td width="auto">{{ empleado.direccion }} </td>
                        <td width="auto">{{ empleado.jefatura }} </td>
                        {% if address %}
                            <td width="auto">{{ empleado.person.address }}</td> {% endif %}
                        {% if telefono %}
                            <td width="auto">{{ empleado.person.cell_phone }}</td> {% endif %}
                        {% if fecha_nac %}
                            <td width="auto">{{ empleado.person.birthdate }}</td> {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}

        </table>
    </div>
</div>
</body>
</html>