
{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Empleado
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> <a href="{% url "employee:employee_list" %}"> Empleado</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Empleado Detalle - {{ employee.person.name }}
        </li>
        
       </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ employee.person.name }} <a href="{% url "employee:employee_edit" employee.id %}" class="btn btn-xs btn-default" role="button">Editar</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-6">
                            
                                <div class="panel-body">
                                    <label for="disabledSelect">Ruc:</label>
                                    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ institution.ruc }}">
                                </div>
                            
                        </div>
                        <div class="col-lg-6">
                            
                              <div class="col-lg-6">
                                <div class="panel-body">
                                        <label for="disabledSelect">Teléfono:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ institution.phone }}">
                                </div>
                                
                            </div>
                            <div class="col-lg-6">
                                <div class="panel-body">
                                        <label for="disabledSelect">Fax:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ institution.fax }}">
                                </div>
                                
                            </div>
                        </div>
                </div>
                    <div class="row">
                        <div class="col-lg-6">
                            
                                <div class="panel-body">
                                    <label for="disabledSelect">Institución:</label>
                                    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ institution.institution }}">
                                </div>
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="panel-body">
                               
                                <label for="disabledSelect">Correo:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ institution.email }}">
                            </div>      
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-lg-6">
                            
                                <div class="panel-body">
                                    <label for="disabledSelect">Dirección:</label>
                                    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ institution.address }}">
                                </div>                   
                        </div>
                        <div class="col-lg-6">
                            <div class="panel-body">
                               
                                <label for="disabledSelect">Sitio Web:</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ institution.website }}">
                            </div>
                            
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Unidades Institucionales  <a href="{% url "employee:employee_new" %}" class="btn btn-xs btn-default" role="button">Añadir</a></h3>
                </div>
                <div class="panel-body">
                <div class="col-sm-6">
                <div class="table-responsive">
                    <table id="table_instituciones" class="display nowrap dataTable dtr-inline" style="width: 100%;"aria-describedby="example_info">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Ver</th>
                                <th>Editar</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                       
                    </table>
                    </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>

    
    <p>
        <a href="{% url "institution:institution_list" %}">   Regresar</a>
    </p>
                          
                        
                    
                  
               

   
{% endblock %}
