<div class="table-responsive">
<table id="table_instituciones" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Ruc</th>
            <th>Empleado</th>
            <th>Institución Origen</th>
            <th>Institución Destino</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for comision_servicio in data %}
        <tr>
            <td>{{ comision_servicio.employee.person.cedula }} </td>
            <td>{{ comision_servicio.employee.person.name}} {{comision_servicio.employee.person.lastname }} </td>
            <td>{{ comision_servicio.institution_source }} </td>
            <td>{{ comision_servicio.institution_destination }} </td>
            <td>{{ comision_servicio.start_date }} </td>
            <td>{{ comision_servicio.end_date }} </td>
            <td> 
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "employee:service_commission_edit" comision_servicio.id  %}">Editar</a></li>
                        <li><a href="{% url "employee:service_commission_delete" comision_servicio.id %}">Borrar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>