	{% for message in messages %}
	    <div class = "alert alert-{{ message.tags }} alert-dismissable">
	       <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
	          &times;
	       </button>
	       {{ message }}
	    </div>

	{% endfor %}	