{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        {% block meta %}
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <!-- Meta, title, CSS, favicons, etc. -->
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

    <title> Municipio de Loja | {% block title %}{% endblock %}</title>

{% block stylesheets %}
        <!-- Bootstrap -->
        <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="/static/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href="/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <!-- JQVMap -->
        <link href="/static/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
      {% endblock stylesheets %}
      <!-- Custom Theme Style -->
      <link href="/static/build/css/custom.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
    {% endblock head %}
</head>

<body class="{% block body_class %}nav-md {% endblock body_class %}">
    {% block menu  %}
       <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sistema de Gestión de Recursos Humanos / GAD - Loja</a>
            </div>
            <!-- Top Menu Items -->
           
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                  


                {% block toggle_login %}
                    {% include "toggle_login.html" %}
                {% endblock %}
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    {% endblock %}
        <div id="page-wrapper">

            <div class="container-fluid">
                {% block heading %}
                {% endblock %}

                {% block content %}
                {% endblock %}
                    
                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "dashboard/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "dashboard/js/bootstrap.min.js"%}"></script>

    <!-- app JavaScript -->
    <!-- <script src="{% static "js/app.js"%}"></script>     -->

    <script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    //$('#accordionOne').collapse({
    //  toggle:'True'
    //});

    var performance_eval_id = get_performance_evaluation();
    function get_performance_evaluation() {
        return $('#id_performance_eval').val();
    }

    var personal_eval_id = get_personal_evaluation();
    function get_personal_evaluation() {
        return $('#id_personal_eval').val();
    }

    </script>

    <!-- Select2 JavaScript -->
    <script src="{% static "multiselect/js/multiselect.min.js"%}"></script>

    <!-- Select2 JavaScript -->
    <script src="{% static "select2-4.0.3/dist/js/select2.min.js"%}"></script>
    <script src="{% static "select2-4.0.3/dist/js/i18n/es.js"%}"></script>

    <!-- treeview JavaScript -->
    <script src="{% static "bootstrap-treeview/dist/bootstrap-treeview.min.js"%}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static "dashboard/js/plugins/morris/raphael.min.js" %}"></script>
    <script src="{% static "dashboard/js/plugins/morris/morris.min.js" %}"></script>
    <script src="{% static "dashboard/js/plugins/morris/morris-data.js" %}"></script>
    <script src="{% static "bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js" %}"></script>
    <script src="{% static "bootstrap3-dialog/dist/js/bootstrap-dialog.min.js" %}"></script>
    <script src="{% static "remarkable-bootstrap-notify/dist/bootstrap-notify.min.js" %}"></script>
    {% block javascript %}
    {% endblock %}
</body>

</html>
