{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Inicio de Sesión SISEM{% endblock %}

{% block toggle_login %}{% endblock %}

{% block heading %}
 
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4 text-right">
               
    </div>
    <div class="col-lg-4 text-center">
        <img src="{% static "img/portada/logo2.png" %}" alt="coach thumbnail">
        <h2>Inicio de Sesión SISEM</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{% url "security_login" %}" method="post" accept-charset="utf-8">
    			{{ form|crispy }}
    			{% csrf_token %}
    				<input type="hidden" name="next" value="{{ next }}">
    				<input class="btn btn-default" type="submit" value="Login">
  				</form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 text-center">
    </div>
</div>


  
{% endblock %}
