	{% for message in messages %}
    	<div class = "alert alert-{{ message.tags }} alert-dismissable">
       		<button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
          		&times;
       		</button>
	        {% if message.tags == "success" %}
	          <strong>Correcto!</strong> {{ message }}   
	        {% endif %}        
	        {% if message.tags == "danger" %}
	          <strong>Error!</strong> {{ message }}     
	        {% endif %}
     	</div>
    {% endfor %}