{% if user.is_authenticated %}
  _              <ul class="nav navbar-nav side-nav">
                   <li>
                        <a href="/"><i class="glyphicon glyphicon-home"></i> Inicio</a>
                    </li>
                    <li>
                        <a href="{% url "employee:employee_list_user" %}"><i class="glyphicon glyphicon-briefcase"></i> Empleados </a>
                        
                    </li>
                    <li>
                        <a href="{% url "personnelactions:personnelactions_list" %}"><i class="glyphicon glyphicon-briefcase"></i> Acciones de Personal </a>
                        
                    </li>
                    
                    <li>
                        <a href="{% url "accounting_finance:accounting_period_all" %}"><i class="fa fa-fw fa-bar-chart-o"></i>Contabilidad y Finanzas</a>
                    </li>                                       

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#perform-eval"><i class="glyphicon glyphicon-cog"></i> Evaluación desempeño <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="perform-eval" class="collapse">
                            <li>
                                <a href="{% url "evaluation:performance_evaluation_all" %}"><i class="fa fa-fw fa-bar-chart-o"></i>Administración</a>
                            </li>
                            <li>
                                <a href="{% url "evaluation:personal_evaluation_low_all" %}">
                                    <i class="fa fa-fw fa-bar-chart-o"></i>Bajo desempeño</a>
                            </li>
                            <li>
                                <a href="{% url "evaluation:personal_evaluation_all" %}"><i class="fa fa-fw fa-bar-chart-o"></i>Búsquedas</a>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url "evaluation:performance_eval_to_evaluate" %}"><i class="fa fa-fw fa-bar-chart-o"></i>Evaluación personal a cargo</a>
                    </li>
                    
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#schedule"><i class="fa fa-fw fa-table"></i> Horarios <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="schedule" class="collapse">
                                <li>
                                    <a href="{% url "schedule:schedule_list_user" %}">Horario</a>
                                </li>
                                <li>
                                    <a href="{% url "schedule:dayhour_list" %}">Día Hora</a>
                                </li>
                            </ul>
                        </li>
                    <li>
                        <a href="{% url "contract:contract_list" %}"><i class="fa fa-fw fa-edit"></i> Contratos </a>
                       
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#settings"><i class="glyphicon glyphicon-cog"></i> Configuración <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="settings" class="collapse">
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#configcontract"><i class="fa fa-fw fa-wrench"></i> Contratos <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="configcontract" class="collapse">
                                    <li>
                                        <a href="{% url "contract:labor_system_list" %}">Régimen Laboral</a>
                                    </li>
                                    <li>
                                        <a href="{% url "contract:type_of_contract_list" %}">Tipos de contrato</a>
                                    </li>
                                    <li>
                                        <a href="{% url "contract:pay_scale_groups_list" %}">Grupo de Escala de Remuneración</a>
                                    </li>
                                    <li>
                                        <a href="{% url "contract:pay_scale_sp_list" %}">Escalas de Remuneración</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#configpermissions"><i class="fa fa-fw fa-wrench"></i> Permisos <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="configpermissions" class="collapse">
                                    <li>
                                        <a href="{% url "permissions:type_of_permit_list" %}">Tipos de Permiso</a>
                                    </li>
                                    <li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#configpersonnelactions"><i class="fa fa-fw fa-wrench"></i> Acciones de Personal <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="configpersonnelactions" class="collapse">
                                    <li>
                                        <a href="{% url "personnelactions:kindpersonnelactions_list" %}">Tipos Acciones p.</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#institution"><i class="glyphicon glyphicon-tasks"></i> Institución <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="institution" class="collapse">
                                    <li>
                                      <a href="{% url "institution:institution_list_user" %}">Institución</a>
                                    </li>
                                    <li>
                                        <a href="{% url "institution:institutionalunit_list_user" %}">Unidad Institucional</a>
                                    </li>
                                    <li>
                                        <a href="{% url "institution:department_list_user" %}">Departamento</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#catalogs"><i class="glyphicon glyphicon-tasks"></i> Catálogos <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="catalogs" class="collapse">
                                    <li>
                                        <a href="{% url "settings:catalog_index" %}">Catálogos</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url "person:person_list" %}"><i class="glyphicon glyphicon-user"></i> Persona</a>
                    </li>
                    <li>
                        <a href="{% url "accounts:user_list" %}"><i class="glyphicon glyphicon-lock"></i> Autenticación y Autorización</a>
                    </li>
                    <li>
                        <a href="{% url "curriculum:curriculumvitae_list" %}"><i class="glyphicon glyphicon-file"></i> Currículo</a>
                    </li>
                    
                    <li>
                        <a href="{% url "permissions:permission_list" %}"><i class="fa fa-fw fa-file"></i> Permisos</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                </ul>


                <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.first_name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url "accounts:user_config" %}"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Entrada</a>
                        </li>
                        <li>
                            <a href="{% url "accounts:user_config" %}"><i class="fa fa-fw fa-gear"></i> Configuración</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url "security_logout" %}"><i class="fa fa-fw fa-power-off"></i> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul
            





{% else %}
<form class="navbar-form navbar-right" role="form" action="{% url "security_login" %}"
    method="post" accept-charset="utf-8">
  <div class="form-group">
    <input type="text" placeholder="Username" class="form-control" name="username">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control" name="password">
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-success">Sign in</button>
</form>
{% endif %}
