<div class="pagination">
    <span class="step-links">
        <nav>
            <ul class="pagination">
                {% if object_list.has_previous %}
                    <li>
                        <a href="?q={{ query|escape }}&page={{ page_obj.previous_page_number }}">
                            <span>Anterior</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">
                            <span>Anterior</span>
                        </a>
                    </li>
                {% endif %}

                {% for page in object_list.paginator.page_range %}
                    <li {% if page == object_list.number %}class="active"{% endif %}>
                        <a href="?q={{ query|escape }}&page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}


                {% if object_list.has_next %}
                    <li>
                        <a href="?q={{ query|escape }}&page={{ object_list.next_page_number }}">
                            <span>Siguiente</span>
                        </a>
                    </li>
                {% else %}
                     <li class="disabled">
                        <a href="#">
                            <span>Siguiente</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
      </nav>
    </span>
</div>