{% extends "base.html" %}

{% block heading %}

     {% include "person/menu_employee.html" %}    
{% endblock %}
{% block content %}


<div class="panel panel-primary" id="datos_personales">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Datos Personales</b></h3>
    </div>
    <div class="panel-body">
        {% include "person/datos_personales_detail.html" %}   
    </div>
</div>

<div class="panel panel-primary"  id="curriculo">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Currículo</b></h3>
    </div>
    <div class="panel-body">              
        {% include "person/curriculo_detail.html" %}                      
    </div>                           
</div>

<div class="panel panel-primary"  id="curriculo2">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Datos Económicos</b></h3>
    </div>
    <div class="panel-body">              
        {% include "person/curriculo_detail.html" %}                      
    </div>                           
</div>


   

    
   
 
         
{% endblock %}