{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Personas
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> <a href="{% url "person:person_list" %}"> Personas</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Detalle Persona - {{person.name}} {{person.lastname}}
        </li>
        
       </ol>
    </div>
</div>
<div class="row" >
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><b><i>Datos Personales</i></b></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="col-lg-12">   
                                <div class="panel-body">
                                    <label for="disabledSelect">Cédula:</label>
                                    <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.cedula }}">
                                </div>          
                            </div>
                            <div class="col-lg-6">   
                                <div class="panel-body">
                                    <label for="disabledSelect">Nombres:</label>
                                    <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.name }}">
                                </div>          
                            </div>
                            <div class="col-lg-6">   
                                <div class="panel-body">
                                    <label for="disabledSelect">Apellidos:</label>
                                    <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.lastname }}">
                                </div>          
                            </div>
                        </div>
                        <div class="col-lg-1">  
                        </div>
                        <div class="col-lg-2">
                            {% load static %}
                            {% if person.photo %}
                                <img src="{% static person.photo.url %}" style="width:200px;height:200px"/>
                            {% else %}
                                <img src="{% static "img/persona_base.jpg" %}" style="width:150px;height:150px"/>
                            {% endif %}
                            
                        </div>
                        <div class="col-lg-1">  
                        </div>
                    </div>   
                    
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Fecha de Nacimiento:</label>                           
                            <input class="form-control" id="disabledInput" type="text"  disabled=""
                                {% if person.birthdate != None %} 
                                    value="{{ person.birthdate }}"
                                {% else %} 
                                    value=""
                                {% endif %}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Estado Civil:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled=""
                            {% if person.civil_status != None %} 
                                value="{{ person.civil_status }}"
                            {% else %}
                                value=""
                            {% endif %}"> 
                        </div>          
                    </div>
                    <div class="col-lg-2">   
                        <div class="panel-body">
                            <label for="disabledSelect">Sexo:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled=""
                            {% if person.sex != None %} 
                                value="{{ person.sex }}"
                            {% else %}
                                value=""
                            {% endif %}"> 
                        </div>          
                    </div>
                    <div class="col-lg-2">   
                        <div class="panel-body">
                            <label for="disabledSelect">Grupo Sanguineo:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" 
                            {% if person.blood_type != None %} 
                                value="{{ person.blood_type }}"
                            {% else %}
                                value=""
                            {% endif %}"> 
                        </div>          
                    </div>
                    
                     <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Teléfono:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.phone }}">
                        </div>          
                    </div>
                     <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Celular:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.cell_phone }}">
                        </div>          
                    </div>
                    <div class="col-lg-2">   
                        <div class="panel-body">
                            <label for="disabledSelect">Correo Electónico:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.email }}">
                        </div>
                    </div>
                    <div class="col-lg-2">   
                        <div class="panel-body">
                            <label for="disabledSelect">País:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled=""
                            {% if person.country != None %} 
                                value="{{ person.country }}"
                            {% else %}
                                value=""
                            {% endif %}"> 
                        </div>         
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Provincia de nacimiento:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.province_of_birth }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Cantón de nacimiento:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.canton_of_birth }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Parroquia de nacimiento:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.parroquia_of_birth }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Provincia de residencia:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.province_of_residence }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Cantón de residencia:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.canton_of_residence }}">
                        </div>          
                    </div>
                    <div class="col-lg-4">   
                        <div class="panel-body">
                            <label for="disabledSelect">Parroquia de residencia:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.parroquia_of_birth }}">
                        </div>          
                    </div>
                    <div class="col-lg-6">   
                        <div class="panel-body">
                            <label for="disabledSelect">Dirección:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.address }}">
                        </div>          
                    </div>
                    <div class="col-lg-6">   
                        <div class="panel-body">
                            <label for="disabledSelect">Referencia de domicilio:</label>
                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ person.reference_address }}">
                        </div>          
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Información Adicional</b></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b><i>Discapacidades</i></b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <label for="disabledSelect">¿Posee alguna discapacidad?:</label>
                                            <input class="form-control" id="disabledInput" type="checkbox"  disabled="" value="{{  person.disability_has }}">
                                        </div>          
                                    </div>
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <label for="disabledSelect">Tipo de discapacidad</label>
                                            <input class="form-control" id="disabledInput" type="text"  disabled="" 
                                            {% if person.disability != None %} 
                                                value="{{ person.disability }}"
                                            {% else %}
                                                value=""
                                            {% endif %}"> 
                                        </div>          
                                    </div>
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <label for="disabledSelect">Porcentaje de discapacidad</label>
                                            <input class="form-control" id="disabledInput" type="text"  disabled="" 
                                            {% if person.percentage_of_disability != None %} 
                                                value="{{ person.percentage_of_disability }}"
                                            {% else %}
                                                value=""    
                                            {% endif %}"> 
                                        </div>          
                                    </div>
                        
                                </div>    
                            </div>
                        </div>
                         <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b><i>Enfermedades Catastróficas</i></b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <label for="disabledSelect">Posee alguna enfermedad catastrófica:</label>
                                            <input class="form-control" id="disabledInput" type="checkbox"  disabled="" value="{{ person.is_has_catastrophic_illness  }}">

                                        </div>          
                                    </div>
                        
                                </div>    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b><i>Sustituto</i></b></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                   
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <label for="disabledSelect">Cédula del familiar:</label>
                                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{  person.family_identity_card }}">
                                        </div>          
                                    </div>
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <label for="disabledSelect">Nombre del familiar:</label>
                                            <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{  person.family_name }}">
                                        </div>          
                                    </div>
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <label for="disabledSelect">Tipo de discapacidad del familiar:</label>
                                            <input class="form-control" id="disabledInput" type="text"  disabled="" 
                                            {% if person.familt_type_of != None %} 
                                                value="{{ person.familt_type_of }}"
                                            {% else %}
                                                value=""    
                                            {% endif %}">
                                        </div>          
                                    </div>
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <label for="disabledSelect">Porcentaje de discapacidad del familiar:</label>
                                            <input class="form-control" id="disabledInput" type="text"  disabled="" 
                                             {% if person.porcentage_of_family_disability != None %} 
                                                value="{{ person.porcentage_of_family_disability }}"
                                            {% else %}
                                                value=""    
                                            {% endif %}">
                                        </div>          
                                    </div>
                                    <div class="col-lg-12">   
                                        <div class="panel-body">
                                            <label for="disabledSelect">Parentesco::</label>
                                            <input class="form-control" id="disabledInput" type="text"  disabled="" 
                                             {% if person.relationship != None %} 
                                                value="{{ person.relationship }}"
                                            {% else %}
                                                value=""    
                                            {% endif %}">
                                        </div>          
                                    </div>
                        
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>


  
    
    <p>
        <a href="{% url "person:person_list" %}" class="btn btn-success" role="button">Regresar</a>
    </p>

{% endblock %}
