
{% extends "base.html" %}
{% load contrato_templatetags %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Personas
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="/">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> <a href="{% url "person:person_list" %}"> Personas</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Agregar o Editar Persona
        </li>
        
       </ol>
    </div>
</div>

<form class="form-horizontal" method="post">
  {% csrf_token %}
  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.errors }}
      <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
      <div class="col-sm-8">
        {{ field|addclass:'form-control' }}
      </div>
    </div>
  {% endfor %}
  
  <div class="col-lg-12" >
    <div class="btn-group" role="group" >
      <button type="submit" class="btn btn-success">Guardar</button>
      <a href="{% url "person:person_list" %}" class="btn btn-success" role="button">Cancelar</a>
                   
    </div>
  </div>
</form>

{% endblock %}

{% block javascript %}
   <script>
      var start_date=$('input[name="birthdate"]'); //our date input has the name "date"
      var options={
          format: 'mm/dd/yyyy',
          orientation:"bottom",
          todayHighlight: true,
          autoclose: true,
          language: "es",
      };
      start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      var end_date=$('input[name="birthdate"]'); //our date input has the name "date"
      end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
    
    function muestra_oculta(id){
      if (document.getElementById){ //se obtiene el id
      var el = document.getElementById(id); //se define la variable "el" igual a nuestro div
      el.style.display = (el.style.display == 'none') ? 'block' : 'none'; //damos un atributo display:none que oculta el div
    }

    
    </script>
{% endblock %}