
{#{% extends "base.html" %}#}
{% extends "app/base_site.html" %}
{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

{#<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">#}

 <div class="right_col" role="main">

        {% block heading %}

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        PERSONAS
                    </h2>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>  <a href="/">Inicio</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-users"></i>Personas
                        </li>

                    </ol>
                </div>
            </div>
            <div class="col-lg-4">#}
                <a href="{% url "person:person_new" %}">Agregar Persona</a>
            </div>
        {% endblock %}



{#    <div class="row">#}
{#    <div class="col-lg-4">#}
{#            <a href="{% url "person:person_new" %}">Agregar Persona</a>#}
{#    </div>#}
{#    <div class="col-lg-8">#}
{#        <form action="" method="GET">#}
{#            <div class="col-lg-12">#}
{#                <div class="form-group input-group">#}
{#                    <input id="busquedProyecto" type="text" name="q" value="{{ query|escape }}" class="form-control">#}
{#                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{##}
{#    </div>#}
{#</div>#}






        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_content">
{#                        <p class="text-muted font-13 m-b-30">#}
{#                            The Buttons extension for DataTables provides a common set of options, API methods and#}
{#                            styling to display buttons on a page that will interact with a DataTable. The core library#}
{#                            provides the based framework upon which plug-ins can built.#}
{#                        </p>#}
                        <table id="datatable-buttons" class="table table-striped table-bordered">

{#    <div class="table-responsive">#}

{#    <table id="table_instituciones" class="table table-bordered table-hover table-striped">#}
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
    {% for person in object_list %}
        {# Each "contact" is a Contact model object. #}
        <tr>
            <td>{{ person.cedula }} </td>
            <td>{{ person.name }} </td>
            <td>{{ person.lastname }} </td>
            <td>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "person:person_detail" person.id  %}">Ver</a></li>
                        <li><a href="{% url "person:person_edit" person.id %}">Editar</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#object{{person.id}}">Borrar</a></li>
                    </ul>
                </div>
            </td>
        </tr>
         <!-- Modal -->
      <div class="modal fade" id="object{{person.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header modal-header-primary">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Información</h4>
            </div>

                <div class="modal-body">
                     <p>Está seguro que desea eliminar la persona: {{ person }}?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <a href="{% url "person:person_delete" person.id %}" id="delete-confirm-btn" class="btn btn-danger" type="submit"><i class="icon-trash"></i>Aceptar</a>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {% endfor %}
    </tbody>
</table>
</div>
    </div>
            </div></div></div>


{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    {#<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>#}
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>#}
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>#}
    {#<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>#}
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    {#<script src="/static/vendors/jszip/dist/jszip.min.js"></script>#}
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    {#<script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>#}
    {#Scripts para llamar los reportes de tablas#}
    <script src="/static/vendors/ScriptsDataTable/buttons.flash.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.html5.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.print.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/jszip.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/vfs_fonts.js"></script>
{% endblock javascripts %}