{#{% extends "base.html" %}#}
{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}


    <div class="right_col" role="main">
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_title">
                        {#                            <small>Users</small>#}
                        <h2>NUEVO EMPLEADO
                            <small> Datos personales</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i> <a href="/">Inicio</a>
                                </li>
                                <li>
                                    <i class="fa fa-users"></i> <a href="{% url "employee:employee_list_user" %}">Empleados</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-user"></i> Nuevo Empleado
                                </li>

                            </ol>


                        </div>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {#                        <div class="row" >#}
                        {#                            <div class="col-sm-12">#}
                        {#                                <div class="panel panel-primary">#}
                        {#                                    <div class="panel-heading">#}
                        {#                                        <h3 class="panel-title"><b><i>Datos Personales</i></b></h3>#}
                        {#                                    </div>#}
                        {#                                    <div class="panel-body">#}


                        <div class="x_content">
                            <br/>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="col-lg-6">
                                                    <div class="panel-body">
                                                        {{ form.document_type.errors }}
                                                        <label for="{{ form.document_type.name }}">{{ form.document_type.label }}</label>
                                                        {{ form.document_type|addclass:'form-control' }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="panel-body">

                                                        {% if form.cedula.errors %}
                                                            <div class="alert alert-danger alert-dismissible fade in"
                                                                 role="alert">
                                                                <button type="button" class="close" data-dismiss="alert"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">×</span>
                                                                </button>
                                                                {{ form.cedula.errors }}
                                                            </div>
                                                        {% endif %}

                                                        <label for="{{ form.cedula.name }}">{{ form.cedula.label }}</label>
                                                        {{ form.cedula|addclass:'form-control' }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="panel-body">
                                                        {{ form.name.errors }}
                                                        <label for="{{ form.name.name }}">{{ form.name.label }}</label>
                                                        {{ form.name|addclass:'form-control' }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="panel-body">
                                                        {{ form.lastname.errors }}
                                                        <label for="{{ form.lastname.name }}">{{ form.lastname.label }}</label>
                                                        {{ form.lastname|addclass:'form-control' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-1">
                                            </div>
                                            <div class="col-lg-2">
                                                {% load static %}
                                                {% if person.photo %}
                                                    <img src="{% static person.photo.url %}"
                                                         style="width:200px;height:200px"/>
                                                {% else %}
                                                    <img src="{% static "images/user.png" %}"
                                                         style="width:150px;height:150px"/>
                                                {% endif %}
                                                {{ form.photo.errors }}
                                                <label for="{{ form.photo.name }}">{{ form.photo.label }}</label>
                                                {{ form.photo|addclass:'form-control' }}
                                            </div>
                                            <div class="col-lg-1">
                                            </div>
                                        </div>


                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.birthdate.errors }}
                                                <label for="{{ form.birthdate.name }}">{{ form.birthdate.label }}</label>
                                                {{ form.birthdate|addclass:'form-control' }}
                                            </div>
                                        </div>


                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.civil_status.errors }}
                                                <label for="{{ form.civil_status.name }}">{{ form.civil_status.label }}</label>
                                                {{ form.civil_status|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.sex.errors }}
                                                <label for="{{ form.sex.name }}">{{ form.sex.label }}</label>
                                                {{ form.sex|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.blood_type.errors }}
                                                <label for="{{ form.blood_type.name }}">{{ form.blood_type.label }}</label>
                                                {{ form.blood_type|addclass:'form-control' }}
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.phone.errors }}
                                                <label for="{{ form.phone.name }}">{{ form.phone.label }}</label>
                                                {{ form.phone|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {% if form.cell_phone.errors %}
                                                    <div class="alert alert-danger alert-dismissible fade in"
                                                         role="alert">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close"><span aria-hidden="true">×</span>
                                                        </button>
                                                        {{ form.cell_phone.errors }}
                                                    </div>
                                                {% endif %}

                                                <label for="{{ form.cell_phone.name }}">{{ form.cell_phone.label }}</label>
                                                {{ form.cell_phone|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">

                                                {% if form.email.errors %}
                                                    <div class="alert alert-danger alert-dismissible fade in"
                                                         role="alert">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close"><span aria-hidden="true">×</span>
                                                        </button>
                                                        {{ form.email.errors }}
                                                    </div>
                                                {% endif %}

                                                <label for="{{ form.email.name }}">{{ form.email.label }}</label>
                                                {{ form.email|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.country.errors }}
                                                <label for="{{ form.country.name }}">{{ form.country.label }}</label>
                                                {{ form.country|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.province_of_birth.errors }}
                                                <label for="{{ form.province_of_birth.name }}">{{ form.province_of_birth.label }}</label>
                                                {{ form.province_of_birth|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.canton_of_birth.errors }}
                                                <label for="{{ form.canton_of_birth.name }}">{{ form.canton_of_birth.label }}</label>
                                                {{ form.canton_of_birth|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.parroquia_of_birth.errors }}
                                                <label for="{{ form.parroquia_of_birth.name }}">{{ form.parroquia_of_birth.label }}</label>
                                                {{ form.parroquia_of_birth|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.province_of_residence.errors }}
                                                <label for="{{ form.province_of_residence.name }}">{{ form.province_of_residence.label }}</label>
                                                {{ form.province_of_residence|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.canton_of_residence.errors }}
                                                <label for="{{ form.canton_of_residence.name }}">{{ form.canton_of_residence.label }}</label>
                                                {{ form.canton_of_residence|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="panel-body">
                                                {{ form.parroquia_of_birth.errors }}
                                                <label for="{{ form.parroquia_of_birth.label }}">{{ form.parroquia_of_birth.label }}</label>
                                                {{ form.parroquia_of_birth|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="panel-body">
                                                {{ form.address.errors }}
                                                <label for="{{ form.address.name }}">{{ form.address.label }}</label>
                                                {{ form.address|addclass:'form-control' }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="panel-body">
                                                {{ form.reference_address.errors }}
                                                <label for="{{ form.reference_address.name }}">{{ form.reference_address.label }}</label>
                                                {{ form.reference_address|addclass:'form-control' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Información Adicional</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">Discapacidades</h2>

                                                            {#                                  <h2>Discapacidades</h2>#}
                                                        </div>


                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="panel-body">
                                                                        {{ form.disability_has.errors }}
                                                                        <label for="{{ form.disability_has.name }}">¿{{ form.disability_has.label }}?</label>
                                                                        {{ form.disability_has|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="panel-body">
                                                                        {{ form.disability.errors }}
                                                                        <label for="{{ form.disability.name }}">{{ form.disability.label }}</label>
                                                                        {{ form.disability|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="panel-body">
                                                                        {{ form.percentage_of_disability.errors }}
                                                                        <label for="{{ form.percentage_of_disability.name }}">{{ form.percentage_of_disability.label }}</label>
                                                                        {{ form.percentage_of_disability|addclass:'form-control' }}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">Enfermedades Catastróficas</h2>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="panel-body">
                                                                        {{ form.is_has_catastrophic_illness.errors }}
                                                                        <label for="{{ form.catastrophic_illness.name }}">{{ form.is_has_catastrophic_illness.label }}</label>
                                                                        {{ form.is_has_catastrophic_illness |addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="panel-body">
                                                                        {{ form.catastrophic_illness.errors }}
                                                                        <label for="{{ form.catastrophic_illness.name }}">{{ form.catastrophic_illness.label }}</label>
                                                                        {{ form.catastrophic_illness |addclass:'form-control' }}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">Sustituto</h2>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">

                                                                <div class="col-lg-12">
                                                                    <div class="panel-body">
                                                                        {{ form.family_identity_card.errors }}
                                                                        <label for="{{ form.family_identity_card.name }}">{{ form.family_identity_card.label }}</label>
                                                                        {{ form.family_identity_card|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="panel-body">
                                                                        {{ form.family_name.errors }}
                                                                        <label for="{{ form.family_name.name }}">{{ form.family_name.label }}</label>
                                                                        {{ form.family_name|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="panel-body">
                                                                        {{ form.family_type_of.errors }}
                                                                        <label for="{{ form.family_type_of.name }}">{{ form.family_type_of.label }}</label>
                                                                        {{ form.family_type_of|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="panel-body">
                                                                        {{ form.porcentage_of_family_disability.errors }}
                                                                        <label for="{{ form.porcentage_of_family_disability.name }}">{{ form.porcentage_of_family_disability.label }}</label>
                                                                        {{ form.porcentage_of_family_disability|addclass:'form-control' }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="panel-body">
                                                                        {{ form.relationship.errors }}
                                                                        <label for="{{ form.relationship.name }}">{{ form.relationship.label }}</label>
                                                                        {{ form.relationship|addclass:'form-control' }}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 actionBar">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-success">Siguiente</button>
                                    <a href="{% url "employee:employee_list_user" %}" class="btn btn-success"
                                       role="button">Cancelar</a>
                                    {#                           employee_new #}
                                </div>
                            </div>

                    </form>

                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block javascript %}
    {#    <script>#}
    {#        var start_date=$('input[name="birthdate"]'); //our date input has the name "date"#}
    {#        var options={#}
    {#            format: 'mm/dd/yyyy',#}
    {#            orientation:"bottom",#}
    {#            todayHighlight: true,#}
    {#            autoclose: true,#}
    {#            language: "es"#}
    {#        };#}
    {#        start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin#}
    {#        var end_date=$('input[name="birthdate"]'); //our date input has the name "date"#}
    {#        end_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin#}
    {##}
    {#        function muestra_oculta(id){#}
    {#            if (document.getElementById){ //se obtiene el id#}
    {#                var el = document.getElementById(id); //se define la variable "el" igual a nuestro div#}
    {#                el.style.display = (el.style.display == 'none') ? 'block' : 'none'; //damos un atributo display:none que oculta el div#}
    {#            }}#}
    {##}
    {##}
    {##}
    {##}
    {##}
    {#    </script>#}

{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
{#    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>#}





    <script>

        $(function () {
            $(".birthdate").datepicker({
                dateFormat: "yy-mm-dd",
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 2,
                onClose: function (selectedDate) {
                    $(".birthdate").datepicker("option", "minDate", selectedDate);
                }
            });
        });




    </script>






{% endblock %}

