<div id="mensajes">
<div class="row">
        <div class="col-lg-12">
            {% if messages %}    
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                            <strong>{{ message.tags }}!</strong> {{ message }}.
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
