{% extends "app/base_site.html" %}

{% block title %} Municipio de Loja{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    {% load staticfiles %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Direcciones Institucionales
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <a class="btn btn-success" href="{% url "institution:direccion_nuevo" %}">Nueva
                                Dirección Institucional</a>

                            <div class="clearfix"></div>
                        </div>
                        {% include "mensajes/mensajes.html" %}
                        <div class="x_content">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                {# Inicio titulos tabpanels#}
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab"
                                                                              role="tab" data-toggle="tab"
                                                                              aria-expanded="true">Direcciones
                                        Institucionales Activas</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab"
                                                                        data-toggle="tab"
                                                                        aria-expanded="false">Direcciones
                                        Institucionales Inactivas</a>
                                    </li>
                                </ul>
                                {# Fin titulos tabpanels#}
                                {# Inicio Contenido tabpanels#}
                                <div id="myTabContent" class="tab-content">
                                    {#inicio tabla 1#}
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                         aria-labelledby="home-tab">
                                        <table id="datatable-buttons" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Nivel Directivo</th>
                                                <th>Institución</th>
                                                <th>Estado</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for direccion in direcciones %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url "institution:direccion_ver" direccion.id %}">{{ direccion.nombre }} </a>
                                                    </td>
                                                    <td>{{ direccion.directivo.nombre }}</td>
                                                    <td>{{ direccion.directivo.institucion.nombre }}</td>
                                                    <td>{{ direccion.estado }} </td>
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {# Fin tabla 1#}
                                    {# Inicio Tabla 2#}
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                         aria-labelledby="profile-tab">
                                        <table id="datatable-buttons" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Nivel Directivo</th>
                                                <th>Institución</th>
                                                <th>Estado</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for direccion in direcciones_inactivas %}
                                                <tr>
                                                    <td id="name{{ direccion.id }}">{{ direccion.nombre }}</td>
                                                    <td>{{ direccion.directivo.nombre }}</td>
                                                    <td>{{ direccion.directivo.institucion.nombre }}</td>
                                                    <td>{{ direccion.estado }} </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {# Fin tabla 2#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>

    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.flash.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.html5.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/buttons.print.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/jszip.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/pdfmake.min.js"></script>
    <script src="/static/vendors/ScriptsDataTable/vfs_fonts.js"></script>
{% endblock javascripts %}
