{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}
    <div class="right_col" role="main">
        {# Titulo de la plantilla   #}
        <div class="">
            <div class="title_right"></div>
            <div class="clearfix"></div>
            <div class="x_title">
                <h2> Dirección Institucional </h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ direccion.nombre }}
                            <a
                                    href="{% url "institution:direccion_editar" direccion.id %}"
                                    class="btn  btn-success btn-xs" role="button">Editar
                            </a>
                            <a onClick="javascript:history.go(-1)" class="btn  btn-primary btn-xs"
                               role="button">Regresar
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel-body">
                                    <label for="disabledSelect">Nombre:</label>
                                    <input class="form-control" id="disabledInput" type="text" disabled=""
                                           value="{{ direccion.nombre }}">
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="col-lg-6">
                                    <div class="panel-body">
                                        <label for="disabledSelect">Ubicacion:</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled=""
                                               value="{{ direccion.locacion }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel-body">
                                    <label for="disabledSelect">Dirección Institucional a la que pertenece:</label>
                                    <input class="form-control" id="disabledInput" type="text"placeholder="Disabled input"disabled="" value="{{ direccion.directivo }}">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <div class="panel-body">
                                        <label for="disabledSelect">Teléfono:</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled="" value="{{ direccion.telefono }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Jefaturas o Coordinaciones

                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="table-responsive">
                                <table id="table_departamentos" class="display nowrap dataTable dtr-inline"
                                       style="width: 100%;" aria-describedby="example_info">
                                    <thead>
                                    <tr>
                                        <label>Nombre</label>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for jefatura in  jefaturas %}
                                        <tr>
                                            <td>
                                                <li>
                                                    <a href="{% url "institution:coordinacion_detail" jefatura.id %}">{{ jefatura.nombre }}</a>
                                                </li>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}