{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}
    <div class="right_col" role="main">
        {# Titulo de la plantilla   #}
        <div class="">
            <div class="title_right"></div>
            <div class="clearfix"></div>
            <div class="x_title">
                <h2> Intituciones </h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ institucion.nombre }} <a
                                href="{% url "institution:institution_edit" institucion.id %}"
                                class="btn  btn-success btn-xs" role="button">Actualizar</a><a
                                href="{% url "institution:institution_list" %}" class="btn  btn-primary btn-xs"
                                role="button">Regresar</a></h3>

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="panel-body">
                                    <label for="disabledSelect">Ruc:</label>
                                    <input class="form-control" id="disabledInput" type="text" disabled=""
                                           value="{{ institucion.ruc }}">
                                </div>

                            </div>
                            <div class="col-lg-6">

                                <div class="col-lg-6">
                                    <div class="panel-body">
                                        <label for="disabledSelect">Teléfono:</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled=""
                                               value="{{ institucion.telefono }}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel-body">
                                        <label for="disabledSelect">Estado:</label>
                                        <input class="form-control" id="disabledInput" type="text" disabled=""
                                               value="{{ institucion.estado }}">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="panel-body">
                                    <label for="disabledSelect">Nombre:</label>
                                    <input class="form-control" id="disabledInput" type="text" disabled=""
                                           value="{{ institucion.nombre }}">
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="panel-body">

                                    <label for="disabledSelect">Direccion:</label>
                                    <input class="form-control" id="disabledInput" type="text" disabled=""
                                           value="{{ institucion.locacion }}">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Niveles Directivos

                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="table-responsive">
                                <table id="table_instituciones" class="display nowrap dataTable dtr-inline"
                                       style="width: 100%;" aria-describedby="example_info">
                                    <thead>
                                    <tr>
                                        <label>Nombre</label>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for directivo in directivos %}
                                        <tr>
                                            <td>
                                                <li>
                                                    <a href="{% url "institution:directivo_ver" directivo.id %}">{{ directivo.nombre }}</a>
                                                </li>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}