{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="title_right"></div>
            <div class="clearfix"></div>
            <div class="x_title">
                <h2>Registro Permisos </h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="form-horizontal" method="post">
         {% if create %}
                  <div class="form-group" id="buscadorEmp">
                <label class="col-sm-2 control-label" for="buscador"></label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="number" id="buscador" v-model="cedula"
                               placeholder="Buscar Empleado por cédula"
                               v-on:keyup.enter="buscarEmpleado()">
                        <span class="input-group-btn"><button type="button" class="btn btn-primary"
                                                              v-on:click="buscarEmpleado()">Buscar</button></span>
                    </div>


                </div>
            </div>
            {% endif %}
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.errors }}
                        <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field|addclass:'form-control' }}
                        </div>

                    </div>
                {% endfor %}
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Guardar</button>
                            <a href="{% url "permissions:permission_list" %}" class="btn btn-primary"
                               role="button">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}

      <script src="/static/js/constans.js"></script>
    <script>
        {#        TODO cambiar URL host en constans.js#}
        {#        var apiURL_usuario = 'http://localhost:8500/accounts/api_user/';#}
        var URL_empleado = HOST+'/permissions/new/';


        var em = new Vue({
            el: '#buscadorEmp',
            delimiters: ['[[', ']]'],
            data: {
                empleado: '',
                cedula: '',
                empleado_id: ''

            },
            methods: {
                buscarEmpleado: function () {
{#                    this.$route.router.go(URL_empleado + this.cedula);#}
                    window.location.replace(URL_empleado + this.cedula)

                }

            }
        });


    </script>
{% endblock javascripts %}

