{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Unidad Institucional
      </h1>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> <a href="{% url "institution:institution_list_user" %}"> Instituciones</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> <a href="{% url "institution:institutionalunit_list_user" %}"> Unidad Institucional</a>
        </li>
        <li class="active">
          <i class="fa fa-edit"></i> Unidad Institucional Detalle - {{ institutionalunit.institutional_unit }}
        </li>
        
       </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ institutional_unit.institutional_unit }} <a href="{% url "institution:institutionalunit_edit_user" institutional_unit.id %}" class="btn btn-xs btn-default" role="button">Editar</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-6">
                            
                                <div class="panel-body">
                                    <label for="disabledSelect">Unidad Institucional:</label>
                                    <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_unit.institutional_unit }}">
                                </div>
                            
                        </div>
                        <div class="col-lg-6">
                            
                              <div class="col-lg-6">
                                <div class="panel-body">
                                        <label for="disabledSelect">Número de Trabajadores:</label>
                                <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_unit.number_of_workers }}">
                                </div>
                                
                            </div>
                            <div class="col-lg-6">
                                <div class="panel-body">
                                        <label for="disabledSelect">Número de empleados:</label>
                                <input class="form-control" id="disabledInput" type="text"  disabled="" value="{{ institutional_unit.number_of_employees }}">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            
                                <div class="panel-body">
                                    <label for="disabledSelect">Institución a la que pertenece:</label>
                                    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="" value="{{ institutional_unit.institution }}">
                                </div>
                                            
                        </div>
                         <div class="col-lg-6">
                            
                            	
                            
                        </div>
                        
                    </div>
                     <div class="row">
                        
                        
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Departamentos</h3>
                </div>
                <div class="panel-body">
                <div class="col-sm-6">
                <div class="table-responsive">
                  <table id="table_instituciones" class="display nowrap dataTable dtr-inline" style="width: 100%;"aria-describedby="example_info">
    <thead>
        <tr>
            <th>Departamento</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
    {% for department in departamentos %}
        <tr>
            <td><li><a href="{% url "institution:department_edit_user" department.id %}">{{ department.department }} </a></li></td>
            <td><a href="{% url "institution:department_detail_user" department.id %}">Ver </a></td>
            <td><a href="{% url "institution:department_edit_user" department.id %}">Editar</a> </td>
            <td><a href="{% url "institution:department_delete_user" department.id %}">Borrar</a> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
 </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>

    
    <p>
        <a href="{% url "institution:institutionalunit_list_user" %}">   Regresar</a>
    </p>
         




{% endblock %}
{% block javascript %}
   <script>
      var start_date=$('input[name="registration_date"]'); //our date input has the name "date"
      var options={
          format: 'DD/MM/yyyy',
          orientation:"bottom",
          todayHighlight: true,
          autoclose: true,
          language: "es",
      };
      start_date.datepicker(options); //initiali110/26/2015 8:20:59 PM ze plugin
      
    
    </script>

{% endblock %}