{% extends "app/base_site.html" %}
{% load contrato_templatetags %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="title_right"></div>
            <div class="clearfix"></div>
            <div class="x_title">
                <h2>Registro tipos de permiso </h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="form-horizontal" method="post">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.errors }}
                        <label class="col-sm-2 control-label" for="{{ field.name }}">{{ field.label }}</label>
                        <div class="col-sm-8">
                            {{ field|addclass:'form-control' }}
                        </div>
                    </div>
                {% endfor %}
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Guardar</button>
                            <a href="{% url "permissions:type_of_permit_list" %}" class="btn btn-primary"
                               role="button">Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
