{% extends "app/base_site.html" %}

{% block title %} Municipio de Loja{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Tipos de permisos
                        <small>Lista tipos de permisos</small>
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <a class="btn btn-success" href="{% url "permissions:type_of_permit_new" %}">Nuevo Tipo de
                                permiso</a>
                            <div class="clearfix"></div>
                        </div>
                        {#                        {% include "mensajes/mensajes.html" %}#}
                        <div class="x_content">

                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Tipos de permiso</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for type_of_permit in object_list %}
                                    <tr>
                                        <td> {{ type_of_permit.type_of_permit }}</td>
                                        <td>{{ type_of_permit.status }} </td>

                                        <td>
                                            <div class="btn-group" dropdown>
                                                <button type="button" class="btn btn-danger"><span
                                                        class="glyphicon glyphicon-list"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Split button!</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="{% url "permissions:type_of_permit_edit" type_of_permit.id %}">Editar</a>
                                                    </li>
{#                                                    <li>#}
{#                                                        <a href="{% url "permissions:type_of_permit_delete" type_of_permit.id %}">Borrar</a>#}
{#                                                    </li>#}
                                                    <li><a onClick="eliminar({{ type_of_permit.id }})">Borrar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


         <!-- Modal -->
    <div class="modal fade" id="modalEliminar" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar</h4>
                </div>
                <div class="modal-body">
                <h3>¿Está seguro que desea eliminar el registro?</h3>
                        <div class="modal-footer">
                            <div class="col-md-6">
                                <div class=" btn-group" role="group">
                                   <button type="button" class="btn btn-success" id="confirmar">Aceptar</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>
        var id_item;
        function eliminar(id) {
            id_item = id;
            $("#modalEliminar").modal();
        }
        $('#confirmar').click(function () {
            window.location.href = "borrar/" + id_item;
        });
    </script>
{% endblock javascripts %}
